Repository hmcts/civil-ccd-definition, pull requests merged in 2021-05, with the labels that each got.

#24 feat: merged latest civil-damages-ccd-definition master
  build.gradle
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEvents.json
  ccd-definition/CaseEvent/Camunda/CaseEvents.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/AddOrAmendClaimDocuments.json
  ccd-definition/CaseEventToComplexTypes/AmendPartyDetails.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails.json
  ccd-definition/CaseEventToFields/AmendPartyDetails.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab/ClaimDetails.json
  ccd-definition/ComplexTypes/DQ/DisclosureOfNonElectronicDocuments.json
  ccd-definition/ComplexTypes/DQ/FileDirectionsQuestionnaire.json
  ccd-definition/ComplexTypes/DQ/FurtherInformation.json
  ccd-definition/ComplexTypes/DQ/Hearing.json
  ccd-definition/ComplexTypes/DQ/Witnesses.json
  ccd-definition/ComplexTypes/DocumentOrImageWithRegex.json
  ccd-definition/ComplexTypes/DocumentWithRegex.json
  ccd-definition/ComplexTypes/ResponseDocument.json
  ccd-definition/ComplexTypes/ServedDocumentFiles.json
  ccd-definition/FixedLists/FileDirectionsQuestionnaireConfirm.json
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
  e2e/api/steps.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/fragments/dq/draftDirections.page.js
  e2e/pages/createClaim/claimantSolicitorOrganisation.page.js
  e2e/pages/createClaim/defendantSolicitorOrganisation.page.js
  e2e/steps_file.js
  e2e/tests/rpaHandoff_test.js
  e2e/tests/solicitorCreatesClaim_test.js
  yarn.lock
Labels: data-changes

#29 feat: merge with latest civil-damages master
  build.gradle
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/AddOrAmendClaimDocuments.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponse.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails.json
  ccd-definition/CaseEventToFields/AddOrAmendClaimDocuments.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaimDetails.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/ServedDocumentFiles.json
  e2e/api/steps.js
  e2e/fixtures/events/addOrAmendClaimDocuments.js
  e2e/fixtures/events/claimantResponse.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/defendantResponse.js
  e2e/fragments/servedDocument.js
  e2e/fragments/statementOfTruth.js
  e2e/pages/createClaim/uploadParticularsOfClaim.page.js
  e2e/pages/createClaim/uploadParticularsOfClaimQuestion.page.js
  e2e/steps_file.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-29

#32 refactor: updated particularsOfClaimDocument field type
  ccd-definition/CaseEventToComplexTypes/AddOrAmendClaimDocuments.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails.json
  ccd-definition/CaseEventToFields/AddOrAmendClaimDocuments.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaimDetails.json
  ccd-definition/ComplexTypes/ServedDocumentFiles.json
  e2e/api/steps.js
  e2e/fixtures/events/addOrAmendClaimDocuments.js
  e2e/fixtures/events/createClaim.js
  e2e/pages/caseProceedsInCaseman/takeCaseOffline.page.js
  e2e/pages/createClaim/uploadParticularsOfClaim.page.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-32

#33 fix: hide disclosure of non elec docs when small claim in dq (CMC-1589)
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-33

#36 fix: mandatory disclosure non elec docs (CMC-1600)
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-36

#35 fix: mandatory details of claim CMC-1581)
  ccd-definition/CaseEventToFields/CreateClaim.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-35

#37 fix: defendant text for lit friend (CMC-1594)
  ccd-definition/CaseEventToComplexTypes/AddDefendantLitigationFriend.json
  ccd-definition/CaseEventToFields/AddDefendantLitigationFriend.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-37

#39 refactor: case proceeds offline event in dismissed state (CMC-1573)
  ccd-definition/CaseEvent/User/UserEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-39

#38 fix: empty check for pba accounts boolean field (CMC-1323)
  ccd-definition/CaseEventToFields/CreateClaim.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-38

#52 build: added accessibility tests (CMC-1487)
  .eslintignore
  .eslintrc.js
  codecept.conf.js
  e2e/config.js
  e2e/fragments/confirmDetails.page.js
  e2e/fragments/date.js
  e2e/fragments/dq/disclosureOfElectrionicDocuments.page.js
  e2e/fragments/dq/disclosureOfNonElectrionicDocuments.page.js
  e2e/fragments/dq/disclosureReport.page.js
  e2e/fragments/dq/draftDirections.page.js
  e2e/fragments/dq/experts.page.js
  e2e/fragments/dq/fileDirectionsQuestionnaire.page.js
  e2e/fragments/dq/furtherInformation.page.js
  e2e/fragments/dq/hearing.page.js
  e2e/fragments/dq/hearingSupportRequirements.page.js
  e2e/fragments/dq/language.page.js
  e2e/fragments/dq/requestedCourt.page.js
  e2e/fragments/dq/witnesses.page.js
  e2e/fragments/event.js
  e2e/fragments/party.js
  e2e/fragments/respondentDetails.page.js
  e2e/fragments/servedDocument.js
  e2e/fragments/statementOfTruth.js
  e2e/helpers/accessibility/runner.js
  e2e/helpers/generate_report_helper.js
  e2e/helpers/puppeteer_helper.js
  e2e/pages/acknowledgeClaim/responseIntention.page.js
  e2e/pages/addDefendantLitigationFriend/defendantLitigationDetails.page.js
  e2e/pages/caseProceedsInCaseman/caseProceedsInCaseman.page.js
  e2e/pages/caseProceedsInCaseman/takeCaseOffline.page.js
  e2e/pages/createClaim/chooseCourt.page.js
  e2e/pages/createClaim/claimType.page.js
  e2e/pages/createClaim/claimValue.page.js
  e2e/pages/createClaim/claimantLitigationDetails.page.js
  e2e/pages/createClaim/claimantSolicitorOrganisation.page.js
  e2e/pages/createClaim/defendantSolicitorEmail.page.js
  e2e/pages/createClaim/defendantSolicitorOrganisation.page.js
  e2e/pages/createClaim/detailsOfClaim.page.js
  e2e/pages/createClaim/idamEmail.page.js
  e2e/pages/createClaim/isRespondentRepresented.page.js
  e2e/pages/createClaim/paymentReference.page.js
  e2e/pages/createClaim/pbaNumber.page.js
  e2e/pages/createClaim/personalInjuryType.page.js
  e2e/pages/createClaim/solicitorReferences.page.js
  e2e/pages/createClaim/uploadParticularsOfClaim.page.js
  e2e/pages/createClaim/uploadParticularsOfClaimQuestion.page.js
  e2e/pages/informAgreedExtensionDate/date.page.js
  e2e/pages/respondToClaim/responseType.page.js
  e2e/pages/respondToClaim/uploadResponseDocument.page.js
  e2e/pages/respondToDefence/proceed.page.js
  e2e/pages/respondToDefence/uploadResponseDocument.page.js
  e2e/reporters/accessibility-reporter/Report.html
  e2e/reporters/accessibility-reporter/customReporter.js
  e2e/reporters/accessibility-reporter/resources/angular.min.js
  e2e/reporters/accessibility-reporter/resources/css/all.css
  e2e/reporters/accessibility-reporter/resources/webfonts/fa-solid-900.woff2
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-52

#51 feat:productionise definition
  bin/variables/load-prod-environment-variables.sh
  ccd-definition/CaseEventToComplexTypes/DiscontinueClaim-nonprod.json
  ccd-definition/CaseEventToComplexTypes/WithdrawClaim-nonprod.json
  ccd-definition/CaseEventToFields/DiscontinueClaim-nonprod.json
  ccd-definition/CaseEventToFields/WithdrawClaim-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-51
