Repository hmcts/civil-ccd-definition, pull requests merged in 2021-08, with the labels that each got.

#177 fix: change dependabot to update weekly
  .dependabot/config.yml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-177

#174 fix: Add API test setup to README (CMC-1728)
  README.md
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-174

#179 build: bump java charts to 3.6.0
  charts/civil-ccd/Chart.yaml
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-179

#185 Refactor/adjust config based on data store migration
  Jenkinsfile_CNP
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
  e2e/api/dataHelper.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-185

#189 fix: axios vulnerability, bumped codeceptjs to 3.1.1 (CMC-NA)
  e2e/tests/api_test.js
  e2e/tests/crossBrowser_test.js
  e2e/tests/rpaHandoff_test.js
  e2e/tests/smoke_test.js
  e2e/tests/solicitorCreatesClaim_test.js
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-189

#184 fix: amend RPA test date field (CMC-1713)
  e2e/pages/caseProceedsInCaseman/caseProceedsInCaseman.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-184

#153 allow case admin to amend case detail even after rpa
  ccd-definition/CaseEvent/User/UserEvents.json
  e2e/fixtures/ccd/expectedEvents.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-153

#182 Revert the messaging on the Eligiblity Questions screen
  ccd-definition/CaseField.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-182

#191 feat: case note tab (CMC-1216) (2/2)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToFields/AddCaseNote.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab/Notes.json
  ccd-definition/ComplexTypes/CaseNote.json
  e2e/api/steps.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/fixtures/events/addCaseNote.js
  e2e/tests/api_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-191
