Repository hmcts/civil-ccd-definition, pull requests merged in 2021-11, with the labels that each got.

#194 feat: notify multiparty claim details (CMC-1346)
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaimDetails.json
  ccd-definition/CaseField.json
  yarn.lock
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-194

#223 Chore: Fix nightly pipeline (CMC-1713)
  e2e/api/steps.js
  e2e/api/testingSupport.js
  e2e/fixtures/events/addOrAmendClaimDocuments.js
  e2e/fixtures/events/claimantResponse.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/defendantResponse.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-223

#225 Chore: Fix test
  e2e/pages/createClaim/claimantSolicitorOrganisation.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-225

#218 Feat/roc 9700 - Must be merged after PR of branch ROC-9592
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec.json
  ccd-definition/AuthorisationCaseEvent/staffLRspec.json
  ccd-definition/CaseEvent/User/UserEventsLRspec.json
  ccd-definition/CaseEventToFields/CaseProceedsInCasemanLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-218

#227 Feat/roc 9571 discosure electronic and non-electronic screen
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec.json
  ccd-definition/AuthorisationCaseEvent/staffLRspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/staffLRspec.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/DQ/DisclosureOfElectronicDocumentsLRspec.json
  ccd-definition/ComplexTypes/DQ/DisclosureOfNonElectronicDocumentsLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-227

#221 Feat/roc 9563
  e2e/pages/createClaim/defendantSolicitorOrganisationLRspec.page.js
  e2e/steps_file.js
  e2e/tests/lrspec/smoke-LRspec_test.js
  e2e/tests/lrspec/solicitorCreatesClaim-LRspec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-221

#236 Feat/roc 9456
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/staffLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/DQ/RequestedCourtLocationLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-236

#240 Feat/ROC-9678 Screen Changes
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-240

#241 Feat/ROC-9679 Screen Changes
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/ResponseDocumentLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-241

#244 Feat: ROC-9770 Page Display for Adding Timeline
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-244

#250 Fix/cmc 1827 update user permissions
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/staff.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-250

#253 Reinstate tests
  e2e/tests/rpaHandoff_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-253

#255 fix/update event name for handed offline email
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-255

#265 Chore: add retry for RPA test to increase probability of green pipeline build
  e2e/tests/rpaHandoff_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-265

#249 Feat: ROC-9778 Add New page for Part Admit Claim
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/staffLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-249

#243 ROC-9698 changes
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-243

#247 Feature/roc 9696
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/staffLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/DQ/FutureApplicationsLRSpec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-247

#267 Feat/roc-9691-statementoftruth
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-267

#254 Feat/roc 9694
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/staffLRspec.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/DQ/1_UnavailableDateLRspec.json
  ccd-definition/ComplexTypes/DQ/HearingLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-254

#268 Feat/roc 9781 when part admitted to be paid
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/RespondToClaimAdmitPartLRspec.json
  ccd-definition/FixedLists/RespondentResponsePartAdmissionPaymentTime.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-268

#261 feat/CMC-1845: Show Respondent 2 Org on Claim Details Tab
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseTypeTab/ClaimDetails.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-261
