Repository hmcts/civil-ccd-definition, pull requests merged in 2021-09, with the labels that each got.

#195 feat: add new timestamp for lit friend event (CMC-1744)
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/CaseField.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-195

#198 Add retries to login section of e2e (CMC-1713)
  e2e/pages/login.page.js
  e2e/tests/smoke_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-198

#200 CMC-1713: add retries to scenarios
  e2e/tests/solicitorCreatesClaim_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-200

#201 Chore: Upgraded to lastest codeceptjs version
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-201

#206 chore: upgrade husky to latest version
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-206
