Repository hmcts/civil-ccd-definition, pull requests merged in 2021-06, with the labels that each got.

#84 feat: added R permissions for caseworker-civil-staff role (CMC-1642)
  ccd-definition/AuthorisationCaseEvent/staff.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/AuthorisationCaseState/staff.json
  ccd-definition/AuthorisationCaseType/staff.json
  ccd-definition/AuthorisationComplexType/staff.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-84

#65 build: crossbrowser tests (CMC-1487)
  bin/create-github-release.sh
  codecept.conf.js
  e2e/crossbrowser/supportedBrowsers.js
  e2e/fragments/event.js
  e2e/helpers/browser_helper.js
  e2e/helpers/sauce_labs_reporting_helper.js
  e2e/run-crossbrowser-tests.sh
  e2e/steps_file.js
  package.json
  saucelabs.conf.js
  steps.d.ts
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-65

#69 CMC-1601: Update button wording
  ccd-definition/CaseEvent/User/UserEvents.json
  e2e/steps_file.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-69

#96 feat: updated crossbrowser script to run e2e tests (CMC-1487)
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-96

#95 feat:update case list screen to show more case details
  ccd-definition/SearchInputFields.json
  ccd-definition/SearchResultFields.json
  ccd-definition/WorkBasketInputFields.json
  ccd-definition/WorkBasketResultFields.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-95

#98 feat: add prod definition file to github release (CMC-1656)
  Jenkinsfile_CNP
  bin/create-github-release.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-98

#79 feat:add payment history tab (CMC-1640)
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab/PaymentHistory.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-79

#94 fix: updated org ids in api tests
  e2e/fixtures/events/createClaim.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-94

#99 feat: eligibility content changes (CMC-1575)
  ccd-definition/CaseField.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-99

#81 fix : adding regex validation to certificate of suitability in litigation friend event (CMC-1596) (2/5)
  ccd-definition/CaseEventToComplexTypes/AddDefendantLitigationFriend.json
  ccd-definition/ComplexTypes/LitigationFriend.json
  e2e/fragments/litigationFriend.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-81

#82 fix : use original certificateOfSuitability field (CMC-1596) (4/5)
  ccd-definition/CaseEventToComplexTypes/AddDefendantLitigationFriend.json
  ccd-definition/ComplexTypes/LitigationFriend.json
  e2e/fragments/litigationFriend.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-82

#106 build: excluded -nonprod.json files from definition on all envs
  Jenkinsfile_CNP
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-106

#107 refactor: removed LiveFrom from definition
  ccd-definition/AuthorisationCaseEvent/staff.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/AuthorisationCaseState/staff.json
  ccd-definition/AuthorisationCaseType/staff.json
  ccd-definition/AuthorisationComplexType/staff.json
  ccd-definition/CaseField.json
  ccd-definition/CaseTypeTab/PaymentHistory.json
  ccd-definition/SearchInputFields.json
  ccd-definition/SearchResultFields.json
  ccd-definition/WorkBasketInputFields.json
  ccd-definition/WorkBasketResultFields.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-107

#103 fix: allow for more readable test logging (CMC-1486)
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-103

#110 fix: clean up to fix cve issue (CMC-1682)
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-110

#97 feat: take screenshots on all screens of events (CMC-1491)
  bin/create-github-release.sh
  e2e/pages/continuePage.page.js
  e2e/pages/createClaim/createCase.page.js
  e2e/steps_file.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-97

#117 build(deps): Bump owasp and ben-manes (CMC-1684)
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-117

#119 fix: unstable test on create case screen
  e2e/pages/createClaim/createCase.page.js
  e2e/steps_file.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-119

#101 feat: added multiparty screens to create claim (CMC-1355)
  Jenkinsfile_CNP
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaim-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  e2e/config.js
  e2e/fixtures/events/createClaim.js
  e2e/fragments/party.js
  e2e/fragments/respondentDetails.page.js
  e2e/pages/createClaim/addAnotherClaimant.page.js
  e2e/pages/createClaim/addAnotherDefendant.page.js
  e2e/pages/createClaim/defendantSolicitorOrganisation.page.js
  e2e/pages/createClaim/isRespondentRepresented.page.js
  e2e/pages/createClaim/respondent2SameLegalRepresentative.page.js
  e2e/steps_file.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-101

#120 build: cross browsers tests improvements
  e2e/tests/crossBrowser_tests.js
  package.json
  saucelabs.conf.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-120

#114 refactor: fix api tests for standardisation of confirmation page (CMC-1628) (1/2)
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-114

#121 fix: renamed cross browser test file
  e2e/tests/crossBrowser_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-121

#122 refactor: updated client -> client(s) (CMC-1265)
  ccd-definition/ComplexTypes/DQ/Hearing.json
  ccd-definition/ComplexTypes/DQ/HearingSupportRequirements.json
  ccd-definition/ComplexTypes/DQ/RequestedCourt.json
  ccd-definition/FixedLists/FileDirectionsQuestionnaireConfirm.json
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-122

#126 Revert "refactor: updated client -> client(s) (CMC-1265)"
  ccd-definition/ComplexTypes/DQ/Hearing.json
  ccd-definition/ComplexTypes/DQ/HearingSupportRequirements.json
  ccd-definition/ComplexTypes/DQ/RequestedCourt.json
  ccd-definition/FixedLists/FileDirectionsQuestionnaireConfirm.json
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-126

#127 refactor: updated client -> client(s) (CMC-1265)
  ccd-definition/ComplexTypes/DQ/Hearing.json
  ccd-definition/ComplexTypes/DQ/HearingSupportRequirements.json
  ccd-definition/ComplexTypes/DQ/RequestedCourt.json
  ccd-definition/FixedLists/FileDirectionsQuestionnaireConfirm.json
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-127

#130 fix: removed test assertion to allow service merging (CMC-1693)
  e2e/steps_file.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-130

#123 refactor: update tests with new content (CMC-1265) 2/2
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-123

#128 fix: Add authentication to pull-latest-release-asset.sh (CMC-1688)
  bin/pull-latest-release-asset.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-128

#134 fix: standardisation of content (CMC-1631) (1/3)
  e2e/tests/api_test.js
  e2e/tests/solicitorCreatesClaim_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-134

#135 fix: standardisation of content (CMC-1631) (3/3)
  e2e/api/steps.js
  e2e/steps_file.js
  e2e/tests/api_test.js
  e2e/tests/solicitorCreatesClaim_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-135

#125 fix: addressed xbrowser issues (CMC-1693)
  e2e/crossbrowser/supportedBrowsers.js
  e2e/pages/caseView.page.js
  e2e/pages/createClaim/createCase.page.js
  e2e/pages/login.page.js
  e2e/steps_file.js
  e2e/tests/crossBrowser_test.js
  e2e/tests/rpaHandoff_test.js
  e2e/tests/solicitorCreatesClaim_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-125

#136 fix: acknowledge claim loses defendant address (CMC-1629) 1/3
  ccd-definition/CaseField.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-136

#139 fix: added missing permissions (CMC-1692)
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-139

#140 fix: added missing wait for retryUntilUrlChanges method
  codecept.conf.js
  e2e/steps_file.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-140

#141 feat: add rpa continuous feed event (CMC-1611)
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/RoboticsEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-141

#143 fix: wait for promise to resolve on runAccessibility method
  e2e/helpers/browser_helper.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-143

#137 fix: acknowledge claim loses defendant address (CMC-1629) 3/3
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse.json
  ccd-definition/CaseEventToFields/AcknowledgeClaim.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseField.json
  e2e/api/steps.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-137

#144 build: added uploading CCD definition on demo (CMC-1680)
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-144

#146 fix: added pushing to demo from master (CMC-1680)
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-146

#147 Revert "fix: wait for promise to resolve on runAccessibility method"
  e2e/helpers/browser_helper.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-147

#124 feat:Provide org service address (CMC-1659)
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToFields/CreateClaim-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  e2e/fixtures/events/createClaim.js
  e2e/pages/createClaim/claimantSolicitorServiceAddress.page.js
  e2e/pages/createClaim/defendantSolicitorServiceAddress.page.js
  e2e/pages/createClaim/secondDefendantSolicitorServiceAddress.page.js
  e2e/steps_file.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-124

#149 refactor: ignore accessibility tests when using webdriver (CMC-1705)
  e2e/helpers/browser_helper.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-149
