Repository hmcts/civil-ccd-definition, pull requests merged in 2021-12, with the labels that each got.

#284 Chore: fix pipeline for access management
  bin/utils/ccd-add-role.sh
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.preview.template.yaml
  codecept.conf.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-284

#290 Dr test2
  bin/utils/ccd-add-role.sh
  codecept.conf.js
Labels: ns:civil, prd:civil, do not merge, rel:civil-ccd-pr-290

#293 Configurer on master test
  bin/utils/ccd-add-role.sh
  codecept.conf.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-293

#270 feat/CIV-232 change completed
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/LengthOfUnemploymentComplexTypeLRspec.json
  ccd-definition/ComplexTypes/RespondToClaimAdmitPartLRspec.json
  ccd-definition/ComplexTypes/UnemployedComplexTypeLRspec.json
  ccd-definition/FixedLists/EmploymentTypeCheckboxFixedListLRspec.json
  ccd-definition/FixedLists/RespondentResponsePartAdmissionPaymentTimeLRspec.json
  ccd-definition/FixedLists/UnemployedRadioFixedListLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-270

#295 Feat/civ 237 ii
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/PaymentUponCourtOrderExtraInfoLRspec.json
  ccd-definition/ComplexTypes/PaymentUponCourtOrderLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-295

#276 Feat/civ 239
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/staffLRspec.json
  ccd-definition/CaseEventToComplexTypes/DefendantBankAccountsLRspec.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/1_DebtLRspec.json
  ccd-definition/ComplexTypes/1_LoanCardDebtLRspec.json
  ccd-definition/ComplexTypes/BankAccountLRspec.json
  ccd-definition/ComplexTypes/DebtsLRspec.json
  ccd-definition/FixedLists/AccountTypeLRspec.json
  ccd-definition/FixedLists/DebtTypeLRspec.json
  ccd-definition/FixedLists/PaymentFrequencyLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-276

#280 CIV-238 Adding New Page for Employer Details
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/1_EmployerDetailsLRspec.json
  ccd-definition/ComplexTypes/EmployerDetailsLRspec.json
  ccd-definition/FixedLists/EmploymentTypeCheckboxFixedListLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-280

#298 CMC-1848: Changed respondent to defendant on summary
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-298

#260 Roc 9554
  e2e/pages/createClaim/claimAmountLRspec.page.js
  e2e/pages/createClaim/defendantSolicitorEmailLRspec.page.js
  e2e/pages/respondToClaimLRspec/chooseCourtLRspec.page.js
  e2e/pages/respondToClaimLRspec/claimResponseTimelineLRspec.page.js
  e2e/pages/respondToClaimLRspec/defenceTypeLRspec.page.js
  e2e/pages/respondToClaimLRspec/disputeClaimDetailsLRspec.page.js
  e2e/pages/respondToClaimLRspec/enterWitnessesLRspec.page.js
  e2e/pages/respondToClaimLRspec/freeMediationLRspec.page.js
  e2e/pages/respondToClaimLRspec/furtherInformationLRspec.page.js
  e2e/pages/respondToClaimLRspec/hearingLRspec.page.js
  e2e/pages/respondToClaimLRspec/hearingSmallClaimsLRspec.page.js
  e2e/pages/respondToClaimLRspec/respondentCheckListLRspec.page.js
  e2e/pages/respondToClaimLRspec/responseTypeLRspec.page.js
  e2e/pages/respondToClaimLRspec/useExpertLRspec.page.js
  e2e/steps_file.js
  e2e/steps_file_LRspec.js
  e2e/tests/lrspec/solicitorCreatesClaim-LRspec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-260

#294 Feat/civ 230
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/DebtsLRspec.json
  ccd-definition/ComplexTypes/SelfEmploymentLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-294

#296 Feat/CIV-231 where does the defendant live
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/DQ/HomeDetailsLRspec.json
  ccd-definition/FixedLists/HomeOptionLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-296

#305 General Application Screens Feature/civ-65
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ccd-definition/AuthorisationCaseEvent/staffGAspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/DQ/GeneralApplicationTypesGAspec.json
  ccd-definition/ComplexTypes/GARespondentAgreementGAspec.json
  ccd-definition/ComplexTypes/GATypeGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ccd-definition/ComplexTypes/StatementOfTruthGAspec.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
  ccd-definition/FixedLists/StatementOfTruthConsentGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-305

#315 Chore: fix pipeline
  Jenkinsfile_CNP
  bin/utils/ccd-add-role.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-315

#318 Chore: Fix pipeline
  Jenkinsfile_CNP
  bin/utils/ccd-add-role.sh
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-318

#319 Chore: change in secret name
  Jenkinsfile_CNP
  codecept.conf.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-319

#324 Statement of Truth Screen - Enter evidence data
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/StatementOfTruthGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-324

#327 Chore: fixing pipeline
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-327

#329 Chore: fixing pipeline
  Jenkinsfile_CNP
  bin/utils/ccd-add-role.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-329

#303 Feat/CIV-236 regular income and expenses; carer's allowance and credit
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEventToComplexTypes/RecurringExpenseLRspec.json
  ccd-definition/CaseEventToComplexTypes/RecurringIncomeLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/RecurringExpenseLRspec.json
  ccd-definition/ComplexTypes/RecurringIncomeLRspec.json
  ccd-definition/FixedLists/ExpenseTypeLRspec.json
  ccd-definition/FixedLists/IncomeTypeLRspec.json
  ccd-definition/FixedLists/WeekMonthPeriodLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-303

#306 CIV-233 Adding New Page for Giving Reason Why Not Pay
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-306

#311 Feat/CIV 234
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/RepaymentPlanLRspec.json
  ccd-definition/FixedLists/RepaymentFrequencyLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-311

#302 feat: content changes on two pages in LR spec journey
  ccd-definition/ComplexTypes/DQ/FileDirectionsQuestionnaire.json
  ccd-definition/ComplexTypes/DQ/RequestedCourtLocationLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-302

#332 Chore: Re-enabled Xbrowser testing
  e2e/crossbrowser/supportedBrowsers.js
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-332

#307 Feat/civ 187
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-307

#331 Feature/civ 543 hearing details screen
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
  ccd-definition/FixedLists/GAHearingDurationGAspec.json
  ccd-definition/FixedLists/GAHearingSupportRequirementsGAspec.json
  ccd-definition/FixedLists/GAHearingTypeGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-331

#336 General Application Creation : PBA Screen - Feature/civ 71
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GAPBADetailsGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-336
