Repository hmcts/civil-ccd-definition, pull requests merged in 2021-07, with the labels that each got.

#129 feat: claim creation for multiparty (CMC-1200)
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/AuthorisationComplexType/caseAccessAssignment.json
  ccd-definition/AuthorisationComplexType/solicitor.json
  ccd-definition/AuthorisationComplexType/staff.json
  ccd-definition/CaseEventToComplexTypes/AddOrAmendClaimDocuments.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails.json
  ccd-definition/CaseEventToFields/CreateClaim-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField.json
  ccd-definition/ComplexTypes/ServedDocumentFiles.json
  e2e/fixtures/events/createClaim.js
  e2e/pages/createClaim/defendantSolicitorEmail.page.js
  e2e/pages/createClaim/secondDefendantSolicitorReference.page.js
  e2e/steps_file.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-129

#152 feat:Resolve date issue resulted due to xui release
  e2e/fragments/dq/hearing.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-152

#150 fix: E2E failures screenshotted (CMC-1700)
  codecept.conf.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-150

#148 feat: add validation callbacks for emails (CMC-1153)
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToFields/CreateClaim.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-148

#157 feat: prepopulate claimant organisation (CMC-1059)
  ccd-definition/AuthorisationComplexType/solicitor.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  e2e/pages/createClaim/claimantSolicitorOrganisation.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-157

#160 Revert "feat: prepopulate claimant organisation (CMC-1059)"
  ccd-definition/AuthorisationComplexType/solicitor.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  e2e/pages/createClaim/claimantSolicitorOrganisation.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-160

#163 refactor: remove security scan files (CMC-1717)
  audit.json
  security.sh
  zap_hooks.py
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-163

#165 Fix/case list to case list
  e2e/tests/smoke_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-165

#162 fix: add delete permission for lit friend (CMC-1663)
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-162

#159 feat:implement ccd high level data setup for definition import (CMC-a578)
  Jenkinsfile_CNP
  bin/build-release-ccd-definition.sh
  bin/variables/load-aat-environment-variables.sh
  bin/variables/load-demo-environment-variables.sh
  bin/variables/load-prod-environment-variables.sh
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-159

#172 Update param to be in line with latest ccd data store changes
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-172

#151 feat: added multiparty to INFORM_AGREED_EXTENSION_DATE (CMC-1348)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToFields/InformAgreedExtensionDate.json
  ccd-definition/CaseField.json
  e2e/api/steps.js
  e2e/api/testingSupport.js
  e2e/config.js
  e2e/pages/createClaim/defendantSolicitorOrganisation.page.js
  e2e/pages/informAgreedExtensionDate/date.page.js
  e2e/steps_file.js
  e2e/tests/solicitorCreatesClaim_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-151

#176 fix: bump befta-fw from 8.2 -> 8.3 and commons compress from 1.18 to 1.21
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-176

#178 fix: retain hidden values (CMC1732)
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-178
