Repository hmcts/civil-ccd-definition, pull requests merged in 2022-05, with the labels that each got.

#749 BA and deploy awaits
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec.json
  ccd-definition/AuthorisationCaseEvent/staffLRspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/staffLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsLRspec.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToComplexTypes/RecurringExpenseRespondent2LRspec.json
  ccd-definition/CaseEventToComplexTypes/RecurringIncomeRespondent2LRspec.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/CaseTypeTab/ClaimDetailsLRspec.json
  ccd-definition/ComplexTypes/ChildrenByAgeGroupDetailsLRspec.json
  ccd-definition/ComplexTypes/DQ/HearingSupportRequirements.json
  ccd-definition/ComplexTypes/DQ/RequestedCourt.json
  ccd-definition/ComplexTypes/PartnerAndDependentsLRspec.json
  ccd-definition/ComplexTypes/SmallClaimMediationLRspec.json
  ccd-definition/FixedLists/RespondentResponseTypePaidStatusLRspec.json
  charts/civil-ccd/values.preview.template.yaml
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/informAgreeExtensionDateSpec.js
  e2e/tests/api_tests/lrspec/api_1v1_spec_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-749

#776 Defect fixes
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/staffLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-776

#777 Adding DID_NOT_PAY to correspond to civil-service CIV-2251 changes
  ccd-definition/FixedLists/RespondentResponseTypePaidStatusLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-777

#783 Defectsfix
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-783

#786 CIV-2396: Update Check Your Answer Page
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-786

#789 Feat/civ 1231 bs lifted camunda tasks
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec.json
  ccd-definition/AuthorisationCaseEvent/staffLRspec.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-789

#791 CIV-2411: I2P Incorrect Statement of Truth
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-791

#788 CIV-2398
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-788

#796 CIV-2352: Defendants date of birth section appears on the response journey which is not correct
  ccd-definition/CaseEventToComplexTypes/AcknowledgeOfServiceLRspec.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToFields/AcknowledgeOfServiceLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-796

#797 Spec tests
  e2e/api/steps_LRspec.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEventsLRSpec.js
  e2e/fixtures/events/claimantResponseSpec.js
  e2e/fixtures/events/createClaimSpec.js
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/informAgreeExtensionDateSpec.js
  e2e/tests/api_tests/lrspec/api_1v1_spec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-797

#787 Remove aos
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec.json
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-787

#801 fixing api tests
  e2e/fixtures/events/createClaimSpec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-801

#803 fixing api tests
  e2e/fixtures/ccd/expectedEventsLRSpec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-803

#806 Spec tests
  e2e/api/steps_LRspec.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEventsLRSpec.js
  e2e/fixtures/events/createClaimSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
  e2e/tests/api_tests/lrspec/api_1v1_spec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-806

#802 Lrspec 1v2 ss automation
  e2e/fragments/confirmDefendantsDetailsLRspec.js
  e2e/pages/respondToClaimLRspec/singleResponseLRSpec.page.js
  e2e/steps_file_LRspec.js
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/lrspec/1v2SameSolicitor-LRspec-SmallClaims_test.js
  e2e/tests/ui_tests/lrspec/2v1CreateClaim-LRspec_test.js
Labels: ns:civil, prd:civil, Testing, rel:civil-ccd-pr-802

#813 Critical bugs
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  e2e/tests/api_tests/lrspec/api_1v1_spec_test.js
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/lrspec/1v2SameSolicitor-LRspec-SmallClaims_test.js
  e2e/tests/ui_tests/lrspec/2v1CreateClaim-LRspec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-813

#761 Feature/civ 2080
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/ComplexTypes/GAPBADetailsGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-761

#826 civ-2446 - Experts screen
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-826

#648 build: build dependencies bump up version
  build.gradle
  config/owasp/suppressions.xml
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-648

#825 Feature/civ 2470
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-825

#810 Merge 1825_Automation
  e2e/pages/respondToClaimLRspec/chooseCourtLRspec.page.js
  e2e/pages/respondToClaimLRspec/enterBreathingSpace.page.js
  e2e/pages/respondToClaimLRspec/enterWitnessesLRspec.page.js
  e2e/pages/respondToClaimLRspec/freeMediationLRspec.page.js
  e2e/pages/respondToClaimLRspec/hearingClaimantLRspec.page.js
  e2e/pages/respondToClaimLRspec/hearingSmallClaimsLRspec.page.js
  e2e/pages/respondToClaimLRspec/liftBreathingSpace.page.js
  e2e/pages/respondToClaimLRspec/useExpertLRspec.page.js
  e2e/pages/respondToClaimLRspec/vulnerabilityLRspec.page.js
  e2e/pages/respondToClaimLRspec/witnessesLRspec.page.js
  e2e/steps_file_LRspec.js
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-810

#795 Create a new collection and CaseTypeTab
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/CaseTypeTab/ApplicationRespTwoSolGAspec.json
  ccd-definition/CaseTypeTab/ApplicationsGAspec.json
  ccd-definition/CaseTypeTab/ApplicationsRespSolGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-795

#807 I have added validation for unregistered organisation for optional fi…
  ccd-definition/ComplexTypes/SolicitorOrganisationDetails.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-807

#832 Fix typo and add pdf types
  ccd-definition/CaseField/CaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-832

#834 Fix/civ 2085
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-834

#843 Shutter LR and Damages
  build.gradle
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType.json
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-843

#844 Lr release enable lr spec
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-844

#846 Unshutter applications
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-846

#839 CIV-122 DJ Damages Notification
  ccd-definition/AuthorisationCaseEvent/systemUpdateDJ.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsDJ.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-839

#852 Run FTs
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-852

#858 Fix FTs
  e2e/fixtures/ccd/events.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-858

#759 feat/CIV-1879 LiP stays online following create claim
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-759
