Repository hmcts/civil-ccd-definition, pull requests merged in 2022-12, with the labels that each got.

#1792 upgrade codeceptjs to fix setStatus error
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1792

#1781 Civ 4110 1v2 cos
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaim-COS-nonprod.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaim-nonprod.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaim.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1781

#1790 Dj direction order and WA api tests
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/courts.js
  e2e/fixtures/events/createDJ.js
  e2e/fixtures/events/createDJDirectionOrder.js
  e2e/fixtures/events/defaultJudgment.js
  e2e/fixtures/events/defaultJudgment1v2.js
  e2e/fixtures/events/defaultJudgment1v2Spec.js
  e2e/fixtures/events/defaultJudgment2v1.js
  e2e/fixtures/events/defaultJudgment2v1Spec.js
  e2e/fixtures/events/defaultJudgmentSpec.js
  e2e/pages/createClaim/createCase.page.js
  e2e/pages/createClaim/createCaseLRspec.page.js
  e2e/pages/defaultJudgment/requestDefaultJudgmentforUnspecifiedClaims.js
  e2e/steps_file_WA.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_2v1_test.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  package.json
  wa/tasks/caseProgressionTakeCaseOfflineTask.js
  wa/tasks/fastTrackDirections.js
  wa/tasks/legalAdvisorSmallClaimsTrackDirections.js
  wa/tasks/scheduleAHearing.js
  wa/tasks/smallClaimDirectionsTask.js
  wa/tasks/smallClaimsTrackDirectionsReferral.js
  wa/tasks/summaryJudgmentDirectionsTask.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1790

#1778 Feat/civ 6174 update template
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventDJ-SDO-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateDJ.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsDJ.json
  ccd-definition/CaseField/CaseFieldDJ-SDO-HNL-nonprod.json
  ccd-definition/CaseField/CaseFieldDJ-SDO-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialCreditHire-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialHearingDisclosureOfDocuments-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialPersonalInjury-DJ-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1778

#1799 Conditional check on wa task json used for wa validation
  e2e/tests/api_tests/defaultJudgments/api_dj_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1799

#1800 skip dj api tests
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1800

#1761 CIV-6173 Update disposal screens
  ccd-definition/CaseEventToComplexTypes/DefaultJudgmentDJ-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefaultJudgmentDJ-SDO-nonprod.json
  ccd-definition/CaseField/CaseFieldDJ-SDO-HNL-nonprod.json
  ccd-definition/CaseField/CaseFieldDJ-SDO-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingSchedulesOfLoss-DJ-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1761

#1754 Feat/civ 6069
  Jenkinsfile_CNP
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1754

#1795 CIV-6301 improve error reporting
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationCaseFieldCCDValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationCaseStateCCDValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationCaseTypeCCDValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationComplexTypeCCDValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/CCDFileValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/CCDValidationError.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/CaseFieldCCDValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/ComplexTypesCCDValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/UniqueConstraintCCDFileValidator.java
  src/test/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupAppTest.java
  src/test/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationCaseFieldCCDValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationCaseStateCCDValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationCaseTypeCCDValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationComplexTypeCCDValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/ccdvalidation/CaseFieldCCDValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/ccdvalidation/ComplexTypesCCDValidatorTest.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1795

#1747 fix for blank tab showing after response to claim
  ccd-definition/CaseTypeTab/ClaimDetails.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1747

#1807 CIV-6301 Fixed test
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationComplexTypeCCDValidator.java
  src/test/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationComplexTypeCCDValidatorTest.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1807

#1793 Civ 4124
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-COS-nonprod.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails-COS-nonprod.json
  ccd-definition/CaseField/CaseField-COS-nonprod.json
  ccd-definition/CaseTypeTab/CertificateofService-COS-nonprod.json
  ccd-definition/ComplexTypes/NotifyClaimDetails-COS-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1793

#1639 Feat/civ 2250 evidence screens
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-HNL-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-nonprod.json
  ccd-definition/AuthorisationCaseField/EvidenceUpload-nonprod.json
  ccd-definition/CaseEventToFields/EvidenceUpload-nonprod.json
  ccd-definition/CaseField/EvidenceUpload-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceDisclosure1-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceDisclosure2-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceExpert1-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceExpert2-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceExpert3-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceExpert4-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceTrial1-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceTrial2-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceTrial3-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceTrial4-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceWitness1-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceWitness2-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceWitness3-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceWitness4-nonprod.json
  ccd-definition/FixedLists/CaseProgression/EvidenceUploadDisclosure-nonprod.json
  ccd-definition/FixedLists/CaseProgression/EvidenceUploadExpert-nonprod.json
  ccd-definition/FixedLists/CaseProgression/EvidenceUploadExpertSmallClaim-nonprod.json
  ccd-definition/FixedLists/CaseProgression/EvidenceUploadTrial-nonprod.json
  ccd-definition/FixedLists/CaseProgression/EvidenceUploadTrialSmallClaim-nonprod.json
  ccd-definition/FixedLists/CaseProgression/EvidenceUploadWitness-nonprod.json
  ccd-definition/FixedLists/CaseProgression/EvidenceUploadWitnessSmallClaim-nonprod.json
Labels: data-changes, ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-1639

#1708 Changed permissions for judge evidence upload, now only judges can se…
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldEvidenceUploadJudge-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-1708

#1733 CIV-4202 Adding validation on null fields for Notice of Change
  ccd-definition/ChallengeQuestion/ChallengeQuestion-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1733

#1780 Cosintegration
  Jenkinsfile_CNP
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-COS-nonprod.json
  ccd-definition/AuthorisationCaseField/staff-COS-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdate-COS-nonprod.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaim-COS-nonprod.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails-COS-nonprod.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaim-COS-nonprod.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaimDetails-COS-nonprod.json
  ccd-definition/CaseField/CaseField-COS-nonprod.json
  ccd-definition/CaseTypeTab/CertificateofService-COS-nonprod.json
  ccd-definition/ComplexTypes/NotifyClaim-COS-nonprod.json
  ccd-definition/ComplexTypes/NotifyClaimDetails-COS-nonprod.json
  ccd-definition/FixedLists/NotifyClaimStatement-COS-nonprod.json
  ccd-definition/FixedLists/ServeLocationOwnerType-COS-nonprod.json
  ccd-definition/FixedLists/ServeLocationType-COS-nonprod.json
  ccd-definition/FixedLists/ServeType-COS-nonprod.json
  charts/civil-ccd/values.template.yaml
  config/owasp/suppressions.xml
  e2e/api/steps.js
  e2e/api/testingSupport.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1780

#1827 Switchoncos
  bin/build-release-ccd-definition.sh
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaim-prod.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaimDetails-prod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1827

#1388 Uplifted defence response dq witnesses screen.
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-Witnesses-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-Witnesses-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-Witnesses-prod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-HNL-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-HNL-prod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-base-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec-HNL-nonprod.json
  ccd-definition/ComplexTypes/DQ/1_Witness-HNL-nonprod.json
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/featureKeys.js
  e2e/fixtures/witnesses.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1388

#1737 feat/CIV-6172 hint text changed
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-nonprod.json
Labels: ns:civil, prd:civil, Testing, enableHelm, rel:civil-ccd-pr-1737

#1832 temporarily removing hearing error check
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1832

#1584 Added previous organisations field to org policy. Changed changeOrgan…
  ccd-definition/AuthorisationComplexType/caseAccessAssignment.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseField/CaseField-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1584

#1748 CIV-5997 Fix hearing requirements CYA
  ccd-definition/CaseEventToComplexTypes/HearingRequirementsDJ.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1748

#1856 court location on prod
  bin/add-roles.sh
Labels: data-changes

#1861 CIV-5391: Adding partyEmail for CUI
  ccd-definition/CaseEventToComplexTypes/CreateClaimLRspec-CUI-nonprod.json
  ccd-definition/ComplexTypes/Party-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-1861

#1870 Civ 6370 1
  ccd-definition/ComplexTypes/NotifyClaimDetails-COS-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1870

#1491 Civ 3251 hearing availability
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-base-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-HNL-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-base-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec-HNL-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-base-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-prod.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1491

#1893 CIV-5967 - Remove bitnami Dependency
  .gitignore
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.template.yaml
  charts/civil-ccd/values.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1893

#1896 fix postgres for ccd master pipeline
  charts/civil-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1896

#1888 Fix challenged access screen check
  e2e/steps_file_WA.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1888

#1459 Uplifted spec claimant response expert screens for fast and small claims
  ccd-definition/CaseEventToComplexTypes/ApplicantExpertDetailsLRspec-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ApplicantExpertDetailsLRspec-base-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ApplicantExpertDetailsLRspec-prod.json
  ccd-definition/CaseEventToComplexTypes/ApplicantExpertDetailsLRspec.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-Experts-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-Experts-base-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-Experts-prod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec-HNL-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-base-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-prod.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1459

#1742 Feat/civ 5338 create lip claim
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldCUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1742

#1416 Uplifted spec claimant response DQ witness screens
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-HNL-Witnesses-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-Witnesses-base-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-Witnesses-base-prod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-HNL-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-base-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec-HNL-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1416

#1904 Bug Fix for applicant1Represented
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldCUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCUI.json
  settings.gradle
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1904
