Repository hmcts/civil-ccd-definition, pull requests merged in 2022-07, with the labels that each got.

#967 updated CVE
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-967

#968 Fix for civil-camunda error
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-968

#976 Feat/spec rpa tests
  e2e/steps_file_LRspec.js
  e2e/tests/api_tests/lrspec/rpaHandoff_spec_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-976

#997 Chore/amend e2e tests
  e2e/tests/ui_tests/damages/1v1CreateClaim_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_SameSol_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_offline_test.js
  e2e/tests/ui_tests/damages/2v1CreateClaim_test.js
  e2e/tests/ui_tests/damages/crossBrowser_test.js
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/lrspec/1v2SameSolicitor-LRspec-SmallClaims_test.js
  e2e/tests/ui_tests/lrspec/2v1CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/sdo/sdo_journey_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-997

#991 Feat/case management location
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ.json
  ccd-definition/CaseEventToComplexTypes/CaseLocationDJ.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ.json
  ccd-definition/CaseField/CaseFieldDJ.json
  ccd-definition/ComplexTypes/CaseLocationDJ.json
  ccd-definition/State.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-991

#978 Feat/civ 128 damages
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ-SDO-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ-SDO-nonprod.json
  ccd-definition/CaseField/CaseFieldDJ-SDO-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/OrderSDODocument-DJ-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-978

#975 CIV-3329: 1v2 Same Solicitor Defendant
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/staffLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/DQ/VulnerabilityQuestions.json
  ccd-definition/FixedLists/ShowConditionFlagSpec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-975

#962 Feat/civ 1325 notif sdo dj
  ccd-definition/AuthorisationCaseEvent/systemUpdateDJ-SDO-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsDJ-SDO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-962

#957 Feat/CIV-2649 update camunda changes for sending notification to solicitor one
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/staff.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-957

#982 Org id should be based on environment in config
  e2e/fixtures/events/createClaimSpec.js
  e2e/fixtures/events/createClaimSpecFast.js
  e2e/fixtures/events/createClaimSpecSmall.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-982

#995 Civ 3232 show hide fast track/ disposal hearing sdo
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingApplicationsOrder-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingBundle-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingClaimSettling-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingCosts-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingDisclosureOfDocuments-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingFinalDisposalHearing-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingMedicalEvidence-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingQuestionsToExperts-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingSchedulesOfLoss-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingWitnessOfFact-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackAltDisputeResolution-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackCosts-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackDisclosureOfDocuments-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackSchedulesOfLoss-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackSettlement-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackTrial-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackVariationOfDirections-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackWitnessOfFact-SDO-nonprod.json
  ccd-definition/FixedLists/OrderDetailsPagesSectionsToggle-SDO-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-995

#1023 Fix DJ preview tests
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  config/owasp/suppressions.xml
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1023

#1026 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1026

#1012 add show/hide toggles small claims sdo
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-nonprod.json
  ccd-definition/ComplexTypes/SmallClaimsDocuments-SDO-nonprod.json
  ccd-definition/ComplexTypes/SmallClaimsHearing-SDO-nonprod.json
  ccd-definition/ComplexTypes/SmallClaimsWitnessStatement-SDO-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1012

#1029 Add location name
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ.json
  ccd-definition/CaseField/CaseFieldDJ.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1029

#1016 Feat/civ 3540
  e2e/api/steps.js
  e2e/api/testingSupport.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1016

#1009 1v2 mp l rvs lr automation fixed
  bin/utils/process-definition.sh
  e2e/fragments/confirmLegalRepDetailsLRspec.js
  e2e/pages/createClaim/defendantSolicitorEmailLRspec.page.js
  e2e/pages/createClaim/defendantSolicitorOrganisationLRspec.page.js
  e2e/pages/createClaim/detailsOfClaim.page.js
  e2e/steps_file_LRspec.js
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
  e2e/tests/ui_tests/lrspec/1v2SameSolicitor-LRspec-SmallClaims_test.js
  e2e/tests/ui_tests/lrspec/2v1CreateClaim-LRspec_test.js
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1009

#1037 Update Chart.yaml
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1037

#1007 Feature/civ 2631
  ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/CaseEvent/Camunda/CaseEvents.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/CaseTypeTab/Documents.json
  ccd-definition/FixedLists/DocumentType.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1007

#1019 Add civil claim solicitor to system update for permission
  ccd-definition/AuthorisationCaseField/systemUpdate.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1019

#1046 Feature/civ 2631
  ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/CaseEvent/Camunda/CaseEventsGASpec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/CaseTypeTab/DocumentsGASpec.json
  ccd-definition/FixedLists/DocumentTypeGASpec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1046

#1049 Feat/access profiles updates
  bin/add-roles.sh
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-nonprod.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-nonprod.json
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1049

#1051 Revert "Feat/access profiles updates"
  bin/add-roles.sh
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-nonprod.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-nonprod.json
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1051

#1042 Updated Chart
  charts/civil-ccd/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1042

#1043 create new state and role
  bin/add-roles.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  ccd-definition/AuthorisationCaseState/approver.json
  ccd-definition/AuthorisationCaseState/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseState/staff.json
  ccd-definition/AuthorisationCaseState/systemUpdate.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-nonprod.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-nonprod.json
  ccd-definition/State.json
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1043

#1038 added field show condition for respondent org
  ccd-definition/CaseTypeTab/ClaimDetails.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1038

#1053 Feat/access profiles updates
  bin/add-roles.sh
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-nonprod.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-nonprod.json
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1053

#1024 Feat/civ 3229
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ-SDO-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ-SDO-nonprod.json
  ccd-definition/CaseField/CaseFieldDJ-SDO-nonprod.json
  ccd-definition/FixedLists/DisposalAndTrialHearingDJToggle.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1024

#1056 refactor: Move LR AuthField from Base to LR File
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1056

#1060 Update dependencies
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1060

#1062 Changed label for DJ SDO event
  ccd-definition/CaseEvent/User/UsersEventsDJ-SDO-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ-SDO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1062
