Repository hmcts/civil-ccd-definition, pull requests merged in 2022-08, with the labels that each got.

#1058 CIV-3659-3642 Refactor display text
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GAUrgencyRecordGAspec.json
  ccd-definition/ComplexTypes/GAWithOrWithoutNotice.json
  ccd-definition/FixedLists/StatementOfTruthConsentGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1058

#1041 CIV-3021: PIP Generate the Pin
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/staffLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/DefendantPinToPostLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1041

#1077 bump ccd chart to 8.0.17
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1077

#1067 CIV-3660: Update for adding new email field
  ccd-definition/CaseEventToComplexTypes/CreateClaimCUI.json
  ccd-definition/CaseEventToComplexTypes/CreateClaimLRspec.json
  ccd-definition/ComplexTypes/Party.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1067

#1100 Civ 3836 small claims page revisions sdo new
  README.md
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-nonprod.json
  ccd-definition/ComplexTypes/SmallClaimsAllocation-SDO-nonprod.json
  ccd-definition/ComplexTypes/SmallClaimsCreditHire-SDO-nonprod.json
  ccd-definition/ComplexTypes/SmallClaimsNotes-SDO-nonprod.json
  ccd-definition/ComplexTypes/SmallClaimsOrderAndHearingDetails-SDO-nonprod.json
  ccd-definition/ComplexTypes/SmallClaimsPreferredEmail-SDO-nonprod.json
  ccd-definition/ComplexTypes/SmallClaimsPreferredTelephone-SDO-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1100

#1113 Test SNI-1290
  Jenkinsfile_CNP
  bin/variables/load-preview-environment-variables.sh
  build.gradle
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-1113

#1116 Fix p rs
  Jenkinsfile_CNP
  bin/variables/load-preview-environment-variables.sh
  build.gradle
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1116

#1098 Feat/caseworker ras validation civ 3585
  bin/add-roles.sh
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-nonprod.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-nonprod.json
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1098

#1108 SNI-1292 - 1v2 respondent solicitor deadline displaying incorrectly in case summary
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseTypeTab/Summary.json
  e2e/api/steps.js
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-1108

#1055 Feat/civ 2126 dj api test
  codecept.conf.js
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/fixtures/ccd/expectedEventsLRSpec.js
  e2e/fixtures/events/defaultJudgment.js
  e2e/fixtures/events/defaultJudgment1v2.js
  e2e/fixtures/events/defaultJudgment1v2Spec.js
  e2e/fixtures/events/defaultJudgment2v1.js
  e2e/fixtures/events/defaultJudgment2v1Spec.js
  e2e/fixtures/events/defaultJudgmentSpec.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_2v1_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1055

#1145 specific and challenged access profiles
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1145

#1150 Civ 3837 fast track page revisions sdo final plus amend test step
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackAllocation-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackAltDisputeResolution-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackCreditHire-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackDisclosureOfDocuments-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackEmployersLiability-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackNotes-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackOrderAndHearingDetails-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackPersonalInjury-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackPreferredEmail-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackPreferredTelephone-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackRoadTrafficAccident-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackSettlement-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackTrial-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackVariationOfDirections-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackWitnessOfFact-SDO-nonprod.json
  e2e/pages/createClaim/claimantSolicitorOrganisation.page.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1150

#1112 CIV-3854 Fix Direction order title to Directions order
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/FixedLists/DocumentTypeGASpec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1112

#1158 Civ 3834 disposal hearing page revisions new
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingApplicationsOrder-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingBundle-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingClaimSettling-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingDisclosureOfDocuments-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingMedicalEvidence-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingOrderAndHearingDetails-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingPreferredEmail-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingPreferredTelephone-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingQuestionsToExperts-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingSchedulesOfLoss-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingStandardDisposalOrder-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingWitnessOfFact-SDO-nonprod.json
  ccd-definition/FixedLists/DisposalHearingBundleType-SDO-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1158

#1050 Feature/civ 2693 2991
  bin/add-roles.sh
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1050

#1146 Feat/civ 2229
  e2e/api/steps.js
  e2e/fixtures/events/2v1Events/acknowledgeClaim_2v1.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1146

#1078 feat/CIV-3849 added next hearing details field
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/ComplexTypes/NextHearingDetails.json
  e2e/tests/ui_tests/sdo/sdo_journey_test.js
  package.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1078

#1191 rollback of role changes of 1533 because they show the fields in the …
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1191

#1194 Addition of "senior-tribunal-caseworker"
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1194

#1166 feat/civ-3992 Add defence document when part admission
  ccd-definition/CaseEventToFields/DefendantResponse.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1166
