Repository hmcts/civil-ccd-definition, pull requests merged in 2022-06, with the labels that each got.

#864 skip test until new state has been defined
  e2e/tests/api_tests/damages/api_1v1_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-864

#857 feat/CIV-2225 Hide case from CAA user until claim notify in unassigned case list
  ccd-definition/CaseField/CaseField.json
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-857

#877 feat/CIV-2015 1v2ds defined fields
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/FixedLists/ShowConditionFlagSpec.json
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-877

#882 delete unneeded file
  ccd-definition/CaseEventToComplexTypes/AddNewDirections.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-882

#848 Fix/civ 2602
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-848

#898 fix/CVE-2022-22978 and CVE-2020-0187
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-898

#902 L rv lr/civ 2015
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToComplexTypes/ExpertDetailsLRspec.json
  ccd-definition/CaseEventToComplexTypes/LRSpecCaseDataExtension.json
  ccd-definition/CaseEventToComplexTypes/RecurringExpenseLRspec.json
  ccd-definition/CaseEventToComplexTypes/RecurringIncomeLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/ComplexTypes/LRSpecCaseDataExtension.json
  ccd-definition/FixedLists/MultiPartyResponseTypeFlags.json
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/createClaimSpec.js
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/steps_file_LRspec.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_test.js
  package.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-902

#895 CIV-2463 Refactor use of string on general app notification deadline
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-895

#911 feat/civ-2185
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/CaseEventToFields/AddOrAmendClaimDocuments.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaimDetails.json
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-911

#922 Config for judicial ref data
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-922

#947 Civ 1835 small claims additional directions sdo final
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-nonprod.json
  ccd-definition/ComplexTypes/SmallClaimsCreditHire-SDO-nonprod.json
  ccd-definition/ComplexTypes/SmallClaimsRoadTrafficAccident-SDO-nonprod.json
  config/owasp/suppressions.xml
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-947

#942 CIV-3182: 1v2 Diff LR Incomplete Financial Details for AdmitAll
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-942

#946 CIV-2662: Update for I2P document
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-946

#940 CIV-3156: 1v2 bug fix
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-940

#845 Feat/CIV-1600
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseEvent/caseAccessAssignment-nonprod.json
  ccd-definition/AuthorisationCaseEvent/caseAccessAssignment-prod.json
  ccd-definition/AuthorisationCaseEvent/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseState/caseAccessAssignment-nonprod.json
  ccd-definition/CaseEvent/NoticeOfChange-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-845

#886 Feat/cmc 2090
  charts/civil-ccd/Chart.yaml
  e2e/api/steps.js
  e2e/tests/api_tests/damages/api_1v1_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-886
