Repository hmcts/civil-ccd-definition, pull requests merged in 2022-10, with the labels that each got.

#1362 WA R3 challenged access tests
  codecept.conf.js
  e2e/config.js
  e2e/pages/defaultJudgment/requestDefaultJudgmentforUnspecifiedClaims.js
  e2e/steps_file.js
  e2e/steps_file_WA.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1362

#1364 Verify judicial referral state in preview
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1364

#1365 Feat/civ 4417 template changes
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ-SDO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefaultJudgmentDJ-SDO-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ-SDO-nonprod.json
  ccd-definition/CaseField/CaseFieldDJ-SDO-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingBundle-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingDisclosureOfDocuments-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingFinalDisposalHearing-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingJudgesRecital-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingMedicalEvidence-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingNotes-DJ-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingOrderAndHearingDetails-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingQuestionsToExperts-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingSchedulesOfLoss-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingStandardDisposalOrder-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingWitnessOfFact-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialBuildingDispute-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialClinicalNegligence-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialCreditHire-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialEmployersLiability-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialHearingDisclosureOfDocuments-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialHearingJudgesRecital-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialHearingNotes-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialHearingSchedulesOfLoss-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialHearingTrial-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialHearingWitnessOfFact-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialHousingDisrepair-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialPersonalInjury-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialRoadTrafficAccident-DJ-nonprod.json
  ccd-definition/FixedLists/DisposalHearingBundleType-SDO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1365

#1334 Update spec test with paymentTypeSelection
  e2e/fixtures/events/defaultJudgment1v2Spec.js
  e2e/fixtures/events/defaultJudgment2v1Spec.js
  e2e/fixtures/events/defaultJudgmentSpec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1334

#1376 Updating SDO-HNL-nonprod.json files
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefaultJudgmentDJ-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ-SDO-HNL-nonprod.json
  ccd-definition/CaseField/CaseFieldDJ-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingNotes-DJ-SDO-nonprod.json
  ccd-definition/FixedLists/DisposalHearingBundleType-SDO-HNL-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1376

#1367 CIV-4973 Populate location name
  ccd-definition/ComplexTypes/GACaseLocationGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1367

#1306 Feat/civ 2215 hearing notice input screens
  bin/add-roles.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-nonprod.json
  ccd-definition/AuthorisationCaseField/HearingNotice-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-nonprod.json
  ccd-definition/CaseEventToFields/HearingNotice-nonprod.json
  ccd-definition/CaseField/CaseFieldHearingNotice-nonprod.json
  ccd-definition/FixedLists/HearingAppFor.json
  ccd-definition/FixedLists/HearingChannel.json
  ccd-definition/FixedLists/HearingLengthCasePro.json
  ccd-definition/FixedLists/HearingNoticeSelection.json
  ccd-definition/FixedLists/HearingTimeHourMinute.json
  ccd-definition/FixedLists/listingOrRelisting.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-nonprod.json
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1306

#1383 fixed add-roles permission
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1383

#1361 CIV-4600 add events to ccd definition
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-prod.json
  ccd-definition/AuthorisationCaseEvent/staffCUI.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsCUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1361

#1390 Updated JacksonCVE-2022-42003
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1390

#1397 remove spaces in CUI exclusions
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1397

#1304 Feat/civ 3246
  ccd-definition/CaseEventToComplexTypes/CreateClaim-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateClaimLRspec-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/Party-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/Party-prod.json
  ccd-definition/ComplexTypes/Party.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1304

#1336 Sdo complex type
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-prod.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-SDO-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1336

#1410 Adding SDO related fields in non-prod files
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1410

#1418 Fixing caseevents to fields by moving them to nonprod files TEST
  ccd-definition/CaseEventToFields/ClaimantResponse-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponse-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  codecept.conf.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1418

#1407 CIV-5215: Enhance Pipeline (Staging)
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.aat.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1407

#1427 Try latest idam-pr helm chart
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1427

#1369 civ 4203 updated
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-prod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-nonprod.json
  ccd-definition/CaseEventToComplexTypes/RespondToClaimLRspec-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/DQ/RequestedCourtLocationLRspec-nonprod.json
  ccd-definition/ComplexTypes/DQ/RequestedCourtLocationLRspec-prod.json
  ccd-definition/ComplexTypes/DQ/RequestedCourtLocationLRspec.json
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/events/claimantResponseSpec.js
  e2e/fixtures/events/claimantResponseSpec1v2.js
  e2e/fixtures/events/claimantResponseSpec1v2Fast.js
  e2e/fixtures/events/claimantResponseSpec2v1.js
  e2e/fixtures/events/claimantResponseSpec2v1Fast.js
  e2e/fixtures/events/claimantResponseSpecSmall.js
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
  e2e/fixtures/events/defendantResponseSpec1v2Fast.js
  e2e/fixtures/events/defendantResponseSpec2v1.js
  e2e/fixtures/events/defendantResponseSpec2v1Fast.js
  e2e/fixtures/events/defendantResponseSpecSmall.js
  e2e/pages/respondToClaimLRspec/chooseCourtLRspec.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1369

#1412 Fix hnl config
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-HNL-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-SDO-HNL-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-HNL-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1412

#1421 Fix CVE-2020-5421
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1421

#1381 Feature/2801 2
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/staffGAspec.json
  ccd-definition/CaseEvent/Camunda/CaseEventsGASpec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1381

#1359 civ-5012 add new states; add new states to PreConditionStates of NITI…
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ccd-definition/State.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1359

#1244 activating Payment History tab for solicitors
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-1244

#1436 fix/civ-api-test
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1436

#1402 CIV-4337 Add fee amount and service request tab
  ccd-definition/AuthorisationCaseField/HearingNotice-nonprod.json
  ccd-definition/CaseField/CaseFieldHearingNotice-nonprod.json
  ccd-definition/CaseTypeTab/ServiceRequestHearingNotice-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1402

#1429 feat/CIV-4674, hidinng the deadline for def1 and def2
  ccd-definition/CaseTypeTab/Summary.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1429

#1400 changing bot schedule
  .github/workflows/stale.yml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1400

#1199 Feat/civ 4240 api test sdo dj
  e2e/api/dataHelper.js
  e2e/api/steps.js
  e2e/fixtures/events/sdoDefaultJudgment.js
  e2e/fixtures/events/sdoDefaultJudgment1v2.js
  e2e/fixtures/events/sdoDefaultJudgment2v1.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_2v1_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1199

#1385 front end capturing of unsuitable SDO date
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-HNL-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-nonprod.json
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1385

#1343 Feat/civ 5401 access profiles updates
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1343

#1442 Tweak test retry parameters
  e2e/api/testingSupport.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1442

#1445 Revert "Feat/civ 4240 api test sdo dj"
  e2e/api/dataHelper.js
  e2e/api/steps.js
  e2e/fixtures/events/sdoDefaultJudgment.js
  e2e/fixtures/events/sdoDefaultJudgment1v2.js
  e2e/fixtures/events/sdoDefaultJudgment2v1.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_2v1_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1445

#1398 CIV-3287 Add new application types for LR
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1398

#1441 CIV-5188 changed RequestedCourt label and hinttext
  ccd-definition/ComplexTypes/DQ/RequestedCourtLocationLRspec-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1441

#1446 CIV-4846: Remove CVE-2021-22053 from suppression
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-1446

#1458 Update wa test
  e2e/pages/defaultJudgment/requestDefaultJudgmentforUnspecifiedClaims.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1458

#1431 Sprint5 integration ga
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ccd-definition/AuthorisationCaseEvent/staffGAspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEventsGASpec.json
  ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ccd-definition/CaseTypeTab/ApplicationsGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ccd-definition/State.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1431

#1462 fix/bump dev memory limits
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1462

#1455 Provide GS profile to to challenged and specific access roles
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1455

#1417 Add spec tests and Enable e2e 1v2DS on master and pr pipeline
  bin/build-release-ccd-definition.sh
  build.gradle
  e2e/api/testingSupport.js
  e2e/config.js
  e2e/fragments/confirmDefendantsDetailsLRspec.js
  e2e/fragments/confirmLegalRepDetailsLRspec.js
  e2e/pages/createClaim/createCaseLRspec.page.js
  e2e/pages/respondToClaimLRspec/chooseCourtLRspec.page.js
  e2e/pages/respondToClaimLRspec/claimResponseTimelineLRspec.page.js
  e2e/pages/respondToClaimLRspec/defenceTypeLRspec.page.js
  e2e/pages/respondToClaimLRspec/disputeClaimDetailsLRspec.page.js
  e2e/pages/respondToClaimLRspec/enter2ndDefendantDetailsLRspec.page.js
  e2e/pages/respondToClaimLRspec/expertsMPLRspec.page.js
  e2e/pages/respondToClaimLRspec/hearingSmallClaimsLRspec.page.js
  e2e/pages/respondToClaimLRspec/responseTypeLRspec.page.js
  e2e/pages/respondToClaimLRspec/vulnerabilityLRspec.page.js
  e2e/pages/respondToClaimLRspec/witnessesLRspec.page.js
  e2e/steps_file_LRspec.js
  e2e/tests/api_tests/lrspec/api_1v1_spec_small_test.js
  e2e/tests/api_tests/lrspec/api_1v1_spec_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_fast_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/damages/2v1CreateClaim_test.js
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
  e2e/tests/ui_tests/lrspec/1v2SameSolicitor-LRspec-SmallClaims_test.js
  e2e/tests/ui_tests/lrspec/2v1CreateClaim-LRspec_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1417

#1449 Feature/5227
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GAHearingDateGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ccd-definition/FixedLists/GAHearingScheduleGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1449

#1475 CIV-5349 Update ApplicationsGAspec.json
  ccd-definition/CaseTypeTab/ApplicationsGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1475

#1499 fix/CIV-1610: Authorise AAC in Staging
  charts/civil-ccd/values.aat.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1499

#1482 CIV-5227 Make hearing date optional
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1482

#1487 suppression file
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1487

#1503 Changed the State after the end of Camunda flow
  ccd-definition/CaseEvent/Camunda/NotificationEventsDJ.json
  ccd-definition/CaseEvent/User/UserEventsDJ.json
  e2e/api/steps.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1503

#1440 CIV-5243 Remove caseworker-civil-admin
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  e2e/fixtures/ccd/nonProdExpectedEventsLRSpec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1440

#1473 CIV-4845, fixing CVE suppression
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1473

#1516 fix/minimatch
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1516

#1521 Changed assertion for Submitted event and block test
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1521

#1519 Remove GA creation from API
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEventsLRSpec.js
  e2e/fixtures/ccd/nonProdExpectedEvents.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1519

#1447 Update exclusions
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1447

#1539 Update exclusions
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1539

#1526 CIV-5391 re-add email field for lr claims
  ccd-definition/ComplexTypes/Party.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1526

#1543 Bug/civ 5391 revert re-adding of the email field
  ccd-definition/ComplexTypes/Party.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1543

#1430 CIV-4061 Uplifting DJ SDO Disposal Hearing Screen
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefaultJudgmentDJ-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ-SDO-HNL-nonprod.json
  ccd-definition/CaseField/CaseFieldDJ-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingFinalDisposalHearingTimeDJ-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingHearingNotesDJ-DJ-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingOrderMadeWithoutHearingDJ-DJ-SDO-HNL-nonprod.json
  ccd-definition/FixedLists/DisposalHearingMethod-DJ-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1430

#1389 CIV 2325
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldEvidenceUploadJudge-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldEvidenceUploadJudge.json
  ccd-definition/CaseEventToFields/EvidenceUploadJudge-nonprod.json
  ccd-definition/CaseField/CaseFieldEvidenceUploadJudge-nonprod.json
  ccd-definition/CaseField/CaseFieldEvidenceUploadJudge.json
  ccd-definition/FixedLists/CaseNoteType-nonprod.json
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, stale, enableHelm, rel:civil-ccd-pr-1389

#1342 CIV-3262 sdo fast track update
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-HNL-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/FastTrackHearingNotes-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/FastTrackHearingTime-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/FastTrackOrderWithoutJudgement-SDO-HNL-nonprod.json
  ccd-definition/FixedLists/FastTrackMethod-SDO-HNL-nonprod.json
  ccd-definition/FixedLists/FastTrackTimeEstimate-SDO-HNL-nonprod.json
Labels: data-changes, ns:civil, prd:civil, stale, rel:civil-ccd-pr-1342

#1520 Feat/civ 5123
  ccd-definition/CaseEvent/User/UserEvents-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponse-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponse-prod.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/ComplexTypes/DQ/RequestedCourt-nonprod.json
  config/owasp/suppressions.xml
  e2e/fragments/dq/requestedCourt.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1520

#1548 Fix/civ 3260 issues
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1548

#1498 Fix/CIV-5388
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-prod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-prod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec-prod.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1498

#1567 Moving unsuitableSDODate to non-prod files
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-HNL-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff-nonprod.json
  ccd-definition/AuthorisationCaseField/staff.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1567

#1574 Adding condition for State to Judicial Referral
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1574

#1309 CIV:3214 updated fast track disposal SDO screen
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-HNL-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingHearingTime-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/DisposalOrderWithoutHearing-SDO-HNL-nonprod.json
Labels: data-changes, ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-1309

#1578 Disable unused user profile importer
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1578

#1573 removed CVE-2021-22118 from suppression file
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1573

#1435 add migrateCase event
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/AuthorisationCaseField/systemupdate-nonprod.json
  ccd-definition/CaseEvent/User/MigrationEvents.json
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1435

#1587 switching to aat user profile
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1587

#1588 Fix for removing items from collection
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-HNL-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ-SDO-HNL-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ-SDO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1588
