Repository hmcts/civil-ccd-definition, pull requests merged in 2022-09, with the labels that each got.

#1209 Fix master pipeline
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1209

#1169 CIV-2636: Email sent to defendant LiP
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/staffLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsCUI.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/DefendantPinToPostLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1169

#1184 Events for ccd
  ccd-definition/CaseEvent/User/UserEvents-SDO-nonprod.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1184

#1219 CIV - 3008 Prepopulation callback changed from Mid to About-To-Start
  ccd-definition/CaseEvent/User/UserEvents-SDO-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-nonprod.json
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1219

#1163 Civ 3209 sdo previous page bug new
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1163

#1140 Feat/civ 2126 dj api test fix
  codecept.conf.js
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/nonProdExpectedEvents.js
  e2e/fixtures/ccd/nonProdExpectedEventsLRSpec.js
  e2e/fixtures/events/defaultJudgment.js
  e2e/fixtures/events/defaultJudgment1v2.js
  e2e/fixtures/events/defaultJudgment1v2Spec.js
  e2e/fixtures/events/defaultJudgment2v1.js
  e2e/fixtures/events/defaultJudgment2v1Spec.js
  e2e/fixtures/events/defaultJudgmentSpec.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_2v1_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1140

#1230 Feat/civ 3263 b
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/staff.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEvent/User/UserEventsLRspec.json
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecFast.js
  e2e/tests/api_tests/damages/api_1v1_test.js
  e2e/tests/api_tests/damages/api_1v2_different_solicitor_test.js
  e2e/tests/api_tests/damages/api_1v2_same_solicitor_test.js
  e2e/tests/api_tests/damages/api_2v1_test.js
  e2e/tests/api_tests/lrspec/api_1v1_spec_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_fast_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_fast_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_test.js
  e2e/tests/ui_tests/damages/1v1CreateClaim_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1230

#1228 fix api lip test by removing respondent organisation policy
  e2e/fixtures/events/createClaim.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1228

#1204 addition of caseworker-caa to RoleToAccessProfiles-nonprod.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1204

#1236 Civ 1368 and gs config
  ccd-definition/AuthorisationCaseEvent/systemUpdateDJ.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateDJSpec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ-SDO-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEventsLRspec.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsDJ.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsDJSpec.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEvent/User/UsersEventsDJ-SDO-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ-SDO-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ.json
  ccd-definition/CaseField/CaseFieldDJ-SDO-nonprod.json
  ccd-definition/CaseField/CaseFieldDJ.json
  ccd-definition/ComplexTypes/CaseManagementCategoryElement.json
  ccd-definition/ComplexTypes/DJCaseCategory.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-nonprod.json
  ccd-definition/SearchCriteria.json
  ccd-definition/SearchParty.json
  e2e/api/steps.js
  yarn.lock
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1236

#1223 added back senior tribunal caseworker
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1223

#1224 Feat/civ-4651: use V1 callback for inform agreed extension date
  ccd-definition/CaseEvent/User/UserEventsLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1224

#1252 Feat/civ 3243 and feat/civ 3775 new
  README.md
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-nonprod.json
  charts/civil-ccd/values.preview.template.yaml
  e2e/fixtures/ccd/expectedEventsLRSpec.js
  e2e/fixtures/ccd/nonProdExpectedEvents.js
  e2e/fixtures/ccd/nonProdExpectedEventsLRSpec.js
  e2e/tests/ui_tests/sdo/sdo_journey_test_disabled.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1252

#1251 Update tests to exclude search criteria check until WA release
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_LRspecSmall.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1251

#1232 CIV-4468 Update GAUrgencyRecordGAspec.json
  ccd-definition/ComplexTypes/GAUrgencyRecordGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1232

#1225 Generate sdo pdfs final
  README.md
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackTrial-SDO-nonprod.json
  ccd-definition/ComplexTypes/SdoOrderDocument-sdo-nonprod.json
  ccd-definition/FixedLists/FastTrackTrialBundleType-SDO-nonprod.json
  ccd-definition/FixedLists/SmallClaimsTimeEstimate-SDO-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1225

#1259 Added authorisation for take case offline
  build.gradle
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventDJ-SDO-nonprod.json
  ccd-definition/CaseField/CaseFieldDJ-SDO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1259

#1257 Test civ 3328
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/NotSuitableSDO-SDO-nonprod.json
  ccd-definition/CaseEventToFields/NotSuitableSDO-SDO-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-nonprod.json
  ccd-definition/ComplexTypes/ReasonNotSuitableSDO-SDO-nonprod.json
Labels: data-changes, ns:civil, prd:civil, Testing, enableHelm, rel:civil-ccd-pr-1257

#1273 feat: remove hint text from defendant solicitor 1 and 2 search pages
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1273

#1275 Chore: fix pipeline
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1275

#1137 feat/CIV-3278 Added dynamic list for court location
  ccd-definition/CaseEvent/User/UserEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-prod.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim-prod.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToFields/CreateClaim-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaim-prod.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/ComplexTypes/CourtLocation-nonprod.json
  ccd-definition/ComplexTypes/CourtLocation-prod.json
  ccd-definition/ComplexTypes/CourtLocation.json
  ccd-definition/ComplexTypes/DQ/RequestedCourt-nonprod.json
  ccd-definition/ComplexTypes/DQ/RequestedCourt-prod.json
  ccd-definition/ComplexTypes/DQ/RequestedCourt.json
  e2e/api/steps.js
  e2e/api/testingSupport.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor1.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor2.js
  e2e/fixtures/events/1v2SameSolicitorEvents/defendantResponse_sameSolicitor.js
  e2e/fixtures/events/2v1Events/defendantResponse_2v1.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/defendantResponse.js
  e2e/fragments/dq/requestedCourt.page.js
  e2e/pages/createClaim/chooseCourt.page.js
  e2e/steps_file.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1137

#1280 fix api and e2e test to add env check
  e2e/api/steps.js
  e2e/fragments/dq/requestedCourt.page.js
  e2e/pages/createClaim/chooseCourt.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1280

#1283 fix/CIV-3278 fix e2e
  e2e/fragments/dq/requestedCourt.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1283

#1290 Fix court location issue add logging
  e2e/api/steps.js
  e2e/fragments/dq/requestedCourt.page.js
  e2e/pages/createClaim/chooseCourt.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1290

#1278 Enable stitching api in preivew.
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1278

#1171 Fix Def org missing issue in tests
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1171

#1255 CIV-4571: Contact details change LR email notification
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI.json
  ccd-definition/AuthorisationCaseEvent/staffCUI.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsCUI.json
  ccd-definition/CaseEvent/User/UserEventsCUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1255

#1316 Add nonprod to GS conplex fields
  ccd-definition/ComplexTypes/CaseManagementCategoryElement-nonprod.json
  ccd-definition/ComplexTypes/DJCaseCategory-nonprod.json
Labels: data-changes

#1308 Civ 2659 21 sep 1
  ccd-definition/CaseEventToFields/CreateClaim.json
  charts/civil-ccd/Chart.yaml
  e2e/api/steps.js
  e2e/pages/createClaim/defendantSolicitorOrganisation.page.js
  e2e/steps_file.js
  e2e/steps_file_LRspec.js
  e2e/tests/api_tests/damages/api_1v1_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1308

#1335 civ-3521: move DJ and GA access profiles changes to base files
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventDJ-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventDJ-prod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventDJ.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventDJspec-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventDJspec-prod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventDJspec.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-prod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateDJSpec-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateDJSpec-prod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateDJSpec.json
  ccd-definition/CaseTypeTab/ApplicationRespSpecTwoSolGAspec-nonprod.json
  ccd-definition/CaseTypeTab/ApplicationRespSpecTwoSolGAspec-prod.json
  ccd-definition/CaseTypeTab/ApplicationRespSpecTwoSolGAspec.json
  ccd-definition/CaseTypeTab/ApplicationsRespSpecSolGAspec-nonprod.json
  ccd-definition/CaseTypeTab/ApplicationsRespSpecSolGAspec-prod.json
  ccd-definition/CaseTypeTab/ApplicationsRespSpecSolGAspec.json
  ccd-definition/CaseTypeTab/ApplicationsSpecGaspec-nonprod.json
  ccd-definition/CaseTypeTab/ApplicationsSpecGaspec-prod.json
  ccd-definition/CaseTypeTab/ApplicationsSpecGaspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1335

#1338 3521: fix test toggle to remove CAC field in aat
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1338

#1326 adding new config for deleting stale PRs
  .github/stale.yml
  .github/workflows/stale.yml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1326

#1333 Civ 2670
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  ccd-definition/CaseEvent/Camunda/PaymentEvents.json
  ccd-definition/State.json
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1333

#1339 Feature/civ 3306 civ 3307
  ccd-definition/ComplexTypes/GACaseLocationGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes

#1350 FIX: CVE-2022-38752
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1350

#1353 WA Task testing configuration
  Jenkinsfile_CNP
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/config.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/defendantResponse.js
  e2e/pages/createClaim/chooseCourt.page.js
  e2e/pages/defaultJudgment/requestDefaultJudgmentforUnspecifiedClaims.js
  e2e/pages/selectSDO/unspecClaimsSDOOrderDetails.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1353

#1347 Civ 3914 Migration to Access Profiles
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/CaseTypeTab/ApplicationRespSpecTwoSolGAspec.json
  ccd-definition/CaseTypeTab/ApplicationRespTwoSolGAspec.json
  ccd-definition/CaseTypeTab/ApplicationsGAspec.json
  ccd-definition/CaseTypeTab/ApplicationsRespSolGAspec.json
  ccd-definition/CaseTypeTab/ApplicationsRespSpecSolGAspec.json
  ccd-definition/CaseTypeTab/ApplicationsSpecGAspec.json
  ccd-definition/ComplexTypes/GACaseLocationGAspec.json
  ccd-definition/ComplexTypes/GACaseManagementCategory.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1347

#1356 build/bump-dependency-versions
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1356

#1355 Stale Bot Config
  .github/workflows/stale.yml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1355

#1357 Fix wa pipeline
  e2e/config.js
  e2e/steps_file.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1357
