Repository hmcts/civil-ccd-definition, pull requests merged in 2022-02, with the labels that each got.

#456 Cache idam access token
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
  e2e/api/idamHelper.js
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-456

#373 CIV-861: Add email notify sdo event
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-SDO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-373

#462 feat: show uploaded documents in Claim documents tab
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseTypeTab/Documents.json
  ccd-definition/FixedLists/DocumentType.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-462

#476 Civ 964 judge order page
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEventToFields/CreateSDO.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/FixedLists/OrderType.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-476

#477 CIV-962
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEventToFields/CreateSDO.json
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-477

#479 CIV-727 recovering PBA screen and Hearing details screen changes
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/ComplexTypes/1_UnavailableDatesGAspec.json
  ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
  ccd-definition/ComplexTypes/GAPBADetailsGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-479

#484 recover CaseLink Field
  ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseEvent/Camunda/UpdateCaseDataGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/CaseTypeTab/ApplicationsGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-484

#482 resolving role assignment error on pipeline
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-482

#466 feat: remove hint text from defendant solicitor 1 and 2 search pages
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-466

#465 fix: retain the isRespondent flag from page 1 of defendant response j…
  ccd-definition/CaseEventToFields/DefendantResponse.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-465

#483 updating dependabot config
  .github/dependabot.yml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-483

#498 Feat/civ 817
  ccd-definition/CaseEventToComplexTypes/ExpertDetailsLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/ExpertDetailsLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-498

#502 Field Validation
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GAStatementOfTruthGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-502

#427 Feat/civ 919 req 632
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-427

#464 CMC 1934: Clean up V1 callbacks and point to V0
  ccd-definition/CaseEvent/User/UserEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-464

#509 CIV-729 Summary Screen field validation
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GAPBADetailsGAspec.json
  ccd-definition/ComplexTypes/GARespondentAgreementGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-509

#506 feat/CIV-334-II
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-506

#517 Increase xui page load timeout to 60
  e2e/steps_file.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-517

#504 CIV-337 Admits and Pay: provide screen to capture defendants repayment plan
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEventToComplexTypes/RecurringExpenseLRspec.json
  ccd-definition/CaseEventToComplexTypes/RecurringIncomeLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-504

#534 change regarding the CIV-240 without useless local changes
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-534

#531 Revert: "feat: remove hint text from defendant solicitor 1 and 2 search pages"
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-531

#537 Feature/civ 950 3
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GAPBADetailsGAspec.json
  ccd-definition/ComplexTypes/GARespondentAgreementGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-537

#514 Feature/civ 951 - Make payment for General Application
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/ComplexTypes/1_GAPaymentDetailsGAspec.json
  ccd-definition/ComplexTypes/GAPBADetailsGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-514

#560 CIV-1273 Notification claimant/defendant changes
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes

#564 Fix missing fields
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes

#565 Feature/civ 721 2
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/CaseTypeTab/ApplicationsGAspec.json
  ccd-definition/ComplexTypes/GAStatusGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationDetailsGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes

#567 CIV-1344 UI changes for General Application
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
  ccd-definition/ComplexTypes/GAPBADetailsGAspec.json
  ccd-definition/ComplexTypes/GAWithOrWithoutNotice.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
  ccd-definition/FixedLists/StatementOfTruthConsentGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-567

#568 CIV-951 Recover the lost Make Payment changes
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/ComplexTypes/1_GAPaymentDetailsGAspec.json
  ccd-definition/ComplexTypes/GAPBADetailsGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-568

#559 CIV-866 adds callback for CREATE_SDO event
  ccd-definition/CaseEvent/User/UserEvents-SDO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-559

#541 CIV-274 check your answers
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-541

#569 build/bump-charts: Update java charts to v3.7.2
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-569

#497 Feat/cmc 1919 add respondent2 lit friend
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
  ccd-definition/CaseEventToFields/AddDefendantLitigationFriend.json
  e2e/steps_file.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-497

#522 feat: restrict defendant 2 reference field length
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-522

#519 Feat/cmc 1939 time extension defendant response
  e2e/api/steps.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/informAgreeExtensionDate_Solicitor2.js
  e2e/tests/api_multiparty/api_1v2_different_solicitor_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-519

#552 General apps integration
  bin/build-release-ccd-definition.sh
  bin/utils/process-definition.sh
  bin/variables/load-aat-environment-variables.sh
  bin/variables/load-demo-environment-variables.sh
  bin/variables/load-preview-environment-variables.sh
  bin/variables/load-prod-environment-variables.sh
  bin/variables/load-staging-environment-variables.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEventsGAspec.json
  ccd-definition/CaseEvent/Camunda/UpdateCaseDataGAspec.json
  ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/CaseTypeTab/ApplicationsGAspec.json
  ccd-definition/ComplexTypes/1_GAPaymentDetailsGAspec.json
  ccd-definition/ComplexTypes/1_UnavailableDatesGAspec.json
  ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
  ccd-definition/ComplexTypes/GAPBADetailsGAspec.json
  ccd-definition/ComplexTypes/GARespondentAgreementGAspec.json
  ccd-definition/ComplexTypes/GAStatementOfTruthGAspec.json
  ccd-definition/ComplexTypes/GAStatusGAspec.json
  ccd-definition/ComplexTypes/GAUrgencyRecordGAspec.json
  ccd-definition/ComplexTypes/GAUserDetailsGAspec.json
  ccd-definition/ComplexTypes/GAWithOrWithoutNotice.json
  ccd-definition/ComplexTypes/GeneralApplicationDetailsGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ccd-definition/ComplexTypes/StatementOfTruthGAspec.json
  ccd-definition/FixedLists/GAHearingDurationGAspec.json
  ccd-definition/FixedLists/GAHearingSupportRequirementsGAspec.json
  ccd-definition/FixedLists/GAHearingTypeGAspec.json
  ccd-definition/FixedLists/GARadioYesOrNo.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
  ccd-definition/FixedLists/StatementOfTruthConsentGAspec.json
  codecept.conf.js
  e2e/fragments/event.js
  e2e/pages/caseView.page.js
  e2e/steps_file.js
  e2e/tests/lrspec/solicitorCreatesClaim-LRspec_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-552

#574 [Improvements] - Only when enableHelm label added then Helm Release will be retained
  Jenkinsfile_CNP
  e2e/steps_file.js
  e2e/tests/1v1Journey_test.js
  e2e/tests/api_1v1_test.js
  e2e/tests/api_multiparty/api_1v2_different_solicitor_test.js
  e2e/tests/api_multiparty/api_1v2_same_solicitor_test.js
  e2e/tests/api_multiparty/api_2v1_test.js
  e2e/tests/multiparty/1v2CreateClaim_test.js
  e2e/tests/multiparty/1v2DiffSolJourney_test.js
  e2e/tests/multiparty/1v2SameSolJourney_test.js
  e2e/tests/multiparty/2v1Journey_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-574

#587 Feature/civ-778_2 END_BUSINESS_PROCESS_GASPEC
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEventsGAspec.json
  ccd-definition/FixedLists/StatementOfTruthConsentGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-587
