Repository hmcts/civil-ccd-definition, pull requests merged in 2022-04, with the labels that each got.

#624 update sdo notification events for multiparty
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-SDO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-624

#659 Chore: Fix CVE 2022-22965
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-659

#622 Added new NOTIFY_RESPONDENT_SOLICITOR2_FOR_AGREED_EXTENSION_DATE_CC
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/staff.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-622

#656 Add tags for running functional tests in AAT and Demo
  config/owasp/suppressions.xml
  e2e/run-features-flag-enabled-functional-tests.sh
  e2e/run-prod-functional-tests.sh
  e2e/run-sdo-functional-tests.sh
  e2e/run-spec-functional-tests.sh
  e2e/run-unspec-functional-tests.sh
  e2e/tests/ui_tests/lrspec/solicitorCreatesClaim-LRspec_test.js
  e2e/tests/ui_tests/sdo/sdo_journey_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-656

#645 feat: add event for NOTIFY_RESPONDENT_SOLICITOR2_FOR_CLAIM_DISMISSED
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-645

#660 Adding jenkins nightly to test functional tests on demo
  Jenkinsfile_nightly
  e2e/helpers/accessibility/runner.js
  e2e/run-api-ff-enabled-functional-tests.sh
  e2e/run-e2e-ff-enabled-functional-tests.sh
  e2e/run-features-flag-enabled-functional-tests.sh
  e2e/run-prod-functional-tests.sh
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-660

#653 Mp
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsLRspec.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToFields/CreateClaimLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/FixedLists/MultiPartyResponseTypeFlags.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-653

#643 Feat/cmc 1983
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseTypeTab/Hearings.json
  ccd-definition/ComplexTypes/DQ/VulnerabilityQuestions.json
  e2e/api/steps.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor1.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor2.js
  e2e/fixtures/events/1v2SameSolicitorEvents/defendantResponse_sameSolicitor.js
  e2e/fixtures/events/2v1Events/defendantResponse_2v1.js
  e2e/fixtures/events/claimantResponse.js
  e2e/fixtures/events/defendantResponse.js
  e2e/fragments/dq/vulnerabilityQuestions.page.js
  e2e/steps_file.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-643

#646 refactor: point to V0 callback for PBA Payments (2/2)
  ccd-definition/CaseEvent/Camunda/PaymentEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-646

#628 Added claimStarted field and PageShowCondition to non protected page fields
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-628

#609 Feat/civ 196 merge to master
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventDJ.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventDJspec.json
  ccd-definition/AuthorisationCaseEvent/staffDJ.json
  ccd-definition/AuthorisationCaseEvent/staffDJspec.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateDJ.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateDJSpec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJspec.json
  ccd-definition/CaseEvent/Camunda/DocmosisEventsDJ.json
  ccd-definition/CaseEvent/Camunda/DocmosisEventsDJSpec.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsDJSpec.json
  ccd-definition/CaseEvent/User/UserEventsDJ.json
  ccd-definition/CaseEvent/User/UserEventsSpecDJspec.json
  ccd-definition/CaseEventToComplexTypes/HearingRequirementsDJ.json
  ccd-definition/CaseEventToFields/DefaultJudgment.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJspec.json
  ccd-definition/CaseField/CaseFieldDJ.json
  ccd-definition/CaseField/CaseFieldDJspec.json
  ccd-definition/CaseTypeTab/DefaultJudgmentDetailsDJ.json
  ccd-definition/CaseTypeTab/DefaultJudgmentDetailsDJSpec.json
  ccd-definition/CaseTypeTab/Documents.json
  ccd-definition/ComplexTypes/DJDates.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ccd-definition/ComplexTypes/HearingRequirementsDJ.json
  ccd-definition/FixedLists/CourtLocationsDJ.json
  ccd-definition/FixedLists/DJHearingFixedList.json
  ccd-definition/FixedLists/DJPaymentTypeDJspec.json
  ccd-definition/FixedLists/DocumentType.json
  ccd-definition/FixedLists/HearingLengthEstimate.json
  ccd-definition/FixedLists/HearingSelection.json
  ccd-definition/FixedLists/RepaymentFrequencyDJ.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-609

#668 Change FT report name
  bin/build-release-ccd-definition.sh
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ.json
  ccd-definition/CaseTypeTab/Documents.json
  ccd-definition/CaseTypeTab/DocumentsDJ.json
  codecept.conf.js
  e2e/run-api-ff-enabled-functional-tests.sh
  e2e/run-e2e-ff-enabled-functional-tests.sh
  e2e/run-prod-functional-tests.sh
  e2e/run-sdo-functional-tests.sh
  e2e/run-spec-functional-tests.sh
  e2e/run-unspec-functional-tests.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-668

#672 Fix/civ 1328 welsh language
  ccd-definition/ComplexTypes/DQ/Language.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-672

#669 CIV-1800 Make Vulnerability questions and Support Requirement titles bold
  ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-669

#681 New test1648 branch
  bin/build-release-ccd-definition.sh
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-681

#674 Feat: CIV-1447
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-674

#650 Create a model to save applicant solicitor details
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GAApplnSolGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-650

#663 Fix nightly tests
  e2e/pages/caseView.page.js
  e2e/pages/respondToDefence/proceed.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/damages/rpaHandoff_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-663

#677 1648 - LRSpec E2E tests
  bin/build-release-ccd-definition.sh
  build.gradle
  codecept.conf.js
  e2e/api/testingSupport.js
  e2e/pages/createClaim/createCaseLRspec.page.js
  e2e/pages/createClaim/respondent2SameLegalRepresentativeLRspec.page.js
  e2e/pages/respondToClaimLRspec/admitFullPaymentRoute.page.js
  e2e/pages/respondToClaimLRspec/admitPartPaymentRoute.page.js
  e2e/pages/respondToClaimLRspec/chooseCourtLRspec.page.js
  e2e/pages/respondToClaimLRspec/fullAdmitTypeLRspec.page.js
  e2e/pages/respondToClaimLRspec/partAdmitTypeLRspec.page.js
  e2e/pages/respondToClaimLRspec/partAdmittedAmount.page.js
  e2e/pages/respondToClaimLRspec/respondentAdmitPartWhyNotPay.page.js
  e2e/pages/respondToClaimLRspec/respondentCarerAllowanceDetails.page.js
  e2e/pages/respondToClaimLRspec/respondentCourtOrderType.page.js
  e2e/pages/respondToClaimLRspec/respondentDebtsDetails.page.js
  e2e/pages/respondToClaimLRspec/respondentEmploymentType.page.js
  e2e/pages/respondToClaimLRspec/respondentHomeDetailsLRspec.page.js
  e2e/pages/respondToClaimLRspec/respondentIncomeExpensesDetails.page.js
  e2e/pages/respondToClaimLRspec/respondentRepaymentPlan.page.js
  e2e/pages/respondToClaimLRspec/respondentWhyNotPay.page.js
  e2e/pages/respondToClaimLRspec/responseTypeLRspec.page.js
  e2e/run-api-ff-enabled-functional-tests.sh
  e2e/run-e2e-ff-enabled-functional-tests.sh
  e2e/run-sdo-functional-tests.sh
  e2e/run-spec-functional-tests.sh
  e2e/run-unspec-functional-tests.sh
  e2e/steps_file_LRspec.js
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/lrspec/2v1CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/lrspec/smoke-LRspec_test.js
  e2e/tests/ui_tests/lrspec/solicitorCreatesClaim-LRspec_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-677

#691 Update task to make it work in preview and aat
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-691

#629 add additional directions options
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-nonprod.json
  ccd-definition/FixedLists/DrawDirectionsOrderSmallClaimsAdditionalDirections-SDO-nonprod.json
  ccd-definition/FixedLists/OrderTypeTrialAdditionalDirections-SDO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-629

#680 Feat/civ 1268
  ccd-definition/ComplexTypes/DQ/Language.json
  codecept.conf.js
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/createClaimSpec.js
  e2e/tests/api_tests/lrspec/api_1v1_spec_test.js
  saucelabs.conf.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-680

#675 CIV 1832
  ccd-definition/CaseEventToFields/CreateSDO-SDO-nonprod.json
  ccd-definition/ComplexTypes/JudgementSum-SDO-nonprod.json
  ccd-definition/FixedLists/OrderType-SDO-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-675

#664 Feat/civ 1721
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-664

#703 Update claim org ids to run FT in demo
  Jenkinsfile_nightly
  build.gradle
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/config.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/createClaimSpec.js
  e2e/run-features-flag-enabled-full-functional-tests.sh
  e2e/run-non-prod-features-flag-enabled-functional-tests.sh
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-703

#702 CIV-1976 Text Change
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-702

#685 CMC-2000 update statement of truth wording for defendant response
  ccd-definition/CaseEventToComplexTypes/DefendantResponse.json
  ccd-definition/CaseEventToComplexTypes/RespondToClaim.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-685

#716 Update load-demo-environment-variables.sh
  bin/variables/load-demo-environment-variables.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-716

#715 Data store has 5 replicas in preview and fix claim amount in lr tests
  charts/civil-ccd/values.preview.template.yaml
  e2e/fixtures/events/createClaimSpec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-715

#670 Feat: CIV-1674
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-670

#717 api-tests/CIV-1685 1v1 response journey. created branch with some fix…
  e2e/api/steps_LRspec.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEventsLRSpec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-717

#709 Case Taken Offline Schedular enhanced to cater for multiparty 1 v 2 (2 defendant solicitors)
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-709

#698 feat/CIV-221 enter breathing space journey
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec.json
  ccd-definition/AuthorisationCaseEvent/staffLRspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/staffLRspec.json
  ccd-definition/CaseEvent/User/UserEventsLRspec.json
  ccd-definition/CaseEventToComplexTypes/BreathingSpaceLRspec.json
  ccd-definition/CaseEventToFields/BreathingSpaceLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/BreathingSpaceInfoLRspec.json
  ccd-definition/FixedLists/BreathingSpaceTypeLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-698

#730 Feat/cmc 2042
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/ComplexTypes/CaseNote.json
  e2e/fixtures/ccd/expectedEvents.js
  e2e/tests/ui_tests/damages/rpaHandoff_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-730

#694 Feat/1470
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  e2e/pages/respondToClaimLRspec/vulnerabilityLRspec.page.js
  e2e/steps_file_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-694

#745 fix/NO-ISSUE
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-745
