Repository hmcts/civil-ccd-definition, pull requests merged in 2022-03, with the labels that each got.

#571 Feature/civ 1290
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/1_GAPaymentDetailsGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-571

#447 feat/CMC-1893: Respondent 2 Notifications for Defendant Response
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/staff.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-447

#595 feat/CIV-220 changes for the full defence spec template
  ccd-definition/ComplexTypes/DQ/1_UnavailableDate.json
  ccd-definition/ComplexTypes/DQ/RequestedCourtLocationLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-595

#593 Feats/755 760 929
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec.json
  ccd-definition/AuthorisationCaseEvent/staffLRspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEvent/Camunda/CaseEventsLRspec.json
  ccd-definition/CaseEvent/User/UserEventsLRspec.json
  ccd-definition/CaseEventToComplexTypes/CreateClaimLRspec.json
  ccd-definition/CaseEventToFields/CreateClaimLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-593

#557 Removed cve redundant suppressions
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-557

#584 CIV-1352
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-584

#542 Change solicitor email address
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/ChangeSolicitorEmail.json
  ccd-definition/CaseEventToFields/ChangeSolicitorEmail.json
  ccd-definition/CaseField/CaseField.json
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-542

#597 Feature/civ 1290 refactor
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-597

#592 Update demo with latest config for PO's to test
  Jenkinsfile_CNP
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-592

#598 Feat/civ 1308 - Add new roles for LRSpec journey - APPLICANTSOLICITORONESPEC & RESPONDENTSOLICITORONE
  Jenkinsfile_CNP
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/CaseEventToComplexTypes/CreateClaimLRspec.json
  ccd-definition/CaseRoles.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-598

#608 Feat/civ 1178
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/ComplexTypes/DQ/RequestedCourtLocationLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-608

#605 General apps integration
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEventsGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/1_GAPaymentDetailsGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ccd-definition/FixedLists/StatementOfTruthConsentGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-605

#610 added the automation tests for SDO pages 1, 2 annd 3
  codecept.conf.js
  e2e/pages/selectSDO/allocateClaimType.page.js
  e2e/pages/selectSDO/allocateSmallClaimsTrack.page.js
  e2e/pages/selectSDO/sdoOrderType.page.js
  e2e/pages/selectSDO/sumOfDamagesToBeDecided.page.js
  e2e/steps_file.js
  e2e/tests/sdo/sdo_journey_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-610

#619 Feat/civ 196 merge to master
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventDJ.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventDJspec.json
  ccd-definition/AuthorisationCaseEvent/staffDJ.json
  ccd-definition/AuthorisationCaseEvent/staffDJspec.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateDJ.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJspec.json
  ccd-definition/CaseEvent/Camunda/DocmosisEventsDJ.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEvent/User/UserEventsDJ.json
  ccd-definition/CaseEvent/User/UserEventsDJspec.json
  ccd-definition/CaseEventToComplexTypes/HearingRequirementsDJ.json
  ccd-definition/CaseEventToFields/DefaultJudgment.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJspec.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseField/CaseFieldDJ.json
  ccd-definition/CaseField/CaseFieldDJspec.json
  ccd-definition/CaseTypeTab/DefaultJudgmentDetails.json
  ccd-definition/CaseTypeTab/Documents.json
  ccd-definition/ComplexTypes/DJDates.json
  ccd-definition/ComplexTypes/HearingRequirementsDJ.json
  ccd-definition/FixedLists/CourtLocationsDJ.json
  ccd-definition/FixedLists/DJCerfitfy.json
  ccd-definition/FixedLists/DJHearingFixedList.json
  ccd-definition/FixedLists/DJPaymentTypeDJspec.json
  ccd-definition/FixedLists/DocumentType.json
  ccd-definition/FixedLists/HearingLengthEstimate.json
  ccd-definition/FixedLists/HearingSelection.json
  ccd-definition/FixedLists/RepaymentFrequencyDJ.json
Labels: data-changes

#625 Chore: fix demo pipeline
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-625

#614 Feat/civ 1363
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/CaseEventToComplexTypes/CreateClaimLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-614

#635 Chore: fix CVE 2022-26336
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-635

#638 Feature/civ 1427
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ccd-definition/FixedLists/GAHearingTypeGAspec.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-638
