Repository hmcts/civil-ccd-definition, pull requests merged in 2022-01, with the labels that each got.

#337 Fix/cmc1826 second defendant legal rep
  ccd-definition/CaseEventToFields/CreateClaim-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-337

#349 Feat/civ 211
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-349

#345 CIV-192 Admits Part Not Paid: Small claim screen Mediation, Use of experts & witnesses
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-345

#356 Chore: fix e2e test
  e2e/pages/informAgreedExtensionDate/date.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-356

#358 cmc 1874 - remove org whitelisting
  ccd-definition/CaseEventToFields/CreateClaim.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-358

#342 Feature/civ 72
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
  ccd-definition/ComplexTypes/StatementOfTruthGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-342

#340 Make preview environment available for testers
  Jenkinsfile_CNP
  bin/build-release-ccd-definition.sh
  bin/pull-latest-camunda-files.sh
  charts/civil-ccd/values.preview.template.yaml
  e2e/api/steps.js
  e2e/config.js
Labels: ns:civil, prd:civil, civil-citizen-ui, rel:civil-ccd-pr-340

#355 Update forth option in RespondentResponseType and LRspec
  ccd-definition/FixedLists/RespondentResponseTypeLRspec.json
  e2e/pages/respondToClaimLRspec/responseTypeLRspec.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-355

#353 feat/CIV-193 fixed, small claims hearing screen
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/ComplexTypes/DQ/1_SmallClaimUnavailableDateLRspec.json
  ccd-definition/ComplexTypes/DQ/SmallClaimHearingLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-353

#359 Cmc 1370 master plus
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/AddDefendantLitigationFriend.json
  ccd-definition/CaseEventToFields/AddDefendantLitigationFriend.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseTypeTab/ClaimDetails.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-359

#374 CIV-659 On about-to-submit for General Application Initiation
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseEvent/User/UserEventsGAspec.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
  ccd-definition/ComplexTypes/GAStatementOfTruthGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ccd-definition/FixedLists/GAHearingDurationGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-374

#378 CIV-877 CCD changes for CIV-660
  bin/utils/process-definition.sh
  bin/variables/load-aat-environment-variables.sh
  bin/variables/load-demo-environment-variables.sh
  bin/variables/load-preview-environment-variables.sh
  bin/variables/load-prod-environment-variables.sh
  bin/variables/load-staging-environment-variables.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEventsGAspec.json
  ccd-definition/CaseEvent/User/UserEventsGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-378

#346 feat/CIV-208 changed howMuchWasPaid to MoneyGBP
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/RespondToClaimDefenceLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-346

#385 show respondent2 details in claim details tab
  ccd-definition/CaseTypeTab/ClaimDetails.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-385

#389 CMC-1520: Remove-V_1_about-to-start-acknowledge-claim
  ccd-definition/CaseEvent/User/UserEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-389

#384 CIV-708-720-723-726 Fix typos and the extra type of application.
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/ComplexTypes/GARespondentAgreementGAspec.json
  ccd-definition/ComplexTypes/GAUrgencyRecordGAspec.json
  ccd-definition/ComplexTypes/GAWithOrWithoutNotice.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
  e2e/fragments/event.js
  e2e/pages/caseView.page.js
  e2e/pages/generalApplication/applicationType.page.js
  e2e/steps_file.js
  e2e/tests/gaSpec/generalApplication_test.js
  e2e/tests/lrspec/solicitorCreatesClaim-LRspec_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-384

#292 Feat/cmc 1520 multiparty acknowledgement notification
  Jenkinsfile_CNP
  build.gradle
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/AcknowledgeClaim.json
  ccd-definition/CaseEventToFields/AcknowledgeClaim-nonprod.json
  ccd-definition/CaseEventToFields/AcknowledgeClaim.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseTypeTab/ClaimDetails.json
  ccd-definition/FixedLists/ResponseIntentionClaimant2.json
  e2e/api/steps.js
  e2e/fixtures/events/acknowledgeClaim.js
  e2e/steps_file.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-292

#401 Chore: Amend Defendant Response api test so as to work with multiparty
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-401

#405 Move V1 callback to point to V0
  ccd-definition/CaseEvent/User/UserEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-405

#391 CMC-1855: retain extension date
  ccd-definition/CaseEventToFields/InformAgreedExtensionDate.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-391

#415 Feat/mini master
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/CaseEvent/User/UserEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-prod.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse-prod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse.json
  ccd-definition/CaseEventToComplexTypes/RespondToClaim.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponse-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponse-prod.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseEventToFields/InformAgreedExtensionDate.json
  ccd-definition/CaseField/CaseField-nonprod.json
  ccd-definition/CaseField/CaseField-prod.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseTypeTab/ClaimDetails.json
  ccd-definition/CaseTypeTab/Hearings.json
  ccd-definition/ComplexTypes/ResponseDocument.json
  ccd-definition/FixedLists/MultiPartyResponseTypeFlags.json
  ccd-definition/FixedLists/RespondentResponseType.json
  e2e/fragments/respondentDetails.page.js
  e2e/pages/respondToClaim/responseType.page.js
  e2e/steps_file.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-415

#416 Feat/cmc 1899
  ccd-definition/CaseEventToFields/DefendantResponse-nonprod.json
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-416

#426 Feat/civ 329 full admission, from admission to residence type
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/staffLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-426

#397 CIV-663 Point endpoint to civil service
  ccd-definition/CaseEvent/Camunda/BusinessProcessEventsGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-397

#429 point prod to V0 callback
  ccd-definition/CaseEvent/User/UserEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-prod.json
  ccd-definition/CaseEvent/User/UserEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-429

#432 Fix/cmc 1908
  ccd-definition/CaseEventToComplexTypes/AddDefendantLitigationFriend.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-432

#431 fix/1915: remove duplicate respondentDetails in defendant response journey
  ccd-definition/CaseEventToFields/DefendantResponse-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-431

#420 fix/1901 show def 2 details in claim details tab
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  ccd-definition/CaseField/CaseField-nonprod.json
  ccd-definition/CaseTypeTab/ClaimDetails-nonprod.json
  ccd-definition/CaseTypeTab/ClaimDetails-prod.json
  ccd-definition/CaseTypeTab/ClaimDetails.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-420

#436 Feat/same sol confirm details
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEventToFields/DefendantResponse-nonprod.json
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-436

#430 upgrade mocha to alleviate nanoid vulnerability
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-430

#439 chore: upgrade node-fetch due to security vulnerability
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-439

#451 CIV-728 Fix the logic of label display and also create another label …
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/ComplexTypes/GAPBADetailsGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-451

#449 fix: show correct defendant reference in Respond to claim journey
  ccd-definition/CaseEventToFields/DefendantResponse-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-449

#422 DO NOT MERGE: Shuttering for Multiparty release
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType.json
  codecept.conf.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-422

#440 DO NOT MERGE: include nonprod items in base file and remove prod items for MP release
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEvent/User/UserEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-prod.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse-prod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse.json
  ccd-definition/CaseEventToFields/AcknowledgeClaim-nonprod.json
  ccd-definition/CaseEventToFields/AcknowledgeClaim.json
  ccd-definition/CaseEventToFields/CreateClaim-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseEventToFields/DefendantResponse-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponse-prod.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseField/CaseField-nonprod.json
  ccd-definition/CaseField/CaseField-prod.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseTypeTab/ClaimDetails-nonprod.json
  ccd-definition/CaseTypeTab/ClaimDetails-prod.json
  ccd-definition/CaseTypeTab/ClaimDetails.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-440

#452 feat: unshuttering following multiparty release
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-452

#444 Chore: add multiparty tests for all pipelines
  build.gradle
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-444
