Repository hmcts/civil-ccd-definition, pull requests merged in 2022-11, with the labels that each got.

#1566 Civ 3295 spec language uplift
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-nonprod.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/DQ/Language-HNL-nonprod.json
  ccd-definition/ComplexTypes/DQ/Language-base-nonprod.json
  ccd-definition/ComplexTypes/DQ/Language-prod.json
  e2e/fragments/dq/language.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1566

#1448 Uplifted spec small claims/fast track defendant response experts screens
  bin/build-release-ccd-definition.sh
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-Experts-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-Experts-base-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-Experts-prod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToComplexTypes/ExpertDetailsLRspec-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ExpertDetailsLRspec-base-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ExpertDetailsLRspec-prod.json
  ccd-definition/CaseEventToComplexTypes/ExpertDetailsLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec-HNL-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-base-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-prod.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/DQ/1_Expert-HNL-nonprod.json
  ccd-definition/ComplexTypes/DQ/Experts.json
  ccd-definition/ComplexTypes/ExpertDetailsLRspec-HNL-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1448

#1508 CIV-5327 Exclude R2 Enhancement Screen
  bin/build-release-ccd-definition.sh
  ccd-definition/CaseEventToFields/InitiateApplication-GAR2GAspec-nonprod.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/FixedLists/GeneralApplicationTypes-GAR2GAspec-nonprod.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1508

#1617 Upgrade helm charts and gradlew through renovate
  .github/renovate.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1617

#1614 CIV-3601 add variables for new send letter service and points to cui
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1614

#1610 Use high level data setup in preview instead of manual upload
  Jenkinsfile_CNP
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1610

#1625 Move ccd definition creation ahead
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1625

#1601 Civ 2852 sdo and GA test
  bin/variables/load-preview-environment-variables.sh
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
  e2e/api/steps.js
  e2e/config.js
  e2e/fixtures/events/createGeneralApplication.js
  e2e/pages/selectSDO/unspecClaimsSDOOrderDetails.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1601

#1575 Publishing ClaimValue and total amount for Work Allocation
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldRTJ-SDO-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponse-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponse-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToFields/ReferToJudge-SDO-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-SDO-nonprod.json
  ccd-definition/CaseField/CaseFieldRTJ-SDO-nonprod.json
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/ccd/events.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1575

#1598 Feat/civ 5605
  ccd-definition/CaseField/CaseField-SDO-HNL-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-nonprod.json
  ccd-definition/FixedLists/DocumentTypeGASpec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1598

#1630 CIV-4851: remove CVE-2022-22950
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1630

#1652 Fixes SDO document_url key not specified
  ccd-definition/ComplexTypes/SdoOrderDocument-SDO-nonprod.json
Labels: data-changes

#1654 Disable docker steps as not needed.
  Dockerfile
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1654

#1668 Harmonize LaunchDarkly with civil-service
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1668

#1613 Ga enhancement
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplication-GAR2GAspec-nonprod.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GAHearingDateGAspec.json
  ccd-definition/ComplexTypes/GAN245FormUploadGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ccd-definition/FixedLists/GAHearingScheduleGAspec.json
  ccd-definition/FixedLists/GeneralApplicationTypes-GAR2GAspec-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1613

#1647 Move civil service as helm dependency
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
  charts/civil-ccd/values.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1647

#1396 CIV-4063 Updating DJ Trial screen
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefaultJudgmentDJ-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ-SDO-HNL-nonprod.json
  ccd-definition/CaseField/CaseFieldDJ-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialHearingNotes-DJ-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialHearingTime-DJ-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialOrderMadeWithoutHearingDJ-SDO-HNL-nonprod.json
  ccd-definition/FixedLists/TrialHearingTimeEstimate-DJ-SDO-HNL.json
Labels: ns:civil, prd:civil, stale, Testing, enableHelm, rel:civil-ccd-pr-1396

#1667 CIV-5855: Fix for CVE-2020-7676
  e2e/reporters/accessibility-reporter/resources/angular.min.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1667

#1658 CIV-5657 : Case details should show case name and location for WA access
  ccd-definition/CaseTypeTab/DefaultJudgmentDetailsDJ.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1658

#1426 Feat/civ 3213 new
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-HNL-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/SDOHearingNotes-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/SmallClaimsHearing-SDO-HNL-nonprod.json
  ccd-definition/FixedLists/SmallClaimsMethod-SDO-HNL-nonprod.json
  ccd-definition/FixedLists/SmallClaimsTimeEstimate-SDO-HNL-nonprod.json
Labels: data-changes, ns:civil, prd:civil, stale, Testing, enableHelm, rel:civil-ccd-pr-1426

#1593 CIV-5566 Show GA judge make an order docs and download the doc
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1593

#1675 CIV-4840: Fix cve-2020-15250
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1675

#1655 Feat/civ 3322
  ccd-definition/AuthorisationCaseEvent/systemUpdateDJSpec.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsDJSpec.json
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1655

#1674 Clean up charts by removing duplications
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
  charts/civil-ccd/values.template.yaml
  charts/civil-ccd/values.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1674

#1676 Fix set status error in a few cases
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1676

#1679 Tolerate data setup failure
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1679

#1650 CIV-4085 Uplifting DJ Hearing Information Screen
  ccd-definition/CaseEventToComplexTypes/HearingRequirementsDJ-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/HearingRequirementsDJ-base-nonprod.json
  ccd-definition/CaseEventToComplexTypes/HearingRequirementsDJ.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ-base-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ.json
  ccd-definition/ComplexTypes/HearingRequirementsDJ-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/HearingRequirementsDJ-base-nonprod.json
  ccd-definition/ComplexTypes/HearingRequirementsDJ.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1650

#1692 Two Judgement tabs appearing for Spec + DJ claim
  ccd-definition/CaseTypeTab/DefaultJudgmentDetailsDJ.json
  ccd-definition/CaseTypeTab/DocumentsDJ.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1692

#1486 CIV-4182 Uplifting Hearing Availability DQ screen SPEC
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-base-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-prod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-HNL-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-base-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/DQ/1_SmallClaimUnavailableDateLRspec-HNL-nonprod.json
  ccd-definition/ComplexTypes/DQ/1_SmallClaimUnavailableDateLRspec-base-nonprod.json
  ccd-definition/ComplexTypes/DQ/1_SmallClaimUnavailableDateLRspec-prod.json
  ccd-definition/ComplexTypes/DQ/1_SmallClaimUnavailableDateLRspec.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-1486

#1684 Adding retries in smoke test
  e2e/tests/ui_tests/damages/smoke_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1684

#1495 CIV-2738 - dismissing case after hearing fee unpaid
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseField/HearingNotice-nonprod.json
  ccd-definition/AuthorisationCaseState/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsHearing-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
  ccd-definition/CaseField/CaseFieldHearingNotice-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1495

#1663 fix/CIV-5850 fix appearance of sdo document link
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-nonprod.json
Labels: ns:civil, prd:civil, Testing, enableHelm, rel:civil-ccd-pr-1663

#1695 Enable DJ direction order check on unspec DJ and add retries
  e2e/config.js
  e2e/pages/defaultJudgment/requestDefaultJudgmentforUnspecifiedClaims.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  e2e/tests/ui_tests/default_judgement/1v1specDJ_test.js
  e2e/tests/ui_tests/default_judgement/1v2UnspecDJ_test.js
  e2e/tests/ui_tests/default_judgement/1v2specDJ_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1695

#1492 Feat/civ 2669 notification of hearing
  bin/add-roles.sh
  ccd-definition/AuthorisationCaseEvent/systemUpdateCaseProg-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsHearing-nonprod.json
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-1492

#1641 Feat/civ 5223 service request tab
  bin/add-roles.sh
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  ccd-definition/AuthorisationCaseField/HearingNotice-nonprod.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-nonprod.json
  ccd-definition/CaseField/CaseField-nonprod.json
  ccd-definition/CaseField/CaseFieldHearingNotice-nonprod.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-nonprod.json
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1641

#1653 Feat/civ 5652 add the dj sdo order to the claim documents tab
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ-SDO-HNL-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ-SDO-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ-SDO-nonprod.json
  ccd-definition/CaseField/CaseFieldDJ-SDO-HNL-nonprod.json
  ccd-definition/CaseField/CaseFieldDJ-SDO-nonprod.json
  ccd-definition/CaseTypeTab/DocumentsSDODJ.json
  ccd-definition/FixedLists/DocumentType.json
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-1653

#1690 Civ 2356 cos notify claim screen
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-COS-nonprod.json
  ccd-definition/AuthorisationCaseField/staff-COS-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdate-COS-nonprod.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaim-COS-nonprod.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaim-COS-nonprod.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaim-nonprod.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaim-prod.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaim.json
  ccd-definition/CaseField/CaseField-COS-nonprod.json
  ccd-definition/ComplexTypes/NotifyClaim-COS-nonprod.json
  ccd-definition/FixedLists/NotifyClaimStatement-COS-nonprod.json
  ccd-definition/FixedLists/ServeLocationOwnerType-COS-nonprod.json
  ccd-definition/FixedLists/ServeLocationType-COS-nonprod.json
  ccd-definition/FixedLists/ServeType-COS-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1690

#1741 Feat/civ 5977
  ccd-definition/AuthorisationCaseField/EvidenceUpload-nonprod.json
  ccd-definition/CaseEventToFields/EvidenceUpload-nonprod.json
  ccd-definition/CaseField/EvidenceUpload-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceDisclosure1-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceDisclosure2-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceExpert1-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceExpert2-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceExpert3-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceExpert4-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceTrial1-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceTrial2-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceTrial3-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceTrial4-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceWitness1-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceWitness2-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceWitness3-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceWitness4-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1741

#1723 WIP: Feat/civ 3523 shuttered
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType.json
  ccd-definition/AuthorisationCaseType/approver.json
  ccd-definition/AuthorisationCaseType/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseType/staff.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1723

#1756 remove camunda process for notification
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateCaseProg-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsEvidenceUpload-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1756

#1724 DO NOT MERGE: civ-3523 reenable tests
  charts/civil-ccd/values.preview.template.yaml
  codecept.conf.js
  e2e/pages/defaultJudgment/requestDefaultJudgmentforUnspecifiedClaims.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1724

#1774 release: Access Profiles (unshuttered + reenable tests)
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType.json
  ccd-definition/AuthorisationCaseType/approver.json
  ccd-definition/AuthorisationCaseType/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseType/staff.json
  codecept.conf.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1774

#1727 CIV-5443 Remove N245 file validation and refactor GA type
  ccd-definition/CaseEventToFields/InitiateApplication-GAR2GAspec-nonprod.json
  ccd-definition/FixedLists/GeneralApplicationTypes-GAR2GAspec-nonprod.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1727

#1743 Civ 4135
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-COS-nonprod.json
  ccd-definition/AuthorisationCaseField/staff-COS-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdate-COS-nonprod.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails-COS-nonprod.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaimDetails-COS-nonprod.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaimDetails-prod.json
  ccd-definition/CaseField/CaseField-COS-nonprod.json
  ccd-definition/CaseTypeTab/CertificateofService-COS-nonprod.json
  ccd-definition/ComplexTypes/NotifyClaimDetails-COS-nonprod.json
  ccd-definition/FixedLists/NotifyClaimStatement-COS-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1743

#1732 feat/CIV-6100 including sdo hnl as sdo is
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-HNL-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-HNL-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1732
