Repository hmcts/civil-ccd-definition, pull requests merged in 2023-08, with the labels that each got.

#3028 Revert "CIV-8909 Add case notes and Modify Party details to Judicial Referral and Case Progression"
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/CaseEvent/User/UserEvents-AHN-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-prod.json
  ccd-definition/CaseEvent/User/UserEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3028

#3032 CIV-0000 Business process doesnt need to updated in json
  e2e/fixtures/events/defaultJudgment1v2Spec.js
  e2e/fixtures/events/defaultJudgment2v1Spec.js
  e2e/fixtures/events/defaultJudgmentSpec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3032

#3034 CIV-0000 upgrade java version
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3034

#2965 CIV-9692 Updated fixed recoverable cost regime page on unspec defendant dq page for fast track
  ccd-definition/CaseEventToComplexTypes/DefendantResponse-FastTrackInt-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponse-FastTrackInt-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseTypeTab/ClaimDetails-FastTrackInt-nonprod.json
  ccd-definition/CaseTypeTab/ClaimDetails-FastTrackInt-prod.json
  ccd-definition/CaseTypeTab/ClaimDetails.json
  e2e/api/steps.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor1.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor2.js
  e2e/fixtures/events/1v2SameSolicitorEvents/defendantResponse_sameSolicitor.js
  e2e/fixtures/events/2v1Events/defendantResponse_2v1.js
  e2e/fixtures/events/defendantResponse.js
  e2e/helpers/fastTrackUpliftsHelper.js
  e2e/steps_file.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2965

#2964 CIV-9641 Fixed Recoverable Costs Defendant Spec
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-FastTrackInt-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-FastTrackInt-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-FastTrackInt-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/FixedLists/ComplexityBand-FastTrackInt-nonprod.json
  e2e/api/steps_LRspecFast.js
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2Fast.js
  e2e/fixtures/events/defendantResponseSpec2v1Fast.js
  e2e/fragments/dq/fixedRecoverableCosts.page.js
  e2e/steps_file_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2964

#3012 CIV-9329 introducing bulk claim api test for orchstrator pipeline
  codecept.conf.js
  e2e/config.js
  e2e/tests/api_tests/bulkclaim/api_1v1_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3012

#3051 CIV-0000 Fix nightly civil service
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecCui.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3051

#3001 CIV-9198 - Expanded hearing duration access to LiP users
  ccd-definition/AuthorisationCaseField/HearingNotice-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3001

#2958 CIV-5339 Update Access Profile
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-R2-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-unshuttered.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-CUI-nonprod.json
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2958

#3049 CIV-0000 TEST PR
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.enableWA.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3049

#3055 CIV-0000 Add citizen profile
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3055

#3029 CIV-8909 Add case notes and Modify Party details to Judicial Referral and Case Progression
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/CaseEvent/User/UserEvents-AHN-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-prod.json
  ccd-definition/CaseEvent/User/UserEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3029

#3022 CIV-9253 create claim request
  ccd-definition/AuthorisationCaseEvent/systemUpdateCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEvent/Camunda/PaymentEvents.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/Party.json
  e2e/api/apiRequest.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3022

#2949 CIV-8611 CIV-3662 and CIV-8610 CIV-3254
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/staffLRspec.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/CaseTypeTab/Hearings-nonprod.json
  ccd-definition/CaseTypeTab/Hearings-prod.json
  ccd-definition/ComplexTypes/DQ/RemoteHearingLRspec.json
  ccd-definition/ComplexTypes/DQ/RequestedCourtLocationLRspec.json
  e2e/fixtures/events/claimantResponseSpec.js
  e2e/fixtures/events/claimantResponseSpec1v2.js
  e2e/fixtures/events/claimantResponseSpec1v2Fast.js
  e2e/fixtures/events/claimantResponseSpec2v1.js
  e2e/fixtures/events/claimantResponseSpec2v1Fast.js
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
  e2e/fixtures/events/defendantResponseSpec1v2Fast.js
  e2e/fixtures/events/defendantResponseSpec2v1.js
  e2e/fixtures/events/defendantResponseSpec2v1Fast.js
  e2e/fixtures/events/defendantResponseSpecCui.js
  e2e/pages/respondToClaimLRspec/chooseCourtLRspec.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2949

#3070 CIV-8610 fix functional test
  e2e/fixtures/events/claimantResponseSpec.js
  e2e/fixtures/events/claimantResponseSpec1v2.js
  e2e/fixtures/events/claimantResponseSpec1v2Fast.js
  e2e/fixtures/events/claimantResponseSpec2v1.js
  e2e/fixtures/events/claimantResponseSpec2v1Fast.js
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
  e2e/fixtures/events/defendantResponseSpec1v2Fast.js
  e2e/fixtures/events/defendantResponseSpec2v1.js
  e2e/fixtures/events/defendantResponseSpec2v1Fast.js
  e2e/fixtures/events/defendantResponseSpecCui.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3070

#3084 CIV-0000 Update unspecClaimsSDOOrderDetails.page.js
  e2e/pages/selectSDO/unspecClaimsSDOOrderDetails.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3084

#3038 CIV-9941 add defendant field
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/staffSpec-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-3038

#3056 CIV-8432 Evidence Upload Options
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseField/EvidenceUpload-nonprod.json
  ccd-definition/CaseEventToFields/EvidenceUpload-nonprod.json
  ccd-definition/CaseField/CaseFieldCaseProg-nonprod.json
  ccd-definition/CaseField/EvidenceUpload-nonprod.json
  ccd-definition/Categories/Categories-nonprod.json
  charts/civil-ccd/values.template.yaml
  e2e/api/steps.js
  e2e/fixtures/events/evidenceUploadApplicant.js
  e2e/fixtures/events/evidenceUploadRespondent.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3056

#3090 CIV-8432 fix app resp payload
  e2e/fixtures/events/evidenceUploadApplicant.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3090

#3093 CIV-8432 Removed pr-image of civil-service
  charts/civil-ccd/values.template.yaml
  e2e/pages/caseView.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3093

#3067 CIV-8918 Claim Submission - Assign Claim
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3067

#3086 CIV-9924 commenting Body and header change for test
  charts/civil-ccd/values.preview.template.yaml
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3086

#3111 CIV-9924 reverting pointing to PR
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3111

#3052 CIV-9967 RPA Message Fix
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3052

#3112 CIV-00000 Changing naming pattern for prs
  .github/workflows/main.yml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3112

#3025 CIV-9398 Adding unavailable dates event
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-UnavailableDates-nonprod.json
  ccd-definition/AuthorisationCaseEvent/staff-UnavailableDates-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-UnavailableDates-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AddUnavailableDates-UnavailableDates-nonprod.json
  ccd-definition/CaseEventToFields/AddUnavailableDates-UnavailableDates-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3025

#3118 CIV-0000 publish relisting event
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3118

#3009 CIV-9645 Fast track sdo uplifts
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-FastTrackInt-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-FastTrackInt-prod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO.json
  ccd-definition/ComplexTypes/FastTrackAllocation-SDO-FastTrackInt-nonprod.json
  ccd-definition/ComplexTypes/FastTrackAllocation-SDO-FastTrackInt-prod.json
  ccd-definition/FixedLists/ComplexityBand-FastTrackInt-nonprod.json
  ccd-definition/FixedLists/ComplexityBand-SDO-FastTrackInt-nonprod.json
  e2e/api/steps.js
  e2e/fixtures/events/createSDO.js
  e2e/helpers/fastTrackUpliftsHelper.js
  e2e/pages/selectSDO/unspecClaimsSDOOrderDetails.page.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3009

#3103 CIV-9432 update authorisation respondent2OrganisationPolicy
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3103

#3115 CIV-8133 Updated file structure
  ccd-definition/Categories/Categories-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3115

#2903 CIV-9230 inform agreed extension read only
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToFields/InformAgreedExtensionDate.json
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecCui.js
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/informAgreeExtensionDate_Solicitor2.js
  e2e/fixtures/events/extendResponseDeadline.js
  e2e/fixtures/events/informAgreeExtensionDate.js
  e2e/fixtures/events/informAgreeExtensionDateSpec.js
  e2e/steps_file.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2903

#3131 CIV-9230 ticket was only for Damages, not LR
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecCui.js
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/events/informAgreeExtensionDateSpec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3131

#3033 CIV-9199 Add warning to add lit friend event
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEventToFields/AddDefendantLitigationFriend.json
  ccd-definition/CaseField/CaseField.json
  e2e/pages/addDefendantLitigationFriend/defendantLitigationDetails.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3033

#3088 CIV-9758 order made
  ccd-definition/CaseEventToComplexTypes/DateHeardFinalOrders-nonprod.json
  ccd-definition/CaseEventToFields/FinalOrders-nonprod.json
  ccd-definition/CaseField/CaseFieldFinalOrders-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/AssistedOrderOrderMade/MakeOrderBespokeRange-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/AssistedOrderOrderMade/MakeOrderDateRange-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/AssistedOrderOrderMade/MakeOrderSingleDate-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/AssistedOrderOrderMade/OrderMadeDateDropdown-nonprod.json
  ccd-definition/FixedLists/CaseProgression/FinalOrderMadeRadioList-nonprod.json
  e2e/fixtures/events/finalOrder.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3088

#3027 CIV-9399 Extend unavailable dates object
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-UnavailableDates-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponse-UnavailableDates-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse-UnavailableDates-nonprod.json
  ccd-definition/CaseField/CaseField-UnavailableDates-nonprod.json
  ccd-definition/CaseTypeTab/Hearings-UnavailableDates-nonprod.json
  ccd-definition/CaseTypeTab/Hearings-nonprod.json
  ccd-definition/ComplexTypes/DQ/1_UnavailableDate-UnavailableDates-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-3027

#3043 CIV-9356 Mandatory
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3043

#3149 CIV-0000 reenable disabled tests for final order
  e2e/tests/api_tests/lrspec/api_spec_bulk_test.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3149

#3135 CIV-10045 Claim missing on the Dashboard
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-CUI-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3135

#3099 CIV-9701 Add unavailable dates event with logic
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-UnavailableDates-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-UnavailableDates-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AddUnavailableDates-UnavailableDates-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponse-UnavailableDates-nonprod.json
  ccd-definition/CaseEventToFields/AddUnavailableDates-UnavailableDates-nonprod.json
  ccd-definition/CaseField/CaseField-UnavailableDates-nonprod.json
  ccd-definition/CaseTypeTab/Hearings-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3099

#3153 CIV-9399 Api Test Fix
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3153

#3036 CIV-9395 Add Update Contact Information Event
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-MCI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/staff-MCI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-MCI-nonprod.json
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/nonProdExpectedEvents.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3036

#3101 CIV-9958 View Order in Notice and Orders tab
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-R2-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3101
