Repository hmcts/civil-ccd-definition, pull requests merged in 2023-06, with the labels that each got.

#2678 CIV-6787 new event for email notification and updates to permissions
  ccd-definition/AuthorisationCaseEvent/systemUpdateCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseField/HearingNotice-nonprod.json
  ccd-definition/AuthorisationCaseState/approver.json
  ccd-definition/AuthorisationCaseState/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseState/staff.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsHearing-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2678

#2749 CIV-8578 Fix WA specific access nightly tests
  e2e/steps_file_WA.js
  e2e/tests/api_tests/lrspec/api_1v1_spec_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_fast_test.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2749

#2775 CIV-0000 Shorter term Skip noc menu link check as the menu bar is not showing up
  e2e/pages/informAgreedExtensionDate/date.page.js
  e2e/pages/noticeOfChange.page.js
  e2e/tests/ui_tests/noticeofchange/1v2_lips_to_same_sols_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2775

#2529 CIV-7975 cleaned up court location toggle code [3/3]
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-prod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec.json
  ccd-definition/CaseEventToFields/CreateClaim.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2529

#2783 CIV-0000 Unskip noc test
  e2e/pages/noticeOfChange.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2783

#2785 CIV-9101 DQ questions displaying in all Admit All defendant response journeys Spec claims
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-hnl-legal-rep.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/FixedLists/ShowConditionFlagSpec-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2785

#2714 CIV-7361 mediation unsuccessful notifications
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsCUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2714

#2793 CIV-7789 - RPA Mediation
  ccd-definition/CaseEvent/Camunda/NotificationEventsCUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2793

#2777 CIV-8932 Hide party IDs in UI
  ccd-definition/ComplexTypes/LitigationFriend-HMC-nonprod.json
  ccd-definition/ComplexTypes/Party-HMC-nonprod.json
  ccd-definition/ComplexTypes/PartyFlagStructure-HMC-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2777

#2754 CIV-8467 Placeholder
  ccd-definition/ComplexTypes/NotifyClaim-COS-nonprod.json
  ccd-definition/ComplexTypes/NotifyClaimDetails-COS-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2754

#2752 CIV-8310 Draft application for scenario with and Without Notice
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/CaseTypeTab/DocumentsGASpec.json
  ccd-definition/FixedLists/DocumentTypeGASpec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2752

#2818 CIV-0000 Mitigate ValidateClaimFee failure with pba account PBAFUNC12345 (provided by payments for api calls)
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/createClaimSpec.js
  e2e/fixtures/events/createClaimSpecFast.js
  e2e/fixtures/events/createClaimSpecSmall.js
  e2e/fixtures/events/resubmitClaim.js
  e2e/run-functional-tests.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2818

#2821 CIV-0000 Fix for judge passwords
  e2e/config.js
  e2e/steps_file.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2821

#2824 CIV-0000 update default password to judge
  e2e/config.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2824

#2826 CIV-000 Fix for caseflags test
  e2e/api/steps.js
  e2e/api/steps_LRspecSmall.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2826

#2823 CIV-9232 - Bug Fix
  ccd-definition/CaseEventToFields/MeditionUnsuccessful-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2823

#2704 CIV-8281 hearing times to be auto populated with default dates
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO.json
  ccd-definition/CaseEventToComplexTypes/DefaultJudgmentSDO-DJ.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialHearingTime-DJ-SDO.json
  ccd-definition/ComplexTypes/DisposalHearingDisclosureOfDocuments-SDO.json
  ccd-definition/ComplexTypes/DisposalHearingMedicalEvidence-SDO.json
  ccd-definition/ComplexTypes/DisposalHearingQuestionsToExperts-SDO.json
  ccd-definition/ComplexTypes/DisposalHearingWitnessOfFact-SDO.json
  ccd-definition/ComplexTypes/FastTrackHearingTime-SDO.json
  ccd-definition/FixedLists/DateToShowToggle-SDO.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2704

#2799 CIV-8601 expose respondent OrganisationID Copy to ga
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2799

#2834 CIV-000 Disable case flags test
  e2e/api/testingSupport.js
  e2e/tests/api_tests/hearings/api_1v1_spec_small_hearings_test.js
  e2e/tests/api_tests/hearings/api_1v2DS_unspec_fast_hearings_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2834

#2827 CIV-8884 - CUI: create and link access roles
  bin/add-roles.sh
  ccd-definition/CaseRoles.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-CUI-nonprod.json
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2827

#2776 CIV-8430 Rename Adjourn or vacate a hearing
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2776

#2761 CIV-8071 A toggle added to make number of witnesses optional
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO.json
  ccd-definition/ComplexTypes/SmallClaimsWitnessStatement-SDO.json
  e2e/pages/selectSDO/unspecClaimsSDOOrderDetails.page.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2761

#2815 CIV-000 fix bundle created permission
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2815

#2822 CIV-000 fix bundle api test
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2822

#2813 CIV-8369 Update form link
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2813

#2708 CIV-5365 polling changes
  ccd-definition/ComplexTypes/BusinessProcess.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2708

#2839 CIV-7433 Fix case flags test
  e2e/api/caseFlagsHelper.js
  e2e/api/steps_LRspecSmall.js
  e2e/api/steps_hearings.js
  e2e/api/testingSupport.js
  e2e/config.js
  e2e/tests/api_tests/damages/api_1v2_same_solicitor_test.js
  e2e/tests/api_tests/damages/api_2v1_test.js
  e2e/tests/api_tests/hearings/api_1v1_spec_small_hearings_test.js
  e2e/tests/api_tests/hearings/api_1v2DS_unspec_fast_hearings_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_fast_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2839

#2819 CIV-9225 refactor case file view categories to enable correct ordering
  ccd-definition/CaseField/EvidenceUpload-nonprod.json
  ccd-definition/Categories/Categories-nonprod.json
  ccd-definition/Categories/CategoriesDisclosure-nonprod.json
  ccd-definition/Categories/CategoriesExpert-nonprod.json
  ccd-definition/Categories/CategoriesTrial-nonprod.json
  ccd-definition/Categories/CategoriesWitness-nonprod.json
  ccd-definition/Categories/Orders-nonprod.json
  ccd-definition/Categories/StatementsOfcase-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2819

#2304 CIV-6279 Ref data for Hearing method [2/2]
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldSDO-DJ.json
  ccd-definition/AuthorisationCaseField/systemUpdate-SDO-DJ.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-prod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO.json
  ccd-definition/CaseEventToFields/DefaultJudgmentSDO-DJ.json
  ccd-definition/CaseField/CaseField-SDO.json
  ccd-definition/CaseField/CaseFieldSDO-DJ.json
  charts/civil-ccd/values.template.yaml
  e2e/api/steps.js
  e2e/pages/defaultJudgment/requestDefaultJudgmentforUnspecifiedClaims.js
  e2e/pages/selectSDO/unspecClaimsSDOOrderDetails.page.js
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2304

#2870 CIV-6279 - Revert "CIV-6279 Ref data for Hearing method [2/2]"
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldSDO-DJ.json
  ccd-definition/AuthorisationCaseField/systemUpdate-SDO-DJ.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-prod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO.json
  ccd-definition/CaseEventToFields/DefaultJudgmentSDO-DJ.json
  ccd-definition/CaseField/CaseField-SDO.json
  ccd-definition/CaseField/CaseFieldSDO-DJ.json
  charts/civil-ccd/values.template.yaml
  e2e/api/steps.js
  e2e/pages/defaultJudgment/requestDefaultJudgmentforUnspecifiedClaims.js
  e2e/pages/selectSDO/unspecClaimsSDOOrderDetails.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2870

#2871 CIV-6279 - Ref data for Hearing method [2/2] again
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldSDO-DJ.json
  ccd-definition/AuthorisationCaseField/systemUpdate-SDO-DJ.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-prod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO.json
  ccd-definition/CaseEventToFields/DefaultJudgmentSDO-DJ.json
  ccd-definition/CaseField/CaseField-SDO.json
  ccd-definition/CaseField/CaseFieldSDO-DJ.json
  e2e/api/steps.js
  e2e/pages/defaultJudgment/requestDefaultJudgmentforUnspecifiedClaims.js
  e2e/pages/selectSDO/unspecClaimsSDOOrderDetails.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2871

#2875 CIV-0000 Hmc test demo branch
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvents-AHN-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-AHN-nonprod.json
  ccd-definition/CaseEvent/Camunda/AutomatedHearingNoticeEvents-AHN-nonprod.json
  ccd-definition/CaseEvent/HMC/HearingEvents-AHN-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2875

#2878 CIV-6279 fixed versioning
  ccd-definition/CaseEvent/User/UserEvents-SDO-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-prod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2878

#2756 CIV-7338 Hearings tab for Judges
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2756

#2865 CIV-6380 RPA for ITP Additional Build
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsCUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2865

#2885 CIV-0000 Skip hearings api
  e2e/tests/api_tests/hearings/api_1v1_spec_small_hearings_test.js
  e2e/tests/api_tests/hearings/api_1v2DS_unspec_fast_hearings_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2885

#2882 CIV-6261 Hearing channels default
  e2e/api/steps_hearings.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2882
