Repository hmcts/civil-ccd-definition, pull requests merged in 2023-10, with the labels that each got.

#3299 CIV-10834 Fast track int shutter config
  bin/build-release-ccd-definition.sh
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3299

#3297 CIV-10834 Fast track int release
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-FastTrackInt-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff-FastTrackInt-nonprod.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponse-FastTrackInt-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponse.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-FastTrackInt-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-FastTrackInt-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-FastTrackInt-prod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse-FastTrackInt-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-FastTrackInt-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToFields/ClaimantResponse-FastTrackInt-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponse-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-FastTrackInt-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponse-FastTrackInt-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-FastTrackInt-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseField-FastTrackInt-nonprod.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseTypeTab/ClaimDetails-FastTrackInt-nonprod.json
  ccd-definition/CaseTypeTab/ClaimDetails.json
  ccd-definition/ComplexTypes/DQ/FixedRecoverableCosts.json
  ccd-definition/ComplexTypes/FastTrackAllocation-SDO-FastTrackInt-prod.json
  ccd-definition/ComplexTypes/FastTrackAllocation-SDO.json
  ccd-definition/FixedLists/ComplexityBand-SDO.json
  ccd-definition/FixedLists/ComplexityBand.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3297

#3311 CIV-10834 Added unshutter config
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3311

#3309 CIV-10044 date change and spelling fix
  ccd-definition/CaseField/EvidenceUpload-nonprod.json
  e2e/fixtures/events/finalOrder.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3309

#3283 CIV-8740 Setaside Judgment
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-JO-nonprod.json
  ccd-definition/CaseEventToFields/SetAsideJudgment-JO-nonprod.json
  ccd-definition/CaseField/CaseField-JO-nonprod.json
  ccd-definition/FixedLists/JudgmentOnline/ConfirmReadOrderForSetAside.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3283

#3263 CIV-6719 Notification Debt Respite Submit Function
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3263

#3105 CIV-8998 -Added notification event for create LiP claim flow
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
  ccd-definition/ComplexTypes/RespondToClaim-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3105

#3280 CIV-9616 Defendant Latest Update Mediation Succesful PDF
  ccd-definition/FixedLists/ManageDocumentsCUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3280

#2997 CIV-9422 added fields for hearing court location
  ccd-definition/CaseEventToFields/CreateSDO-SDO.json
  ccd-definition/CaseEventToFields/DefaultJudgmentSDO-DJ.json
  ccd-definition/CaseField/CaseField-SDO.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2997

#3193 CIV-10460 AdditionalPartyDetails added
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-R2-CUI-nonprod.json
  ccd-definition/ComplexTypes/AdditionalLipPartyDetails.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3193

#3315 CIV-10872 update final order doc permissions
  ccd-definition/AuthorisationCaseField/AuthorisationFinalOrders-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3315

#3296 CIV-9747 Reordering Hearing Tab
  ccd-definition/CaseTypeTab/Hearings-UnavailableDates-nonprod.json
  ccd-definition/CaseTypeTab/Hearings-nonprod.json
  ccd-definition/CaseTypeTab/Hearings-prod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3296

#3306 CIV-10751 CFV folder structure change
  ccd-definition/Categories/Categories-nonprod.json
Labels: ns:civil, prd:civil, Testing, rel:civil-ccd-pr-3306

#3330 CIV-10930 update perms evidence upload
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-3330

#3290 CIV-10812 API tests record judgment
  codecept.conf.js
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/finalOrderSpec.js
  e2e/fixtures/events/judgmentOnline1v1.js
  e2e/fixtures/events/judgmentOnline1v1Spec.js
  e2e/fixtures/events/judgmentOnline1v2.js
  e2e/fixtures/events/judgmentOnline1v2Spec.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_1v1_test.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_1v2_test.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v1_test.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v2_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3290

#3322 CIV-8923 specAoSApplicantCorrespondenceAddressdetails is being updated when defendant updates address
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
  e2e/fixtures/events/defendantResponseSpec1v2Fast.js
  e2e/fixtures/events/defendantResponseSpec2v1.js
  e2e/fixtures/events/defendantResponseSpec2v1Fast.js
  e2e/fixtures/events/defendantResponseSpecCui.js
  e2e/fixtures/events/defendantResponseSpecSmall.js
  e2e/fragments/confirmDefendantsDetailsLRspec.js
  e2e/fragments/confirmLegalRepDetailsLRspec.js
  e2e/pages/respondToClaimLRspec/enter2ndDefendantDetailsLRspec.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3322

#3341 CIV-8923 changes for to fix master
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
  e2e/fixtures/events/defendantResponseSpec1v2Fast.js
  e2e/fixtures/events/defendantResponseSpec2v1.js
  e2e/fixtures/events/defendantResponseSpec2v1Fast.js
  e2e/fixtures/events/defendantResponseSpecCui.js
  e2e/fixtures/events/defendantResponseSpecSmall.js
  e2e/fragments/confirmDefendantsDetailsLRspec.js
  e2e/fragments/confirmLegalRepDetailsLRspec.js
  e2e/pages/respondToClaimLRspec/enter2ndDefendantDetailsLRspec.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3341

#3320 CIV-3883 CIV-8942 CIV-3955 and CIV-8942
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseTypeTab/Hearings-nonprod.json
  ccd-definition/CaseTypeTab/Hearings-prod.json
  ccd-definition/ComplexTypes/CourtLocation.json
  ccd-definition/ComplexTypes/DQ/RemoteHearing.json
  e2e/api/steps.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/defendantResponse.js
  e2e/fragments/dq/requestedCourt.page.js
  e2e/pages/createClaim/chooseCourt.page.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3320

#3335 CIV-10874 hearing notes tab population
  ccd-definition/CaseTypeTab/Hearings-nonprod.json
  ccd-definition/CaseTypeTab/HearingsSDO-DJ.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3335

#3301 CIV-10602 duplicate docs
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor1.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor2.js
  e2e/fixtures/events/1v2SameSolicitorEvents/defendantResponse_sameSolicitor.js
  e2e/fixtures/events/2v1Events/defendantResponse_2v1.js
  e2e/fixtures/events/defendantResponse.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3301

#3350 CIV-3883 CIV-8942 CIV-3955 and CIV-8942 New
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseTypeTab/Hearings-nonprod.json
  ccd-definition/CaseTypeTab/Hearings-prod.json
  ccd-definition/ComplexTypes/CourtLocation.json
  ccd-definition/ComplexTypes/DQ/RemoteHearing.json
  e2e/api/steps.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/defendantResponse.js
  e2e/fragments/dq/requestedCourt.page.js
  e2e/pages/createClaim/chooseCourt.page.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3350

#3305 CIV-10823 new role for pcq
  bin/add-roles.sh
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-unshuttered.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3305

#3365 CIV-0000 RemoteHearing reason should be visible only of we say Yes
  ccd-definition/ComplexTypes/DQ/RemoteHearing.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3365

#3362 CIV-10751 fix system generated files
  ccd-definition/Categories/Categories-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3362

#3291 CIV-10052 - HWF Work Allocation
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCUI-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-R2-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
  ccd-definition/ComplexTypes/HelpWithFees-CUI-R2-nonprod.json
  ccd-definition/ComplexTypes/RespondToClaim-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, stale, rel:civil-ccd-pr-3291

#3370 CIV-10624 - Revert changes
  Jenkinsfile_CNP
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
  charts/civil-ccd/values.template.yaml
  e2e/config.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3370

#3372 CIV-0000 remoteHearingRequested_radio radio is not present
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3372

#3285 CIV-7581 Shuttering config
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-3285

#3374 CIV-7581 Revert Shuttering config
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3374

#3377 CIV-0000 remoteHearingRequested_radio radio is not present Revert
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3377

#3313 CIV-10391 Respondent1 response deadline date update
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3313

#3331 CIV-10551 Case flags LR visibility
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationComplexType/solicitor-CaseFlags-nonprod.json
  ccd-definition/AuthorisationComplexType/solicitor-HMC-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AcknowledgeClaim-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AcknowledgeOfServiceLRspec-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponse-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-CaseFlags-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponse-CaseFlags-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponse-CaseFlags-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CaseFlags-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CaseFlags-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/events/addDefendantLitigationFriend.js
  e2e/helpers/caseFlagsFeatureHelper.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3331

#3348 CIV-0000 checking WA
  charts/civil-ccd/values.enableWA.preview.template.yaml
  e2e/config.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3348

#3407 CIV-10857 Fix e2e tests
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-TOC-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationFinalOrders-nonprod.json
  ccd-definition/AuthorisationComplexType/solicitor-CaseFlags-nonprod.json
  ccd-definition/AuthorisationComplexType/solicitor-HMC-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-TOC-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-TOC-prod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AcknowledgeClaim-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AcknowledgeOfServiceLRspec-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantAndDefendantHeard.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponse-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/FinalOrderRepresentation-nonprod.json
  ccd-definition/CaseEventToComplexTypes/TransferCaseReason-TOC-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponse-CaseFlags-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponse-CaseFlags-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CaseFlags-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CaseFlags-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToFields/FinalOrders-nonprod.json
  ccd-definition/CaseEventToFields/NotSuitableSDO-SDO-TOC-prod.json
  ccd-definition/CaseEventToFields/NotSuitableSDO-TOC-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-TOC-prod.json
  ccd-definition/CaseField/CaseField-SDO.json
  ccd-definition/CaseField/CaseField-TOC-nonprod.json
  ccd-definition/CaseField/CaseFieldFinalOrders-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/FinalOrderRepresentation-nonprod.json
  ccd-definition/ComplexTypes/ReasonNotSuitableSDO-SDO-TOC-nonprod.json
  ccd-definition/ComplexTypes/ReasonNotSuitableSDO-SDO-TOC-prod.json
  ccd-definition/ComplexTypes/TransferCaseReason-TOC-nonprod.json
  ccd-definition/FixedLists/TransferOnlineCase/ReasonNotSuitableSDOList-TOC-nonprod.json
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.enableWA.preview.template.yaml
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_LRspecSmall.js
  e2e/config.js
  e2e/fixtures/events/addDefendantLitigationFriend.js
  e2e/fixtures/events/finalOrder.js
  e2e/fixtures/events/transferOnlineCase.js
  e2e/fixtures/events/transferOnlineCaseSpec.js
  e2e/helpers/caseFlagsFeatureHelper.js
  e2e/tests/api_tests/sdo/api_transfer_online_case_test.js
  e2e/tests/api_tests/sdo/sdo_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3407

#2315 CIV-6614 toggle reading from yml file
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldCaseProg-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WA3.5-SDO-nonprod.json
  ccd-definition/CaseField/CaseField-Toggle-WA3.5-SDO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2315

#3413 CIV-6614 - Making WA toggle go live
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldCaseProg-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle.json
  ccd-definition/CaseField/CaseField-WAToggle.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3413

#3127 CIV-9996 Negative number of witnesses
  ccd-definition/CaseEventToFields/CreateSDO-SDO.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3127

#2954 CIV-9409 Access permissions added so the fields are accessible in CUI
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldCaseProg-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2954

#3353 CIV-9023 Claimant Intent: CCJ after Part Admit or Full Admit Pay Immediately - Submit Function
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/staffLRspec-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-3353

#3443 CIV-0000 Shutter for case flags release
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3443

#3408 CIV-11040 Case flags release
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-CaseFlags.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CaseFlags.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdate-CaseFlags.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-CaseFlags-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/AuthorisationComplexType/solicitor-CaseFlags-nonprod.json
  ccd-definition/AuthorisationComplexType/solicitor.json
  ccd-definition/CaseEvent/User/UserEvents-CaseFlags.json
  ccd-definition/CaseEvent/User/UserEvents-prod.json
  ccd-definition/CaseEvent/User/UserEventsDJ.json
  ccd-definition/CaseEventToComplexTypes/AcknowledgeClaim-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AcknowledgeClaim.json
  ccd-definition/CaseEventToComplexTypes/AcknowledgeOfServiceLRspec-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AcknowledgeOfServiceLRspec.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponse-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponse.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToComplexTypes/CreateCaseFlags.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponse.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToComplexTypes/HearingRequirementsDJ.json
  ccd-definition/CaseEventToComplexTypes/Languages.json
  ccd-definition/CaseEventToComplexTypes/LanguagesLRspec.json
  ccd-definition/CaseEventToComplexTypes/ManageCaseFlags.json
  ccd-definition/CaseEventToFields/ClaimantResponse-CaseFlags-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponse-CaseFlags-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CaseFlags-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CaseFlags-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToFields/CreateCaseFlags.json
  ccd-definition/CaseEventToFields/ManageCaseFlags.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CaseFlags.json
  ccd-definition/CaseField/CaseField-CaseFlags.json
  ccd-definition/CaseTypeTab/CaseFlags.json
  ccd-definition/ComplexTypes/DQ/HearingSupportRequirements.json
  ccd-definition/ComplexTypes/DQ/Language.json
  ccd-definition/ComplexTypes/DQ/VulnerabilityQuestions.json
  ccd-definition/ComplexTypes/HearingRequirementsDJ.json
  ccd-definition/ComplexTypes/LitigationFriend-CaseFlags-nonprod.json
  ccd-definition/ComplexTypes/LitigationFriend.json
  ccd-definition/ComplexTypes/Party-CaseFlags-nonprod.json
  ccd-definition/ComplexTypes/Party.json
  ccd-definition/ComplexTypes/PartyFlagStructure-CaseFlags.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-CaseFlags-nonprod.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-CaseFlags-prod.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
  e2e/fixtures/events/claimantResponseSpec.js
  e2e/fixtures/events/claimantResponseSpec1v2.js
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3408

#3446 CIV-0000 - Unshutter case flags release
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3446

#3324 CIV-10680 update preConditionState(s)
  ccd-definition/CaseEvent/User/UserEvents-CaseFlags.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-3324

#3325 CIV-10772 Case Flag visible to Tribunal case worker and Senior Tribunal case worker
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
Labels: ns:civil, prd:civil, stale, enable_keep_helm, rel:civil-ccd-pr-3325

#3450 CIV-000 Fix fixture data for spec claimant response api
  e2e/api/steps.js
  e2e/fixtures/events/claimantResponseSpec2v1Fast.js
  e2e/fixtures/events/claimantResponseSpecSmall.js
  e2e/tests/api_tests/damages/api_1v1_test.js
  e2e/tests/api_tests/damages/api_1v2_different_solicitor_test.js
  e2e/tests/api_tests/damages/api_1v2_same_solicitor_test.js
  e2e/tests/api_tests/damages/api_2v1_test.js
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-3450

#3454 CIV-0000 Fix unspec dj e2e
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-3454

#3367 CIV-10561 Transfer case online
  ccd-definition/AuthorisationCaseEvent/systemUpdateTOC-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-TOC-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdate-TOC-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-TOC-nonprod.json
  ccd-definition/CaseEventToFields/TransferOnlineCase-TOC-nonprod.json
  ccd-definition/CaseField/CaseField-TOC-nonprod.json
  ccd-definition/CaseTypeTab/Summary-TOC-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3367

#3394 CIV-10952 150 character limit default validation on Transfer Case online free text field
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-TOC-nonprod.json
  ccd-definition/CaseField/CaseField-TOC-nonprod.json
  ccd-definition/CaseTypeTab/Summary-TOC-nonprod.json
  ccd-definition/ComplexTypes/TransferCaseDetails-TOC-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3394

#3354 CIV-8941 - added In Mediation flow in claimant response journey
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3354

#3426 CIV-11087 API Test : Transfer online case
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/transferOnlineCase.js
  e2e/fixtures/events/transferOnlineCaseSpec.js
  e2e/tests/api_tests/sdo/api_transfer_online_case_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3426

#3395 CIV-10624 remove hardcoded passwords new PR
  Jenkinsfile_CNP
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
  charts/civil-ccd/values.template.yaml
  e2e/config.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3395

#3418 CIV-10978 create recreate sdo tasks
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-TOC-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-prod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-nonprod.json
  ccd-definition/CaseEventToFields/NotSuitableSDO-TOC-nonprod.json
Labels: ns:civil, prd:civil, pr-values:enableWA, enable_keep_helm, rel:civil-ccd-pr-3418

#3477 CIV-10624 remove secrets form values.yaml
  charts/civil-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3477
