Repository hmcts/civil-ccd-definition, pull requests merged in 2023-09, with the labels that each got.

#3157 CIV-0000 - adding nvmRC file
  .nvmrc
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3157

#3159 CIV-9355 not proceed should not be judicial referral
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecFast.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3159

#3139 CIV-9431 Details of the Second Defendant missing from claim details tab for Judicial users
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3139

#3175 CIV-10066 renable assisted order tests
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3175

#3125 CIV-9992 Manage contact info landing page
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-UnavailableDates-nonprod.json
  ccd-definition/CaseEventToFields/ManageContactInformation-MCI-nonprod.json
  ccd-definition/CaseField/CaseField-MCI-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-3125

#3177 CIV-10456 Point to right aac url for aat
  Jenkinsfile_CNP
  charts/civil-ccd/values.aat.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3177

#3161 CIV-10067 assisted order appeal
  ccd-definition/CaseEventToComplexTypes/AppealFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AppealGrantedFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AppealRefusedFinalOrders-nonprod.json
  ccd-definition/CaseEventToFields/FinalOrders-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/AppealChoice.json
  ccd-definition/ComplexTypes/CaseProgression/AssistedOrderAppeal/AppealChoiceDropdownTwoA-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/AssistedOrderAppeal/AppealChoiceDropdownTwoB-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/AssistedOrderAppeal/AppealChoiceFirstDropdown-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/AssistedOrderAppeal/AppealsFinalOrders-nonprod.json
  ccd-definition/FixedLists/CaseProgression/CircuitOrHighCourtList-nonprod.json
  e2e/fixtures/events/finalOrder.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3161

#3011 CIV-9801 Fixing Functional tests
  e2e/tests/api_tests/damages/api_1v2_same_solicitor_test.js
  e2e/tests/api_tests/damages/api_2v1_test.js
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-3011

#3185 CIV-10461 Update renovate configs
  .github/renovate.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3185

#3174 CIV-9817 Add unavailable dates e2e
  e2e/pages/addUnavailableDates/unavailableDates.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3174

#3189 CIV-0000 Update sdo_test.js to reenable final tests
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3189

#3054 CIV-9201 add CUI defendant to Trial readiness event
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldCaseProg-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3054

#3141 CIV-9750 copy respond doc to main case
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-3141

#3156 CIV-10128 Claimant Response Event
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
  ccd-definition/ComplexTypes/ClaimantMediationLip-CUI-R2-nonprod.json
  ccd-definition/ComplexTypes/DQExtraDetails-CUI-R2-nonprod.json
  ccd-definition/ComplexTypes/RespondToDefence-CUI-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3156

#3196 CIV-000 fix camunda smoke test
  e2e/api/steps_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3196

#3176 CIV-7844 - extended authorisation for evidence upload to citizens
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3176

#3134 CIV-7302 Issue Automated Strike Out - LiP - Updates/Dashboard notification
  ccd-definition/AuthorisationCaseField/HearingNotice-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3134

#3186 CIV-10416 update bulk claim test to remove payment mocking
  e2e/api/steps_LRspec.js
  e2e/config.js
  e2e/fixtures/ccd/nonProdExpectedEventsLRSpec.js
  e2e/fixtures/events/createClaimSpecBulk.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3186

#3200 CIV-10550 permission update
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseField/BundlesCaseField-nonprod.json
  ccd-definition/AuthorisationCaseField/EvidenceUpload-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3200

#2974 CIV-8201 Introduce helpWithFeesReferenceNumberLip field
  ccd-definition/ComplexTypes/RespondToClaim-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2974

#3180 CIV-10064 assisted order heard from
  ccd-definition/CaseEventToComplexTypes/ClaimantAndDefendantHeard.json
  ccd-definition/CaseEventToComplexTypes/TrialNoticeProcedure-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/AssistedOrderJudgeheardFrom/CaseTrialNotice-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/AssistedOrderJudgeheardFrom/ClaimantAndDefendantHeard-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/CaseTrialNotice-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/ClaimantAndDefendantHeard-nonprod.json
  ccd-definition/FixedLists/CaseProgression/FinalOrdersRepresentationList-nonprod.json
  e2e/fixtures/events/finalOrder.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3180

#3222 CIV-0000 fix checkForEnableHelmLabel
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3222

#3179 CIV-8451 8818changes
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToComplexTypes/ChangeSolicitorEmail.json
  ccd-definition/CaseEventToComplexTypes/CreateClaimLRspec.json
  ccd-definition/CaseEventToFields/ChangeSolicitorEmail.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseEventToFields/CreateClaimLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/CaseTypeTab/ClaimDetails.json
  ccd-definition/ComplexTypes/SolicitorReferences.json
  e2e/api/steps.js
  e2e/fixtures/ccd/events.js
  e2e/fragments/partyLRspec.js
  e2e/steps_file_LRspec.js
  e2e/tests/api_tests/lrspec/api_spec_bulk_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3179

#3221 CIV-000 Shutter config for CoS NoC
  bin/build-release-ccd-definition.sh
  ccd-definition/CaseEventToFields/CreateClaimLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3221

#3194 CIV-7022 NoC CoS release
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/approver.json
  ccd-definition/AuthorisationCaseEvent/caseAccessAssignment-nonprod.json
  ccd-definition/AuthorisationCaseEvent/caseAccessAssignment-prod.json
  ccd-definition/AuthorisationCaseEvent/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-COS-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/approver-nonprod.json
  ccd-definition/AuthorisationCaseField/approver.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignment-nonprod.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseField/staff-COS-nonprod.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/AuthorisationCaseField/systemUpdate-COS-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/NoticeOfChangeEvents.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
  ccd-definition/CaseEvent/User/UserEvents-NoticeOfChange.json
  ccd-definition/CaseEventToComplexTypes/NoticeOfChangeRequest.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaim-COS.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails-COS.json
  ccd-definition/CaseEventToFields/NoticeOfChange.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaim-COS.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaim-prod.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaimDetails-COS.json
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaimDetails-prod.json
  ccd-definition/CaseField/CaseField-COS-nonprod.json
  ccd-definition/CaseField/CaseField-nonprod.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseField/NoticeOfChange.json
  ccd-definition/CaseTypeTab/CertificateofService-COS.json
  ccd-definition/ChallengeQuestion/ChallengeQuestion.json
  ccd-definition/ComplexTypes/ChangeOfRepresentation.json
  ccd-definition/ComplexTypes/NotifyClaim-COS.json
  ccd-definition/ComplexTypes/NotifyClaimDetails-COS.json
  ccd-definition/ComplexTypes/noticeOfChangeAnswers.json
  ccd-definition/FixedLists/NotifyClaimStatement-COS.json
  ccd-definition/FixedLists/ServeLocationOwnerType-COS.json
  ccd-definition/FixedLists/ServeLocationType-COS.json
  ccd-definition/FixedLists/ServeType-COS.json
  e2e/tests/api_tests/damages/api_1v1_test.js
  e2e/tests/api_tests/damages/api_1v2_lip_test.js
  e2e/tests/api_tests/damages/api_noc_unspec_test.js
  e2e/tests/api_tests/lrspec/api_noc_spec_test.js
  e2e/tests/ui_tests/damages/1v2_LIP_COS_test.js
  e2e/tests/ui_tests/noticeofchange/1v2_lips_to_same_sols_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3194

#3239 CIV-0000 Unshutter
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3239

#3240 CIV-0000 - adding Publish Y to Mediation field.
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3240

#3228 CIV-0000 Update sdo_test.js to readd final order
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3228

#3172 CIV-9733 fix CYA page
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3172

#3183 CIV-9956 fix authorisation to not override fields
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3183

#3162 CIV-10107 update respondent1ResponseDeadline fieldShowCondition
  ccd-definition/CaseTypeTab/Summary.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-3162

#3255 CIV-000 disable noc api temporarily
  e2e/tests/api_tests/damages/api_noc_unspec_test.js
  e2e/tests/api_tests/lrspec/api_noc_spec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3255

#3249 CIV-000 Move missed noc config to base files
  ccd-definition/AuthorisationCaseState/approver-nonprod.json
  ccd-definition/AuthorisationCaseState/approver.json
  ccd-definition/AuthorisationCaseState/caseAccessAssignment-nonprod.json
  ccd-definition/AuthorisationCaseState/caseAccessAssignment.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3249

#3211 CIV-8821 - Claimant Intent: Generic notification to defendant
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3211

#3238 CIV-10585 Update file types and mb to MB
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GAN245FormUploadGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3238

#3259 CIV-0000 - Reinstate NoC API Tests
  e2e/tests/api_tests/damages/api_noc_unspec_test.js
  e2e/tests/api_tests/lrspec/api_noc_spec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3259

#3195 CIV-8322 - Tell us you've settled - Back End: Claim settled
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3195

#3254 CIV-10661 citizen profile added for respondent1LipResponse
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3254

#3190 CIV-10070 Unavailable dates and case flags mini-migration
  ccd-definition/AuthorisationCaseEvent/systemUpdate-HMC-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-UnavailableDates-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEvent/User/UserEvents-HMC-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-3190

#3215 CIV-10529 - "ADD NEW" button CCD Upload Translated Document
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCUI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/TranslatedDocument-CUI-nonprod.json
  ccd-definition/CaseEventToFields/UploadTranslatedDocument-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3215

#3192 CIV-10512 - Add partyID to DQ witnesss and experts
  ccd-definition/ComplexTypes/DQ/1_Expert-HMC-nonprod.json
  ccd-definition/ComplexTypes/DQ/1_Witness-HMC-nonprod.json
  ccd-definition/ComplexTypes/ExpertDetailsLRspec-HMC-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3192

#3265 CIV-10601 Fieldshowconditions added
  ccd-definition/ComplexTypes/ClaimantMediationLip-CUI-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3265

#3242 CIV-9156 Claim intent claimant notification
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3242

#3202 CIV-10493 Record Judgment UI
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-JO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/InstalmentPaymentDetails-JO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/JudgmentStatusDetails-JO-nonprod.json
  ccd-definition/CaseEventToFields/RecordJudgment-JO-nonprod.json
  ccd-definition/CaseField/CaseField-JO-nonprod.json
  ccd-definition/ComplexTypes/InstalmentPaymentDetails-JO-nonprod.json
  ccd-definition/ComplexTypes/JudgmentStatusDetails-JO-nonprod.json
  ccd-definition/FixedLists/JudgmentOnline/ConfirmSentToBothDef-JO-nonprod.json
  ccd-definition/FixedLists/JudgmentOnline/JudgementRecordReason-JO-nonprod.json
  ccd-definition/FixedLists/JudgmentOnline/JudgmentStatusTypeList-JO-nonprod.json
  ccd-definition/FixedLists/JudgmentOnline/PaymentFrequency-JO-nonprod.json
  ccd-definition/FixedLists/JudgmentOnline/PaymentPlanSelection-JO-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3202

#3251 CIV-10646 application text change
  ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
  ccd-definition/FixedLists/StatementOfTruthConsentGAspec.json
Labels: data-changes, ns:civil, prd:civil, stale, rel:civil-ccd-pr-3251

#3246 CIV-10663 Create new attribute for CaseDocument type
  ccd-definition/ComplexTypes/CaseDocument.json
  ccd-definition/FixedLists/CaseRoleType.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3246

#3261 CIV-10231 Update Application Type Name
  ccd-definition/ComplexTypes/GAHearingDateGAspec.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3261

#3212 CIV-10357 Removed event enabling condition
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3212

#3276 CIV-10413 docmosis updates assisted order
  ccd-definition/ComplexTypes/CaseProgression/AssistedOrderAppeal/AppealChoiceFirstDropdownRefuse-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/FinalOrderFurtherHearingDatesAvoid-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3276

#3258 CIV-10453 Mark Judgement paid full
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-JO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/JudgmentPaidInFull-JO-nonprod.json
  ccd-definition/CaseEventToFields/JudgmentPaidInFull-JO-nonprod.json
  ccd-definition/CaseField/CaseField-JO-nonprod.json
  ccd-definition/ComplexTypes/JudgmentPaidInFull-JO-nonprod.json
  ccd-definition/FixedLists/JudgmentOnline/JudgementPaidInFullConfirmation-JO-nonprod.json
Labels: data-changes, ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-3258

#3284 CIV-0000 Update sdo_test.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3284

#3300 CIV-10836 asssisted order cost bug
  ccd-definition/AuthorisationCaseField/AuthorisationFinalOrders-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3300
