Repository hmcts/civil-ccd-definition, pull requests merged in 2023-04, with the labels that each got.

#2287 CIV-7138 - Mediation - Update content to Mediation Screen
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/staffLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-CUI-nonprod.json
  ccd-definition/ComplexTypes/ClaimantMediationLip-nonprod.json
  ccd-definition/FixedLists/MediationDecison.json
  ccd-definition/FixedLists/ShowConditionFlagSpec.json
  e2e/fixtures/events/claimantResponseSpecCui.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2287

#2392 CIV-6238 - Welsh - Bilingual language preference
  ccd-definition/ComplexTypes/RespondToClaim-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2392

#2371 CIV-7030 Added caseNamePublic field
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2371

#2140 CIV-6215 - Legal Rep ITP - DQs
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  charts/civil-ccd/values.elasticsearch.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2140, pr-values:elasticsearch

#2369 CIV-7450 1v2 ds showing defendant 2 details
  ccd-definition/CaseEventToFields/AcknowledgeClaim.json
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
Labels: ns:civil, prd:civil, stale, Testing, rel:civil-ccd-pr-2369

#2397 CIV-7642 initial evidence upload API tests
  e2e/api/steps.js
  e2e/fixtures/events/evidenceUploadApplicant.js
  e2e/fixtures/events/evidenceUploadRespondent.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2397

#2467 CIV-7646 API Tests for Bundle Integration
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2467

#2472 CIV-7850 stop silent failures in add roles script
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2472

#2456 CIV-7863 LRvLiP Default Dudgement Change
  ccd-definition/CaseEvent/Camunda/NotificationEventsDJSpec-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsDJSpec-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsDJSpec-prod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsDJSpec.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJspec-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJspec-prod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJspec.json
  e2e/tests/unit/utils/dataProvider.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2456

#2417 CIV-7744 Add email and phone to experts/witness object (1/2)
  ccd-definition/ComplexTypes/PartyFlagStructure-CaseFlags-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2417

#2492 CIV-6706 - Unshutter Prod
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-shuttered.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2492

#2445 CIV-5830 - CCD Translation for DQ SC/FT Screens.
  ccd-definition/ComplexTypes/DQ/1_Expert-CUI-nonprod.json
  ccd-definition/ComplexTypes/DQ/1_ExpertReportLiP-CUI-nonprod.json
  ccd-definition/ComplexTypes/DQ/ExpertLiP-CUI-nonprod.json
  ccd-definition/ComplexTypes/DQExtraDetails-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2445

#2408 CIV 3107 docmosis freeform
  ccd-definition/AuthorisationCaseField/AuthorisationFinalOrders-nonprod.json
  ccd-definition/CaseEventToFields/FinalOrders-nonprod.json
  ccd-definition/CaseField/CaseFieldFinalOrders-nonprod.json
  ccd-definition/CaseTypeTab/DocumentsFinalOrder-nonprod.json
  ccd-definition/Categories/Orders-nonprod.json
  ccd-definition/FixedLists/DocumentType.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2408

#2494 CIV-0000 Fix Import Duplication
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-hnl-legal-rep-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-hnl-legal-rep-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-hnl-legal-rep-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-hnl-legal-rep.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/ComplexTypes/DQ/1_Expert-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2494

#2351 CIV-4305 Trial Ready Document
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseField/HearingNotice-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEventsCaseProg-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsHearing-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
  ccd-definition/CaseEventToComplexTypes/TrialReadiness-CP-nonprod.json
  ccd-definition/CaseEventToFields/TrialReadiness-CP-nonprod.json
  ccd-definition/CaseField/CaseFieldCaseProg-nonprod.json
  ccd-definition/CaseTypeTab/DocumentsCaseProg-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/ApplicationNotReady.json
  ccd-definition/ComplexTypes/CaseProgression/OtherHearingInformation.json
  ccd-definition/ComplexTypes/CaseProgression/RevisedHearingComments.json
  ccd-definition/ComplexTypes/CaseProgression/RevisedHearingRequirements.json
  ccd-definition/ComplexTypes/CaseProgression/SolicitorTrialReady.json
  ccd-definition/FixedLists/DocumentType.json
  ccd-definition/FixedLists/TrialReadyList.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2351

#2497 CIV-0000 SNI 3489 Enabling test after merging civil service to master
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  e2e/tests/ui_tests/default_judgement/1v1specDJ_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2497

#2498 CIV-0000 enable basic api test -- Update sdo_test.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2498

#2428 CIV-6411 claimant intent dispute submit camunda do not continue
  ccd-definition/AuthorisationCaseEvent/systemUpdate-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2428

#2471 CIV-7520 Hearing in Welsh scenario
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2471

#2455 CIV-6862 Renaming Existing Hearings Tab to Listing Notes
  ccd-definition/CaseTypeTab/Hearings-nonprod.json
  ccd-definition/CaseTypeTab/Hearings-prod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2455

#2508 CIV-7999 - CUI - FullDefence on both Defendant and Claimant makes the case goes offline
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2508

#2527 CIV-0000 - Using dbyccu version of definition processor till latest is fixed
  bin/utils/process-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2527

#2513 CIV-7958 1v2 diff solicitor acknowledge claim is showing defendant 2 details a…
  ccd-definition/CaseEventToFields/AcknowledgeClaim.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2513

#2444 CIV-7645 Trial Readiness API tests
  ccd-definition/CaseEvent/User/UserEvents-SDO.json
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/api/testingSupport.js
  e2e/fixtures/events/trialReadiness.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v2_test.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2444

#2447 CIV-6668 add tenant-id to import-bpmn-diagram.sh
  bin/import-bpmn-diagram.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2447

#2463 CIV-7842 - Evidence Upload Judge API tests
  e2e/api/steps.js
  e2e/config.js
  e2e/fixtures/events/evidenceUploadJudge.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2463

#2530 CIV-0000 reverting back to ccd processor latest as the issue is fixed
  bin/utils/process-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2530

#2477 CIV-7534 rpa-defendant-response-manual-det-camunda-state-change
  ccd-definition/CaseEvent/User/UserEventsLRspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2477

#2543 CIV-TASK Re-instate civil-screenshots.zip in AAT
  bin/create-github-release.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2543

#2429 CIV-6540 lr manual determination
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsCUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2429

#2528 CIV-7859 Remove text from bottom of Application Screen
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  e2e/pages/createClaim/serviceRequest.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2528

#2552 CIV-7955 evidence upload e2e tests
  e2e/pages/evidenceUpload/uploadDocument.js
  e2e/steps_file_LRspec.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2552

#2553 CIV-8110 legaladviser applications tab permission
  ccd-definition/CaseTypeTab/ApplicationsLegalAdviserGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2553

#2294 CIV-5788 add LIP response field authorisation
  ccd-definition/ComplexTypes/RespondToClaim-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2294

#2250 CIV-0000 Work Allocation fixes
  Jenkinsfile_CNP
  bin/add-roles.sh
  bin/import-dmn-diagram.sh
  bin/import-wa-bpmn-diagram.sh
  bin/pull-latest-camunda-wa-files.sh
  bin/pull-latest-dmn-files.sh
  bin/variables/load-preview-environment-variables.sh
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.enableWA.preview.template.yaml
  charts/civil-ccd/values.preview.template.yaml
  charts/civil-ccd/values.template.yaml
  charts/civil-ccd/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2250

#2253 CIV-6915 Refactor respondent notifications in Hearing Notice
  ccd-definition/AuthorisationCaseEvent/systemUpdateCaseProg-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsHearing-nonprod.json
  e2e/run-api-ff-enabled-functional-tests.sh
  e2e/run-dj-functional-tests.sh
  e2e/run-e2e-ff-enabled-functional-tests.sh
  e2e/run-functional-tests.sh
  e2e/run-non-prod-features-flag-enabled-functional-tests.sh
  package.json
  yarn-error.log
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2253

#2491 CIV-7140 mediation cya
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseState/systemUpdate.json
  charts/civil-ccd/values.elasticsearch.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2491

#2561 CIV-6915 Restore test
  e2e/run-api-ff-enabled-functional-tests.sh
  e2e/run-dj-functional-tests.sh
  e2e/run-e2e-ff-enabled-functional-tests.sh
  e2e/run-functional-tests.sh
  e2e/run-non-prod-features-flag-enabled-functional-tests.sh
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2561

#2545 CIV-7519 LR Dropdown for Judgement by Admission
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/staffLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/RequestJudgementByAdmissionLRspec-CUI-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-CUI-nonprod.json
  e2e/api/steps_LRspecCui.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/nonProdExpectedEventsLRSpec.js
  e2e/fixtures/events/claimantResponseSpecCui.js
  e2e/fixtures/events/defendantResponseSpecCui.js
  e2e/fixtures/events/requestJudgementSpecCui.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_req_jud_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2545

#2431 CIV-6293 orders journey assisted order
  ccd-definition/AuthorisationCaseField/AuthorisationFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AppealFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AppealGrantedFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AppealRefusedFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AssistedOrderCostDetails.json
  ccd-definition/CaseEventToComplexTypes/AssistedOrderReasonsFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantAndDefendantHeard.json
  ccd-definition/CaseEventToComplexTypes/DateHeardFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/FinalOrderRepresentation-nonprod.json
  ccd-definition/CaseEventToComplexTypes/FurtherHearingFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/LengthListOtherFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/OrderMadeOnDetailsFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/RecitalsRecordedFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/TrialNoticeProcedure-nonprod.json
  ccd-definition/CaseEventToFields/FinalOrders-nonprod.json
  ccd-definition/CaseField/CaseFieldFinalOrders-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/AppealChoice.json
  ccd-definition/ComplexTypes/CaseProgression/AppealFinalOrders-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/AssistedOrderCostDetails-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/AssistedOrderReasonsFinalOrders-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/CaseHearingLengthElement-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/CaseTrialNotice-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/ClaimantAndDefendantHeard-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/DateHeardFinalOrders-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/FinalOrderRepresentation-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/FurtherHearingFinalOrders-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/OrderMadeOnDetailsFinalOrders-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/RecitalsRecordedFinalOrders-nonprod.json
  ccd-definition/FixedLists/CaseProgression/AppealFinalOrders-nonprod.json
  ccd-definition/FixedLists/CaseProgression/FinalOrderJudgeHeardShowHide-nonprod.json
  ccd-definition/FixedLists/CaseProgression/FinalOrdersCostSelection-nonprod.json
  ccd-definition/FixedLists/CaseProgression/FinalOrdersJudgePapers-nonprod.json
  ccd-definition/FixedLists/CaseProgression/FinalOrdersRepresentationList-nonprod.json
  ccd-definition/FixedLists/CaseProgression/HearingLengthFinalOrders-nonprod.json
  ccd-definition/FixedLists/CaseProgression/HearingMethodFinalOrders-nonprod.json
  ccd-definition/FixedLists/CaseProgression/OrderMadeOnTypes-nonprod.json
  ccd-definition/FixedLists/DocumentType.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2431

#2573 CIV-0000 Fix a few api & e2e tests running in nightly and try to run e2e tests in nightly ccd
  Jenkinsfile_nightly
  e2e/api/steps_LRspecSmall.js
  e2e/pages/respondToClaimLRspec/enterWitnessesLRspec.page.js
  e2e/steps_file.js
  e2e/tests/api_tests/lrspec/api_1v1_spec_small_test.js
  e2e/tests/api_tests/lrspec/api_1v1_spec_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_fast_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_fast_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_test.js
  e2e/tests/ui_tests/default_judgement/1v2UnspecDJ_test.js
  e2e/tests/ui_tests/default_judgement/1v2specDJ_test.js
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/noticeofchange/1v2_lips_to_same_sols_test.js
  e2e/tests/ui_tests/sdo/sdo_journey_test_disabled.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2573

#2547 CIV-TASK Fail script when uploads fail
  bin/import-dmn-diagram.sh
  bin/pull-latest-dmn-files.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2547

#2321 CIV-7546 - Final Order - Judge issues Sanction/Adjourn Order
  ccd-definition/AuthorisationCaseField/AuthorisationFinalOrders-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AppealFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AppealGrantedFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AppealRefusedFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/AssistedOrderCostDetails.json
  ccd-definition/CaseEventToComplexTypes/AssistedOrderReasonsFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantAndDefendantHeard.json
  ccd-definition/CaseEventToComplexTypes/DateHeardFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/FinalOrderRepresentation-nonprod.json
  ccd-definition/CaseEventToComplexTypes/FurtherHearingFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/LengthListOtherFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/OrderMadeOnDetailsFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/RecitalsRecordedFinalOrders-nonprod.json
  ccd-definition/CaseEventToComplexTypes/TrialNoticeProcedure-nonprod.json
  ccd-definition/CaseEventToFields/FinalOrders-nonprod.json
  ccd-definition/CaseField/CaseFieldFinalOrders-nonprod.json
  ccd-definition/CaseTypeTab/DocumentsFinalOrder-nonprod.json
  ccd-definition/Categories/Orders-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/AppealChoice.json
  ccd-definition/ComplexTypes/CaseProgression/AppealFinalOrders-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/AssistedOrderCostDetails-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/AssistedOrderReasonsFinalOrders-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/CaseHearingLengthElement-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/CaseTrialNotice-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/ClaimantAndDefendantHeard-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/DateHeardFinalOrders-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/FinalOrderRepresentation-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/FurtherHearingFinalOrders-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/OrderMadeOnDetailsFinalOrders-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/OrderOnCourtInitiative-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/OrderWithoutNotice-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/RecitalsRecordedFinalOrders-nonprod.json
  ccd-definition/FixedLists/CaseProgression/AppealFinalOrders-nonprod.json
  ccd-definition/FixedLists/CaseProgression/FinalOrderJudgeHeardShowHide-nonprod.json
  ccd-definition/FixedLists/CaseProgression/FinalOrderSelection-nonprod.json
  ccd-definition/FixedLists/CaseProgression/FinalOrdersCostSelection-nonprod.json
  ccd-definition/FixedLists/CaseProgression/FinalOrdersJudgePapers-nonprod.json
  ccd-definition/FixedLists/CaseProgression/FinalOrdersRepresentationList-nonprod.json
  ccd-definition/FixedLists/CaseProgression/HearingLengthFinalOrders-nonprod.json
  ccd-definition/FixedLists/CaseProgression/HearingMethodFinalOrders-nonprod.json
  ccd-definition/FixedLists/CaseProgression/OrderMadeOnTypes-nonprod.json
  ccd-definition/FixedLists/CaseProgression/OrderOnCourtInitiativeList-nonprod.json
  ccd-definition/FixedLists/DocumentType.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2321

#2579 CIV-8075 fixing duplicate docs case file view
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2579

#2581 CIV-8284 Update package.json
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2581

#2583 CIV-0000 Update test name
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2583

#2482 CIV-7137 Part Admit States Paid - CYA and Submit
  ccd-definition/AuthorisationCaseField/staffLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-CUI-nonprod.json
  ccd-definition/AuthorisationCaseState/approver-CUI-nonprod.json
  ccd-definition/AuthorisationCaseState/caseAccessAssignment-CUI-nonprod.json
  ccd-definition/AuthorisationCaseState/staff-CUI-nonprod.json
  ccd-definition/AuthorisationCaseState/systemUpdate-CUI-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-CUI-nonprod.json
  ccd-definition/State.json
  e2e/api/steps_LRspecCui.js
  e2e/fixtures/events/claimantResponseSpecCui.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2482
