Repository hmcts/civil-ccd-definition, pull requests merged in 2023-02, with the labels that each got.

#2126 Moving generate sealed form event to prod file
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-prod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2126

#2122 CIV-2493 Fix aat user
  e2e/config.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2122

#2129 CIV-4302 added wa tests
  e2e/fixtures/events/createSDO.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2129

#2130 Bug/civ 6876
  ccd-definition/CaseEvent/Camunda/CaseEvents.json
  e2e/pages/createClaim/claimValue.page.js
  e2e/run-sdo-functional-tests.sh
  e2e/steps_file.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-2130

#2135 CIV-6918 fix for caselocation
  ccd-definition/CaseEventToComplexTypes/CaseLocationDJ.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/ComplexTypes/CaseLocationDJ.json
  ccd-definition/ComplexTypes/CourtLocation.json
  ccd-definition/ComplexTypes/DQ/RequestedCourt.json
  ccd-definition/ComplexTypes/DQ/RequestedCourtLocationLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2135

#2143 Fix prod case location
  ccd-definition/ComplexTypes/CaseLocation.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2143

#2076 CIV-6900 - Fixing DJ API Tests
  e2e/fixtures/events/createDJ.js
  e2e/fixtures/events/createDJDirectionOrder.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2076

#2145 CIV-6723 moves some tests to night build
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2145

#2088 CIV-6842 - Reminder line to remind users to NOT upload password protected files
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2088

#2083 CIV-5378 Remove bullet point from damages journey
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEventToFields/CaseProceedsInCaseman.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/ClaimProceedsInCasemanLR.json
  ccd-definition/FixedLists/ReasonForProceedingOnPaper.json
  ccd-definition/FixedLists/ReasonForProceedingOnPaperLR.json
  e2e/config.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2083

#2153 CIV-2493 using correct users for preview env
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2153

#2158 CIV-5378 removed hardcoded preview environment
  e2e/config.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2158

#2154 CIV-5411 allowing ga r2 in demo
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2154

#2111 CIV-6857 Add Hearing Notes to Hearings Tab
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ-SDO-nonprod.json
  ccd-definition/CaseField/CaseFieldDJ-SDO-nonprod.json
  ccd-definition/CaseTypeTab/HearingsDJ-SDO-nonprod.json
  ccd-definition/ComplexTypes/HearingNotesDJ-SDO-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2111

#2160 CIV-7006 registration info
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJspec.json
  ccd-definition/CaseField/CaseField-nonprod.json
  ccd-definition/ComplexTypes/RegistrationTypeInformation-nonprod.json
Labels: data-changes, ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-2160

#2164 CIV-7079 remove dependabot and delegate its tasks to renovate
  .dependabot/config.yml
  .github/dependabot.yml
  .github/renovate.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2164

#2169 CIV-5996 Fix incorrect case for ccd files
  ccd-definition/AuthorisationCaseField/StaffLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/SystemUpdateLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/staffLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2169

#1903 CIV-5052 Hearing fee paid journey (also CIV-2727, CIV-2736, CIV-4480)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  ccd-definition/AuthorisationCaseState/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsHearing-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
  ccd-definition/CaseField/CaseFieldCaseProg-nonprod.json
  ccd-definition/State.json
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-1903

#2106 CIV-6796 GA hearing notice
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-GAR3CP-nonprod.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec-GAR3CP-nonprod.json
  ccd-definition/AuthorisationCaseField/staffGAspec-GAR3CP-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec-GAR3CP-nonprod.json
  ccd-definition/CaseField/CaseFieldGAspec-GAR3CP-nonprod.json
  ccd-definition/CaseTypeTab/DocumentsGASpec-GAR3CP-nonprod.json
  ccd-definition/FixedLists/DocumentTypeGASpec-GAR3CP-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2106

#2141 CIV-6900 Enable api dj test
  e2e/api/steps_LRspec.js
  e2e/claimAmountAndFee.js
  e2e/config.js
  e2e/fixtures/events/createDJDirectionOrder.js
  e2e/tests/ui_tests/default_judgement/1v2UnspecDJ_test.js
  package.json
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-2141

#2123 CIV-6946 document uneditable
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseField/EvidenceUpload-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CaseProgression-nonprod.json
  ccd-definition/CaseEventToFields/EvidenceUpload-nonprod.json
  ccd-definition/CaseEventToFields/EvidenceUploadJudge-nonprod.json
  ccd-definition/CaseField/EvidenceUpload-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadDocumentOnly.json
  ccd-definition/FixedLists/CaseProgression/EvidenceUploadTrialSmallClaim-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2123

#2184 CIV-7110 Execute e2e tests with parallel run
  charts/civil-ccd/values.template.yaml
  codecept.conf.js
  e2e/run-functional-tests.sh
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  e2e/tests/ui_tests/default_judgement/1v1specDJ_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
  package.json
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-2184

#2151 CIV-6662 Adding Invalid NoC States
  ccd-definition/AuthorisationCaseState/caseAccessAssignment-nonprod.json
  ccd-definition/CaseEvent/NoticeOfChange-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2151

#2157 CIV-6874 - Missing values in claim summary
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2157

#2191 CIV-7110 Modify enableHelm label to pr-values: enableHelm to save some resource quota
  Jenkinsfile_CNP
  charts/civil-ccd/values.enableHelm.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2191

#2185 CIV-6796 ga hearing notice
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-GAR3CP-nonprod.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec-GAR3CP-nonprod.json
  ccd-definition/AuthorisationCaseField/staffGAspec-GAR3CP-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec-GAR3CP-nonprod.json
  ccd-definition/CaseField/CaseFieldGAspec-GAR3CP-nonprod.json
  ccd-definition/CaseTypeTab/DocumentsGASpec-GAR3CP-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2185

#2162 CIV-7026 Fix label for vary judgement
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GAHearingDateGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2162

#2197 CIV-7110 Update package.json
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2197

#2198 CIV-5433 - Correct Code Owners
  .github/CODEOWNERS
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2198

#2144 fixing CIV-5231, adding additional filter for case worker
  ccd-definition/CaseField/CaseField.json
  ccd-definition/FixedLists/CaseAccessCategory.json
  ccd-definition/WorkBasketInputFields.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2144

#2142 CIV-6916 adding elastic search to preview
  charts/civil-ccd/values.elasticsearch.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2142

#2204 CIV-7109 Fix nightly build
  e2e/run-non-prod-features-flag-enabled-functional-tests.sh
  e2e/run-prod-functional-tests.sh
  e2e/tests/ui_tests/damages/1v1CreateClaim_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_SameSol_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_offline_test.js
  e2e/tests/ui_tests/damages/1v2_LIP_COS_test.js
  e2e/tests/ui_tests/damages/2v1CreateClaim_test.js
  e2e/tests/ui_tests/default_judgement/1v2UnspecDJ_test.js
  e2e/tests/ui_tests/default_judgement/1v2specDJ_test.js
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/lrspec/1v2SameSolicitor-LRspec-SmallClaims_test.js
  e2e/tests/ui_tests/lrspec/2v1CreateClaim-LRspec_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2204

#2205 CIV-7193 Renovate weekly schedule and concurrency limit
  .github/renovate.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2205

#1995 CIV-6536 Legal Rep ITP - CCJ to Formalise payment Submit - Notifications
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/staffCUI.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsCUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1995

#2208 CIV-7209 Added hearing-schedule-access to national-business-centre access profile
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2208

#2125 CIV-6000 - Legal Rep ITP changes for CCJ journey.
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/staffLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec-CUI-nonprod.json
  e2e/fixtures/events/claimantResponseSpecCui.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2125

#2213 CIV-6953 ammend words for create claim
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2213

#2193 CIV-6994 relist hearing notice
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseField/HearingNotice-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
  ccd-definition/CaseEventToFields/HearingNotice-nonprod.json
  ccd-definition/CaseField/CaseFieldHearingNotice-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2193

#2224 CIV-0000 updateing charts to switch wa for civils
  charts/civil-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2224

#2221 CIV-7276 Update unassign user roles in AM and CCD
  charts/civil-ccd/values.enableHelm.template.yaml
  charts/civil-ccd/values.template.yaml
  e2e/tests/api_tests/lrspec/api_1v1_spec_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_fast_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_fast_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_test.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_offline_test.js
  e2e/tests/ui_tests/damages/crossBrowser_test.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  e2e/tests/ui_tests/default_judgement/1v1specDJ_test.js
  e2e/tests/ui_tests/default_judgement/1v2UnspecDJ_test.js
  e2e/tests/ui_tests/default_judgement/1v2specDJ_test.js
  e2e/tests/ui_tests/sdo/sdo_journey_test_disabled.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2221

#1855 CIV-4925 - Post AP release clean up (2/2)
  ccd-definition/CaseEvent/Camunda/BusinessProcessEventsLRspec-prod.json
  ccd-definition/CaseEvent/User/UserEvents-prod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-HNL-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-HNL-prod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-base-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  codecept.conf.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/events/createClaimSpec.js
  e2e/fixtures/events/createClaimSpecFast.js
  e2e/fixtures/events/createClaimSpecSmall.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1855

#2232 CIV-7267 Updated text for statement of Truth
  ccd-definition/ComplexTypes/NotifyClaim-COS-nonprod.json
  ccd-definition/ComplexTypes/NotifyClaimDetails-COS-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2232

#2222 CIV-6264 & 6102 WA Task Case Flags Unspec/DJ
  Jenkinsfile_CNP
  bin/import-dmn-diagram.sh
  bin/import-wa-bpmn-diagram.sh
  bin/pull-latest-camunda-wa-files.sh
  bin/pull-latest-dmn-files.sh
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEvent/User/UserEventsDJ.json
  ccd-definition/CaseEventToComplexTypes/HearingRequirementsDJ.json
  ccd-definition/CaseEventToComplexTypes/Languages-hnl-legal-rep.json
  ccd-definition/CaseEventToFields/ClaimantResponse-hnl-legal-rep.json
  ccd-definition/CaseEventToFields/ClaimantResponse-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponse-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponse-hnl-legal-rep.json
  ccd-definition/CaseEventToFields/DefendantResponse-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponse-prod.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/ComplexTypes/HearingRequirementsDJ.json
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.preview.template.yaml
  charts/civil-ccd/values.template.yaml
  charts/civil-ccd/values.yaml
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2222

#2254 Revert "CIV-6264 & 6102 WA Task Case Flags Unspec/DJ"
  Jenkinsfile_CNP
  bin/import-dmn-diagram.sh
  bin/import-wa-bpmn-diagram.sh
  bin/pull-latest-camunda-wa-files.sh
  bin/pull-latest-dmn-files.sh
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEvent/User/UserEventsDJ.json
  ccd-definition/CaseEventToComplexTypes/HearingRequirementsDJ.json
  ccd-definition/CaseEventToComplexTypes/Languages-hnl-legal-rep.json
  ccd-definition/CaseEventToFields/ClaimantResponse-hnl-legal-rep.json
  ccd-definition/CaseEventToFields/ClaimantResponse-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponse-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponse-hnl-legal-rep.json
  ccd-definition/CaseEventToFields/DefendantResponse-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponse-prod.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/ComplexTypes/HearingRequirementsDJ.json
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.preview.template.yaml
  charts/civil-ccd/values.template.yaml
  charts/civil-ccd/values.yaml
Labels: data-changes

#2220 CIV-6870 refactor ccd config upload script
  bin/build-release-ccd-definition.sh
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2220

#2240 CIV-7014 WaysTo Pay Refactoring
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GAPBADetailsGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2240

#1710 CIV-6051 new event added
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-1710

#2272 CIV-000 Change dateNoWeekends to 30 days for informed agreed extension
  e2e/fixtures/events/informAgreeExtensionDateSpec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2272
