Repository hmcts/civil-ccd-definition, pull requests merged in 2023-01, with the labels that each got.

#1165 feat/CIV-1614: Adding NOC event to history tab
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1165

#1899 Feat/civ 5792 bundle changes
  ccd-definition/AuthorisationCaseField/BundlesCaseField-nonprod.json
  ccd-definition/AuthorisationComplexType/BundlesIntegration-nonprod.json
  ccd-definition/CaseField/BundlesField-nonprod.json
  ccd-definition/CaseTypeTab/BundlesTab-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/BundlesIntegration-nonprod.json
  ccd-definition/ComplexTypes/NotifyClaimDetails-COS-nonprod.json
  ccd-definition/FixedLists/CaseProgression/BundleIntegration-nonprod.json
  config/owasp/suppressions.xml
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1899

#1908 Civ 6513 civ 6516 cos UI changes
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaim-COS-nonprod.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails-COS-nonprod.json
  ccd-definition/ComplexTypes/NotifyClaim-COS-nonprod.json
  ccd-definition/ComplexTypes/NotifyClaimDetails-COS-nonprod.json
  ccd-definition/FixedLists/NotifyClaimStatement-COS-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1908

#1941 Unshutter release and enable test cases
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType.json
  ccd-definition/AuthorisationCaseType/approver.json
  ccd-definition/AuthorisationCaseType/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseType/staff.json
  codecept.conf.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1941

#1943 Revert "unshutter release"
  codecept.conf.js
  config/owasp/suppressions.xml
  e2e/pages/caseView.page.js
  e2e/pages/createClaim/createCaseLRspec.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1943

#1934 CIV-4181 & CIV-5608 NEW - Updating Hearing Support Screens 1/2
  ccd-definition/CaseEventToFields/ClaimantResponse-HNL-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponse-base-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponse-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-HNL-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-base-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponse-HNL-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponse-base-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponse-prod.json
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-HNL-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-HNL-prod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-base-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/ComplexTypes/DQ/HearingSupportRequirements-HNL-nonprod.json
  ccd-definition/ComplexTypes/DQ/HearingSupportRequirements-base-nonprod.json
  ccd-definition/ComplexTypes/DQ/HearingSupportRequirements-prod.json
  ccd-definition/ComplexTypes/DQ/HearingSupportRequirements.json
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor1.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor2.js
  e2e/fixtures/events/1v2SameSolicitorEvents/defendantResponse_sameSolicitor.js
  e2e/fixtures/events/2v1Events/defendantResponse_2v1.js
  e2e/fixtures/events/claimantResponse.js
  e2e/fixtures/events/claimantResponseSpec.js
  e2e/fixtures/events/claimantResponseSpec1v2.js
  e2e/fixtures/events/claimantResponseSpec1v2Fast.js
  e2e/fixtures/events/claimantResponseSpec2v1.js
  e2e/fixtures/events/claimantResponseSpec2v1Fast.js
  e2e/fixtures/events/claimantResponseSpecSmall.js
  e2e/fixtures/events/defendantResponse.js
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
  e2e/fixtures/events/defendantResponseSpec1v2Fast.js
  e2e/fixtures/events/defendantResponseSpec2v1.js
  e2e/fixtures/events/defendantResponseSpec2v1Fast.js
  e2e/fixtures/events/defendantResponseSpecSmall.js
  e2e/fragments/dq/hearingSupportRequirements.page.js
  e2e/helpers/hnlFeatureHelper.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1934

#1959 Update ccd Ft tests
  build.gradle
  config/owasp/suppressions.xml
  e2e/pages/createClaim/createCase.page.js
  e2e/pages/createClaim/createCaseLRspec.page.js
  e2e/steps_file.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1959

#1859 feat/CIV-6302 removed equivalent paragraph (2/2)
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-nonprod.json
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1859

#1922 Update Readme
  README.md
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1922

#1962 added missing permissions to caseManagementLocation casefield
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1962

#1835 Retrieve email address of NoC requester (1/2)
  ccd-definition/CaseEventToComplexTypes/NoticeOfChangeRequest-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1835

#1952 Increase data store memory Update values.template.yaml
  charts/civil-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1952

#1914 Fix/civ 6386 templates v10
  ccd-definition/CaseField/CaseFieldDJ-SDO-HNL-nonprod.json
  ccd-definition/CaseField/CaseFieldDJ-SDO-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingWitnessOfFact-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialHearingDisclosureOfDocuments-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialHearingSchedulesOfLoss-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialHearingTrial-DJ-nonprod.json
  ccd-definition/FixedLists/TrialHearingBundleType-DJ-nonprod.json
Labels: ns:civil, prd:civil, Testing, enableHelm, rel:civil-ccd-pr-1914

#1945 Restored hnl respondent witnesses spec fields
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-HNL-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1945

#1749 CIV-3381 Response Deadline Extension
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/staffCUI.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsCUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1749

#1974 Apply platform.hmcts.net URLs
  Jenkinsfile_CNP
  bin/variables/load-preview-environment-variables.sh
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
  charts/civil-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1974

#1977 Revert "Apply platform.hmcts.net URLs"
  Jenkinsfile_CNP
  bin/variables/load-preview-environment-variables.sh
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
  charts/civil-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1977

#1901 feat/CIV-6500 and 6501; sdo templates changed
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-HNL-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-HNL-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-nonprod.json
  ccd-definition/CaseField/CaseFlags-nonprod.json
  ccd-definition/ComplexTypes/ClaimsTrackType-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/ClaimsTrackType-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackNotes-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/FastTrackNotes-SDO-nonprod.json
  ccd-definition/ComplexTypes/FastTrackTrial-SDO-HNL-nonprod.json
  ccd-definition/ComplexTypes/FastTrackTrial-SDO-nonprod.json
  ccd-definition/FixedLists/FastTrackTrialBundleType-SDO-HNL-nonprod.json
  ccd-definition/FixedLists/FastTrackTrialBundleType-SDO-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1901

#1979 CIV-6701: legal advisor event updates
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-HNL-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-HNL-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1979

#1722 CIV-5369: Legal Rep ITP - Full Admit Instalments - View and respond to defence
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/staffLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-prod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents.json
  ccd-definition/CaseEvent/User/UserEventsCUI.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec-CUI-nonprod.json
  ccd-definition/FixedLists/ShowResponseOneVOneFlagSpec-nonprod.json
  codecept.conf.js
  e2e/api/steps_LRspecCui.js
  e2e/fixtures/events/claimantResponseSpecCui.js
  e2e/fixtures/events/defendantResponseSpecCui.js
  e2e/run-api-ff-enabled-functional-tests.sh
  e2e/run-spec-functional-tests.sh
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1722

#1902 Civ 3205
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1902

#1864 Civ 6014 api test
  config/owasp/suppressions.xml
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/fixtures/events/createClaim.js
  e2e/tests/api_tests/damages/api_1v1_test.js
  e2e/tests/api_tests/damages/api_1v2_lip_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1864

#1932 Civ 6515 untick statement of truth
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaim-COS-nonprod.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails-COS-nonprod.json
  ccd-definition/ComplexTypes/NotifyClaim-COS-nonprod.json
  ccd-definition/ComplexTypes/NotifyClaimDetails-COS-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1932

#1862 Feat/civ 6141 reset pin event
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateCUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCUI.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-1862

#1989 Civ 6718 sdo read permissions
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-HNL-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1989

#1985 Feat/civ 2493 newest
  codecept.conf.js
  e2e/api/steps.js
  e2e/config.js
  e2e/fixtures/events/claimantResponse.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/createSDO.js
  e2e/helpers/hnlFeatureHelper.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1985

#1994 COS UI automation
  e2e/api/steps.js
  e2e/pages/caseView.page.js
  e2e/pages/cosNotifyClaimCYA.page.js
  e2e/pages/cosTab.page.js
  e2e/pages/notifyClaim/certificateOfServiceNotifyClaim.page.js
  e2e/pages/notifyClaimDetails/certificateOfServiceNotifyClaimDetails.page.js
  e2e/run-cos-functional-tests.sh
  e2e/run-features-flag-enabled-full-functional-tests.sh
  e2e/steps_file.js
  e2e/tests/api_tests/damages/api_1v1_test.js
  e2e/tests/api_tests/damages/api_1v2_lip_test.js
  e2e/tests/ui_tests/damages/1v2_LIP_COS_test.js
  package.json
Labels: ns:civil, prd:civil, Testing, rel:civil-ccd-pr-1994

#2022 Revert "Feat/civ 2493 newest (#1985)"
  codecept.conf.js
  e2e/api/steps.js
  e2e/config.js
  e2e/fixtures/events/claimantResponse.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/createSDO.js
  e2e/helpers/hnlFeatureHelper.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2022

#2021 Feat/civ 5428 new callback
  ccd-definition/CaseEventToFields/CreateClaim.json
  e2e/api/steps.js
  e2e/fixtures/events/createClaim.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2021

#2031 Combining AuthorisationCaseType Files
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType.json
  ccd-definition/AuthorisationCaseType/approver.json
  ccd-definition/AuthorisationCaseType/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseType/staff.json
  ccd-definition/AuthorisationCaseType/systemUpdate.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2031

#1705 Feat/civ 6099 evidence upload main
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseField/EvidenceUpload-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
  ccd-definition/CaseEventToFields/EvidenceUpload-nonprod.json
  ccd-definition/CaseField/EvidenceUpload-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceDisclosure1-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceDisclosure2-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceExpert1-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceExpert2-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceExpert3-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceExpert4-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceTrial1-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceTrial2-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceTrial3-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceTrial4-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceWitness1-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceWitness2-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceWitness3-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceWitness4-nonprod.json
  ccd-definition/FixedLists/CaseProgression/EvidenceUploadTrial-nonprod.json
  ccd-definition/FixedLists/CaseProgression/EvidenceUploadTrialSmallClaim-nonprod.json
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-1705

#1931 case notes e2e added
  e2e/pages/addCaseNotes/addDocumentAndNotes.js
  e2e/pages/addCaseNotes/selectCaseNote.js
  e2e/steps_file.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-1931

#2040 Feat/civ 2493 b
  codecept.conf.js
  e2e/api/steps.js
  e2e/config.js
  e2e/fixtures/events/createSDO.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2040

#2049 CIV-2493 isolated create_sdo test changes from other tests' methods
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2049

#2058 ccd to 8.0.23
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2058

#2019 Feat/civ 6406 redone
  ccd-definition/CaseEventToFields/CreateClaim-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaim-prod.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseEventToFields/CreateClaimLRspec-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaimLRspec-prod.json
  ccd-definition/CaseEventToFields/CreateClaimLRspec.json
  ccd-definition/CaseEventToFields/GlobalSearch-nonprod.json
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/config.js
  e2e/fixtures/events/createClaim.js
  e2e/pages/createClaim/serviceRequest.page.js
  e2e/steps_file.js
  e2e/steps_file_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2019

#1907 CIV-5337: Notification Email
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsCUI-nonprod.json
  ccd-definition/ComplexTypes/Party-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-1907

#2071 Adding suppression temporarily
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2071

#2072 Bug/civ 6893
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2072

#2034 CIV-6574 removed first paragraph from Witnesses of Fact in Disposal H…
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalHearingWitnessOfFact-SDO-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2034

#2063 Feat/civ 2493 b
  e2e/api/steps.js
  e2e/fixtures/events/createSDO.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2063

#2074 Clear the pods regardless of success or failure
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2074

#2016 Feat/CIV-6533 enter case details
  ccd-definition/ChallengeQuestion/ChallengeQuestion-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2016

#1794 civil-6050-order-event
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1794

#1938 Civ 6011
  bin/build-release-ccd-definition.sh
  ccd-definition/CaseTypeTab/ApplicationsStaff-GAR3CP-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-1938

#2080 Feat/civ 2493 b
  e2e/api/steps.js
  e2e/fixtures/events/createSDO.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2080

#1745 Feat/civ 6204
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseField/HearingNotice-nonprod.json
  ccd-definition/CaseEvent/Camunda/PaymentEvents.json
  ccd-definition/CaseEvent/User/UserEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseEventToFields/CreateClaimLRspec.json
  ccd-definition/CaseField/CaseFieldHearingNotice-nonprod.json
  ccd-definition/ComplexTypes/SRPbaDetails.json
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
  charts/civil-ccd/values.template.yaml
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/createClaimSpec.js
  e2e/fixtures/events/createClaimSpecFast.js
  e2e/fixtures/events/createClaimSpecSmall.js
  e2e/fixtures/featureKeys.js
  e2e/pages/createClaim/serviceRequest.page.js
  e2e/steps_file_LRspec.js
  e2e/tests/ui_tests/damages/1v1CreateClaim_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_SameSol_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_offline_test.js
  e2e/tests/ui_tests/damages/2v1CreateClaim_test.js
  e2e/tests/ui_tests/damages/crossBrowser_test.js
  e2e/tests/ui_tests/damages/rpaHandoff_test.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  e2e/tests/ui_tests/default_judgement/1v1specDJ_test.js
  e2e/tests/ui_tests/default_judgement/1v2UnspecDJ_test.js
  e2e/tests/ui_tests/default_judgement/1v2specDJ_test.js
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
  e2e/tests/ui_tests/lrspec/1v2SameSolicitor-LRspec-SmallClaims_test.js
  e2e/tests/ui_tests/lrspec/2v1CreateClaim-LRspec_test.js
Labels: data-changes, ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-1745

#1991 Legal ITP: Change for full admit and part admit path
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/staffLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-CUI-nonprod.json
  ccd-definition/FixedLists/PaymentFrequencyClaimantResponseLRspec-CUI-nonprod.json
  e2e/fixtures/events/claimantResponseSpecCui.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1991

#2092 CIV-6930 - Suppressing vulnerability temporarily
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2092

#2090 add events
  ccd-definition/CaseEvent/User/UserEventsLRspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2090

#2082 Feat/civ 2493 b
  e2e/api/steps.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2082

#2093 added created date for evidence upload files
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceDocumentType.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceExpert1-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceExpert2-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceExpert3-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceExpert4-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceWitness1-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceWitness2-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceWitness3-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2093

#1734 Feat/civ 4714
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseField/HearingNotice-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
  ccd-definition/CaseField/CaseFieldHearingNotice-nonprod.json
Labels: ns:civil, prd:civil, Testing, enableHelm, rel:civil-ccd-pr-1734

#2101 CIV-6948 - Fix github deployment URL
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2101

#2104 Adding Vulnerability suppression
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2104

#2067 CIV-5433 - Add title validation and Code Owners
  .github/CODEOWNERS
  .github/workflows/main.yml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2067

#2079 Update suppressions.xml
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2079

#2077 CIV-6906 changes for https://tools.hmcts.net/jira/browse/CIV-6906
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventDJ.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventDJspec.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateDJ.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateDJSpec.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ.json
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-2077

#2095 CIV-2493 pr2073
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/claimAmountAndFee.js
  e2e/config.js
  e2e/fixtures/events/createClaim.js
  e2e/steps_file_LRspec.js
  e2e/steps_file_WA.js
  e2e/tests/api_tests/sdo/sdo_test.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
Labels: ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-2095

#2116 CIV-6912 suppressions removed
  config/owasp/suppressions.xml
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2116

#2118 CIV-6909 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2118

#1706 CIV-5790 change pipeline type to nodejs
  .eslintrc.js
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  bin/build-release-ccd-definition.sh
  build.gradle
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-nonprod.json
  ccd-definition/AuthorisationCaseField/staff-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-prod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents.json
  config/owasp/suppressions.xml
  e2e/run-functional-tests.sh
  e2e/tests/unit/definitions/AuthorisationCaseEvent.test.js
  e2e/tests/unit/definitions/AuthorisationCaseField.test.js
  e2e/tests/unit/definitions/AuthorisationCaseState.test.js
  e2e/tests/unit/definitions/AuthorisationCaseType.test.js
  e2e/tests/unit/definitions/Banner.test.js
  e2e/tests/unit/definitions/CaseEvent.test.js
  e2e/tests/unit/definitions/CaseEventToComplexTypes.test.js
  e2e/tests/unit/definitions/CaseEventToFields.test.js
  e2e/tests/unit/definitions/CaseField.test.js
  e2e/tests/unit/definitions/CaseRoles.test.js
  e2e/tests/unit/definitions/CaseType.test.js
  e2e/tests/unit/definitions/CaseTypeTab.test.js
  e2e/tests/unit/definitions/ComplexTypes.test.js
  e2e/tests/unit/definitions/Jurisdiction.test.js
  e2e/tests/unit/definitions/RoleToAccessProfiles.test.js
  e2e/tests/unit/definitions/SearchInputFields.test.js
  e2e/tests/unit/definitions/SearchResultFields.test.js
  e2e/tests/unit/definitions/WorkBasketInputFields.test.js
  e2e/tests/unit/definitions/WorkBasketResultFields.test.js
  e2e/tests/unit/utils/assertBuilders.js
  e2e/tests/unit/utils/dataProvider.js
  e2e/tests/unit/utils/utils.js
  package.json
  sonar-project.properties
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationCaseFieldCCDValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationCaseStateCCDValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationCaseTypeCCDValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationComplexTypeCCDValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/CCDFileValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/CCDValidationError.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/CaseFieldCCDValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/ComplexTypesCCDValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/ccdvalidation/UniqueConstraintCCDFileValidator.java
  src/test/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupAppTest.java
  src/test/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationCaseFieldCCDValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationCaseStateCCDValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationCaseTypeCCDValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/ccdvalidation/AuthorisationComplexTypeCCDValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/ccdvalidation/CaseFieldCCDValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/ccdvalidation/ComplexTypesCCDValidatorTest.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1706

#2053 CIV-6650 Update heading label
  ccd-definition/CaseField/CaseField-SDO-nonprod.json
  ccd-definition/ComplexTypes/DisposalOrderWithoutHearing-SDO-nonprod.json
Labels: data-changes, ns:civil, prd:civil, Testing, enableHelm, rel:civil-ccd-pr-2053
