Repository hmcts/civil-ccd-definition, pull requests merged in 2023-11, with the labels that each got.

#3484 CIV-6393 lift breathing space recreate
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-R2-CUI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/BreathingSpaceLRspec-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3484

#3483 CIV-10624 update Jenkinsfile_nightly secrets
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3483

#3490 CIV-7581 Shuttering for CIV-7581
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3490

#3492 CIV-7581 Revert "Shuttering for CIV-7581"
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3492

#3501 CIV-0000 Fix wa nightly
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3501

#3514 CIV-0000 Making CUI fields searchable
  ccd-definition/CaseField/CaseField-CUI-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-CUI-nonprod.json
  ccd-definition/ComplexTypes/UserDetails.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3514

#3503 CIV-0000 Use region 2 admin for 2v1 spec case flags
  e2e/tests/api_tests/lrspec/api_2v1_spec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3503

#3517 CIV-10922 TOC-NotsuitableSDO- Remove WA Feature Toggle flag from screen
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3517

#3531 CIV-10922 Revert CIV-10922 TOC-NotsuitableSDO- Remove WA Feature Toggle flag from screen
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3531

#3535 CIV-10922 toc reconfigure tasks
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3535

#3533 CIV-0000 ---- unskip DJ tests
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3533

#3272 CIV-9993 Hearing party MCI
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-HMC-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-MCI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-prod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-MCI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-MCI-prod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEvent/User/UserEvents-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Applicant1-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Applicant1LitigationFriend-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Applicant2-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Applicant2LitigationFriend-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Experts-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/LRIndividuals-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/OrgIndividuals-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Respondent1-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Respondent1LitigationFriend-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Respondent2-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Respondent2LitigationFriend-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Witnesses-MCI-nonprod.json
  ccd-definition/CaseEventToFields/ManageContactInformation-MCI-nonprod.json
  ccd-definition/CaseField/CaseField-HMC-nonprod.json
  ccd-definition/CaseField/CaseField-MCI-nonprod.json
  ccd-definition/CaseField/CaseField-UnavailableDates-nonprod.json
  ccd-definition/CaseTypeTab/ClaimDetails-MCI-nonprod.json
  ccd-definition/CaseTypeTab/ClaimDetails.json
  ccd-definition/ComplexTypes/UpdatePartyDetailsForm-MCI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3272

#3545 CIV-9993 Fix
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-MCI-prod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-prod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3545

#3504 CIV-10896 removing NotSuitable for SDO from Next Step drop down
  ccd-definition/CaseEvent/User/UserEvents-SDO-TOC-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-TOC-prod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3504

#3214 CIV-10094 Case flags updates for new/edited parties
  ccd-definition/CaseEventToComplexTypes/CreateCaseFlags-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageCaseFlags-MCI-nonprod.json
  ccd-definition/CaseEventToFields/CreateCaseFlags-MCI-nonprod.json
  ccd-definition/CaseEventToFields/ManageCaseFlags-MCI-nonprod.json
  ccd-definition/CaseTypeTab/CaseFlags-CaseFlags-nonprod.json
  ccd-definition/CaseTypeTab/CaseFlags-MCI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3214

#3548 CIV-0000 fix nightly api tests - In case of not proceed the case goes offline
  e2e/api/steps_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3548

#3534 CIV-8923 specAoSApplicantCorrespondenceAddressdetails is being updated when defendant updates address
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
  e2e/fixtures/events/defendantResponseSpec1v2Fast.js
  e2e/fixtures/events/defendantResponseSpec2v1.js
  e2e/fixtures/events/defendantResponseSpec2v1Fast.js
  e2e/fixtures/events/defendantResponseSpecCui.js
  e2e/fixtures/events/defendantResponseSpecSmall.js
  e2e/fragments/confirmDefendantsDetailsLRspec.js
  e2e/fragments/confirmLegalRepDetailsLRspec.js
  e2e/pages/respondToClaimLRspec/enter2ndDefendantDetailsLRspec.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3534

#3558 CIV-8923 specAoSApplicantCorrespondenceAddressdetails is being updated when defendant updates address
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
  e2e/fixtures/events/defendantResponseSpec1v2Fast.js
  e2e/fixtures/events/defendantResponseSpec2v1.js
  e2e/fixtures/events/defendantResponseSpec2v1Fast.js
  e2e/fixtures/events/defendantResponseSpecCui.js
  e2e/fixtures/events/defendantResponseSpecSmall.js
  e2e/fragments/confirmDefendantsDetailsLRspec.js
  e2e/pages/respondToClaimLRspec/enter2ndDefendantDetailsLRspec.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3558

#3561 CIV-8923 revert
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
  e2e/fixtures/events/defendantResponseSpec1v2Fast.js
  e2e/fixtures/events/defendantResponseSpec2v1.js
  e2e/fixtures/events/defendantResponseSpec2v1Fast.js
  e2e/fixtures/events/defendantResponseSpecCui.js
  e2e/fixtures/events/defendantResponseSpecSmall.js
  e2e/fragments/confirmDefendantsDetailsLRspec.js
  e2e/fragments/confirmLegalRepDetailsLRspec.js
  e2e/pages/respondToClaimLRspec/enter2ndDefendantDetailsLRspec.page.js
Labels: ns:civil, prd:civil

#3560 CIV-0000 caseManagementLocation DJ retaining
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ.json
  ccd-definition/ComplexTypes/CaseLocation.json
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3560

#3569 CIV-0000 fix test user type
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3569

#3460 CIV-11150 flight delay screen
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaimLRspec-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaimLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec-SDO-R2-nonprod.json
  ccd-definition/FixedLists/ClaimType-SDO-R2-nonprod.json
  e2e/fixtures/featureKeys.js
  e2e/pages/createClaim/addClaimForAFlightDelay.page.js
  e2e/steps_file_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3460

#3571 CIV-11150 flight delay screen - REVERT
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaimLRspec-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaimLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec-SDO-R2-nonprod.json
  ccd-definition/FixedLists/ClaimType-SDO-R2-nonprod.json
  e2e/fixtures/featureKeys.js
  e2e/pages/createClaim/addClaimForAFlightDelay.page.js
  e2e/steps_file_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3571

#3575 CIV-0000 fix bank holiday -- Update dataHelper.js
  e2e/api/dataHelper.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3575

#3524 CIV-11381 remove mid callback event validateInputValue
  ccd-definition/CaseEventToFields/CreateSDO-SDO.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3524

#3579 Feat/civ 9025 notification ccj
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3579

#3513 CIV-000 Shutter Prod
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3513

#3581 CIV-0000 unShutter prod release
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3581

#3582 CIV-0000 fix to show tab when hearing notes exist
  ccd-definition/CaseTypeTab/Hearings-prod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3582

#3520 CIV-0000 - add permission to CUI for common components of hearingFee in CUI
  ccd-definition/AuthorisationCaseField/HearingNotice.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3520

#3584 CIV-0000 Enable EA court testing for dj
  Jenkinsfile_CNP
  e2e/config.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  wa/tasks/scheduleAHearing.js
  wa/tasks/summaryJudgmentDirectionsTask.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3584

#3512 CIV-10792 added event for notify respondent 2
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3512

#3279 CIV-10382 Case flags updates for new experts/witnesses
  e2e/fixtures/events/1v2DifferentSolicitorEvents/acknowledgeClaim_Solicitor1.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/acknowledgeClaim_Solicitor2.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor1.js
  e2e/fixtures/events/1v2SameSolicitorEvents/acknowledgeClaim_sameSolicitor.js
  e2e/fixtures/events/1v2SameSolicitorEvents/defendantResponse_sameSolicitor.js
  e2e/fixtures/events/2v1Events/acknowledgeClaim_2v1.js
  e2e/fixtures/events/2v1Events/defendantResponse_2v1.js
  e2e/fixtures/events/acknowledgeClaim.js
  e2e/fixtures/events/defendantResponse.js
  e2e/helpers/assertions/caseFlagsAssertions.js
  e2e/tests/ui_tests/damages/1v1CreateClaim_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3279

#3572 CIV-11150 flight delay screen - NEW PR
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaimLRspec-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaimLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec-SDO-R2-nonprod.json
  ccd-definition/FixedLists/ClaimType-SDO-R2-nonprod.json
  e2e/fixtures/featureKeys.js
  e2e/pages/createClaim/addClaimForAFlightDelay.page.js
  e2e/steps_file_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3572

#3598 CIV-000 Fix case flags merge
  ccd-definition/CaseTypeTab/CaseFlags.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3598

#3585 CIV-0000 Post case progression tasks to be merged
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3585

#3601 CIV-0000 - CUI WA required changes
  ccd-definition/CaseEvent/User/UserEventsCUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3601

#3592 CIV-10382 Revert "Revert "CIV-10382 Case flags updates for new experts/witnesses""
  e2e/fixtures/events/1v2DifferentSolicitorEvents/acknowledgeClaim_Solicitor1.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/acknowledgeClaim_Solicitor2.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor1.js
  e2e/fixtures/events/1v2SameSolicitorEvents/acknowledgeClaim_sameSolicitor.js
  e2e/fixtures/events/1v2SameSolicitorEvents/defendantResponse_sameSolicitor.js
  e2e/fixtures/events/2v1Events/acknowledgeClaim_2v1.js
  e2e/fixtures/events/2v1Events/defendantResponse_2v1.js
  e2e/fixtures/events/acknowledgeClaim.js
  e2e/fixtures/events/defendantResponse.js
  e2e/helpers/assertions/caseFlagsAssertions.js
  e2e/helpers/caseFlagsFeatureHelper.js
  e2e/tests/ui_tests/damages/1v1CreateClaim_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3592

#3410 CIV-8939 - Claimant Intent: Submit Function - Change state to ALL_FINAL_ORDERS_ISSUED
  ccd-definition/ComplexTypes/RespondToDefence-CUI-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3410

#3595 CIV-8324 Adding the option Noise induced hearing loss into Personal I…
  ccd-definition/FixedLists/PersonalInjuryType-SDO-R2-nonprod.json
  ccd-definition/FixedLists/PersonalInjuryType.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3595

#3474 CIV-8147 Sign settlement agreement: Submit Function Back end
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, pr-values:elasticsearch, rel:civil-ccd-pr-3474

#3622 CIV-10810 NoC/CoS cleanup
  e2e/api/steps.js
  e2e/api/testingSupport.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3622

#3616 CIV-11363 Retrigger Cases
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/User/RetriggerCase.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3616

#3612 CIV-11422 Make MCI event available for caseworkers in awaiting defendant acknowledgement state
  ccd-definition/CaseEvent/User/UserEvents-MCI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3612

#3488 CIV-8155 Enter flight details screen
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/FlightDelayDetails-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaimLRspec-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaimLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/FlightDelayDetails-SDO-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-3488

#3482 CIV-0000 adds2stoken
  charts/civil-ccd/values.template.yaml
  e2e/api/apiRequest.js
  e2e/api/testingSupport.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3482

#3400 CIV-8785 -Claimant Intent County Court Judgment requested
  ccd-definition/AuthorisationCaseField/approver.json
  ccd-definition/ComplexTypes/RespondToDefence-CUI-R2-nonprod.json
  ccd-definition/FixedLists/ChooseHowToProceed-CUI-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, stale, rel:civil-ccd-pr-3400

#3615 CIV-8338 Event added REQUEST_FOR_RECONSIDERATION
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-R2-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-R2-nonprod.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-3615

#3593 CIV-0000 Update sdo cp test changes
  e2e/api/steps.js
  e2e/tests/api_tests/sdo/sdo_test.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  wa/tasks/fastTrackDirections.js
  wa/tasks/fastTrackDirectionsTask.js
  wa/tasks/legalAdvisorSmallClaimsTrackDirectionsTask.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3593

#3637 CIV-11363 Update RetriggerCase.json
  ccd-definition/CaseEvent/Camunda/RetriggerCase.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3637

#3611 CIV-11637 Update Final Orders Representation List
  ccd-definition/FixedLists/CaseProgression/FinalOrdersRepresentationList.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3611

#3620 CIV-11144 add witness summary date
  ccd-definition/CaseField/EvidenceUpload.json
  ccd-definition/ComplexTypes/CaseProgression/UploadEvidenceWitness2.json
  e2e/fixtures/events/evidenceUploadApplicant.js
  e2e/fixtures/events/evidenceUploadRespondent.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3620

#3639 CIV-11144 unskip evidence upload tests
  e2e/tests/api_tests/defaultJudgments/api_dj_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3639

#3594 CIV-8454 Add service request event and field
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3594

#3632 CIV-0000 Activate Shuttering for CUI
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3632

#3647 CIV-0000 Unshutter CCD
  bin/build-release-ccd-definition.sh
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3647

#3650 CIV-0000 enable tests
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3650
