Repository hmcts/civil-ccd-definition, pull requests merged in 2023-07, with the labels that each got.

#2897 CIV-0000 Update Chart.yaml
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2897

#2860 CIV-8409 Caseworker Document Upload Function
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCUI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageDocumentsCUI-nonprod.json
  ccd-definition/CaseEventToFields/ManageDocumentsCUI-nonprod.json
  ccd-definition/CaseField/ManageDocumentsCUI-nonprod.json
  ccd-definition/CaseTypeTab/DocumentsCUI-nonprod.json
  ccd-definition/ComplexTypes/ManageDocumentsCUI-nonprod.json
  ccd-definition/FixedLists/ManageDocumentsCUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2860

#2861 CIV-9285 Case flags e2e
  e2e/pages/caseFlags/createCaseFlags.page.js
  e2e/pages/caseView.page.js
  e2e/steps_file.js
  e2e/steps_file_LRspec.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2861

#2837 CIV-5793 create event response form
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEventsCUI_nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2837

#2795 CIV-9130 add caseworker-civil-staff role
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2795

#2908 CIV-7581 Shutter civil-ccd
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2908

#2911 CIV-7581 Revert Shutter civil-ccd
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2911

#2884 CIV-8999 Change to SLA start date and screen flow
  e2e/api/steps_hearings.js
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2884

#2913 CIV-7581 Shutter civil-ccd release revert
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2913

#2883 CIV-9480 HMC payload amends
  e2e/api/steps_hearings.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2883

#2915 CIV-7581 Revert Shutter civil-ccd release revert
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2915

#2787 CIV-9217 Create partyIds on the fly if missing
  ccd-definition/AuthorisationCaseEvent/systemUpdate-HMC-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseEvent/User/UserEvents-HMC-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2787

#2905 CIV-9513 remove duplication
  bin/build-release-ccd-definition.sh
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsDJSpec-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-COMMON-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJspec-nonprod.json
  e2e/tests/unit/utils/dataProvider.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2905

#2918 CIV-9341 Add Defendant Defence file to LR response to claim
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2918

#2755 CIV-8582 MultiList
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingBundle-SDO-DJ.json
  e2e/fixtures/events/createDJDirectionOrder.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2755

#2939 CIV-8582 Putting test back after civil service merge
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2939

#2910 CIV-7954 - added authorisations to use caseDocumentUploadDate
  ccd-definition/AuthorisationCaseField/EvidenceUpload-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2910

#2791 CIV-7997 Add REVIEW_HEARING_EXCEPTION event
  ccd-definition/AuthorisationCaseEvent/systemUpdate-AHN-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-AHN-nonprod.json
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
  charts/civil-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2791

#2889 CIV-7154 Set Up New Event
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsCUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2889

#2936 CIV-8957 generate dq pdf event
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEventsCUI_nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2936

#2917 CIV-7897 Update Event roles
  bin/add-roles.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-unshuttered.json
  ccd-definition/CaseEvent/User/UserEventsCUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-CUI-nonprod.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-CaseFlags-nonprod.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-CaseFlags-prod.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2917

#2972 CIV-6241 add permissions to fields for lip defendant
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2972

#2929 CIV-9582 new endpoint submit claim
  e2e/api/apiRequest.js
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/createClaimSpecBulk.js
  e2e/tests/api_tests/lrspec/api_spec_bulk_test.js
Labels: ns:civil, prd:civil, Testing, rel:civil-ccd-pr-2929

#2940 CIV-9600 Show warning error
  ccd-definition/CaseEventToFields/NotifyDefendantOfClaim-COS-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2940

#2982 CIV-8140 rename on screen wording
  ccd-definition/CaseField/EvidenceUpload-nonprod.json
  ccd-definition/Categories/Categories-nonprod.json
  ccd-definition/FixedLists/CaseProgression/EvidenceUploadExpert-nonprod.json
  ccd-definition/FixedLists/CaseProgression/EvidenceUploadExpertSmallClaim-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2982

#2880 CIV-8164 adding Vulnerability Q to claim Details tab
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseTypeTab/ClaimDetails.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2880

#2957 CIV-9643 Spec Claimant DQ uplifts for fast track
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-FastTrackInt-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-FastTrackInt-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  e2e/api/steps_LRspecFast.js
  e2e/fixtures/events/claimantResponseSpec.js
  e2e/fixtures/events/claimantResponseSpec1v2Fast.js
  e2e/fixtures/events/claimantResponseSpec2v1Fast.js
  e2e/helpers/fastTrackUpliftsHelper.js
  e2e/steps_file_LRspec.js
Labels: ns:civil, prd:civil, pr-values: enableHelm, rel:civil-ccd-pr-2957

#2977 CIV-9807 - Upload Translated Document requires new Document type
  ccd-definition/FixedLists/DocumentType.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2977

#3000 CIV-6250 - adding auth for applicant's deadline
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3000

#2993 CIV-9427 - Fixed bug seen during ClaimantLR journey.
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEvent/User/UserEventsCUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2993

#2696 CIV-8573 Prepare ccd config for WTPP release
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/HearingNotice-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-COMMON-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec.json
  ccd-definition/CaseField/CaseField-nonprod.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseField/CaseFieldHearingNotice-nonprod.json
  ccd-definition/CaseTypeTab/ServiceRequestHearingNotice.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2696

#2851 CIV-9344 Automated hearing notice process
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvents-AHN-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-AHN-nonprod.json
  ccd-definition/CaseEvent/Camunda/AutomatedHearingNoticeEvents-AHN-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2851

#2947 CIV-8909 Add case notes and Modify Party details to Judicial Referral and Case Progression
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/CaseEvent/User/UserEvents-AHN-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-prod.json
  ccd-definition/CaseEvent/User/UserEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2947

#3003 CIV-0000 - remove AAT logging from wa-case-event-handler
  charts/civil-ccd/values.enableWA.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3003
