Repository hmcts/civil-ccd-definition, pull requests merged in 2023-05, with the labels that each got.

#2577 CIV-7105 adding new GA keyvault changes
  charts/civil-ccd/values.preview.template.yaml
  charts/civil-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2577

#2592 CIV-7431 GA applications casefile view
  ccd-definition/Categories/GACategoriesApplicationsGAspec-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2592

#2593 CIV-8117 Settle or Discontinue by consent
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2593

#2533 CIV-8008 : Make Trial Ready Event+Hearing Scheduled History accessible from Hearing Readiness
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventDJ-SDO.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsHearing-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
Labels: ns:civil, prd:civil, Testing, pr-values: enableHelm, rel:civil-ccd-pr-2533

#2582 CIV-0000 Fixing elastic search
  charts/civil-ccd/values.elasticsearch.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2582

#2588 CIV-7864 final orders api tests
  e2e/api/steps.js
  e2e/fixtures/events/finalOrder.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2588

#2611 CIV-0000 added yarn install in jenkins build
  .yarn/releases/yarn-3.5.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2611

#2546 CIV-7904 Remove trial readiness from nightly tests
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2546

#2357 CIV-7574 case dismissal after add ammend
  ccd-definition/AuthorisationCaseField/systemUpdate.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2357

#2605 CIV-7357 case stayed status
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-CUI-nonprod.json
  ccd-definition/AuthorisationCaseState/staff-CUI-nonprod.json
  ccd-definition/AuthorisationCaseState/systemUpdate-CUI-nonprod.json
  ccd-definition/State.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2605

#2636 CIV-0000 Fix smoke test
  e2e/pages/createClaim/serviceRequest.page.js
  e2e/steps_file.js
  e2e/steps_file_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2636

#2609 CIV-7729 hearing notice
  ccd-definition/AuthorisationCaseField/HearingNotice-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2609

#2615 CIV-3772 consent order
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes, ns:civil, prd:civil, stale, rel:civil-ccd-pr-2615

#2643 CIV-7763 Confirm trial arrangements e2e journey
  ccd-definition/AuthorisationCaseField/HearingNotice-nonprod.json
  e2e/api/steps.js
  e2e/pages/caseProgression/confirmTrialReadiness.page.js
  e2e/pages/caseProgression/hearingNoticeList.page.js
  e2e/pages/caseView.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2643

#2651 CIV-0000 Move threads back to 4
  e2e/tests/api_tests/sdo/sdo_test.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2651

#2598 CIV-0000 - updated publish condition for few fields.
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2598

#2616 CIV-7571 added new state required for task creation
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseState/systemUpdate.json
  ccd-definition/State.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2616

#2458 CIV-7690 - Add Party Flag ids (1/2)
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-HMC-nonprod.json
  ccd-definition/CaseField/CaseField-HMC-nonprod.json
  ccd-definition/ComplexTypes/LitigationFriend-HMC-nonprod.json
  ccd-definition/ComplexTypes/Party-HMC-nonprod.json
  ccd-definition/ComplexTypes/PartyFlagStructure-HMC-nonprod.json
Labels: data-changes, ns:civil, prd:civil, stale, rel:civil-ccd-pr-2458

#2621 CIV-7877 fix permissions so not suitable sdo can be done
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2621

#2602 CIV-8316 CaseFile View for GA Other Documents
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
  ccd-definition/FixedLists/DocumentTypeGASpec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2602

#2619 CIV-7153 - Mediation Agreement Notifications
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsCUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2619

#2590 CIV-7935 remove validation on all date fields
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO.json
  ccd-definition/CaseEventToComplexTypes/DefaultJudgmentSDO-DJ.json
  ccd-definition/CaseEventToFields/DefaultJudgmentSDO-DJ.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/DisposalHearingFinalDisposalHearingTimeSDO-DJ.json
  ccd-definition/ComplexTypes/DisposalHearingHearingTime-SDO.json
  ccd-definition/ComplexTypes/FastTrackHearingTime-SDO.json
  ccd-definition/ComplexTypes/SmallClaimsHearing-SDO.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2590

#2474 CIV-7779 Modify events
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2474

#2638 CIV-0000 test PR
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.enableWA.preview.template.yaml
  charts/civil-ccd/values.preview.template.yaml
  e2e/config.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2638

#2661 CIV-0000 Pulling latest master branch for camunda changes in staging
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2661

#2525 CIV-7569 assisted order docmosis
  ccd-definition/AuthorisationCaseField/AuthorisationFinalOrders-nonprod.json
  ccd-definition/CaseEventToFields/FinalOrders-nonprod.json
  ccd-definition/CaseField/CaseFieldFinalOrders-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2525

#2584 CIV-7139 Fast trackDQs
  ccd-definition/AuthorisationCaseField/staffLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2584

#2663 CIV-7016 Hearing fee payment in e2e test
  e2e/pages/createClaim/serviceRequest.page.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2663

#2630 CIV-7151 ITP Part Admit States Paid Claimant Agrees Notification
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsCUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2630

#2620 CIV-5463 - CCD changes for Manual Determination.
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2620

#2236 CIV-6295 pay immediately
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/AuthorisationCaseField/staffLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2236

#2672 CIV-6259 ShowResponseOneVOneFlag fix
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignment.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/AuthorisationCaseField/staffLRspec.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/FixedLists/ShowResponseOneVOneFlagSpec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2672

#2676 CIV-6295 fix master
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2676

#2682 CIV-0000 Fix for CUI side for duplicate field
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2682

#2558 CIV-4525 - Notification events for generated order
  ccd-definition/AuthorisationCaseEvent/systemUpdateHearing-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsHearing-nonprod.json
  ccd-definition/FixedLists/DocumentType.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2558

#1178 CIV-4470 unskip scenarios so that a full 1v1 Specified e2e test happens
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-hnl-legal-rep.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  e2e/fragments/date.js
  e2e/pages/informAgreedExtensionDate/date.page.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-1178

#2380 CIV-5229 PBAv3 Issue Claim Screen updates
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  charts/civil-ccd/values.preview.template.yaml
  e2e/api/steps.js
  e2e/steps_file.js
  e2e/steps_file_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2380

#2689 CIV-000 revert pointing preview PR
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2689

#2687 CIV-6259 fix spelling issue
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2687

#2707 CIV-6295 fix PR issue
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-prod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2707

#2703 CIV-6241 Update defendantResponseSpec
  e2e/fixtures/events/defendantResponseSpec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2703

#2683 CIV-7887 show mediation outcome options when in mediation
  ccd-definition/CaseEvent/User/UserEventsLRspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2683

#2711 CIV-5011 shutter with jenkins AAT
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2711

#2712 CIV-5011 shutter with jenkins PROD
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2712

#2718 CIV-5011 Un-shutter with jenkins PROD
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2718

#2706 DTSPO-13810 reschedule jenkins nightly builds
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2706

#2669 CIV-7931 Docmosis Output when Consent Order Approved
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/CaseTypeTab/DocumentsGASpec.json
  ccd-definition/FixedLists/DocumentTypeGASpec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2669

#2599 CIV-8038 Clean up AssignCaseToUserForSpecHandler (3/4)
  ccd-definition/AuthorisationCaseEvent/systemUpdateLRspec.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEventsLRspec-nonprod.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEventsLRspec-prod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2599

#2695 CIV-7606 - Welsh - Bilingual language preference - Submit Notifications
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsCUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2695

#2697 CIV-7358 - Mediation successful notifications
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsCUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2697

#2736 CIV-8642 Short term fix
  charts/civil-ccd/values.template.yaml
  e2e/config.js
  e2e/tests/api_tests/damages/api_1v1_test.js
  e2e/tests/api_tests/damages/api_1v2_different_solicitor_test.js
  e2e/tests/api_tests/damages/api_1v2_lip_test.js
  e2e/tests/api_tests/damages/api_1v2_same_solicitor_test.js
  e2e/tests/api_tests/damages/api_2v1_test.js
  e2e/tests/api_tests/damages/api_noc_unspec_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_2v1_test.js
  e2e/tests/api_tests/lrspec/api_1v1_spec_small_test.js
  e2e/tests/api_tests/lrspec/api_1v1_spec_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_fast_test.js
  e2e/tests/api_tests/lrspec/api_noc_spec_test.js
  e2e/tests/api_tests/sdo/sdo_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
  e2e/tests/ui_tests/noticeofchange/1v2_lips_to_same_sols_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2736

#2740 CIV-8642 - Update codecept tests to be verified
  codecept.conf.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2740

#2734 CIV-0000 Running api tests in PR
  e2e/steps_file.js
  e2e/steps_file_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2734

#2686 CIV-7975 clear court location [1/3]
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecCui.js
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_LRspecSmall.js
  e2e/api/testingSupport.js
  e2e/fragments/dq/requestedCourt.page.js
  e2e/pages/createClaim/chooseCourt.page.js
  e2e/pages/respondToClaimLRspec/chooseCourtLRspec.page.js
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2686
