Repository hmcts/civil-ccd-definition, pull requests merged in 2023-12, with the labels that each got.

#3661 CIV-0000 removing secrets from values
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3661

#3671 CIV-0000 Update civil service chart version to latest
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.preview.template.yaml
  charts/civil-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3671

#3623 CIV-0000 fix auths for experts and witnesses
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-MCI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-MCI-prod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEventToFields/ManageContactInformation-MCI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3623

#3695 CIV-11884 - Update steps_file_WA.js to fix challenged access click
  e2e/api/steps.js
  e2e/steps_file_WA.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3695

#3515 CIV-8997 Create draft claim form
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-R2-CUI-nonprod.json
  ccd-definition/FixedLists/DocumentType-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3515

#3698 CIV-0000 Update steps_file_WA.js
  e2e/steps_file_WA.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3698

#3645 CIV-11733 CCD translations for court calculator decision
  ccd-definition/ComplexTypes/RespondToDefence-CUI-R2-nonprod.json
  ccd-definition/FixedLists/RepaymentDecisionType-CUI-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3645

#3705 CIV-11884 -- Fix api tests
  e2e/fixtures/events/claimantResponseSpec2v1.js
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
  e2e/fixtures/events/defendantResponseSpec2v1.js
  e2e/fixtures/events/defendantResponseSpecCui.js
  e2e/fixtures/events/defendantResponseSpecSmall.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_fast_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3705

#3655 CIV-8169 sign settlement agreement submit function notifications
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3655

#3708 CIV-11494 Adding UI tests
  e2e/pages/createClaim/addClaimForAFlightDelay.page.js
  e2e/pages/createClaim/addConfirmationSubmitPageValidation.page.js
  e2e/steps_file_LRspec.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_FlightDelay_test.js
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-3708

#3318 CIV-9675 - Authorisation for Applicant LiP trial readiness
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldCaseProg-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3318

#3707 CIV-8791 Notification event
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3707

#3694 CIV-11873 remove permission for caseworker civil
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-TOC-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-TOC-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3694

#3715 CIV-11865 Add permission to staff-admin to view NSDO reason
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-TOC-nonprod.json
Labels: ns:civil, prd:civil, pr-values:enableWA, enable_keep_helm, rel:civil-ccd-pr-3715

#3717 CIV-11884 -- add xbrowser tests to nightly
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3717

#3577 CIV-8315 Task Initial directions flight delay
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI.json
  ccd-definition/CaseEventToFields/NotSuitableSDO-TOC-nonprod.json
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/createClaimSpec.js
  e2e/tests/api_tests/sdo_R2/sdo_R2_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3577

#3709 CIV-8786 claimant intent confirmation screen county court judgement requested reject
  ccd-definition/ComplexTypes/RespondToDefence-CUI-R2-nonprod.json
  ccd-definition/FixedLists/ClaimantResponseOnCourtDecisionType-CUI-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3709

#3549 CIV-8903 dashboard settlement agreement
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3549

#3557 CIV-11084 remove refer to judge option for LA and unspec claims
  ccd-definition/CaseEvent/User/UserEvents-SDO.json
  e2e/tests/api_tests/sdo_R2/api_request_for_reconsideration_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3557

#3690 CIV-11728 Added All_FINAL_ORDERS_ISSUED condition for RPA
  ccd-definition/CaseEvent/User/UserEventsLRspec-CUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3690

#3745 CIV-00000 fix/downgrade civil-service chart version
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3745

#3744 CIV-11888 added permissions judge
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3744

#3746 CIV-8903 dashboard settlement agreement-revert
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3746

#3555 CIV-11416 lip claims to drop offline after 14 days if noc does not occur
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3555

#3739 CIV-11824 -- Unskip spec tests
  e2e/api/steps_LRspecFast.js
  e2e/fragments/respondentDetails.page.js
  e2e/pages/evidenceUpload/uploadDocumentSpec.js
  e2e/steps_file.js
  e2e/steps_file_LRspec.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-3739

#3728 CIV-11641 - Added name to Documents Referred for all users
  ccd-definition/CaseField/EvidenceUpload.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3728
