Repository hmcts/civil-ccd-definition, pull requests merged in 2023-03, with the labels that each got.

#2276 CIV-7448 Enable DJ test in master pipeline
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  e2e/tests/ui_tests/default_judgement/1v1specDJ_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2276

#2285 CIV-000 Fix Judgment tab for Staff user
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2285

#2288 CIV-7448 DJ spec api tests fix
  e2e/api/steps_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2288

#2290 CIV-000 All staff should see the judicial referral state
  ccd-definition/AuthorisationCaseEvent/systemUpdateDJ.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2290

#2237 CIV-5829 CCD Translation
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-nonprod.json
  ccd-definition/ComplexTypes/FinancialDetails-CUI-nonprod.json
  ccd-definition/ComplexTypes/RespondToClaim-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2237

#2216 CIV-7268 evidenceupload conditions
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
  ccd-definition/CaseEventToFields/EvidenceUpload-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/UploadDocumentOnly.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-2216

#2258 CIV-7095 hide/display GA hearing notice
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-GAR3CP-nonprod.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec-GAR3CP-nonprod.json
  ccd-definition/AuthorisationCaseField/staffGAspec-GAR3CP-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec-GAR3CP-nonprod.json
  ccd-definition/CaseField/CaseFieldGAspec-GAR3CP-nonprod.json
  ccd-definition/CaseTypeTab/DocumentsGASpec-GAR3CP-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2258

#2015 CIV-4968 create flags structures
  ccd-definition/AuthorisationComplexType/caseFlags-CF-nonprod.json
  ccd-definition/CaseField/CaseField-CaseFlags-nonprod.json
  ccd-definition/CaseTypeTab/CaseFlags-nonprod.json
  ccd-definition/ComplexTypes/LitigationFriend-CaseFlags-nonprod.json
  ccd-definition/ComplexTypes/Party-CaseFlags-nonprod.json
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_LRspecSmall.js
  e2e/api/testingSupport.js
  e2e/fixtures/events/addDefendantLitigationFriend.js
  e2e/helpers/assertions/caseFlagsAssertions.js
  e2e/pages/caseView.page.js
  e2e/steps_file.js
  e2e/steps_file_LRspec.js
  e2e/tests/api_tests/damages/api_1v1_test.js
  e2e/tests/api_tests/damages/api_1v2_different_solicitor_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2015

#2291 CIV-0000 pulled over commits from test branch
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  ccd-definition/AuthorisationCaseField/HearingNotice-nonprod.json
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
  e2e/fixtures/events/defendantResponseSpec1v2Fast.js
  e2e/fixtures/events/defendantResponseSpec2v1.js
  e2e/fixtures/events/defendantResponseSpec2v1Fast.js
  e2e/fixtures/events/defendantResponseSpecSmall.js
  e2e/fixtures/events/informAgreeExtensionDateSpec.js
  e2e/pages/createClaim/serviceRequest.page.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2291

#2308 CIV-0000 Fix litigation friend API tests
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2308

#2305 CIV-000 Moved nonprod states to prod so that its available for global search
  Jenkinsfile_CNP
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  codecept.conf.js
  e2e/steps_file.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2305

#2311 CIV-0000 fix master pipeline
  Jenkinsfile_CNP
  e2e/config.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2311

#2282 CIV-7037 Removed PBA Accounts in General Applications
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/ComplexTypes/GAPBADetailsGAspec.json
  e2e/fixtures/events/createGeneralApplication.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2282

#2211 CIV-7274 NoC API tests
  Jenkinsfile_CNP
  ccd-definition/CaseEvent/Camunda/NotificationEvents-nonprod.json
  charts/civil-ccd/values.preview.template.yaml
  codecept.conf.js
  e2e/api/apiRequest.js
  e2e/api/caseAssignment.js
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_noc.js
  e2e/api/wiremock.js
  e2e/config.js
  e2e/fixtures/events/createClaim.js
  e2e/helpers/activeOrganisationUsers.js
  e2e/pages/noticeOfChange.page.js
  e2e/steps_file.js
  e2e/tests/api_tests/damages/api_noc_unspec_test.js
  e2e/tests/api_tests/lrspec/api_noc_spec_test.js
  e2e/tests/ui_tests/noticeofchange/1v2_lips_to_same_sols_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2211

#2257 CIV-3419 Create caseflags
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CaseFlags-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdate-CaseFlags-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-CaseFlags-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-CaseFlags-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateCaseFlags-CaseFlags-nonprod.json
  ccd-definition/CaseEventToFields/CreateCaseFlags-CaseFlags-nonprod.json
  ccd-definition/CaseField/CaseField-CaseFlags-nonprod.json
  ccd-definition/ComplexTypes/LitigationFriend-CaseFlags-nonprod.json
  ccd-definition/ComplexTypes/Party-CaseFlags-nonprod.json
  ccd-definition/ComplexTypes/Party.json
  ccd-definition/ComplexTypes/PartyFlagStructure-CaseFlags-nonprod.json
  e2e/api/caseFlagsHelper.js
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_LRspecSmall.js
  e2e/api/testingSupport.js
  e2e/fixtures/caseFlags.js
  e2e/fixtures/caseFlagsForParty.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/acknowledgeClaim_Solicitor1.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/acknowledgeClaim_Solicitor2.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor1.js
  e2e/fixtures/events/1v2SameSolicitorEvents/acknowledgeClaim_sameSolicitor.js
  e2e/fixtures/events/1v2SameSolicitorEvents/defendantResponse_sameSolicitor.js
  e2e/fixtures/events/2v1Events/acknowledgeClaim_2v1.js
  e2e/fixtures/events/2v1Events/defendantResponse_2v1.js
  e2e/fixtures/events/acknowledgeClaim.js
  e2e/fixtures/events/claimantResponseSpec.js
  e2e/fixtures/events/claimantResponseSpec1v2.js
  e2e/fixtures/events/claimantResponseSpec1v2Fast.js
  e2e/fixtures/events/claimantResponseSpec2v1.js
  e2e/fixtures/events/claimantResponseSpec2v1Fast.js
  e2e/fixtures/events/claimantResponseSpecSmall.js
  e2e/fixtures/events/defendantResponse.js
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
  e2e/fixtures/events/defendantResponseSpec1v2Fast.js
  e2e/fixtures/events/defendantResponseSpec2v1.js
  e2e/fixtures/events/defendantResponseSpec2v1Fast.js
  e2e/fixtures/events/defendantResponseSpecSmall.js
  e2e/fragments/event.js
  e2e/helpers/assertions/caseFlagsAssertions.js
  e2e/helpers/hnlFeatureHelper.js
  e2e/pages/caseFlags/createCaseFlags.page.js
  e2e/pages/caseView.page.js
  e2e/steps_file.js
  e2e/steps_file_LRspec.js
  e2e/tests/api_tests/damages/api_1v1_test.js
  e2e/tests/api_tests/damages/api_1v2_different_solicitor_test.js
  e2e/tests/api_tests/damages/api_1v2_same_solicitor_test.js
  e2e/tests/api_tests/damages/api_2v1_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_fast_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_fast_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_test.js
  e2e/tests/ui_tests/damages/1v1CreateClaim_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2257

#2262 CIV-7317 uploado document withconsent
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2262

#2233 CIV-5797 - Transform Mediation model - CCD
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-nonprod.json
  ccd-definition/ComplexTypes/Mediation-CUI-nonprod.json
  ccd-definition/ComplexTypes/RespondToClaim-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2233

#2316 CIV-0000 Fix api tests in aat env
  e2e/api/steps.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/acknowledgeClaim_Solicitor1.js
  e2e/fixtures/events/1v2SameSolicitorEvents/defendantResponse_sameSolicitor.js
  e2e/fixtures/events/2v1Events/acknowledgeClaim_2v1.js
  e2e/fixtures/events/acknowledgeClaim.js
  e2e/fixtures/events/defendantResponse.js
  e2e/helpers/caseFlagsFeatureHelper.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2316

#2319 CIV-7274 NoC API config
  e2e/config.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2319

#2324 CIV-0000 Common Data url
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2324

#2330 CIV-7513 Enable sdo e2e tests on master
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2330

#2243 CIV-6944 update-claim-amount-text-in-lr-screen
  ccd-definition/CaseField/CaseFieldLRspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2243

#2188 CIV-6955 Removal PBA data collection
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseEventToFields/CreateClaimLRspec.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2188

#2335 CIV-0000 Moving Claimant_response_spec event to prod file
  ccd-definition/CaseEvent/User/UserEventsLRspec-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-prod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2335

#2334 CIV-0000 SNI-3295 inform agreed date test fix
  e2e/fixtures/events/informAgreeExtensionDateSpec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2334

#2337 CIV-0000 Update for ccd definition
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseEvent/staffCUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2337

#2329 CIV-0000 update authos for documents DJ SDO
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldSDO-DJ.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2329

#2339 CIV-0000 Changing state check to Judicial referral for all environments
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecCui.js
  e2e/api/steps_LRspecFast.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2339

#2349 CIV-7587 Fix ccd master pipeline
  e2e/config.js
  e2e/courts.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor1.js
  e2e/fixtures/events/1v2SameSolicitorEvents/defendantResponse_sameSolicitor.js
  e2e/fixtures/events/2v1Events/defendantResponse_2v1.js
  e2e/fixtures/events/claimantResponseSpec.js
  e2e/fixtures/events/claimantResponseSpec1v2.js
  e2e/fixtures/events/claimantResponseSpec1v2Fast.js
  e2e/fixtures/events/claimantResponseSpec2v1.js
  e2e/fixtures/events/claimantResponseSpec2v1Fast.js
  e2e/fixtures/events/claimantResponseSpecCui.js
  e2e/fixtures/events/claimantResponseSpecSmall.js
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
  e2e/fixtures/events/defendantResponseSpec1v2Fast.js
  e2e/fixtures/events/defendantResponseSpec2v1.js
  e2e/fixtures/events/defendantResponseSpec2v1Fast.js
  e2e/fixtures/events/defendantResponseSpecCui.js
  e2e/fixtures/events/defendantResponseSpecSmall.js
  e2e/fragments/dq/requestedCourt.page.js
  e2e/pages/createClaim/chooseCourt.page.js
  e2e/pages/respondToClaimLRspec/chooseCourtLRspec.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2349

#2281 CIV-7150 vary judgement claimant journey
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplication-GAR2GAspec-nonprod.json
  ccd-definition/CaseField/CaseFieldGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2281

#2322 CIV-3420 Manage Case flags new
  ccd-definition/AuthorisationComplexType/caseFlags-CF-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageCaseFlags-CaseFlags-nonprod.json
  ccd-definition/CaseEventToFields/ManageCaseFlags-CaseFlags-nonprod.json
  ccd-definition/CaseTypeTab/CaseFlags-nonprod.json
  e2e/api/caseFlagsHelper.js
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_LRspecSmall.js
  e2e/pages/caseFlags/manageCaseFlags.page.js
  e2e/pages/caseView.page.js
  e2e/steps_file.js
  e2e/tests/api_tests/damages/api_1v1_test.js
  e2e/tests/api_tests/damages/api_1v2_different_solicitor_test.js
  e2e/tests/api_tests/damages/api_1v2_same_solicitor_test.js
  e2e/tests/api_tests/damages/api_2v1_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_fast_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_fast_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_test.js
  e2e/tests/ui_tests/damages/1v1CreateClaim_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2322

#2328 CIV-7322 Vary Judgment applications must be with notice
  ccd-definition/CaseEventToFields/InitiateApplication-GAR2GAspec-nonprod.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2328

#2313 CIV-7379 mediation unsuccessful
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/MeditionUnsuccessful-CUI-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-CUI-nonprod.json
  ccd-definition/FixedLists/MediationUnsuccessfulReasons.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2313

#2358 CIV-7637 Fixes to run wa tests
  e2e/api/apiRequest.js
  e2e/api/restHelper.js
  e2e/api/steps.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
  wa/tasks/caseProgressionTakeCaseOfflineTask.js
  wa/tasks/summaryJudgmentDirectionsTask.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2358

#2295 CIV-7124 fast track claim add unavailable dates bug fix
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-base-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec-prod.json
  ccd-definition/CaseEventToComplexTypes/ClaimantResponseLRspec.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-base-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-prod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec.json
  ccd-definition/ComplexTypes/DQ/HearingLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2295

#2259 CIV-7300 hearing notice bugs
  ccd-definition/AuthorisationCaseField/HearingNotice-nonprod.json
  ccd-definition/CaseEventToFields/HearingNotice-nonprod.json
  ccd-definition/CaseField/CaseFieldHearingNotice-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2259

#2368 CIV-7637 Update dmn-task tag
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2368

#2298 CIV-5462 Propose Payment Plan Check your Answers and Confirmation Screen
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-CUI-nonprod.json
  ccd-definition/ComplexTypes/PaymentBySetDate-CUI-nonprod.json
  e2e/fixtures/events/claimantResponseSpecCui.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2298

#2338 CIV-6292 Feat/civ 6292 free form order
  ccd-definition/AuthorisationCaseField/AuthorisationFinalOrders-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
  ccd-definition/CaseEventToFields/FinalOrders-nonprod.json
  ccd-definition/CaseField/CaseFieldFinalOrders-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/OrderOnCourtInitiative-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/OrderWithoutNotice-nonprod.json
  ccd-definition/FixedLists/CaseProgression/FinalOrderSelection-nonprod.json
  ccd-definition/FixedLists/CaseProgression/OrderOnCourtInitiativeList-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2338

#2389 CIV-7739 Removed judge profile and legal advisor role for hearing schedule event
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2389

#2300 CIV-7377 mediation successful
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/MediationSuccessful-CUI-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2300

#2412 CIV-0000 upgrading the version for ccd chart
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2412

#2350 CIV-6237 Set Up New Page
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCUI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/TranslatedDocument-CUI-nonprod.json
  ccd-definition/CaseEventToFields/UploadTranslatedDocument-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-nonprod.json
  ccd-definition/ComplexTypes/TranslatedDocument-CUI-nonprod.json
  ccd-definition/FixedLists/TranslatedDocumentType.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2350

#2261 CIV-6514 CCJ to Formalise payment Screen - Fixed Costs
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/staffLRspec-CUI-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-CUI-nonprod.json
  e2e/api/steps_LRspecCui.js
  e2e/fixtures/events/claimantResponseSpecCui.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2261

#2278 CIV-5789 - ccd translaction for DQ common screens
  ccd-definition/ComplexTypes/1_RequirementsLip-CUI-nonprod.json
  ccd-definition/ComplexTypes/DQExtraDetails-CUI-nonprod.json
  ccd-definition/ComplexTypes/HearingSupportLip-CUI-nonprod.json
  ccd-definition/ComplexTypes/RespondToClaim-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, enableHelm, rel:civil-ccd-pr-2278

#2361 CIV-5171 - Hearing Notice API tests
  e2e/api/steps.js
  e2e/fixtures/events/scheduleHearing.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2361

#2356 CIV-6042 Bundle notifications for parties
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateCaseProg-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsBundleIntegration-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2356

#2416 CIV-7029 Hearings party mappings
  ccd-definition/AuthorisationCaseField/systemUpdate.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2416

#2403 CIV-4995 Update CaseManagementLocation when main claim has a change
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec.json
  ccd-definition/AuthorisationCaseEvent/staffGAspec.json
  ccd-definition/CaseEvent/Camunda/CaseEventsGASpec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2403

#2345 CIV-5944 - CCD field updates Ticket1
  ccd-definition/ComplexTypes/RespondToClaim-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-2345

#2441 CIV-6215 preparation for 6215 other PRs
  ccd-definition/FixedLists/ShowConditionFlagSpec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2441

#2437 CIV-5171 - Hearing Notice API tests
  e2e/api/steps.js
  e2e/fixtures/events/scheduleHearing.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2437

#2420 CIV-7784 Add urgent case flag field
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CaseFlags-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdate-CaseFlags-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-CaseFlags-nonprod.json
  ccd-definition/CaseField/CaseField-CaseFlags-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2420

#2442 CIV-0000 bankholiday fix in tests
  e2e/api/dataHelper.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/ccd/expectedEventsLRSpec.js
  e2e/fixtures/events/informAgreeExtensionDateSpec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2442

#2454 CIV-7784 Add publish for case flag
  ccd-definition/CaseEvent/User/UserEvents-CaseFlags-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2454

#2413 CIV-7226 Enforcing conventions on branch names and commit messages
  .git-config/hooks/commit-msg
  .git-config/hooks/pre-commit
  .github/workflows/main.yml
  README.md
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-2413
