Repository hmcts/civil-ccd-definition, pull requests merged in 2024-08, with the labels that each got.

#4670 CIV-14270 added read only access for defendant for field respondent
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-GA-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4670

#4661 CIV-14593 Amend Restitch Bundle
  ccd-definition/AuthorisationCaseEvent/systemUpdate-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4661

#4597 DTSCCI-346 remove citizen defendant from flags auth
  ccd-definition/AuthorisationComplexType/solicitor.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4597

#4675 DTSCCI-309 HMCTS Civil staff to view the case payment history
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4675

#4686 CIV-14595 Restich Bundle Dashboard Notifications
  ccd-definition/AuthorisationCaseEvent/systemUpdate-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4686

#4683 CIV-14707 Manage documents states
  ccd-definition/CaseEvent/User/UserEventsCUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4683

#4695 CIV-14808 JO refactor
  ccd-definition/ComplexTypes/JudgmentOnline/OnlineJudgmentDetails-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4695

#4713 CIV-0000 pointing to latest XUI image
  charts/civil-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4713

#4719 Revert "CIV-14707 Manage documents states"
  ccd-definition/CaseEvent/User/UserEventsCUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4719

#4696 CIV-14725 and 14726 Unspec update party validation to work with RTL
  ccd-definition/CaseEventToFields/CreateClaim.json
  e2e/fixtures/events/createClaim.js
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4696

#4694 CIV-14745 - Stay case
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4694

#4680 DTSCCI-663 add partyname to manage case
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/State.json
  e2e/fragments/event.js
  e2e/steps_file.js
  e2e/steps_file_LRspec.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_FlightDelay_test.js
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4680

#4707 CIV-14881 - Send SDO order to LiP Claimant.
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4707

#4734 CIV-14824 Dismiss Case Permissions
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4734

#4742 Revert "CIV-12641 Api test CUI Case Progression"
  e2e/api/steps_LRspecCui.js
  e2e/fixtures/events/evidenceUploadApplicant.js
  e2e/fixtures/events/evidenceUploadRespondent.js
  e2e/fixtures/events/requestForReconsideration.js
  e2e/fixtures/events/scheduleHearing.js
  e2e/fixtures/events/trialReadiness.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4742

#4717 CIV-14878 CCD PR - Create Judgments folder in Case File
  ccd-definition/Categories/Categories-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4717

#4735 CIV-14746 - Stay Case screen content
  ccd-definition/CaseEventToFields/StayCase-caseworkerEvents-nonprod.json
  ccd-definition/CaseField/CaseField-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4735

#4731 CIV-14958 PartyIDs getting removed
  ccd-definition/CaseEventToComplexTypes/CreateCaseFlags.json
  ccd-definition/CaseEventToComplexTypes/ManageCaseFlags.json
  ccd-definition/CaseEventToFields/CreateCaseFlags.json
  ccd-definition/CaseEventToFields/ManageCaseFlags.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4731

#4745 CIV-15022 - SDO task not being created for LA when claim was in mediation
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4745

#4762 DTSCCI-000 - Changing api-nightly-prod report name
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4762

#4760 DTSCCI-763 preview dev wa
  README.md
  bin/setup-devuser-preview-env.sh
  bin/variables/load-dev-user-preview-environment-variables.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4760

#4771 DTSCCI-763 amending script for different dependency branches
  README.md
  bin/setup-devuser-preview-env.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4771

#4748 CIV-14827 and 28
  ccd-definition/AuthorisationCaseEvent/systemUpdate-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4748

#4761 CIV-14869 CJES Service : RECORD_JUDGMENT
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4761

#4774 DTSCCI-329 - skipping tests until issue is resolved
  e2e/tests/api_tests/lrspec/api_1v2_spec_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4774

#4750 CIV-14825 - dismiss case screen
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-caseworkerEvents-nonprod.json
  ccd-definition/CaseEventToFields/DismissCase-caseworkerEvents-nonprod.json
  ccd-definition/CaseField/CaseField-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4750

#4779 CIV-14895 WA task to take case offline after set aside in error or defence received
  ccd-definition/CaseEvent/User/UserEvents-JO-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-JO-nonprod.json
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v1_test.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v2_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4779

#4775 DTSCCI-000 - making settle claim test run in nonprod only
  e2e/tests/api_tests/lrspec/api_1v1_spec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4775

#4776 CIV-0000 sprint branch for CJES services: CIV-14869, 14809, 14804, 14807
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4776

#4764 CIV-15017 - Restrict manage document states
  ccd-definition/CaseEvent/User/UserEvents-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-caseworkerEvents-prod.json
  ccd-definition/CaseEvent/User/UserEventsCUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4764

#4786 CIV-15056 CIV-15057 FT and INT complexity band screen
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-MINTI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/FinalOrdersFastTrackComplexityBand-MINTI-nonprod.json
  ccd-definition/CaseEventToFields/FinalOrders-MINTI-nonprod.json
  ccd-definition/CaseField/CaseField-MINTI-nonprod.json
  ccd-definition/ComplexTypes/FinalOrderFastTrackAllocation-MINTI-nonprod.json
  ccd-definition/ComplexTypes/FinalOrderIntermediateTrackAllocation-MINTI-nonprod.json
  ccd-definition/FixedLists/FinalOrdersIntermediateComplexityBand-MINTI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4786
