Repository hmcts/civil-ccd-definition, pull requests merged in 2024-03, with the labels that each got.

#4063 CIV-12691 Add event for claimant dashboard notification for issue claim
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4063

#4062 CIV-7361 Dashboard notification for claim issue defendant
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4062

#4035 CIV-0000 HWF Bulk Branch
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-HWF-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-HWF-R2-CUI-nonprod.json
  ccd-definition/ComplexTypes/HelpWithFeesDetails-CUI-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4035

#4060 CIV-12060 Prevent creation of DJ Spec form in LR V LiP claims
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4060

#4039 CIV-12752 RPA and Validations for judgments in HwF journey
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-HWF-R2-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4039

#4114 CIV-12847 - added authorisation.
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4114

#4121 CIV-12847 - NOC FT fix
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI.json
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4121

#4122 CIV-0000 Update readme
  README.md
  codecept.conf.js
  e2e/pages/caseView.page.js
  e2e/pages/createClaim/solicitorReferences.page.js
  e2e/tests/ui_tests/carm/spec_claim_upload_mediation_doc_test.js
  e2e/tests/ui_tests/damages/1v1CreateClaim_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_SameSol_test.js
  e2e/tests/ui_tests/damages/2v1CreateClaim_test.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
  e2e/tests/ui_tests/lrspec/1v2SameSolicitor-LRspec-SmallClaims_test.js
  e2e/tests/ui_tests/lrspec/2v1CreateClaim-LRspec_test.js
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4122

#4067 CIV-8314 Flight Delay Api-test with document upload
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/events/evidenceUploadApplicant.js
  e2e/fixtures/events/evidenceUploadRespondent.js
  e2e/tests/api_tests/sdo_R2/sdo_flight_delay_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4067

#4110 CIV-12742 - added CCJ req notification event.
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4110

#4049 CIV-12670 Removed event notes for MANAGE_CONTACT_INFORMATION
  ccd-definition/CaseEvent/User/UserEvents-MCI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4049

#4126 CIV-0000 Api tests update
  e2e/tests/api_tests/damages/api_1v1_test.js
  e2e/tests/api_tests/damages/api_1v2_different_solicitor_test.js
  e2e/tests/api_tests/damages/api_1v2_lip_test.js
  e2e/tests/api_tests/damages/api_1v2_same_solicitor_test.js
  e2e/tests/api_tests/damages/api_2v1_test.js
  e2e/tests/api_tests/damages/api_noc_unspec_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_2v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_2v1_test.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_1v1_test.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_1v2_test.js
  e2e/tests/api_tests/lrspec/api_1v1_spec_small_test.js
  e2e/tests/api_tests/lrspec/api_1v1_spec_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_fast_test.js
  e2e/tests/api_tests/lrspec/api_noc_spec_test.js
  e2e/tests/api_tests/sdo/api_transfer_online_case_test.js
  e2e/tests/api_tests/sdo/sdo_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4126

#4059 CIV-12868 - Mapping hearing attendees for Orgs
  ccd-definition/AuthorisationCaseField/systemUpdate-MCI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4059

#4107 CIV-12758 Dashboard notification - Claim settled (Defendant)
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4107

#4139 DTSCCI-0000 Update PR name validation
  .github/workflows/main.yml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4139

#4118 CIV-12463 lip vs lip claim journey api automation
  codecept.conf.js
  e2e/api/steps_LRspecCui.js
  e2e/config.js
  e2e/fixtures/events/cui/createClaimUnrepresentedClaimant.js
  e2e/fixtures/events/cui/defendantResponseCui.js
  e2e/fixtures/events/cui/lipClaimantResponse.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_fulladmit_setdate_test.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_mediation_test.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_partadmit_installments_test.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_test.js
  e2e/tests/api_tests/sdo/api_transfer_online_case_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4118

#4091 CIV-12792 Add dashboard notification event
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4091

#4097 CIV-12787 Mark Judgment Paid
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/AuthorisationCaseState/systemUpdate.json
  ccd-definition/CaseEvent/User/UserEvents-JO-nonprod.json
  ccd-definition/State.json
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_1v1_test.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_1v2_test.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v1_test.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v2_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4097

#4103 CIV-10494 Edit judgment
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-JO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/InstalmentPaymentDetailsEditJudgement-JO-nonprod.json
  ccd-definition/CaseEventToFields/EditJudgement-JO-nonprod.json
  ccd-definition/CaseField/CaseField-JO-nonprod.json
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/judgmentOnline1v1Spec.js
  e2e/fixtures/events/judgmentOnline1v2Spec.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v1_test.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v2_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4103

#4084 CIV-12121 Add Judgment 'Issued' back end CCD field
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
  ccd-definition/CaseEventToFields/RecordJudgment-JO-nonprod.json
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v1_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4084

#4141 CIV-0000 Review tests
  Jenkinsfile_nightly
  codecept.conf.js
  e2e/tests/api_tests/damages/api_1v1_test.js
  e2e/tests/api_tests/damages/api_1v2_different_solicitor_test.js
  e2e/tests/api_tests/damages/api_2v1_test.js
  e2e/tests/api_tests/damages/api_noc_unspec_test.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v1_test.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_fulladmit_setdate_test.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_mediation_test.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_partadmit_installments_test.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_test.js
  e2e/tests/api_tests/sdo_R2/api_request_for_reconsideration_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4141

#4117 CIV-12915 Defence received in time Refer To Judge
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-JO-nonprod.json
  ccd-definition/CaseEventToFields/ReferToJudgeDefenceReceived-JO-nonprod.json
  ccd-definition/CaseField/CaseField-JO-nonprod.json
  ccd-definition/FixedLists/JudgmentOnline/ConfirmReferToJudgeDefenceReceived-JO-nonprod.json
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/judgmentOnline1v1Spec.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v1_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4117

#4133 CIV-0000 NIHL sdo feature
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/LengthListOtherSdoTrial-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/SdoTrialFirstDateWindow-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/SdoTrialFirstOpenDateAfter-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-prod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO.json
  ccd-definition/CaseField/CaseField-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/AddNewDirections-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/AddendumReport-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/ApplicationToRelyOnDetails-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/ApplicationToRelyOnFurther-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/DisclosureOfDocuments-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/EvidenceAcousticEngineer-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/ExpertEvidence-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/FastTrackAltDisputeResolution-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/FurtherAudiogram-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/PermissionToRelyOnExpert-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/QuestionsClaimantExpert-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/QuestionsToEntExpert-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/RestrictNoOfPagesDetails-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/RestrictNoOfWitnessDetails-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/RestrictPages-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/RestrictWitness-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2FirstOpenDateAfter-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2ScheduleOfLoss-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2TrialFromTo-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2TrialHearingLengthOther-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2TrialSection-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/Settlement-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/UploadOfDocuments-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/VariationOfDirections-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/WitnessOfFact-SDO-R2-nonprod.json
  ccd-definition/FixedLists/FastTrack-SDO-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/FastTrackMethod-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/PhysicalTrialBundleOptions-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/SDOIncludeInOrder-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/TrialOnOptions-SDO-R2-nonprod.json
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/createSDO.js
  e2e/tests/api_tests/sdo/sdo_test.js
  e2e/tests/api_tests/sdo_R2/api_noise_induced_hearing_loss_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4133

#4124 CIV-12046 - added WA publish field for CCJ Request.
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4124

#4132 CIV-12747 Generate Dashboard Notification in CUI for CCJ requested by defendant
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4132

#4072 CIV-12950 Update expected hearing service values response
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_hearings.js
  e2e/tests/api_tests/hearings/api_1v1_spec_small_hearings_test.js
  e2e/tests/api_tests/hearings/api_1v2DS_unspec_fast_hearings_test.js
  e2e/tests/api_tests/hearings/api_1v2_spec_fast_hearings_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4072

#4151 DTSCCI-23 adding permition to SU on CASE_PROCEEDS_IN_CASEMAN
  .github/workflows/main.yml
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4151

#4057 CIV-12614 payment ccd update
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI.json
  ccd-definition/CaseEvent/User/UserEventsCUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4057

#4161 CIV-12950 REVERT: Update expected hearing service values response "
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_hearings.js
  e2e/tests/api_tests/hearings/api_1v1_spec_small_hearings_test.js
  e2e/tests/api_tests/hearings/api_1v2DS_unspec_fast_hearings_test.js
  e2e/tests/api_tests/hearings/api_1v2_spec_fast_hearings_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4161

#4012 CIV-0000 drh feature branch
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/BundleOfDocsSdoR2SmallClaimHearing-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/FirstDateWindowSdoR2SmallClaimHearing-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/FirstOpenDateAfterSdoR2SmallClaimHearing-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/LengthListOtherSdoR2SmallClaims-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/RestrictPagesSmallClaimHearing-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/RestrictWitnessSmallClaimHearing-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-prod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO.json
  ccd-definition/CaseField/CaseField-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/AddNewDirectionsSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/BundleOfDocsSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/ImportantNotesSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/JudgesRecitalSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/PPISmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/RestrictPagesSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/RestrictWitnessSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2FirstOpenDateAfterSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2HearingFromToSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2HearingLengthOtherSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2HearingSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/UploadOfDocSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/WitnessStatementsSmallClaims-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/HearingOnOptions-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/SmallClaimsMethod-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/SmallClaimsSdoR2PhysicalTrialBundleOptions-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/SmallClaimsTimeEstimate-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SmallTrack-SDO-R2-nonprod.json
  e2e/api/steps.js
  e2e/fixtures/events/createSDO.js
  e2e/fixtures/events/evidenceUploadApplicant.js
  e2e/fixtures/events/evidenceUploadRespondent.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v1_test.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v2_test.js
  e2e/tests/api_tests/sdo/sdo_test.js
  e2e/tests/api_tests/sdo_R2/api_dispute_resolution_hearing_test.js
  e2e/tests/api_tests/sdo_R2/api_noise_induced_hearing_loss_test.js
  e2e/tests/api_tests/sdo_R2/sdo_flight_delay_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4012

#4163 CIV-0000 Nightly fixes
  e2e/fragments/confirmDefendantsDetailsLRspec.js
  e2e/fragments/confirmLegalRepDetailsLRspec.js
  e2e/fragments/dq/disclosureReport.page.js
  e2e/fragments/dq/furtherInformation.page.js
  e2e/fragments/servedDocument.js
  e2e/fragments/statementOfTruth.js
  e2e/pages/createClaim/uploadParticularsOfClaim.page.js
  e2e/pages/respondToClaimLRspec/enter2ndDefendantDetailsLRspec.page.js
  e2e/pages/respondToClaimLRspec/enterWitnessesLRspec.page.js
  e2e/pages/respondToClaimLRspec/furtherInformationLRspec.page.js
  e2e/pages/respondToClaimLRspec/hearingSmallClaimsLRspec.page.js
  e2e/pages/respondToClaimLRspec/vulnerabilityLRspec.page.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  e2e/tests/ui_tests/default_judgement/1v2UnspecDJ_test.js
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
  e2e/tests/ui_tests/lrspec/2v1CreateClaim-LRspec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4163

#4145 CIV-12904 Set Aside Judgment
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-JO-nonprod.json
  ccd-definition/CaseEventToFields/SetAsideJudgment-JO-nonprod.json
  ccd-definition/CaseField/CaseField-JO-nonprod.json
  ccd-definition/FixedLists/JudgmentOnline/ConfirmReadOrderForSetAside.json
  ccd-definition/FixedLists/JudgmentOnline/JudgmentSetAsideOrderType-JO-nonprod.json
  ccd-definition/FixedLists/JudgmentOnline/JudgmentSetAsideReason-JO-nonprod.json
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/judgmentOnline1v1Spec.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v1_test.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v2_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4145

#4159 CIV-12936 Defence received in time
  ccd-definition/CaseEvent/User/UserEvents-JO-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4159

#3791 CIV-11849 - HMC NHD Message Bus Refactor
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-NHD-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-NHD-nonprod.json
  ccd-definition/CaseEvent/Camunda/NextHearingDetailsEvents-NHD-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-NHD-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3791

#4162 CIV-13119 - Dashboard Defendant Response Part Admit pay immediately
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4162

#4175 CIV-12942 - Dashboard Notification - claimant uses tell us you've ended the claim (claimant)
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4175

#4193 CIV-0000 Update ccd gw image
  charts/civil-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4193

#4194 CIV-0000 Update claimantResponseSpec2v1.js to fix civil service nightly
  charts/civil-ccd/values.template.yaml
  e2e/fixtures/events/claimantResponseSpec2v1.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4194

#4172 CIV-13072 Generate Dashboard Notification in CUI for more time requested by def…
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4172

#4019 DTSCCI-028 - remove toggles
  ccd-definition/CaseEventToComplexTypes/DefaultJudgmentSDO-DJ.json
  ccd-definition/CaseEventToFields/DefaultJudgmentSDO-DJ.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4019

#4202 CIV-0000 Nightly build fix
  e2e/steps_file_LRspec.js
  e2e/tests/ui_tests/damages/1v1CreateClaim_test.js
  e2e/tests/ui_tests/lrspec/2v1CreateClaim-LRspec_fullAdmit_test.js
  e2e/tests/ui_tests/lrspec/2v1CreateClaim-LRspec_fullDefence_test.js
  e2e/tests/ui_tests/lrspec/2v1CreateClaim-LRspec_partAdmit_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4202

#4174 CIV-13071 Add new dashboard notification event
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil

#4183 CIV-12943 claim settled defendant notification
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4183

#4173 CIV-13152 add the permission on mediation successful notification
  ccd-definition/AuthorisationCaseEvent/systemUpdate-CARM-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-CARM-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4173

#4200 CIV-13135 Lip notification record judgment
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4200

#4176 CIV-12781 Hearing Documents Field Access
  ccd-definition/AuthorisationCaseField/systemUpdate.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4176

#4166 CIV-13109 Email notifications: Claimant/Defendant LR - set aside Judgment made in error
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4166

#4213 CIV-0000 nightly fix
  .nvmrc
  e2e/pages/respondToClaimLRspec/admitPartPaymentRoute.page.js
  e2e/pages/respondToClaimLRspec/respondentRepaymentPlan.page.js
  e2e/pages/respondToClaimLRspec/responseTypeLRspec.page.js
  e2e/pages/respondToClaimLRspec/supportAccessLRspec.page.js
  e2e/steps_file_LRspec.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_test.js
  e2e/tests/ui_tests/lrspec/2v1CreateClaim-LRspec_fullAdmit_test.js
  e2e/tests/ui_tests/lrspec/2v1CreateClaim-LRspec_partAdmit_test.js
  e2e/tests/ui_tests/lrspec/2v1CreateClaim-LRspec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4213

#4203 CIV-13070 ccj dashboard events
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4203

#4177 CIV-13171 Email notifications Judgment varied following Determination of Means
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4177

#4204 CIV-13201 - Add Dashboard for Defendant Response Deadline Check
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4204

#4206 CIV-13202 Defendant Deadline Passed
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4206
