Repository hmcts/civil-ccd-definition, pull requests merged in 2024-05, with the labels that each got.

#4312 CIV-13528 Updated configuration to hide Update claim state event
  ccd-definition/CaseEvent/Camunda/CaseEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4312

#4340 DTSCCI-017 readyOn searchable in ES
  ccd-definition/CaseField/CaseField.json
  ccd-definition/ComplexTypes/BusinessProcess.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4340

#4302 CIV-10495 DJ spec non divergent templates
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEventsDJ-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-JO-nonprod.json
  ccd-definition/FixedLists/DocumentType-JO-nonprod.json
  e2e/api/steps_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4302

#4338 CIV-12875 Defendant LiP PIN in Post Letter Judgment recorded following Determination of Mean
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4338

#4328 CIV-13572 Add field for claimant pay immediately date
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4328

#4295 CIV-13091 new claim tracks
  ccd-definition/CaseField/CaseField-MINTI-nonprod.json
  ccd-definition/CaseField/CaseField-prod.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseField/CaseFieldLRSpec-MINTI-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-prod.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/ClaimAmountBreakupLRspec.json
  ccd-definition/FixedLists/Track.json
  codecept.conf.js
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/api/testingSupport.js
  e2e/claimAmountAndFee.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/createClaimSpec.js
  e2e/fixtures/events/defendantResponse.js
  e2e/fixtures/events/defendantResponseSpec.js
  e2e/helpers/carmHelper.js
  e2e/helpers/mintiHelper.js
  e2e/tests/api_tests/multiIntermediateTrack/api_1v1_multi_intermediate_spec_test.js
  e2e/tests/api_tests/multiIntermediateTrack/api_1v1_multi_intermediate_test.js
  e2e/tests/api_tests/multiIntermediateTrack/api_intermediate_unspec_test.js
  e2e/tests/api_tests/multiIntermediateTrack/api_multi_unspec_test.js
  package.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4295

#4304 CIV-13263 Updated configuration for Amend party details event
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToFields/AmendPartyDetails.json
  ccd-definition/CaseEventToFields/AmendPartyDetailsLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4304

#4332 CIV-13628 SDOR2 Fixes
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  e2e/fixtures/events/createClaim.js
  e2e/tests/api_tests/sdo_R2/sdo_R2_test.js
  e2e/tests/api_tests/sdo_R2/sdo_flight_delay_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4332

#4345 CIV-13305 - LF warning for 1v2 and 2v1
  ccd-definition/CaseEventToFields/ManageContactInformation-MCI-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-4345

#4331 CIV-13217 13488 claim and mt dq
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/claimantResponseMultiClaimSpec.js
  e2e/fixtures/events/createClaimSpec.js
  e2e/fixtures/events/defendantResponseMultiClaimSpec.js
  e2e/helpers/mintiHelper.js
  e2e/tests/api_tests/multiIntermediateTrack/api_1v1_multi_intermediate_spec_test.js
  e2e/tests/api_tests/multiIntermediateTrack/api_1v1_multi_intermediate_test.js
  e2e/tests/api_tests/multiIntermediateTrack/api_intermediate_spec_test.js
  e2e/tests/api_tests/multiIntermediateTrack/api_multi_spec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4331

#4367 DTSCCI-266 adding a no ft test to serve as template
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4367

#4358 CIV-13728 Add document generation before CYA
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-R2-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DecisionOnReconsideration-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/DecisionOnReconsiderationRequest-SDO-R2-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-R2-nonprod.json
  ccd-definition/FixedLists/DocumentType-SDO-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4358

#4361 CIV-10940 - add read authorisation for admin
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4361

#4384 DTSCCI-282 fix bad data
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldSDO-DJ.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4384

#4319 CIV-8737 Judgment Online Data model
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdate-JO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/JudgmentOnline/InstalmentPaymentDetails-JO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/JudgmentOnline/InstalmentPaymentDetailsEditJudgement-JO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/JudgmentOnline/JudgmentPaidInFull-JO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/JudgmentOnline/PaymentPlan-EditJudgment-JO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/JudgmentOnline/PaymentPlan-RecordJudgment-JO-nonprod.json
  ccd-definition/CaseEventToComplexTypes/JudgmentStatusDetails-JO-nonprod.json
  ccd-definition/CaseEventToFields/EditJudgement-JO-nonprod.json
  ccd-definition/CaseEventToFields/RecordJudgment-JO-nonprod.json
  ccd-definition/CaseField/CaseField-JO-nonprod.json
  ccd-definition/ComplexTypes/JudgmentOnline/InstalmentPaymentDetails-JO-nonprod.json
  ccd-definition/ComplexTypes/JudgmentOnline/JudgmentPaidInFull-JO-nonprod.json
  ccd-definition/ComplexTypes/JudgmentOnline/JudgmentPaymentPlan-JO-nonprod.json
  ccd-definition/ComplexTypes/JudgmentOnline/OnlineJudgmentDetails-JO-nonprod.json
  ccd-definition/ComplexTypes/JudgmentStatusDetails-JO-nonprod.json
  ccd-definition/FixedLists/JudgmentOnline/JudgmentState-JO-nonprod.json
  ccd-definition/FixedLists/JudgmentOnline/JudgmentType-JO-nonprod.json
  ccd-definition/FixedLists/JudgmentOnline/PaymentPlanType-JO-nonprod.json
  e2e/api/steps.js
  e2e/fixtures/events/judgmentOnline1v1.js
  e2e/fixtures/events/judgmentOnline1v1Spec.js
  e2e/fixtures/events/judgmentOnline1v2.js
  e2e/fixtures/events/judgmentOnline1v2Spec.js
Labels: data-changes, ns:civil, prd:civil, stale, rel:civil-ccd-pr-4319

#4339 CIV-12873 Defendant LR Cover Letter - Default Judgment
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-JO-nonprod.json
  ccd-definition/FixedLists/DocumentType-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4339

#4375 CIV-13498 Defendant submits in Welsh Dashboard for Claimant
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4375

#4357 CIV-13311 Create View orders and notices page
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4357

#4379 CIV-13495 Dashboard notification - Case proceeds offline
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-EA.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4379

#4378 CIV-13632 Refactor CARM DRH fields
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-CARM-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-CARM-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-CARM-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-R2-nonprod.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4378

#4353 CIV-13707 Missing email and telephone validation - MCI
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/LRIndividuals-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/OrgIndividuals-MCI-nonprod.json
  ccd-definition/CaseEventToFields/ManageContactInformation-MCI-nonprod.json
  ccd-definition/CaseField/CaseField-MCI-nonprod.json
  ccd-definition/ComplexTypes/UpdatePartyDetailsForm-MCI-nonprod.json
  e2e/pages/manageContactInformation/manageOrganisationIndividuals.page.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4353

#4355 DTSCCI-145 Claim documents duplicating on claim documents tab
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4355

#4390 CIV-11832 Evidence Uploaded
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4390

#4413 CIV-0000 Update more tests
  e2e/tests/ui_tests/damages/2v1CreateClaim_fast_track_test.js
  e2e/tests/ui_tests/damages/2v1CreateClaim_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4413

#4363 CIV-12893 Defendant LiP dashboard notifications: Default judgment issued
  ccd-definition/AuthorisationCaseEvent/systemUpdate-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEventsDJ-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4363

#4419 CIV-13779 Add elec doc + disclosure report to INT DQ - Def LR
  ccd-definition/CaseEventToFields/DefendantResponse.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec.json
  e2e/fixtures/events/1v2SameSolicitorEvents/defendantResponse_sameSolicitor.js
  e2e/fixtures/events/2v1Events/defendantResponse_2v1.js
  e2e/fixtures/events/defendantResponse.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4419

#4430 CIV-13219 Fixed page show condition
  ccd-definition/CaseEventToFields/DefendantResponse.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4430

#4421 CIV-0000 - Adding GS_Profile R permissions on MCI
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-MCI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4421

#4075 CIV-11104 Auth vulnerability assigning cases
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4075

#4385 CIV-13546 Claimant LiP dashboard notifications Default judgment issued
  ccd-definition/AuthorisationCaseEvent/systemUpdate-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEventsDJ-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4385

#4387 CIV-8154 Flight
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldSDO-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-4387

#4425 CIV-10455 Claimant LiP screen: mark Judgment as Paid in Full
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4425

#4406 CIV-13753 Set Aside Error DashboardNotification LIP
  ccd-definition/AuthorisationCaseEvent/systemUpdate-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEventsDJ-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4406

#4429 CIV-13698 SDO Legal Adviser
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4429

#4436 CIV-13278 JUdgment Online CCD
  ccd-definition/CaseEvent/User/UserEvents-JO-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsSpecDJspec-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4436

#4448 CIV-13698 Delete requestForReconsiderationDeadline
  e2e/api/steps_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4448
