Repository hmcts/civil-ccd-definition, pull requests merged in 2024-02, with the labels that each got.

#3915 Rr UI test cases3
  README.md
  e2e/api/steps_LRspecSmall.js
  e2e/pages/caseView.page.js
  e2e/pages/decisionOnReconsideration/decisionOnReconsideration.page.js
  e2e/pages/requestForReconsideration/reasonForReconsideration.page.js
  e2e/steps_file.js
  e2e/steps_file_LRspec.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
  e2e/tests/ui_tests/sdo/ui_request_for_reconsideration_test.js
  e2e/tests/ui_tests/sdo/ui_request_for_reconsideration_with_options_test.js
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-3915

#3937 CIV-12265 Email Notification to Claimant LiP in Bilingual Claim Issue
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3937

#3904 CIV-12183 update start page for CIVIL (SPEC/UNSPEC)
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3904

#3817 CIV-11543 Add new doc type
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
  ccd-definition/FixedLists/DocumentType-R2-CUI-nonprod.json
  ccd-definition/FixedLists/DocumentType.json
  ccd-definition/FixedLists/TranslatedDocumentType-R2-CUI-nonprod.json
  ccd-definition/FixedLists/TranslatedDocumentType.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3817

#3964 CIV-0000 -- unskipping test ExUI-9165
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_FlightDelay_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3964

#3875 CIV-12200 Use Playwright for FT's
  codecept.conf.js
  e2e/fragments/addressPostCodeLookupLRspec.js
  e2e/fragments/dq/disclosureOfElectrionicDocuments.page.js
  e2e/fragments/dq/disclosureOfNonElectrionicDocuments.page.js
  e2e/fragments/dq/disclosureReport.page.js
  e2e/fragments/dq/experts.page.js
  e2e/fragments/dq/fileDirectionsQuestionnaire.page.js
  e2e/fragments/dq/fixedRecoverableCosts.page.js
  e2e/fragments/dq/furtherInformation.page.js
  e2e/fragments/dq/hearing.page.js
  e2e/fragments/dq/hearingSupportRequirements.page.js
  e2e/fragments/dq/requestedCourt.page.js
  e2e/fragments/dq/vulnerabilityQuestions.page.js
  e2e/fragments/dq/witnesses.page.js
  e2e/fragments/litigationFriend.js
  e2e/fragments/statementOfTruth.js
  e2e/helpers/browser_helper.js
  e2e/pages/caseProgression/hearingScheduledChooseDetails.page.js
  e2e/pages/createClaim/chooseCourt.page.js
  e2e/pages/defaultJudgment/requestDefaultJudgmentforUnspecifiedClaims.js
  e2e/pages/respondToClaimLRspec/chooseCourtLRspec.page.js
  e2e/pages/respondToClaimLRspec/enter2ndDefendantDetailsLRspec.page.js
  e2e/pages/respondToClaimLRspec/expertsMPLRspec.page.js
  e2e/pages/respondToClaimLRspec/freeMediationLRspec.page.js
  e2e/pages/respondToClaimLRspec/fullAdmitTypeLRspec.page.js
  e2e/pages/respondToClaimLRspec/furtherInformationLRspec.page.js
  e2e/pages/respondToClaimLRspec/hearingClaimantLRspec.page.js
  e2e/pages/respondToClaimLRspec/hearingLRspec.page.js
  e2e/pages/respondToClaimLRspec/hearingSmallClaimsLRspec.page.js
  e2e/pages/respondToClaimLRspec/partAdmitTypeLRspec.page.js
  e2e/pages/respondToClaimLRspec/partAdmittedAmount.page.js
  e2e/pages/respondToClaimLRspec/respondentCarerAllowanceDetails.page.js
  e2e/pages/respondToClaimLRspec/respondentCourtOrderType.page.js
  e2e/pages/respondToClaimLRspec/respondentDebtsDetails.page.js
  e2e/pages/respondToClaimLRspec/respondentEmploymentType.page.js
  e2e/pages/respondToClaimLRspec/respondentIncomeExpensesDetails.page.js
  e2e/pages/respondToClaimLRspec/singleResponseLRSpec.page.js
  e2e/pages/respondToClaimLRspec/useExpertLRspec.page.js
  e2e/pages/respondToClaimLRspec/vulnerabilityLRspec.page.js
  e2e/pages/respondToClaimLRspec/witnessesLRspec.page.js
  e2e/pages/respondToDefence/proceed.page.js
  e2e/pages/selectSDO/unspecClaimsSDOOrderDetails.page.js
  e2e/run-functional-tests.sh
  e2e/steps_file.js
  e2e/steps_file_LRspec.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  package.json
  steps.d.ts
  yarn.lock
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-3875

#3966 CIV-12200 Running more parallel threads
  codecept.conf.js
  e2e/pages/createClaim/addAnotherClaimant.page.js
  e2e/pages/createClaim/addAnotherDefendant.page.js
  e2e/pages/createClaim/addClaimForAFlightDelay.page.js
  e2e/pages/createClaim/chooseCourt.page.js
  e2e/pages/createClaim/claimantLitigationDetails.page.js
  e2e/pages/createClaim/claimantSolicitorServiceAddress.page.js
  e2e/pages/createClaim/defendantSolicitorOrganisation.page.js
  e2e/pages/createClaim/defendantSolicitorOrganisationLRspec.page.js
  e2e/pages/createClaim/defendantSolicitorServiceAddress.page.js
  e2e/pages/createClaim/idamEmail.page.js
  e2e/pages/createClaim/isRespondentRepresented.page.js
  e2e/pages/createClaim/isRespondentRepresentedLRspec.page.js
  e2e/pages/createClaim/respondent2SameLegalRepresentative.page.js
  e2e/pages/createClaim/respondent2SameLegalRepresentativeLRspec.page.js
  e2e/pages/createClaim/secondDefendantSolicitorServiceAddress.page.js
  e2e/pages/createClaim/uploadParticularsOfClaimQuestion.page.js
  e2e/run-functional-tests.sh
  package.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-3966

#3968 CIV-12200 Increase parallel threads
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3968

#3967 CIV-0000 - removed create_lip_claim event to non-prod file.
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI.json
  ccd-definition/CaseEvent/User/UserEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3967

#3942 CIV-5142 mandatory
  ccd-definition/CaseEventToFields/CreateSDO-SDO.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3942

#3971 CIV-12200 Run challenged access only based on wa flag
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3971

#3914 CIV-11768 Work Allocation for Case Flags
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3914

#3863 CIV-11831 SDO-NIHL
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDOR2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/LengthListOtherSdoTrial-SdoR2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/SdoTrialFirstDateWindow-SdoR2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/SdoTrialFirstOpenDateAfter-SdoR2-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-prod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO.json
  ccd-definition/CaseEventToFields/CreateSDO-SDOR2-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/AddNewDirections-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/DisclosureOfDocuments-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/FastTrackAltDisputeResolution-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/RestrictNoOfPagesDetails-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/RestrictNoOfWitnessDetails-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/RestrictPages-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/RestrictWitness-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2FirstOpenDateAfter-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2ScheduleOfLoss-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2TrialFromTo-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2TrialHearingLengthOther-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2TrialSection-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/Settlement-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/VariationOfDirections-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/WitnessOfFact-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/FastTrackMethod-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/PhysicalTrialBundleOptions-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/SDOIncludeInOrder-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/TrialOnOptions-SDO-R2-nonprod.json
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3863

#3949 CIV-11297 - Added authorisation for systemupdate
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-R2-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3949

#3987 CIV-0000 Make it WA compatible
  charts/civil-ccd/values.enableWA.preview.template.yaml
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, pr-values:enableWA, rel:civil-ccd-pr-3987

#3955 CIV-1556 Refunds UI Tests
  Jenkinsfile_CNP
  README.md
  codecept.conf.js
  e2e/api/apiRequest.js
  e2e/api/steps.js
  e2e/config.js
  e2e/pages/refunds/requestRefund/issueRefund.page.js
  e2e/pages/refunds/requestRefund/refundCheckYourAnswers.page.js
  e2e/pages/refunds/requestRefund/refundConfirmation.page.js
  e2e/pages/refunds/requestRefund/refundContactInformation.page.js
  e2e/pages/refunds/requestRefund/refundOption.page.js
  e2e/pages/refunds/requestRefund/refundReasons.page.js
  e2e/pages/refunds/returnRefund/refundList.page.js
  e2e/pages/refunds/returnRefund/reviewRefundDetails.page.js
  e2e/pages/refunds/reviewRefund/refundChangeYourAnswers.page.js
  e2e/pages/refunds/reviewRefund/refundDetails.page.js
  e2e/steps_file.js
  e2e/steps_file_WA.js
  e2e/tests/ui_tests/refunds/steps/requestRefundSteps.js
  e2e/tests/ui_tests/refunds/ui_request_for_refunds_test.js
  package.json
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-3955

#3961 CIV-12531 add new retrigger events
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/RetriggerCase.json
  ccd-definition/CaseEventToFields/Retrigger.json
  ccd-definition/CaseEventToFields/RetriggerSpec.json
  charts/civil-ccd/values.preview.template.yaml
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3961

#3975 CIV-12446 Stop judge from changing location where inappropriate
  ccd-definition/CaseEvent/User/UserEvents-SDO-TOC-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-TOC-prod.json
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/events/transferOnlineCase.js
  e2e/tests/api_tests/sdo_R2/api_request_for_reconsideration_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3975

#3980 CIV-12486 DJ Flag in CCD
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJ.json
  ccd-definition/CaseEventToFields/NotSuitableSDO-TOC.json
  ccd-definition/CaseField/CaseFieldDJ.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3980

#3999 CIV-12408 DRH SDO
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/FirstDateWindowSdoR2SmallClaimHearing-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/FirstOpenDateAfterSdoR2SmallClaimHearing-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/LengthListOtherSdoR2SmallClaims-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/RestrictPagesSmallClaimHearing-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/RestrictWitnessSmallClaimHearing-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-prod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO.json
  ccd-definition/CaseField/CaseField-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/AddNewDirectionsSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/ImportantNotesSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/JudgesRecitalSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/PPISmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/RestrictPagesSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/RestrictWitnessSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2FirstOpenDateAfterSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2HearingFromToSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2HearingLengthOtherSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2HearingSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/UploadOfDocSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/WitnessStatementsSmallClaims-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/PhysicalTrialBundleOptions-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/SDOIncludeInOrder-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/SmallClaimsMethod-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/SmallClaimsTimeEstimate-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/TrialOnOptions-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SmallTrack-SDO-R2-nonprod.json
  e2e/api/steps.js
  e2e/fixtures/events/createSDO.js
  e2e/tests/api_tests/sdo_R2/api_dispute_resolution_hearing_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3999

#3977 CIV-12045 wa enter judgment manually
  ccd-definition/CaseEvent/Camunda/CaseEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-3977

#3994 CIV-10058 hwf caseworker no remission hwf
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-HWF-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-HWF-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/NoRemission-HWF-CUI-R2-nonprod.json
  ccd-definition/CaseEventToFields/NoRemission-HWF-CUI-R2-nonprod.json
  ccd-definition/CaseField/CaseField-HWF-R2-CUI-nonprod.json
  ccd-definition/ComplexTypes/HelpWithFeesDetails-CUI-R2-nonprod.json.json
  ccd-definition/FixedLists/HWFFeeDetailsSummary-CUI-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3994

#4017 CIV-0000 Fix high level data setup
  ccd-definition/ComplexTypes/HelpWithFeesDetails-CUI-R2-nonprod.json
Labels: data-changes

#3998 CIV-10057 HWF Caseworker - Partial Remission HWF - Granted
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-HWF-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/PartialRemission-HWF-CUI-R2-nonprod.json
  ccd-definition/CaseEventToFields/PartialRemission-HWF-CUI-R2-nonprod.json
  ccd-definition/CaseField/CaseField-HWF-R2-CUI-nonprod.json
  ccd-definition/ComplexTypes/HelpWithFees-CUI-R2-nonprod.json
  ccd-definition/ComplexTypes/HelpWithFeesDetails-CUI-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3998

#3865 CIV-11793 - Manage Case app - displays 'Reset PIN' next action for Spec LR vs LR case
  ccd-definition/CaseEvent/User/UserEventsCUI.json
  e2e/fixtures/ccd/expectedEventsLRSpec.js
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-3865

#4007 CIV-10054 More Information Required HWF HwF
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-HWF-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseEventToFields/HelpWithFeesMoreInformation-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-HWF-R2-CUI-nonprod.json
  ccd-definition/ComplexTypes/HelpWithFeesMoreInformation-R2-CUI-nonprod.json
  ccd-definition/FixedLists/HwfInformationProof.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4007

#3957 CIV-11807 - SDO DMN for Part Admit Journeys/ Defence journey - Release 2
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-R2-CUI-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3957

#3997 CIV-10056 HWF Caseworker - Full Remission HWF - Granted
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseEventToFields/FullRemission-HWF-CUI-R2-nonprod.json
  ccd-definition/CaseField/CaseField-HWF-R2-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3997

#4002 CIV-10055 update hwf ref number
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/UpdateReferenceNum-HelpWithFee-R2-CUI-nonprod.json
  ccd-definition/CaseEventToFields/UpdateReferenceNum-HelpWithFee-R2-CUI-nonprod.json
  ccd-definition/ComplexTypes/HelpWithFeesDetails-CUI-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4002

#4033 CIV-12562 Part remission HwF - granted - Claimant notifications
  ccd-definition/ComplexTypes/HelpWithFeesDetails-CUI-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4033

#4015 CIV-10059 - HWF Caseworker - Fee Payment Outcome
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-HWF-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseEventToFields/FeePaymentOutcome-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseFieldHearingNotice.json
  ccd-definition/ComplexTypes/HelpWithFeesDetails-CUI-R2-nonprod.json
  ccd-definition/FixedLists/ConfirmPaymentMade-HWF-R2-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4015

#4006 CIV-10053 Invalid HwF
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-HWF-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/InvalidHelpWithFees-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseEventToFields/InvalidHwFReference-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-HWF-R2-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4006

#4022 CIV-8308 Judge's Screen Order Details Flight Delay Section
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-prod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO.json
  ccd-definition/CaseField/CaseField-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SmallClaimsFlightDelay-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SmallTrack-SDO-R2-nonprod.json
  e2e/api/steps.js
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/events/createSDO.js
  e2e/tests/api_tests/sdo_R2/sdo_flight_delay_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4022

#4051 CIV-12567 Fix citizen permissions for HWF statuses
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-HWF-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4051

#4029 CIV-12409 CCD DRH
  ccd-definition/CaseEventToComplexTypes/BundleOfDocsSdoR2SmallClaimHearing-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/FirstDateWindowSdoR2SmallClaimHearing-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/FirstOpenDateAfterSdoR2SmallClaimHearing-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/LengthListOtherSdoR2SmallClaims-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/RestrictPagesSmallClaimHearing-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/RestrictWitnessSmallClaimHearing-SDO-R2-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/BundleOfDocsSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/RestrictWitnessSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2FirstOpenDateAfterSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2HearingFromToSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2HearingLengthOtherSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2HearingSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/WitnessStatementsSmallClaims-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/TrialOnOptions-SDO-R2-nonprod.json
  e2e/api/steps.js
  e2e/fixtures/events/evidenceUploadApplicant.js
  e2e/fixtures/events/evidenceUploadRespondent.js
  e2e/tests/api_tests/sdo_R2/api_dispute_resolution_hearing_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4029

#4043 CIV-11837 API Test changes
  e2e/api/steps.js
  e2e/fixtures/events/createSDO.js
  e2e/tests/api_tests/sdo_R2/api_noise_induced_hearing_loss_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4043

#4061 CIV-12654 Claim fee required dashboard notification
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4061
