Repository hmcts/civil-ccd-definition, pull requests merged in 2024-06, with the labels that each got.

#4306 CIV-13125 Publish fields for WA
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4306

#4400 DTSCCI-297 - Categorising API Tests
  e2e/tests/api_tests/damages/api_1v2_different_solicitor_test.js
  e2e/tests/api_tests/damages/api_1v2_same_solicitor_test.js
  e2e/tests/api_tests/damages/api_2v1_test.js
  e2e/tests/api_tests/lrspec/api_1v1_spec_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_fast_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_fast_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_test.js
  e2e/tests/api_tests/sdo/api_transfer_online_case_test.js
  e2e/tests/api_tests/sdo/sdo_test.js
  e2e/tests/api_tests/sdo_R2/api_dispute_resolution_hearing_test.js
  e2e/tests/api_tests/sdo_R2/api_noise_induced_hearing_loss_test.js
  e2e/tests/api_tests/sdo_R2/api_request_for_reconsideration_test.js
  e2e/tests/api_tests/sdo_R2/sdo_flight_delay_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4400

#4454 CIV-13698 update api test to cover reconsideration
  e2e/api/steps_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4454

#4354 CIV-13463 Update set Aside Judgment
  ccd-definition/CaseEvent/User/UserEvents-JO-nonprod.json
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/defendantResponseSpec1v2.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v1_test.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v2_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4354

#4458 CIV-13698 Resolve failing api test
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
Labels: ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, rel:civil-ccd-pr-4458

#4462 CIV-14110 - Fix Recoverable Costs page for claimant response for SMALL TRA…
  ccd-definition/CaseEventToFields/ClaimantResponse.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4462

#4428 CIV-12870 CCD PR - Docmosis template for Defendant LiP PIN in Post Letter - Judgment by admission
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4428

#4438 CIV-13792 Defendant LiP dashboard notifications: judgment by admission issued
  ccd-definition/AuthorisationCaseEvent/systemUpdate-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEventsDJ-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4438

#4449 CIV-13913 Settle this claim event
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4449

#4465 CIV-14083 Add ask for costs field
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseFieldGAspec-R2-CUI-nonprod.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec-R2-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4465

#4473 CIV-14142 Move GAforLip flags to prod file
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-GA-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ccd-definition/AuthorisationCaseField/staffGAspec-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/staffGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec-R2-CUI-nonprod.json
  ccd-definition/AuthorisationComplexType/solicitorGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec-GA-CUI-nonprod.json
  ccd-definition/CaseField/CaseFieldGAspec-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseFieldGAspec.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec-GA-CUI-nonprod.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec-R2-CUI-nonprod.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4473

#4205 CIV-11851 Next Hearing Details Handler
  ccd-definition/AuthorisationCaseEvent/systemUpdate-NHD-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEvent/Camunda/NextHearingDetailsEvents-NHD-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4205

#4489 CIV-0000 Unshutter prod
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4489

#4491 CIV-000 fix API tests
  e2e/tests/api_tests/sdo_R2/api_dispute_resolution_hearing_test.js
  e2e/tests/api_tests/sdo_R2/sdo_flight_delay_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4491

#4437 CIV-12857 add event for judgment by admission doc
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-JO-nonprod.json
  ccd-definition/FixedLists/DocumentType-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4437

#4432 CIV-13791 Defendant LiP dashboard notifications judgment by determination issued
  ccd-definition/AuthorisationCaseEvent/systemUpdate-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEventsDJ-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4432

#4474 CIV-14025 Caseworker screen: Settle this claim
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/SettleClaim-SettleDiscontinue-nonprod.json
  ccd-definition/CaseField/CaseField-SettleDiscontinue-nonprod.json
  ccd-definition/FixedLists/JudgmentOnline/SettleReason-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4474

#4475 CIV-13925 - Hide the Enter and Lift breathing space events for Legal Representatives
  ccd-definition/CaseEvent/User/UserEventsLRspec-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-prod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec.json
  e2e/fixtures/ccd/expectedEventsLRSpec.js
  e2e/fixtures/ccd/nonProdExpectedEventsLRSpec.js
  e2e/tests/ui_tests/lrspec/1v1CreateClaim-LRspec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4475

#4492 CIV-13930 - request for reconsideration lip document
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-CP-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-CP-nonprod.json
  ccd-definition/FixedLists/DocumentType-CUI-CP-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4492

#4506 CIV-0000 Fix non prod events checks on step files
  e2e/api/steps_LRspecCui.js
  e2e/api/steps_LRspecFast.js
  e2e/api/steps_LRspecSmall.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4506

#4447 CIV-13964 - CUI Case Progression ccd
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-CUI-CP-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCaseProg.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemupdate-CUI-CP-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-CP-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-HWF-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldCaseProg-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldCaseProg.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/BundlesCaseField.json
  ccd-definition/AuthorisationCaseField/EvidenceUpload.json
  ccd-definition/AuthorisationCaseField/HearingNotice.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-CUI-CP-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-CUI-CP-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-CUI-CP-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-CUI-CP-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-CUI-CP-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCUI.json
  ccd-definition/CaseEventToFields/FeePaymentOutcome-CUI-CP-nonprod.json
  ccd-definition/CaseEventToFields/FeePaymentOutcome-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseEventToFields/FullRemission-HWF-CUI-R2-nonprod.json
  ccd-definition/CaseEventToFields/HelpWithFees-CUI-CP-nonprod.json
  ccd-definition/CaseEventToFields/HelpWithFeesMoreInformation-R2-CUI-nonprod.json
  ccd-definition/CaseEventToFields/InvalidHwFReference-HWF-R2-CUI-nonprod.json
  ccd-definition/CaseEventToFields/NoRemission-HWF-CUI-R2-nonprod.json
  ccd-definition/CaseEventToFields/PartialRemission-HWF-CUI-R2-nonprod.json
  ccd-definition/CaseEventToFields/UpdateReferenceNum-HelpWithFee-R2-CUI-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-CP-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-R2-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-CP-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
  ccd-definition/CaseField/CaseField-HWF-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4447

#4487 CIV-13766 Claimant LR screen Options for settlement Mark claim as paid in full
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-settleDiscontinue-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/SettleClaimPaidInFull-SettleDiscontinue-nonprod.json
  ccd-definition/CaseField/CaseField-SettleDiscontinue-nonprod.json
  ccd-definition/FixedLists/MarkClaimPaidConsent-SettleDiscontinue-nonprod.json
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/events/settleClaim1v1Spec.js
  e2e/tests/api_tests/lrspec/api_1v1_spec_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4487

#4508 DTSCCI-358 - Casemangement location is not correctly updated for DJ cases. So skipping tests
  e2e/pages/manageContactInformation/manageOrganisationIndividuals.page.js
  e2e/tests/ui_tests/default_judgement/1v1UnspecDJ_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4508

#4481 CIV-13924 - Remove Lip Breathing space changes
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/staff-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/BreathingSpaceLRspec-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4481

#4513 CIV-0000 Enable notify emails to guest list with label "pr-values:enableNotifyEmails"
  Jenkinsfile_CNP
  README.md
  charts/civil-ccd/values.enableNotifyEmails.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4513

#4442 CIV-13776 MCI fix null flags field for applicant 1
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Applicant1-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Applicant1LitigationFriend-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Applicant2-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Applicant2LitigationFriend-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Respondent1-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Respondent1LitigationFriend-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Respondent2-MCI-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ManageContactInformation/Respondent2LitigationFriend-MCI-nonprod.json
Labels: ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, rel:civil-ccd-pr-4442

#4511 CIV-13919 Dashboard status update
  ccd-definition/CaseEvent/User/UserEvents-EA.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4511

#4521 CIV-0000 Fix smoke test failure videos
  codecept.conf.js
  e2e/steps_file.js
  e2e/tests/api_tests/smoke_test_api.js
  e2e/tests/ui_tests/smoke_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4521

#4479 CIV-14010 CCD PR for Email notification: Defendant LR Claim Paid in Full
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-SettleDiscontinue-nonprod.json
  e2e/tests/api_tests/lrspec/api_1v1_spec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4479

#4527 CIV-14091 Dashboard notification for defendant noc
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseState/approver.json
  ccd-definition/AuthorisationCaseState/caseAccessAssignment-CUI.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4527

#4539 CIV-14091 Commented defendant and claimant response step for PROCEEDS_IN_HERITAGE_SYSTEM
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4539

#4494 CIV-14112 CCD Event: Discontinue this claim
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4494

#4505 CIV-14132 Refactoring - CCD event: Settle this claim
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4505

#4537 CIV-14096 NoC (LiP vs LR) - cancellation of WA tasks
  ccd-definition/CaseEvent/Camunda/CaseEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4537

#4535 CIV-14220 Fast Track SDO changes
  ccd-definition/CaseEventToFields/CreateSDO-SDO.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4535

#4470 CIV-12881 Email notifications Judgment by admission
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4470

#4476 CIV-10580 Judgment by determination doc events
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-JO-nonprod.json
  ccd-definition/FixedLists/DocumentType-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4476

#4515 CIV-14016 Work allocation: Claim Paid in Full Divergence - Take Case Offline
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/SettleClaimPaidInFull-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4515

#4548 CIV-14145 Claimant LR screen Permission from the court
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/DiscontinueClaim-SettleDiscontinue-nonprod.json
  ccd-definition/CaseField/CaseField-SettleDiscontinue-nonprod.json
  ccd-definition/FixedLists/ConfirmCourtPermission-DiscontinueClaim.json
  ccd-definition/FixedLists/CourtPermissionIsNeededList-DiscontinueClaim.json
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/discontinueClaim2v1Spec.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_test.js
  e2e/tests/api_tests/settle-discontinue/api_settle_discontinue_claim_2v1_spec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4548

#4531 CIV-13715 Request for reconsideration notification
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-CUI-CP-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemupdate-CUI-CP-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-CP-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-CUI-CP-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-CP-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4531

#4555 CIV-14015 Publish Settle Claim event
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-AHN-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/SettleClaim-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4555

#4536 CIV-13717 - decision for reconsideration dashboard
  ccd-definition/AuthorisationCaseEvent/systemupdate-CUI-CP-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-CUI-CP-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-4536

#4547 CIV-14117 - Work allocation final order bilingual
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-CUI-CP-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-CP-nonprod.json
  ccd-definition/CaseEventToComplexTypes/WorkAllocation-CUI-CP-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-CP-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4547

#4482 CIV-14139 allow def lip to raise ga
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-GA-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-4482
