Repository hmcts/civil-ccd-definition, pull requests merged in 2024-09, with the labels that each got.

#4789 CIV-15098 CIV-15099 Final order options and select template screen
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-MINTI-nonprod.json
  ccd-definition/CaseEventToFields/FinalOrders-MINTI-nonprod.json
  ccd-definition/CaseField/CaseField-MINTI-nonprod.json
  ccd-definition/FixedLists/CaseProgression/FinalOrderSelection-MINTI-nonprod.json
  ccd-definition/FixedLists/CaseProgression/FinalOrderSelection-MINTI-prod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4789

#4790 DTSCCI-000 - making settle claim test 1v2 run only in nonprod
  e2e/tests/api_tests/lrspec/api_1v1_spec_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4790

#4794 CIV-15100 CIV-15102 CIV-15138 Download template, upload order and CYA
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-MINTI-nonprod.json
  ccd-definition/CaseEventToFields/FinalOrders-MINTI-nonprod.json
  ccd-definition/CaseField/CaseField-MINTI-nonprod.json
  ccd-definition/ComplexTypes/CaseProgression/FinalOrderTrackAllocation-MINTI-nonprod.json
  ccd-definition/ComplexTypes/FinalOrderFastTrackAllocation-MINTI-nonprod.json
  ccd-definition/ComplexTypes/FinalOrderIntermediateTrackAllocation-MINTI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4794

#4783 CIV-15055 role permission
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-settleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4783

#4746 DTSCCI-765 - Remove PBA Accounts Field from create claim
  ccd-definition/CaseEventToFields/CreateClaim.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4746

#4797 DTSCCI-849 - Changing judges used in req for reconsideration test to region 1
  e2e/tests/api_tests/sdo_R2/api_request_for_reconsideration_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4797

#4768 CIV-14871 - moving SDO-R2 tests from nightly to preview
  e2e/tests/api_tests/sdo_R2/api_request_for_reconsideration_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4768

#4755 CIV-14664 CCD PR to update Judgments Tab in ExUI
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentDJspec-nonprod.json
  ccd-definition/CaseEventToFields/RecordJudgment-JO-nonprod.json
  ccd-definition/CaseField/CaseField-JO-nonprod.json
  ccd-definition/CaseTypeTab/DefaultJudgmentDetailsDJSpec-prod.json
  ccd-definition/CaseTypeTab/Judgments-JO-nonprod.json
  ccd-definition/ComplexTypes/JudgmentOnline/OnlineJudgmentDetails-JO-nonprod.json
  ccd-definition/FixedLists/JudgmentOnline/JudgmentStatePaidInFull-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4755

#4737 CIV-12641 test
  e2e/api/steps_LRspecCui.js
  e2e/fixtures/events/evidenceUploadApplicant.js
  e2e/fixtures/events/evidenceUploadRespondent.js
  e2e/fixtures/events/requestForReconsideration.js
  e2e/fixtures/events/scheduleHearing.js
  e2e/fixtures/events/trialReadiness.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_test.js
Labels: ns:civil, prd:civil, stale, Testing, enable_keep_helm, rel:civil-ccd-pr-4737

#4805 CIV-15044 - Add authorisation for document for disclosure defendant
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-CP-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4805

#4807 CIV-15208 Rename Settle the claim to Mark claim as paid in full
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4807

#4795 CIV-14602 def should see general order doc if with notice
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4795

#4787 CIV-14812 Update set aside Camunda
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-JO-nonprod.json
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/judgmentOnline1v1Spec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4787

#4806 CIV-15040 FiX CIV-1540-41 ccd test failure
  e2e/api/steps_LRspecCui.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4806

#4820 DTSCCI-694 amending script for dev env
  README.md
  bin/setup-devuser-preview-env.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4820

#4832 CIV-0000 Fix judge not able to see listing notes tab
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4832

#4838 DTSCCI-000 fixing the env var for civil-service in the dev preview
  bin/variables/load-dev-user-preview-environment-variables.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4838

#4780 CIV-14829 dismiss case dashboard notification
  ccd-definition/AuthorisationCaseEvent/systemUpdate-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4780

#4827 CIV-15316 Updated text for settle discontinue screen confirmation
  ccd-definition/CaseEventToFields/SettleClaimPaidInFull-SettleDiscontinue-nonprod.json
  ccd-definition/CaseField/CaseField-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4827

#4814 CIV-14694 CJES Service CCD changes
  ccd-definition/ComplexTypes/JudgmentOnline/JudgmentAddress-JO-nonprod.json
  ccd-definition/ComplexTypes/JudgmentOnline/OnlineJudgmentDetails-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4814

#4839 DTSCCI-788 add casename for ga
  ccd-definition/ComplexTypes/GeneralApplicationGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4839

#4754 CIV-14750 Case stayed dashboard notifications
  ccd-definition/AuthorisationCaseEvent/systemUpdate-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4754

#4842 CIV-0000 Move activeJudgment CUI auth to JO file
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4842

#4863 CIV-0000 HMC release
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-NHD-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvents-AHN-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-AHN-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-HMC-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-NHD-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-HMC-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-NHD-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/systemUpdate-HMC-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-NHD-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState.json
  ccd-definition/AuthorisationComplexType/solicitor-HMC-nonprod.json
  ccd-definition/AuthorisationComplexType/solicitor.json
  ccd-definition/CaseEvent/Camunda/AutomatedHearingNoticeEvents.json
  ccd-definition/CaseEvent/Camunda/CaseEvents.json
  ccd-definition/CaseEvent/Camunda/NextHearingDetailsEvents-NHD-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-AHN-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-HMC-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-prod.json
  ccd-definition/CaseEvent/User/UserEvents.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-HMC-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-NHD-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-HMC.json
  ccd-definition/CaseField/CaseField-HMC-nonprod.json
  ccd-definition/CaseField/CaseField-NHD-nonprod.json
  ccd-definition/CaseField/CaseField-NHD-prod.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseTypeTab/Hearings-prod.json
  ccd-definition/CaseTypeTab/Hearings.json
  ccd-definition/ComplexTypes/DQ/1_Expert-HMC-nonprod.json
  ccd-definition/ComplexTypes/DQ/1_Expert.json
  ccd-definition/ComplexTypes/DQ/1_Witness-HMC-nonprod.json
  ccd-definition/ComplexTypes/DQ/1_Witness.json
  ccd-definition/ComplexTypes/ExpertDetailsLRspec-HMC-nonprod.json
  ccd-definition/ComplexTypes/ExpertDetailsLRspec.json
  ccd-definition/ComplexTypes/LitigationFriend-HMC-nonprod.json
  ccd-definition/ComplexTypes/LitigationFriend.json
  ccd-definition/ComplexTypes/NextHearingDetails-NHD-prod.json
  ccd-definition/ComplexTypes/NextHearingDetails.json
  ccd-definition/ComplexTypes/Party-HMC-nonprod.json
  ccd-definition/ComplexTypes/Party.json
  ccd-definition/ComplexTypes/PartyFlagStructure-CaseFlags.json
  ccd-definition/ComplexTypes/PartyFlagStructure-HMC-nonprod.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-NHD-nonprod.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_fast_track_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4863

#4859 CIV-0000 - Unshutter Post HMC Release
  bin/build-release-ccd-definition.sh
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4859

#4864 CIV-0000 Fix Api Tests
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4864

#4854 DTSCCI-927 hide Default Judgement spec journey behind a feature flag
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-DTSCCI-927-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventDJspec-DTSCCI-927-nonprod.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4854

#4869 DTSCCI-927 disable dj spec api tests
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_2v1_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4869

#4778 CIV-0000 functional UI Settle And Discontinue Claim
  README.md
  codecept.conf.js
  e2e/pages/caseView.page.js
  e2e/steps_file.js
  e2e/steps_file_LRspec.js
  e2e/tests/ui_tests/settle_discontinue/1v1DiscontinueThisClaim_test.js
  e2e/tests/ui_tests/settle_discontinue/1v1SettleThisClaim_test.js
  e2e/tests/ui_tests/settle_discontinue/1v2DiscontinueThisClaim_test.js
  e2e/tests/ui_tests/settle_discontinue/1v2SettleThisClaim_test.js
  e2e/tests/ui_tests/settle_discontinue/2v1DiscontinueThisClaim_test.js
  e2e/tests/ui_tests/settle_discontinue/2v1SettleThisClaim_test.js
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4778
