Repository hmcts/civil-ccd-definition, pull requests merged in 2024-11, with the labels that each got.

#5013 DTSCCI-000 Setup CCD Events Fixture and Add Case Details Page
  playwright-e2e/base/base-page.ts
  playwright-e2e/base/base-steps.ts
  playwright-e2e/enums/case-events/case-events-api.ts
  playwright-e2e/enums/case-events/case-events-ui.ts
  playwright-e2e/fixtures/ccd/events.ts
  playwright-e2e/helpers/case-data-helper.ts
  playwright-e2e/models/ccd/ccd-case-data.ts
  playwright-e2e/models/ccd/ccd-events.ts
  playwright-e2e/models/test-data.ts
  playwright-e2e/pages/exui/exui-dashboard/case-details/case-details-content.ts
  playwright-e2e/pages/exui/exui-dashboard/case-details/case-details-page.ts
  playwright-e2e/pages/exui/exui-dashboard/exui-dashboard-page-factory.ts
  playwright-e2e/pages/exui/exui-dashboard/exui-nav-bar/exui-nav-bar.ts
  playwright-e2e/pages/exui/exui-event/exui-event.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/common/case-filter/case-filter-page.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/check-list-spec/checklist-spec-page.ts
  playwright-e2e/requests/ccd-requests.ts
  playwright-e2e/requests/requests-factory.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5013

#4992 CIV-15229 Dashboard notification Stay lifted
  ccd-definition/AuthorisationCaseEvent/systemUpdate-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4992

#4982 CIV-15282 - publish Request for reconsideration WA fields
  ccd-definition/CaseEventToComplexTypes/ReasonForReconsideration-SDO-R2.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-4982

#5018 CIV-15281 DecisionOnRequestReconsiderationOptions Permissions
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-CP-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5018

#5002 CIV-14568 Add parentClaimantIsApplicant to GA details
  ccd-definition/ComplexTypes/GeneralApplicationDetailsGAspec-GA-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-5002

#5019 DTSCCI-1103 allow PA references along with hwf reference
  ccd-definition/CaseField/CaseField-HWF-R2-CUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5019

#5017 CIV-14986 allow def lip raise GA at case stayed state
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-CUI.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-R2-CUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5017

#5004 CIV-15537 display uploaded by at claim doc tab
  ccd-definition/CaseTypeTab/DocumentsGASpec-CUI-nonprod.json
  ccd-definition/CaseTypeTab/DocumentsGASpec-prod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5004

#5028 CIV-15681 Show defendant response link
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5028

#5051 DTSCCI-1096 Create Page Objects and Content for Inform Agreed Extension Date
  .gitignore
  bin/run-commands-series.sh
  package.json
  playwright-e2e/base/base-api-steps.ts
  playwright-e2e/base/base-page.ts
  playwright-e2e/base/base-request.ts
  playwright-e2e/config/data.ts
  playwright-e2e/config/file-paths.ts
  playwright-e2e/config/urls.ts
  playwright-e2e/fixtures/ccd-events/events.ts
  playwright-e2e/global/teardown-ci.ts
  playwright-e2e/global/teardown-local.ts
  playwright-e2e/global/teardown.ts
  playwright-e2e/helpers/bank-holidays-helper.ts
  playwright-e2e/helpers/date-helper.ts
  playwright-e2e/helpers/file-system-helper.ts
  playwright-e2e/helpers/file-type.ts
  playwright-e2e/models/ccd/ccd-case-data.ts
  playwright-e2e/models/test-data.ts
  playwright-e2e/pages/exui/exui-dashboard/case-details/case-details-page.ts
  playwright-e2e/pages/exui/exui-event/exui-event.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/common/case-filter/case-filter-page.ts
  playwright-e2e/pages/exui/solicitor-events/inform-agreed-extension-date/inform-agreed-extension-date-page-factory.ts
  playwright-e2e/pages/exui/solicitor-events/inform-agreed-extension-date/lr-spec/extension-date-spec/extension-date-spec-content.ts
  playwright-e2e/pages/exui/solicitor-events/inform-agreed-extension-date/lr-spec/extension-date-spec/extension-date-spec-page.ts
  playwright-e2e/pages/exui/solicitor-events/inform-agreed-extension-date/lr-spec/inform-agreed-extension-date-confirm-spec/inform-agreed-extension-date-confirm-spec-content.ts
  playwright-e2e/pages/exui/solicitor-events/inform-agreed-extension-date/lr-spec/inform-agreed-extension-date-confirm-spec/inform-agreed-extension-date-confirm-spec-page.ts
  playwright-e2e/pages/exui/solicitor-events/inform-agreed-extension-date/unspec/extension-date/extension-date-content.ts
  playwright-e2e/pages/exui/solicitor-events/inform-agreed-extension-date/unspec/extension-date/extension-date-page.ts
  playwright-e2e/pages/exui/solicitor-events/inform-agreed-extension-date/unspec/inform-agreed-extension-date-confirm/inform-agreed-extension-date-confirm-content.ts
  playwright-e2e/pages/exui/solicitor-events/inform-agreed-extension-date/unspec/inform-agreed-extension-date-confirm/inform-agreed-extension-date-confirm-page.ts
  playwright-e2e/playwright-fixtures/api/api-steps-fixtures.ts
  playwright-e2e/playwright-fixtures/ui/page-expect-fixtures.ts
  playwright-e2e/playwright-fixtures/ui/page-factory-fixtures.ts
  playwright-e2e/playwright-fixtures/ui/ui-steps-fixtures.ts
  playwright-e2e/requests/ccd-requests.ts
  playwright-e2e/requests/gov-uk-requests.ts
  playwright-e2e/requests/requests-factory.ts
  playwright-e2e/steps/api/api-data-setup.ts
  playwright-e2e/steps/api/api-user-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/claimant-response/claimant-response-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/create-claim/create-claim-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/defendant-response/defendant-response-steps.ts
  playwright-e2e/tests/Login.spec.ts
  playwright-e2e/tests/bootstrap/auth/user-auth.setup.ts
  playwright-e2e/tests/bootstrap/auth/user-auth.teardown.ts
  playwright-e2e/tests/bootstrap/data/data.setup.ts
  playwright-e2e/tests/bootstrap/users/users-data.setup.ts
  playwright.config.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5051

#5063 DTSCCI-1177 - HCA from R1 to R2
  e2e/tests/api_tests/lrspec/api_1v2_spec_fast_test.js
  e2e/tests/api_tests/lrspec/api_1v2_spec_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_fast_test.js
  e2e/tests/api_tests/lrspec/api_2v1_spec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5063

#5061 CIV-15281 Adding Permissions To CaseManagementLocation Field
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-CP-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5061

#5049 CIV-15693 Update settle and discontinue document
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-settleDiscontinue-nonprod.json
  ccd-definition/CaseField/CaseField-SettleDiscontinue-nonprod.json
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_discontinue_claim_test.js
  e2e/tests/api_tests/settle-discontinue/api_settle_discontinue_claim_2v1_spec_test.js
  e2e/tests/ui_tests/settle_discontinue/1v1DiscontinueThisClaim_test.js
  e2e/tests/ui_tests/settle_discontinue/1v2DiscontinueThisClaim_test.js
  e2e/tests/ui_tests/settle_discontinue/2v1DiscontinueThisClaim_test.js
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5049

#5079 CIV-15693 Uncomment api tests for discontinue claim
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_discontinue_claim_test.js
  e2e/tests/api_tests/settle-discontinue/api_settle_discontinue_claim_2v1_spec_test.js
  e2e/tests/ui_tests/settle_discontinue/1v1DiscontinueThisClaim_test.js
  e2e/tests/ui_tests/settle_discontinue/1v2DiscontinueThisClaim_test.js
  e2e/tests/ui_tests/settle_discontinue/2v1DiscontinueThisClaim_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5079

#5085 CIV-15748 adding cru permission for claimant LR
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI-DTSCCI-927-nonprod.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5085

#5053 CIV-15505 add confirm order option
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5053

#5081 CIV-15849 citizen access gaAddlDoc
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5081

#5075 DTSCCI-1069 Add e2e tests for Notify Claim and Notify claim details
  playwright-e2e/base/base-page.ts
  playwright-e2e/errors/expect-error.ts
  playwright-e2e/fixtures/files/test.pdf
  playwright-e2e/helpers/date-helper.ts
  playwright-e2e/pages/exui/exui-dashboard/case-details/case-details-content.ts
  playwright-e2e/pages/exui/exui-dashboard/case-details/case-details-page.ts
  playwright-e2e/pages/exui/fragments/certificate-of-service-submit/certificate-of-service-submit-content.ts
  playwright-e2e/pages/exui/fragments/certificate-of-service-submit/certificate-of-service-submit-fragment.ts
  playwright-e2e/pages/exui/fragments/certificate-of-service/certificate-of-service-content.ts
  playwright-e2e/pages/exui/fragments/certificate-of-service/certificate-of-service-fragment.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/notify-claim-details-confirm/notify-claim-details-confirm-content.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/notify-claim-details-confirm/notify-claim-details-confirm-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/notify-claim-details-cos-confirm/notify-claim-details-cos-confirm-content.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/notify-claim-details-cos-confirm/notify-claim-details-cos-confirm-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/notify-claim-details-cos-defendant-1/notify-claim-details-cos-defendant-1-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/notify-claim-details-cos-defendant-2/notify-claim-details-cos-defendant-2-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/notify-claim-details-cos-submit/notify-claim-details-cos-submit-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/notify-claim-details-page-factory.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/notify-claim-details-submit/notify-claim-details-submit-content.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/notify-claim-details-submit/notify-claim-details-submit-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/select-defendant-solicitor/select-defendant-solicitor-content.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/select-defendant-solicitor/select-defendant-solicitor-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/upload-documents/upload-documents-content.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/upload-documents/upload-documents-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/access-granted-warning/access-granted-warning-content.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/access-granted-warning/access-granted-warning-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/defendant-solicitor-to-notify/defendant-solicitor-to-notify-content.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/defendant-solicitor-to-notify/defendant-solicitor-to-notify-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/notify-claim-confirm/notify-claim-confirm-content.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/notify-claim-confirm/notify-claim-confirm-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/notify-claim-cos-confirm/notify-claim-cos-confirm-content.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/notify-claim-cos-confirm/notify-claim-cos-confirm-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/notify-claim-cos-defendant-1/notify-claim-cos-defendant-1-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/notify-claim-cos-defendant-2/notify-claim-cos-defendant-2-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/notify-claim-cos-submit/notify-claim-cos-submit-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/notify-claim-page-factory.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/notify-claim-submit/notify-claim-submit-page.ts
  playwright-e2e/playwright-fixtures/ui/page-expect-fixtures.ts
  playwright-e2e/steps/ui/exui/solicitor-events/notify-claim-steps.ts
  playwright-e2e/tests/Login.spec.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5075

#4981 CIV-15226 Manage Stay WA Task Scheduler
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-caseworkerEvents-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-caseworkerEvents-nonprod.json
  ccd-definition/CaseField/CaseField-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4981

#5059 CIV-15482 - defendant 2 added
  ccd-definition/AuthorisationCaseEvent/systemUpdate-amendBundle.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-amendBundle.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5059

#5109 CIV-0000 add missing partyids
  e2e/fixtures/events/1v2DifferentSolicitorEvents/acknowledgeClaim_Solicitor1.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/acknowledgeClaim_Solicitor2.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor1.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor2.js
  e2e/fixtures/events/1v2SameSolicitorEvents/defendantResponse_sameSolicitor.js
  e2e/fixtures/events/2v1Events/acknowledgeClaim_2v1.js
  e2e/fixtures/events/2v1Events/defendantResponse_2v1.js
  e2e/fixtures/events/acknowledgeClaim.js
  e2e/fixtures/events/defendantResponse.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5109

#5107 CIV-15650 Add new fields for judge orders and reasons
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-GA-CUI-nonprod.json
  ccd-definition/CaseField/CaseFieldGAspec-GA-CUI-nonprod.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec-GA-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-5107

#5093 CIV-15611 - confirm order review pages
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-caseworkerEvents-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-caseworkerEvents-nonprod.json
  ccd-definition/CaseEventToFields/FlagCase-caseworkerEvents-nonprod.json
  ccd-definition/CaseField/CaseField-caseworkerEvents-nonprod.json
  ccd-definition/FixedLists/CaseworkerEvents/CourtStaffNextSteps-caseworkerEvents-nonprod.json
  ccd-definition/FixedLists/CaseworkerEvents/ManageStayOptions-ManageStay-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5093

#4966 CIV-0000 Lift and manage stay
  e2e/pages/stayAndLiftCase/stayAndLiftCase.page.js
  e2e/steps_file.js
  e2e/steps_file_LRspec.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_fast_track_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4966
