Repository hmcts/civil-ccd-definition, pull requests merged in 2024-04, with the labels that each got.

#4220 CIV-0000 Fix nightly dev
  e2e/pages/createClaim/claimType.page.js
  e2e/steps_file_LRspec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4220

#4223 DTSCCI-122 - Updating tests to account for EXUI document upload rate limiting
  e2e/pages/evidenceUpload/uploadDocument.js
  e2e/pages/evidenceUpload/uploadDocumentSpec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4223

#4207 CIV-13214 Update unavailability dates in listing notes tab
  ccd-definition/CaseField/CaseField-UnavailableDates-nonprod.json
Labels: ns:civil, prd:civil, stale, enable_keep_helm, rel:civil-ccd-pr-4207

#4229 CIV-13363 Fix listing notes tab labels
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4229

#4201 CIV-13110 Set aside notification LiP
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4201

#4221 CIV-13172 Lip Email Notification Determination of Means
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4221

#4236 CIV-13066 Amend written expert evidence paragraph in Fast Track order
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-prod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4236

#4228 CIV-11299 - definition for hearing fee unpaid dashboard
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4228

#4239 CIV-13259 Notify Defendent Trial Ready
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4239

#4252 CIV-0000 Mediation Unsucessful Tasks
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4252

#4246 CIV-11698 Notify Claimant LiP Solicitor
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4246

#4240 CIV-11300 Dashboard Notification Hearing Scheduled
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4240

#4232 CIV-11301 dashboard notification trial arrangements
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4232

#4250 CIV-11475 Add Welsh paragraph
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldSDO-DJ-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefaultJudgmentSDO-DJ-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-CARM-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-prod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO.json
  ccd-definition/CaseEventToFields/DefaultJudgmentSDO-DJ-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentSDO-DJ-prod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentSDO-DJ.json
  ccd-definition/CaseField/CaseField-SDO-R2-nonprod.json
  ccd-definition/CaseField/CaseFieldSDO-R2-DJ-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/WelshLanguageUsage-SDO-R2-nonprod.json
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/createSDO.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4250

#4243 CIV-11303 - authorisation and definition for bundle creation dashboard events
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4243

#4280 CIV-0000 updated camunda config
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4280

#4256 CIV-11710 - Claimant authorisation for caseBundles
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4256

#4286 CIV-0000 duplicates fix
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4286

#4284 CIV-0000 Add Camunda events for Dashboard service tasks
  ccd-definition/AuthorisationCaseEvent/systemUpdate-CARM-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-CARM-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4284

#4287 CIV-0000 - split respondent1ResponseDeadline into nonprod + prod
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-prod.json
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4287

#4190 DTSCCI-026 Multi track claims not showing as offline on CCD history tab
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  ccd-definition/AuthorisationCaseEvent/staff.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4190

#4272 CIV-0000 DTSCCI-74: Multiple Incidents: Clicking Next Steps in WA task takes y…
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4272

#4260 CIV-13432 Add hearing notes field to listing notes tab
  ccd-definition/CaseTypeTab/Hearings-nonprod.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4260

#4297 CIV-13357 NIHL permission change
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4297

#4271 CIV-13268 Hearing Fee Paid
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4271

#4257 CIV-11304 Order made
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4257

#4301 CIV-0000 DTSCCI-149 Fix Org Policy on case 1698856848292405 and move …
  ccd-definition/AuthorisationCaseField/systemUpdate.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4301

#4299 CIV-13127 Recreated - CCD changes for NIHL direction order output - Text updates
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/SdoTrialFirstDateWindow-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/SdoTrialFirstOpenDateAfter-SDO-R2-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/RestrictPages-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/RestrictWitness-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2FirstOpenDateAfter-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2TrialFromTo-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2TrialSection-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/WitnessOfFact-SDO-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4299

#4292 CIV-13452 CUI - no event captured in history table
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4292

#4244 CIV-13068 optional witness section
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/RestrictPagesSmallClaimHearing-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/RestrictWitnessSmallClaimHearing-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/RestrictWitnessSmallClaims-SDO-R2-nonprod.json
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/pages/selectSDO/unspecClaimsSDOOrderDetails.page.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4244

#4282 CIV-13141 DRH & NIHL Hearing method update
  ccd-definition/ComplexTypes/SDOR2/SdoR2HearingSmallClaims-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2TrialSection-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/FastTrackMethod-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/SmallClaimsMethod-SDO-R2-nonprod.json
  e2e/api/steps.js
  e2e/fixtures/events/createSDO.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4282

#4278 CIV-13187 Notification for notice of change defendant side
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4278

#4285 CIV-8734 Stop RPA for Default Judgment against Defendant LR/LIP
  ccd-definition/CaseEvent/Camunda/BusinessProcessEventsDJ-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsSpecDJspec-JO-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsSpecDJspec-prod.json
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/defaultJudgment1v2DivergentSpec.js
  e2e/fixtures/featureKeys.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_2v1_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4285

#4273 CIV-13069 optional parts on credit hire section
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldSDO-DJ-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldSDO-DJ-SDO-R2-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldSDO-DJ-prod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldSDO-DJ.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefaultJudgmentSDO-DJ-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefaultJudgmentSDO-DJ-nonprod.json
  ccd-definition/CaseEventToComplexTypes/SdoDJR2TrialCreditHireDetails-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/SdoR2FastTrackCreditHireDetails-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentSDO-DJ-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentSDO-DJ-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-R2-nonprod.json
  ccd-definition/CaseField/CaseFieldSDO-DJ-prod.json
  ccd-definition/CaseField/CaseFieldSDO-DJ.json
  ccd-definition/CaseField/CaseFieldSDO-R2-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialCreditHire-DJ-prod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialCreditHireDetails-DJ-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialCreditHireMain-DJ-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2FastTrackCreditHireDetails-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2FastTrackCreditHireMain-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/AddOrRemoveToggle-SDO-R2-nonprod.json
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/createSDO.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4273

#4314 CIV-0000 enabling fields for indexing CIV-12891 story
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/RespondToClaimAdmitPartLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4314

#4288 CIV-13408 dashboard notification for help with fees in review
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4288

#4324 DTSCCI-071 align claimstrack field
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4324

#4247 CIV-11306 upload documents defendant
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4247

#4323 CIV-0000 Dashboard changes
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec.json
  ccd-definition/ComplexTypes/RespondToClaimAdmitPartLRspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4323

#4296 CIV-13401 Added defendant access to LIP claimant repayment fields
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4296

#4325 CIV-13394 13397
  e2e/api/steps.js
  e2e/api/testingSupport.js
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/defendantResponse.js
  e2e/helpers/mintiHelper.js
  e2e/tests/api_tests/multiIntermediateTrack/api_intermediate_unspec_test.js
  e2e/tests/api_tests/multiIntermediateTrack/api_multi_unspec_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4325

#4322 CIV-0000 Feature branch - team 2A
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldSDO-DJ-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldSDO-DJ-SDO-R2-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldSDO-DJ-prod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldSDO-DJ.json
  ccd-definition/CaseEventToComplexTypes/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefaultJudgmentSDO-DJ-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/DefaultJudgmentSDO-DJ-nonprod.json
  ccd-definition/CaseEventToComplexTypes/SdoDJR2TrialCreditHireDetails-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/SdoR2FastTrackCreditHireDetails-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentSDO-DJ-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/DefaultJudgmentSDO-DJ-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-R2-nonprod.json
  ccd-definition/CaseField/CaseFieldSDO-DJ-prod.json
  ccd-definition/CaseField/CaseFieldSDO-DJ.json
  ccd-definition/CaseField/CaseFieldSDO-R2-DJ-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialCreditHire-DJ-prod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialCreditHireDetails-DJ-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/DefaultJudgmentSDO/TrialCreditHireMain-DJ-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2FastTrackCreditHireDetails-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/SDOR2/SdoR2FastTrackCreditHireMain-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/AddOrRemoveToggle-SDO-R2-nonprod.json
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/createSDO.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4322

#4303 CIV-13345 add the permission on mediation documents
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CARM-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4303

#4310 CIV-13261 Settlement agreement displaying inconsistent dates
  ccd-definition/ComplexTypes/RespondToDefence-CUI-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4310
