Repository hmcts/civil-ccd-definition, pull requests merged in 2024-01, with the labels that each got.

#3685 CIV-11241 Request for reconsideration initial commit
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-R2-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-nonprod.json
  ccd-definition/CaseEventToFields/ReasonForReconsideration-SDO-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, stale, rel:civil-ccd-pr-3685

#3634 CIV-8334 fast track noise induced hearing
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponse.json
  ccd-definition/CaseEventToFields/NotSuitableSDO-TOC-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-SDO-R2-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-3634

#3773 CIV-00000 CUI team 2 releases post Christmas
  ccd-definition/CaseField/EvidenceUpload.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3773

#3700 CIV-11603 Fast Track Claimant Intent
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3700

#3752 CIV-8336 Judge decision to request for reconsideration request
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-R2-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/JudgeResponseToReconsiderationDetails-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/DecisionOnReconsiderationRequest-SDO-R2-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/JudgeDecisionOnReconsiderationSelect-SDO-R2-nonprod.json
  ccd-definition/FixedLists/SdoR2/DecisionOnRequestReconsiderationOptionList-SDO-R2-nonprod.json
  e2e/api/steps.js
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/events/judgeDecisionOnReconsiderationRequest.js
  e2e/tests/api_tests/sdo_R2/api_request_for_reconsideration_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3752

#3424 CIV-10782 bulk print hearing
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsCUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3424

#3780 CIV-10782 - move from .json to nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3780

#3753 CIV-7343 - give claimant access to hearing notice
  ccd-definition/AuthorisationCaseField/HearingNotice.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3753

#3783 CIV-11839 Fixed permission issue for notsuitableSDO
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/NotSuitableSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/NotSuitableSDO-TOC-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3783

#3787 CIV-11824 Fix WA test changed as per civ 11084
  e2e/api/steps.js
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/events/createSDO.js
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3787

#3761 CIV-8327 judge fast track nihl option
  ccd-definition/FixedLists/FastTrack-SDO-SDO-R2-nonprod.json
  e2e/fixtures/events/createClaim.js
  e2e/fixtures/events/defendantResponse.js
  e2e/tests/api_tests/sdo_R2/api_noise_induced_hearing_loss_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3761

#3801 CIV-0000 Update LA test for WA task
  e2e/tests/api_tests/sdo/sdo_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3801

#3762 CIV-8903 dashboard settlement agreement
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3762

#3794 CIV-11750 Request for reconsideratiion publish fields
  ccd-definition/CaseEventToFields/DecisionOnReconsiderationRequest-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3794

#3733 CIV-11213 Settlement Agreement Document
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-R2-CUI-nonprod.json
  ccd-definition/FixedLists/DocumentType-R2-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3733

#3602 CIV-11209 Notify Claimant LIP Help with fees
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
Labels: data-changes, ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-3602

#3677 CIV-11732 Updated HMC WA Changes
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-HMC-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3677

#3825 CIV-12161 Mediation emails are not sending
  ccd-definition/ComplexTypes/Party.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3825

#3804 CIV-0000 Sprint pi32 s5 t4 to master
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
  ccd-definition/CaseField/CaseField-R2-CUI-nonprod.json
  ccd-definition/FixedLists/DocumentType-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3804

#3775 CIV-10341 claim form for LR vs LiP claims
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseTypeTab/Summary.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3775

#3786 CIV-11697 Notify Defendant LiP claimant is now represented
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3786

#3747 CIV-10093 e2e and api tests for manage contact information
  codecept.conf.js
  e2e/api/manageContactInformationHelper.js
  e2e/api/steps.js
  e2e/api/steps_LRspecSmall.js
  e2e/api/testingSupport.js
  e2e/fixtures/events/addDefendantLitigationFriend.js
  e2e/fixtures/events/manageContactInformation.js
  e2e/fragments/addressPostcodeLookup.js
  e2e/pages/manageContactInformation/manageDefendant1.page.js
  e2e/pages/manageContactInformation/manageLitigationFriend.page.js
  e2e/pages/manageContactInformation/manageOrganisationIndividuals.page.js
  e2e/pages/manageContactInformation/manageWitnesses.page.js
  e2e/pages/manageContactInformation/partySelection.page.js
  e2e/steps_file.js
  e2e/tests/api_tests/damages/api_1v1_test.js
  e2e/tests/api_tests/lrspec/api_1v1_spec_small_test.js
  e2e/tests/ui_tests/manageContactInformation/1v2SameSolicitor_manageContactInformation_test.js
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-3747

#3833 CIV-11293 Add auths for label fields
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-MCI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3833

#3656 CIV-9040 Redetermination - Interlocutory Judgement PDF (docmosis)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-R2-CUI-nonprod.json
  ccd-definition/ComplexTypes/RespondToDefence-CUI-R2-nonprod.json
  ccd-definition/FixedLists/DocumentType-R2-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3656

#3796 CIV-11840 Request for reconsideration based on solicitor roles
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdate-SDO-R2-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ReasonForReconsideration-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/ReasonForReconsideration-SDO-R2-nonprod.json
  ccd-definition/CaseField/CaseField-SDO-R2-nonprod.json
  ccd-definition/CaseTypeTab/Summary-SDO-R2-nonprod.json
  ccd-definition/ComplexTypes/ReasonForReconsideration-SDO-R2-nonprod.json
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/events/defendantResponseSpecSmall.js
  e2e/fixtures/events/requestForReconsideration.js
  e2e/tests/api_tests/sdo_R2/api_request_for_reconsideration_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3796

#3842 CIV-0000 Sprint to master
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-R2-CUI-nonprod.json
  ccd-definition/ComplexTypes/RespondToDefence-CUI-R2-nonprod.json
  ccd-definition/FixedLists/DocumentType-R2-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3842

#3862 CIV-0000 upgrade civil service and wa chart
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.enableWA.preview.template.yaml
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3862

#3369 CIV-10787 add cosDateDeemedServedForDefendant
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaim-COS.json
  ccd-definition/ComplexTypes/NotifyClaim-COS.json
  e2e/fixtures/events/createClaim.js
  e2e/pages/notifyClaim/certificateOfServiceNotifyClaim.page.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3369

#3713 CIV-7829 Payment Details Claimant
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3713

#3741 CIV-5304 Claimant Copy and sealed claim form PDF
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-R2-CUI-nonprod.json
  ccd-definition/FixedLists/DocumentType-R2-CUI-nonprod.json
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3741

#3866 CIV-11979 TOC prod release changes
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-TOC.json
  ccd-definition/AuthorisationCaseEvent/systemUpdateTOC.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-TOC.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-prod.json
  ccd-definition/AuthorisationCaseField/systemUpdate-TOC.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-TOC-prod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO-TOC.json
  ccd-definition/CaseEvent/User/UserEvents-TOC.json
  ccd-definition/CaseEventToComplexTypes/TransferCaseReason-TOC.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle.json
  ccd-definition/CaseEventToFields/NotSuitableSDO-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/NotSuitableSDO-SDO-TOC-prod.json
  ccd-definition/CaseEventToFields/NotSuitableSDO-TOC.json
  ccd-definition/CaseEventToFields/TransferOnlineCase-TOC.json
  ccd-definition/CaseField/CaseField-SDO-TOC-prod.json
  ccd-definition/CaseField/CaseField-TOC.json
  ccd-definition/CaseTypeTab/Summary-TOC-nonprod.json
  ccd-definition/CaseTypeTab/Summary.json
  ccd-definition/ComplexTypes/ReasonNotSuitableSDO-SDO-TOC-prod.json
  ccd-definition/ComplexTypes/ReasonNotSuitableSDO-SDO-TOC.json
  ccd-definition/ComplexTypes/TransferCaseDetails-TOC.json
  ccd-definition/ComplexTypes/TransferCaseReason-TOC.json
  ccd-definition/FixedLists/TransferOnlineCase/ReasonNotSuitableSDOList-TOC.json
  e2e/tests/api_tests/sdo/api_transfer_online_case_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3866

#3883 CIV-0000 unshutter-prod
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3883

#3792 CIV-10909 request for reconsideration notification
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-R2-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-SDO-R2-nonprod.json.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3792

#3873 CIV-0000 Nightly is failing with timeout while waiting for text
  e2e/steps_file_WA.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3873

#3843 CIV-12093 Update NIHL label
  ccd-definition/FixedLists/FastTrack-SDO-SDO-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3843

#3879 CIV-10787 and 10820
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaim-COS.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails-COS.json
  ccd-definition/ComplexTypes/NotifyClaim-COS.json
  ccd-definition/ComplexTypes/NotifyClaimDetails-COS.json
  e2e/fixtures/events/createClaim.js
  e2e/pages/notifyClaim/certificateOfServiceNotifyClaim.page.js
  e2e/pages/notifyClaimDetails/certificateOfServiceNotifyClaimDetails.page.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-3879

#3888 CIV-0000 Bulk branch
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-R2-CUI-nonprod.json
  ccd-definition/FixedLists/DocumentType-R2-CUI-nonprod.json
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3888

#3892 Update Chart.yaml
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3892

#3885 CIV-10909 request for reconsideration notification
  ccd-definition/CaseEvent/Camunda/NotificationEvents-SDO-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3885

#3831 CIV-9947 Manage Contact Information History
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-MCI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-MCI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-MCI-nonprod.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEvents-MCI-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-MCI-nonprod.json
  ccd-definition/CaseField/CaseField-MCI-nonprod.json
  ccd-definition/ComplexTypes/Event-MCI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, stale, rel:civil-ccd-pr-3831

#3894 CIV-00000 Team2b temp release
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldDJ-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3894

#3840 CIV-11243 Enable sdo event
  ccd-definition/CaseEvent/User/UserEvents-SDO-R2-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SDO.json
  ccd-definition/CaseEvent/User/UserEvents-prod.json
  e2e/api/steps_LRspecSmall.js
  e2e/tests/api_tests/sdo_R2/api_request_for_reconsideration_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3840

#3756 CIV-11800 Hide flight delay for unspec
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaim-SDO-R2-nonprod.json
  ccd-definition/CaseEventToFields/CreateClaim-SDO-R2-prod.json
  ccd-definition/CaseEventToFields/CreateClaim.json
  ccd-definition/CaseField/CaseField-SDO-R2-nonprod.json
  ccd-definition/FixedLists/ClaimTypeUnSpec-SDO-R2-nonprod.json
  e2e/api/steps.js
  e2e/fixtures/events/createClaim.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3756

#3893 Civ-12277: Add hearing to e2e
  Jenkinsfile_CNP
  e2e/pages/hearing/cancelHearing.page.js
  e2e/pages/hearing/requestHearing.page.js
  e2e/pages/hearing/updateHearing.page.js
  e2e/pages/notifyClaim/certificateOfServiceNotifyClaim.page.js
  e2e/pages/notifyClaimDetails/certificateOfServiceNotifyClaimDetails.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3893

#3769 CIV-11119 generate judgment by admission
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-R2-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
  ccd-definition/CaseTypeTab/Documents.json
  ccd-definition/FixedLists/DocumentType-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3769

#3906 CIV-00000 Fix High level data setup issue
  ccd-definition/CaseTypeTab/Documents-CUI-R2-nonprod.json
  ccd-definition/CaseTypeTab/Documents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3906

#3869 CIV-11546 - CIV-11547 - CIV-11548 Claim Issue Journey Changes for Bilingual Claim Issue Language
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCUI.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-R2-nonprod.json
  ccd-definition/CaseField/CaseField-R2-CUI-nonprod.json
  ccd-definition/FixedLists/DocumentType-R2-CUI-nonprod.json
  ccd-definition/FixedLists/TranslatedDocumentType.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3869

#3903 CIV-0000 Fixed missing defendant party ids in api tests
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor1.js
  e2e/fixtures/events/1v2DifferentSolicitorEvents/defendantResponse_Solicitor2.js
  e2e/fixtures/events/1v2SameSolicitorEvents/defendantResponse_sameSolicitor.js
  e2e/fixtures/events/2v1Events/defendantResponse_2v1.js
  e2e/fixtures/events/defendantResponse.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3903

#3542 CIV-10821 Use preview specific db
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.elasticsearch.preview.template.yaml
  charts/civil-ccd/values.enableHelm.template.yaml
  charts/civil-ccd/values.enableWA.preview.template.yaml
  charts/civil-ccd/values.preview.template.yaml
  charts/civil-ccd/values.template.yaml
  charts/civil-ccd/values.yaml
Labels: ns:civil, prd:civil, pr-values:enableWA, rel:civil-ccd-pr-3542

#3936 CIV-0000 Latest image exui
  charts/civil-ccd/values.template.yaml
  e2e/api/caseRoleAssignmentHelper.js
  e2e/api/idamHelper.js
  e2e/config.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_mediation_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3936

#3852 CIV-11540 Work Allocation in Claimant Response Journey
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-R2-CUI-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3852

#3907 CIV-12112 allow RequestforReconsideration only in spec cases with claim amount less than equal to 1000
  ccd-definition/CaseEvent/User/UserEvents-SDO-R2-nonprod.json
  e2e/api/apiRequest.js
  e2e/api/steps_LRspec.js
  e2e/tests/api_tests/sdo_R2/api_request_for_reconsideration_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3907

#3925 CIV-0000 sprint branch
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SDO-R2-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-SDO-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3925

#3928 CIV-8306 Dispute Resolution Hearing Small Track SDO
  ccd-definition/FixedLists/SmallTrack-SDO-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-3928
