Repository hmcts/civil-ccd-definition, pull requests merged in 2024-07, with the labels that each got.

#4529 CIV-14007 MCI Events Notes
  ccd-definition/CaseEvent/User/UserEvents-MCI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4529

#4568 CIV-0000 - EXUI-1194 - Update documentUpload.js
  e2e/pages/mediationDocumentsUpload/documentUpload.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4568

#4576 DTSCCI-490 remove deprecated property volume lib
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4576

#4550 CIV-14148 Claimant LR screen: Discontinuing against defendants 1v2 only
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/DiscontinueClaim-SettleDiscontinue-nonprod.json
  ccd-definition/CaseField/CaseField-SettleDiscontinue-nonprod.json
  ccd-definition/FixedLists/SettleDiscontinue/SettleDiscontinueYesOrNoList-nonprod.json
  codecept.conf.js
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/discontinueClaim2v1Spec.js
  e2e/tests/api_tests/settle-discontinue/api_settle_discontinue_claim_2v1_spec_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4550

#4342 DTSCCI-202 Point to civil-service pr
  ccd-definition/AuthorisationCaseField/staff.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4342

#4563 CIV-14129 Work allocation Claim Paid in Full Remove Hearing
  ccd-definition/CaseEvent/User/UserEvents-AHN-nonprod.json
  ccd-definition/CaseEventToFields/SettleClaimPaidInFull-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4563

#4582 CIV-0000 Update sonar-project.properties
  sonar-project.properties
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4582

#4532 CIV-0000 DTSCCI-488: Investigation - Demo environment not showing Medical Repo…
  ccd-definition/CaseEventToComplexTypes/AddOrAmendClaimDocuments.json
Labels: ns:civil, prd:civil, pr-values:elasticsearch, pr-values:bundle, rel:civil-ccd-pr-4532

#4542 CIV-14169 adding new for outcome
  ccd-definition/AuthorisationCaseEvent/systemupdate-CUI-CP-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-CUI-CP-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4542

#4561 CIV-14146 CCD PR - Claimant LR screen: Permission granted by the court
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/DiscontinueClaim-SettleDiscontinue-nonprod.json
  ccd-definition/CaseField/CaseField-SettleDiscontinue-nonprod.json
  ccd-definition/ComplexTypes/DiscontinueClaimClaimant-PermissionGranted-nonprod.json
Labels: data-changes, ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4561

#4586 CIV-14343 Defendant needs "R" for ccj date
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4586

#4534 DTSCCI-380 upgrade gradle and befta-fw
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4534

#4560 CIV-13747 JudgmentByAdmission-Dashboard-notifications-are-not-correct…
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-4560

#4557 CIV-13626 grant access to citizen so they can access hearing date
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-CP-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4557

#4607 CIV-13747 JudgmentByAdmission-Dashboard-notifications-are-not-correct
  ccd-definition/CaseField/CaseFieldLRspec-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-prod.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4607

#4581 CIV-14156 CCD PR - Claimant LR screen for Type of discontinuance
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/DiscontinueClaim-SettleDiscontinue-nonprod.json
  ccd-definition/CaseField/CaseField-SettleDiscontinue-nonprod.json
  ccd-definition/ComplexTypes/DiscontinueClaimClaimant-PermissionGranted-nonprod.json
  ccd-definition/FixedLists/DiscontinuanceTypeList-DiscontinueClaim.json
  e2e/fixtures/events/discontinueClaim2v1Spec.js
Labels: data-changes, ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4581

#4580 CIV-14441 Give judge users "R" for state update events
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4580

#4572 CIV-13986 Settle Claim summary tab
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SettleDiscontinue-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-settleDiscontinue-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/SettleClaim-SettleDiscontinue-nonprod.json
  ccd-definition/CaseField/CaseField-SettleDiscontinue-nonprod.json
  ccd-definition/CaseTypeTab/Summary-Settle-Discontinue-nonprod.json
  ccd-definition/FixedLists/MarkClaimPaidConsent-SettleDiscontinue-nonprod.json
  ccd-definition/FixedLists/SettleReason-SettleDiscontinue-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4572

#4559 CIV-14233 Validate discontinuance claim
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SettleDiscontinue-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4559

#4562 CIV-14124 - translated order notification
  ccd-definition/AuthorisationCaseEvent/systemupdate-CUI-CP-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-CUI-CP-nonprod.json
  ccd-definition/FixedLists/DocumentType-CUI-CP-nonprod.json
  ccd-definition/FixedLists/TranslatedDocumentType-CUI-CP-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-4562

#4578 CIV-14281 - Authorise NoC at Decision outcome/FinalOrder
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-CUI-CP-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-CUI-CP-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4578

#4593 CIV-14484 Continue button for Invalid HWF event
  ccd-definition/CaseEvent/User/UserEvents-HWF-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4593

#4595 CIV-14194 Claimant LR screen - CYA and Confirmation
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-settleDiscontinue-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/DiscontinueClaim-SettleDiscontinue-nonprod.json
  ccd-definition/State.json
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/discontinueClaim2v1Spec.js
  e2e/tests/api_tests/settle-discontinue/api_settle_discontinue_claim_2v1_spec_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4595

#4579 CIV-14236 Caseworker screens: Validate order information
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-settleDiscontinue-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/DiscontinueClaim-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/ValidateDiscontinue-SettleDiscontinue-nonprod.json
  ccd-definition/CaseField/CaseField-SettleDiscontinue-nonprod.json
  ccd-definition/FixedLists/SettleDiscontinue/ConfirmOrderGivesPermissionList-nonprod.json
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/discontinueClaim2v1Spec.js
  e2e/fixtures/events/validateDiscontinueClaimClaimantSpec.js
  e2e/tests/api_tests/settle-discontinue/api_settle_discontinue_claim_2v1_spec_test.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4579

#4617 CIV-0000 FIx pcq role
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4617

#4619 DTSCCI-567 update service bus chart
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4619

#4621 CIV-00000 Make pcqId searchable
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4621

#4623 CIV-0000 ADD caseworker-civil code for pcqid
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4623

#4609 CIV-14490 Claimant LR - Permission granted by the court
  ccd-definition/CaseEventToFields/DiscontinueClaim-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4609

#4627 CIV-0000 ADD caseworker-civil-staff role for pcqid
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4627

#4626 DTSCCI-567 rollback service bus chart
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4626

#4573 CIV-14271 - Create a hearing notice available in all states after JR
  ccd-definition/CaseEvent/User/UserEvents-HMC-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-prod.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4573

#4618 DTSCCI-324 enable certificate of service tab for civil admin
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4618

#4624 CIV-14295 Claimant LR Email notification: please resubmit discontinuance
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SettleDiscontinue-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-SettleDiscontinue-nonprod.json
  e2e/tests/api_tests/settle-discontinue/api_settle_discontinue_claim_2v1_spec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4624

#4628 CIV-14613 Claim list status is not updated
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4628

#4640 CIV-0000 Remove extra roles for pcqid
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4640

#4600 CIV-14992 WA task not getting created to translate the claimant intention docs
  ccd-definition/CaseEvent/Camunda/CaseEventsCUI.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4600

#4498 CIV-14269 HMC Early Adopters
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-HMC-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdate-HMC-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-HMC-nonprod.json
  ccd-definition/CaseField/CaseField-HMC-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4498

#4571 CIV-14193 Bulk print translated orders
  ccd-definition/AuthorisationCaseEvent/systemupdate-CUI-CP-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-CUI-CP-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4571

#4610 CIV-14244 LR Email notification Notice of Discontinuance
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SettleDiscontinue-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-SettleDiscontinue-nonprod.json
  e2e/tests/api_tests/settle-discontinue/api_settle_discontinue_claim_2v1_spec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4610

#4630 CIV-14524 Add Unbundled folder category
  ccd-definition/Categories/Categories-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4630

#4644 CIV-14268 Case Discontinued Divergence - Take Case Offline
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/DiscontinueClaim-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4644

#4632 CIV-14259 Notice of Discontinuance
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue-nonprod.json
  ccd-definition/CaseField/CaseField-SettleDiscontinue-nonprod.json
  ccd-definition/Categories/Categories-SettleDiscontinue-nonprod.json
  ccd-definition/FixedLists/DocumentType-SettleDiscountinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4632

#4523 CIV-14198 NHD Case State Auths Update
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-NHD-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4523

#4484 CIV-14009 Docmosis template: Defendant LiP Claim Paid in Full Letter
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4484

#4655 CIV-14270 Publish field for Remove Hearing task
  ccd-definition/CaseEvent/User/UserEvents-AHN-nonprod.json
  ccd-definition/CaseEventToFields/DiscontinueClaim-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4655

#4636 CIV-14661 Review Case Flags task are not appearing for Defendant LiP
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-R2-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4636

#4658 CIV-14262 2 Defendant LiP Email notification Notice of Discontinuance
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecCui.js
  e2e/fixtures/events/discontinueClaimSpec.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_discontinue_claim_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4658

#4639 CIV-14290 added publish instructions so WA
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-CP-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4639

#4650 CIV-14591 Amend and Restitch Bundle Event
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4650

#4652 CIV-14127 Added SEND_APP_TO_OTHER_PARTY as document type
  ccd-definition/FixedLists/DocumentType.json
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4652

#4654 CIV-14440 Validate Discontinuance Claim Claimant
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/ValidateDiscontinue-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4654
