Repository hmcts/civil-ccd-definition, pull requests merged in 2024-10, with the labels that each got.

#4865 CIV-15062 - add CTSC ccd roles for case file view
  bin/add-roles.sh
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-CP-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CaseFileView-amendBundle-nonprod.json
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4865

#4870 CIV-0000 Sprint bracnch cosc
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4870

#4891 DTSCCI-000 remove jcenter reference
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4891

#4849 CIV-0000 r2 aat
  bin/build-release-ccd-definition.sh
  ccd-definition/CaseField/CaseField-CUI-R2-nonprod.json
  ccd-definition/CaseField/CaseField-CUI-R2-prod.json
  ccd-definition/CaseField/CaseFieldLRspec-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-prod.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4849

#4895 CIV-0000 - Unshutter Prod
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4895

#4893 CIV-15385: UI Automation - minti stories
  e2e/api/steps.js
  e2e/pages/directionsOrder/downloadOrderTemplate.page.js
  e2e/pages/directionsOrder/finalOrderSelect.page.js
  e2e/pages/directionsOrder/intermediateTrackComplexityBand.page.js
  e2e/pages/directionsOrder/orderTrackAllocation.page.js
  e2e/pages/directionsOrder/selectOrderTemplate.page.js
  e2e/pages/directionsOrder/uploadOrder.page.js
  e2e/pages/evidenceUpload/uploadDocument.js
  e2e/steps_file.js
  e2e/tests/ui_tests/sdo/minti_cp_test.js
Labels: data-changes

#4856 DTSCCI-718 investigate medical reports upload not showing up
  ccd-definition/CaseEventToComplexTypes/CreateClaim.json
  ccd-definition/CaseEventToComplexTypes/NotifyDefendantOfClaimDetails.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4856

#4821 CIV-15169 Hearing Notice API Tests
  codecept.conf.js
  e2e/api/dataHelper.js
  e2e/api/serviceAuthorisationHelper.js
  e2e/api/steps_hearings.js
  e2e/api/testingSupport.js
  e2e/api/wiremock.js
  e2e/api/wiremock/data/hearings.js
  e2e/api/wiremock/requests/hearings.js
  e2e/api/wiremock/wiremock.js
  e2e/config.js
  e2e/fixtures/camundaProcesses.js
  e2e/helpers/activeOrganisationUsers.js
  e2e/tests/api_tests/automated_hearing_notice/hearing_notice_scheduler_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_fast_track_test.js
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4821

#4915 CIV-0000 change ea courts to false
  Jenkinsfile_CNP
  e2e/tests/api_tests/hearings/api_1v2DS_unspec_fast_hearings_test.js
  e2e/tests/api_tests/hearings/api_1v2_spec_fast_hearings_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_fast_track_test.js
  e2e/tests/ui_tests/damages/1v2CreateClaim_DiffSol_small_claims_test.js
  e2e/tests/ui_tests/lrspec/1v2CreateClaim-LRspec_DiffSol_test.js
  e2e/tests/ui_tests/sdo/ui_request_for_reconsideration_test.js
  e2e/tests/ui_tests/settle_discontinue/1v2SettleThisClaim_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4915

#4898 CIV-0000 UNSHutter production
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4898

#4916 CIV-0000 Alternatesolution2
  e2e/tests/ui_tests/settle_discontinue/1v2SettleThisClaim_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4916

#4899 CIV-15042 update defendant response cui js
  e2e/fixtures/events/cui/defendantResponseCui.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4899

#4877 CIV-14752 Manage stay changes
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-caseworkerEvents-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-caseworkerEvents-nonprod.json
  ccd-definition/CaseEventToFields/ManageStay-caseworkerEvents-nonprod.json
  ccd-definition/CaseField/CaseField-caseworkerEvents-nonprod.json
  ccd-definition/FixedLists/ManageStayOptions-ManageStay-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4877

#4785 CIV-14191 - add auto hearing notice dashboard notification
  ccd-definition/AuthorisationCaseEvent/systemupdate-CUI-CP-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-CUI-CP-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4785

#4922 DTSCCI-000 - Updating Nottingham Court spelling so that it reflects Ref Data change
  e2e/config.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4922

#4885 CIV-15390 Add GA LIP fields
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGA-CUI-COSC-nonprod.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGA-CUI-COSC-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateGA-CUI-COSC-nonprod.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGA-CUI-COSC-nonprod.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec-prod.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec-nonprod.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec-prod.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec-GA-CUI-COSC-nonprod.json
  ccd-definition/ComplexTypes/1_DebtPaymentEvidence-GA-CUI-COSC-nonprod.json
  ccd-definition/ComplexTypes/CertOfCandS-GA-CUI-COSC-nonprod.json
  ccd-definition/ComplexTypes/GATypeGA-CUI-COSC-nonprod.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec-GA-CUI-COSC-nonprod.json
  ccd-definition/FixedLists/DebtPaymentOptions-GA-CUI-COSC-nonprod.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec-prod.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspecCUI-COSC-nonprod.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspecLR-CUI-COSC-nonprod.json
  e2e/tests/unit/utils/dataProvider.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4885

#4923 CIV-00000 move to prod base files
  ccd-definition/AuthorisationCaseEvent/systemUpdate-CARM-CUI-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-R2-CUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4923

#4926 CIV-15390 Revert - Add GA LIP fields
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGA-CUI-COSC-nonprod.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGA-CUI-COSC-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateGA-CUI-COSC-nonprod.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGA-CUI-COSC-nonprod.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec-prod.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec-nonprod.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec-prod.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec-GA-CUI-COSC-nonprod.json
  ccd-definition/ComplexTypes/1_DebtPaymentEvidence-GA-CUI-COSC-nonprod.json
  ccd-definition/ComplexTypes/CertOfCandS-GA-CUI-COSC-nonprod.json
  ccd-definition/ComplexTypes/GATypeGA-CUI-COSC-nonprod.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec-GA-CUI-COSC-nonprod.json
  ccd-definition/FixedLists/DebtPaymentOptions-GA-CUI-COSC-nonprod.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspecCUI-COSC-nonprod.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspecLR-CUI-COSC-nonprod.json
  e2e/tests/unit/utils/dataProvider.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4926

#4928 CIV-15390 Add GA fileds
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGA-CUI-COSC-nonprod.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGA-CUI-COSC-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateGA-CUI-COSC-nonprod.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGA-CUI-COSC-nonprod.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec-prod.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec-nonprod.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec-prod.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec-GA-CUI-COSC-nonprod.json
  ccd-definition/ComplexTypes/1_DebtPaymentEvidence-GA-CUI-COSC-nonprod.json
  ccd-definition/ComplexTypes/CertOfCandS-GA-CUI-COSC-nonprod.json
  ccd-definition/ComplexTypes/GATypeGA-CUI-COSC-nonprod.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec-GA-CUI-COSC-nonprod.json
  ccd-definition/FixedLists/DebtPaymentOptions-GA-CUI-COSC-nonprod.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec-prod.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspecCUI-COSC-nonprod.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspecLR-CUI-COSC-nonprod.json
  e2e/tests/unit/utils/dataProvider.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4928

#4903 CIV-13793 LiP dashboard notification JBA issued
  ccd-definition/AuthorisationCaseEvent/systemUpdate-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEventsDJ-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4903

#4917 CIV-15290 add ga fields
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-COSC-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-COSC-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-COSC-nonprod.json
  ccd-definition/CaseField/CaseFieldGAspec-COSC-nonprod.json
  ccd-definition/FixedLists/CoscApplicationStatus-COSC-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4917

#4920 CIV-15086 - COSC Proof of Debt Scheduler
  ccd-definition/AuthorisationCaseEvent/systemUpdate-COSC-nonprod.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEvents-COSC-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4920

#4894 CIV-15227 Stay lifted notification
  ccd-definition/AuthorisationCaseEvent/systemUpdate-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4894

#4887 CIV-0000 - Add UI Hearing test to pipeline
  e2e/api/steps.js
  e2e/config.js
  e2e/pages/hearing/cancelHearing.page.js
  e2e/pages/hearing/requestHearing.page.js
  e2e/pages/hearing/updateHearing.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/hearings/1v2_Diff_Sols_Create_fast_track_With_Hearing_Request_test.js
  package.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4887

#4939 CIV-00000 Run hearing test on nightly only
  e2e/tests/ui_tests/hearings/1v2_Diff_Sols_Create_fast_track_With_Hearing_Request_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4939

#4947 CIV-15569 Change email check to >320 chars
  ccd-definition/ComplexTypes/Party.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4947

#4955 CIV-15513 - Claim history tab displaying incorrect state change
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-CARM-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4955

#4943 CIV-15538 GenAppTypeLR fix
  e2e/api/steps.js
  e2e/fixtures/events/createGeneralApplicationLR.js
  e2e/fixtures/featureKeys.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4943

#4944 CIV-15230 LR notification stay update requested
  ccd-definition/AuthorisationCaseEvent/systemUpdate-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4944

#4934 Bulk sp5
  ccd-definition/AuthorisationCaseEvent/systemUpdate-GA-CUI-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateGAspec.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-GA-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4934

#4930 CIV-00000 Sprint branch 15390, 15290, 15086,15538
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-COSC-nonprod.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-COSC-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-COSC-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGA-CUI-COSC-nonprod.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGA-CUI-COSC-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateGA-CUI-COSC-nonprod.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEvents-COSC-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-COSC-nonprod.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGA-CUI-COSC-nonprod.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec-prod.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec-nonprod.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec-prod.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec-COSC-nonprod.json
  ccd-definition/CaseField/CaseFieldGAspec-GA-CUI-COSC-nonprod.json
  ccd-definition/ComplexTypes/1_DebtPaymentEvidence-GA-CUI-COSC-nonprod.json
  ccd-definition/ComplexTypes/CertOfCandS-GA-CUI-COSC-nonprod.json
  ccd-definition/ComplexTypes/GATypeGA-CUI-COSC-nonprod.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec-GA-CUI-COSC-nonprod.json
  ccd-definition/FixedLists/CoscApplicationStatus-COSC-nonprod.json
  ccd-definition/FixedLists/DebtPaymentOptions-GA-CUI-COSC-nonprod.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec-prod.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspecCUI-COSC-nonprod.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspecLR-CUI-COSC-nonprod.json
  e2e/api/steps.js
  e2e/fixtures/events/createGeneralApplicationLR.js
  e2e/fixtures/featureKeys.js
  e2e/tests/unit/utils/dataProvider.js
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4930

#4960 CIV-15605 - HwF case worker event - 'this event could not be created'
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-HWF-R2-CUI.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4960

#4946 CIV-15523 sdd for unespec claims
  ccd-definition/CaseEvent/User/UserEvents-amendBundle-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4946

#4965 DTSCCI-1020 Setup Nightly to Run Playwright Tests
  .gitignore
  Jenkinsfile_nightly
  env.d.ts
  package.json
  playwright-e2e/config/config.ts
  playwright-e2e/config/file-paths.ts
  playwright-e2e/enums/environment.ts
  playwright-e2e/global/teardown-ci.ts
  playwright-e2e/global/teardown-local.ts
  playwright.config.ts
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4965

#4952 CIV-15080 cosc dashboard notification
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-COSC-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-COSC-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4952

#4940 CIV-15087 Add Check mark paid Case Events
  ccd-definition/AuthorisationCaseEvent/systemUpdate-COSC-nonprod.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEvents-COSC-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4940

#4852 CIV-15152 allow read to system update so these events are readable
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-CUI-CP-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-CP-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4852

#4988 DTSCCI-1020 and 866 Setup Nightly to Run Playwright Tests
  .gitignore
  .prettierignore
  Jenkinsfile_nightly
  env.d.ts
  eslint.config.mjs
  package.json
  playwright-e2e/config/config.ts
  playwright-e2e/config/file-paths.ts
  playwright-e2e/enums/environment.ts
  playwright-e2e/global/teardown-ci.ts
  playwright-e2e/global/teardown-local.ts
  playwright.config.ts
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4988

#4958 CIV-15081 Dashboard Notification Certificate Generated COSC
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-COSC-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-COSC-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-4958

#4991 CIV-15559 removed caseworker permission to casefield respondent1Claim…
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4991

#4990 CIV-14567 Add Send letter Env variable for GA
  charts/civil-ccd/values.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4990

#5005 CIV-15678 - CUI-Admin role cannot see 'case settled' event on event history tab
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5005

#5006 DTSCCI-1035 Setup Folder Structure For Page Objects
  playwright-e2e/base/base-page.ts
  playwright-e2e/base/base-request.ts
  playwright-e2e/enums/case-events/case-events-api.ts
  playwright-e2e/enums/case-events/case-events-ui.ts
  playwright-e2e/enums/events/case-events.ts
  playwright-e2e/enums/response-data-type.ts
  playwright-e2e/models/case-data/ccd-case-data.ts
  playwright-e2e/models/ccd-case-data.ts
  playwright-e2e/pages/exui/exui-dashboard/case-list/case-list-content.ts
  playwright-e2e/pages/exui/exui-dashboard/exui-cookies-banner/exui-cookies-banner.ts
  playwright-e2e/pages/exui/exui-dashboard/exui-dashboard-factory.ts
  playwright-e2e/pages/exui/exui-dashboard/exui-nav-bar/exui-nav-bar-content.ts
  playwright-e2e/pages/exui/exui-event/exui-event-content.ts
  playwright-e2e/pages/exui/exui-event/exui-event.ts
  playwright-e2e/pages/exui/solicitor-events/claimant-response/claimant-response-page-factory.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/common/case-filter/case-filter-content.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/common/case-filter/case-filter-page.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/create-claim-page-factory.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/check-list-spec/checklist-spec-content.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/check-list-spec/checklist-spec-page.ts
  playwright-e2e/pages/exui/solicitor-events/defendant-response/defendant-response-page-factory.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/notify-claim-details-page-factory.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/notify-claim-page-factory.ts
  playwright-e2e/pages/idam/create-account/create-account-content.ts
  playwright-e2e/pages/idam/create-account/create-account-page.ts
  playwright-e2e/pages/idam/idam-cookies-banner.ts/idam-cookies-banner.ts
  playwright-e2e/pages/idam/idam-factory.ts
  playwright-e2e/playwright-fixtures/ui/page-factory-fixtures.ts
  playwright-e2e/playwright-fixtures/ui/ui-steps-fixtures.ts
  playwright-e2e/requests/ccd-requests.ts
  playwright-e2e/steps/ui/exui/solicitor-events/claimant-response/claimant-response-spec-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/claimant-response/claimant-response-unspec-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/create-claim/create-claim-spec-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/create-claim/create-claim-unspec-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/defendant-response/defendant-response-spec-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/defendant-response/defendant-response-unspec-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/notify-claim-details-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/notify-claim-steps.ts
  playwright-e2e/tests/bootstrap/auth/exui-users-auth.setup.ts
  playwright-e2e/tests/bootstrap/auth/exui-users-auth.teardown.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5006

#4999 CIV-15279 Trigger email notification for claimant for cosc
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-COSC-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-COSC-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-4999
