Repository hmcts/civil-ccd-definition, pull requests merged in 2024-12, with the labels that each got.

#5116 CIV-15901 Removing Email Character Validation
  ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-5116

#5122 CIV-0000 Update api_1v2_different_solicitor_test.js
  e2e/tests/api_tests/damages/api_1v2_different_solicitor_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5122

#5138 CIV-0000 Unshutter Prod
  bin/build-release-ccd-definition.sh
  codecept.conf.js
  e2e/tests/ui_tests/smoke_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5138

#5136 DTSCCI-1245 remove dummy documents
  e2e/api/steps_LRspecCui.js
  e2e/fixtures/events/evidenceUploadApplicant.js
  e2e/fixtures/events/evidenceUploadRespondent.js
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5136

#5143 DTSCCI-000 disable test to run in prod
  e2e/tests/api_tests/sdo_R2/api_noise_induced_hearing_loss_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5143

#5070 CIV-15392 - Reply to message
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-caseworkerEvents-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-caseworkerEvents-nonprod.json
  ccd-definition/CaseEventToComplexTypes/SendAndReply-caseWorkerEvents-nonprod.json
  ccd-definition/CaseEventToFields/SendAndReply-caseWorkerEvents-nonprod.json
  ccd-definition/CaseField/CaseField-caseworkerEvents-nonprod.json
  ccd-definition/CaseTypeTab/Messages-caseworkerEvents-nonprod.json
  ccd-definition/ComplexTypes/1_MessageReply-caseworkerEvents-nonprod.json
  ccd-definition/ComplexTypes/Message-caseworkerEvents-nonprod.json
  ccd-definition/ComplexTypes/SendMessageMetadata-caseworkerEvents-nonprod.json
  ccd-definition/FixedLists/RolePool.json
  ccd-definition/FixedLists/SendAndReplyOptions.json
  ccd-definition/FixedLists/SendMessageRecipientOptions.json
  ccd-definition/FixedLists/SendMessageSubjectOptions.json
  charts/civil-ccd/values.template.yaml
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-5070

#5125 CIV-15997 Set Aside-Add Application Date
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
  ccd-definition/CaseEventToFields/SetAsideJudgment-JO-nonprod.json
  ccd-definition/CaseField/CaseField-JO-nonprod.json
  ccd-definition/ComplexTypes/JudgmentOnline/OnlineJudgmentDetails-JO-nonprod.json
  e2e/fixtures/events/judgmentOnline1v1Spec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5125

#5105 CIV-15759 CIV-16208 Add new rpa event: 600 COSC
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
  ccd-definition/CaseField/CaseField-JO-nonprod.json
  ccd-definition/FixedLists/CoscRpaStatus-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5105

#5154 CIV-16279 Add citizen auth for gaDraftDocRespondentSol
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5154

#5155 CIV-15868 COR all final orders screen
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-caseworkerEvents-nonprod.json
  ccd-definition/CaseEventToFields/FlagCase-caseworkerEvents-nonprod.json
  ccd-definition/CaseField/CaseField-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5155

#5106 CIV-15612 Obligation journey screens
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-caseworkerEvents-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-caseworkerEvents-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ObligationData-caseworkerEvents-nonprod.json
  ccd-definition/CaseEventToFields/FlagCase-caseworkerEvents-nonprod.json
  ccd-definition/CaseField/CaseField-caseworkerEvents-nonprod.json
  ccd-definition/ComplexTypes/ObligationDataCollection.json
  ccd-definition/FixedLists/ObligationReason.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-5106

#5141 CIV-15393 - WA for Send and reply
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-caseworkerEvents-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdate-caseworkerEvents-nonprod.json
  ccd-definition/CaseEventToComplexTypes/WorkAllocation-caseWorkerEvents-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-caseworkerEvents-nonprod.json
  ccd-definition/CaseField/CaseField-caseworkerEvents-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-5141

#5151 CIV-15766 Set Aside Judgment RPA
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-JO-nonprod.json
  ccd-definition/CaseField/CaseField-JO-nonprod.json
  e2e/api/steps_LRspec.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v1_test.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v2_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5151

#5133 CIV-15511 Caseworker API tests
  codecept.conf.js
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecCui.js
  e2e/fixtures/events/dismissCase.js
  e2e/fixtures/events/manageStay.js
  e2e/fixtures/events/stayCase.js
  e2e/tests/api_tests/caseworkerEvents/api_caseworker_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5133

#5181 DTSCCI-1366 disable test to run in prod
  e2e/tests/api_tests/sdo_R2/api_dispute_resolution_hearing_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5181

#5180 CIV-16357 - re-add authorisations for message history
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5180
