Repository hmcts/civil-ccd-definition, pull requests merged in 2025-02, with the labels that each got.

#5338 CIV-16322 e2e test fix for CIV-16322
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5338

#5284 CIV-16210 - HmcLipEnabled field to toggle for HMC for Lips
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-AHN-CUI-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-AHN-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-AHN-CUI-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-5284

#5344 CIV-00000 Revert "CIV-16210 - HmcLipEnabled field to toggle for HMC for Lips"
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-AHN-CUI-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-AHN-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-AHN-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5344

#5342 CIV-16559 Publish Confirm_Order_Review Event to WA
  ccd-definition/CaseEvent/User/UserEvents-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5342

#5351 DTSCCI-000 allowing applicantDeadline to be updated on retrigger
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5351

#5257 CIV-16440 removed duplicate Application documents tab for legal advisors
  ccd-definition/CaseTypeTab/ApplicationsCaseWorkerGAspec-nonprod.json
  ccd-definition/CaseTypeTab/ApplicationsLegalAdviserGAspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5257

#5302 CIV-16514 DJ RPA - event sequence number update
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
  ccd-definition/CaseField/CaseField-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5302

#5324 CIV-15960 defendant lip noc email notifications
  ccd-definition/AuthorisationCaseEvent/systemUpdate-LipVsLr-after-defendant-noc-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-LipVsLr-after-defendant-noc-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5324

#5310 DTSCCI-1503
  playwright-e2e/pages/exui/solicitor-events/create-claim/create-claim-page-factory.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/break-down-interest/break-down-interest-content.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/break-down-interest/break-down-interest-page.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/claim-interest-options/claim-interest-options-content.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/claim-interest-options/claim-interest-options-page.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/interest-claim-from/interest-claim-from-content.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/interest-claim-from/interest-claim-from-page.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/interest-claim-until/interest-claim-until-content.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/interest-claim-until/interest-claim-until-page.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/interest-from-specific-date/interest-from-specific-date-content.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/interest-from-specific-date/interest-from-specific-date-page.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/same-rate-interest-selection/same-rate-interest-selection-content.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/same-rate-interest-selection/same-rate-interest-selection-page.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5310

#5315 Dtscci 1314
  playwright-e2e/base/base-page.ts
  playwright-e2e/data-builders/ccd-events/exui/solicitor-events/create-claim/unspec/create-claim-data-builder.ts
  playwright-e2e/data-builders/ccd-events/exui/solicitor-events/create-claim/unspec/create-claim-data-components.ts
  playwright-e2e/pages/exui/exui-dashboard/case-details/case-details-page.ts
  playwright-e2e/pages/exui/exui-page/exui-content.ts
  playwright-e2e/pages/exui/exui-page/exui-page.ts
  playwright-e2e/pages/exui/fragments/remote-hearing/remote-hearing-fragment.ts
  playwright-e2e/pages/exui/fragments/statement-of-truth/statement-of-truth-fragment.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/defendant-response-page-factory.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/unspec/confirm-defendant-response/confirm-defendant-response-content.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/unspec/respondent-response-type/respondent-response-type-2v1-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/unspec/respondent-response-type/respondent-response-type-content.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/unspec/respondent-response-type/respondent-response-type-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/unspec/solicitor-references-defendant-response/solicitor-references-defendant-response-content.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/unspec/solicitor-references-defendant-response/solicitor-references-defendant-response-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/unspec/upload-defendant-response/upload-defendant-response-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/common/hearing-support/hearing-support-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/common/witnesses/witnesses-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/lr-spec/hearing-spec/hearing-fast-spec-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/lr-spec/hearing-spec/hearing-spec-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/unspec/draft-directions/draft-directions-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/unspec/hearing/hearing-fast-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/unspec/hearing/hearing-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/unspec/requested-court/requested-court-content.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/unspec/requested-court/requested-court-page.ts
  playwright-e2e/requests/civil-service-requests.ts
  playwright-e2e/steps/api/api-case-role-assignment-steps.ts
  playwright-e2e/steps/api/ccd-events/solicitor-events/create-claim/api-create-claim-spec-steps.ts
  playwright-e2e/steps/api/ccd-events/solicitor-events/create-claim/api-create-claim-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/claimant-response/claimant-response-spec-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/claimant-response/claimant-response-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/create-claim/create-claim-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/defendant-response/defendant-response-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/notify-claim-details-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/notify-claim-steps.ts
  playwright-e2e/tests/Example.spec.ts
  playwright-e2e/tests/Login.spec.ts
  playwright.config.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5315

#5360 CIV-0000 Update judge users
  bin/add-org-roles-to-users.sh
  e2e/config.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5360

#5317 DTSCCI-1502 Create Page Objects For Unregistered Organisations In Create Claim Spec
  playwright-e2e/helpers/case-data-helper.ts
  playwright-e2e/pages/exui/fragments/unregistered-organisation-address/unregistered-organisation-address-content.ts
  playwright-e2e/pages/exui/fragments/unregistered-organisation-address/unregistered-organisation-address-fragment.ts
  playwright-e2e/pages/exui/fragments/unregistered-organisation/unregistered-organisation-content.ts
  playwright-e2e/pages/exui/fragments/unregistered-organisation/unregistered-organisation-fragment.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/create-claim-page-factory.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/unregistered-defendant-solicitor-organisation/unregistered-defendant-solicitor-organisation-content.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/unregistered-defendant-solicitor-organisation/unregistered-defendant-solicitor-organisation-page.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/unregistered-second-defendant-solicitor-organisation/unregistered-second-defendant-solicitor-organisation-content.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/unregistered-second-defendant-solicitor-organisation/unregistered-second-defendant-solicitor-organisation-page.ts
  playwright-e2e/tests/Example.spec.ts
  playwright-e2e/tests/Login.spec.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5317

#5354 DTSCCI-985 - Update preview chart to enable service bus and ccd event pub by default
  charts/civil-ccd/values.enableWA.preview.template.yaml
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5354

#5358 DTSCCI-1514 Create Step Methods For Create Claim Spec Event
  playwright-e2e/base/base-exui-steps.ts
  playwright-e2e/helpers/case-data-helper.ts
  playwright-e2e/pages/exui/exui-page/exui-page.ts
  playwright-e2e/pages/exui/fragments/correspondence-address/correspondence-address-content.ts
  playwright-e2e/pages/exui/fragments/correspondence-address/correspondence-address-fragment.ts
  playwright-e2e/pages/exui/fragments/service-address/service-address-fragment.ts
  playwright-e2e/pages/exui/fragments/statement-of-truth/statement-of-truth-fragment.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/common/claimant-solicitor-organisation/claimant-solicitor-organisation-page.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/common/statement-of-truth-create-claim/statement-of-truth-create-claim-page.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/create-claim-page-factory.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/claim-amount-details/claim-amount-details-page.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/claim-interest/claim-interest-content.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/confirm-create-claim-spec/confirm-create-claim-spec-content.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/confirm-create-claim-spec/confirm-create-claim-spec-page.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/defendant-solicitor-email-spec/defendant-solicitor-email-spec-content.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/details-spec/details-spec-content.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/details-spec/details-spec-page.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/flight-delay-claim/flight-delay-claim-content.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/interest-summary/interest-summary-page.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/respondent-2-correspondence-address-spec/respondent-2-correspondence-address-page.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/second-defendant-solicitor-email-spec/second-defendant-solicitor-email-spec-content.ts
  playwright-e2e/steps/ui/exui/solicitor-events/create-claim/create-claim-spec-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/create-claim/create-claim-steps.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5358

#5318 CIV-16427 Revert DJ Cover Letter changes for LR
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-JO-nonprod.json
  ccd-definition/FixedLists/DocumentType-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5318

#5254 CIV-16353 fix auto hearing notice status
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-AHN-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-AHN-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5254

#5082 DTSCCI-1105 payments error fix
  bin/reimport-definitions-devuser-preview.sh
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseTypeTab/ServiceRequestHearingNotice-R2-CUI.json
  e2e/api/steps.js
Labels: ns:civil, prd:civil, stale, enable_keep_helm, rel:civil-ccd-pr-5082

#5373 DTSCCI-000 Add Missing AllMethodsSteps to classes
  playwright-e2e/actions/ui/exui/claimant-solicitor/create-claim-spec-actions.ts
  playwright-e2e/actions/ui/exui/claimant-solicitor/create-claim/create-claim-spec-actions.ts
  playwright-e2e/actions/ui/exui/defendant-solicitor/defendant-response/defendant-response-actions.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/add-defendant-litigation-friend/unspec/confirm-add-defendant-litigation-friend/confirm-add-defendant-litigation-friend-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/inform-agreed-extension-date/lr-spec/confirm-inform-agreed-extension-date-spec/confirm-inform-agreed-extension-date-spec-page.ts
  playwright-e2e/requests/civil-service-requests.ts
  playwright-e2e/steps/ui/exui/exui-dashboard-steps.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5373

#5377 DTSCCI-000 Playwright Fix Tests in Pipeline
  custom-eslint-configs/no-dup-classes.config.mjs
  eslint.config.mjs
  package.json
  playwright-e2e/actions/ui/exui/claimant-solicitor/claimant-solcitor-actions-factory.ts
  playwright-e2e/actions/ui/exui/claimant-solicitor/create-claim-spec-actions.ts
  playwright-e2e/actions/ui/exui/common/exui-dashboard-actions.ts
  playwright-e2e/base/base-exui-steps.ts
  playwright-e2e/base/base-exui.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/confirm-details/confirm-details-1v2-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/confirm-details/confirm-details-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/respondent-response-type/respondent-response-type-1v2SS-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/respondent-response-type/respondent-response-type-2v1-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/respondent-response-type/respondent-response-type-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/upload-defendant-response/upload-defendant-response-page.ts
  playwright-e2e/pages/exui/exui-dashboard/case-details/case-details-page.ts
  playwright-e2e/pages/exui/exui-dashboard/case-list/case-list-page.ts
  playwright-e2e/pages/utils/page-cookies-manager.ts
  playwright-e2e/playwright-fixtures/ui/ui-steps-fixtures.ts
  playwright-e2e/steps/api/exui/claimant-solicitor-spec-api-steps.ts
  playwright-e2e/steps/ui/exui/caseworker-steps.ts
  playwright-e2e/steps/ui/exui/claimant-solicitor-spec-steps.ts
  playwright-e2e/steps/ui/exui/claimant-solicitor-steps.ts
  playwright-e2e/steps/ui/exui/defendant-solicitor-1-spec-steps.ts
  playwright-e2e/steps/ui/exui/defendant-solicitor-1-steps.ts
  playwright-e2e/steps/ui/exui/defendant-solicitor-2-spec-steps.ts
  playwright-e2e/steps/ui/exui/defendant-solicitor-2-steps.ts
  playwright-e2e/steps/ui/exui/exui-dashboard-steps.ts
  playwright-e2e/steps/ui/exui/judge.steps.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5377

#5380 CIV-0000 fix tests
  e2e/api/steps.js
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5380

#5381 DTSCCI-1569 Create Tests 1v1 Fast Track Full Defence And Intent To Proceed
  playwright-e2e/actions/ui/exui/claimant-solicitor/claimant-response/claimant-response-actions.ts
  playwright-e2e/actions/ui/exui/claimant-solicitor/claimant-response/claimant-response-spec-actions.ts
  playwright-e2e/base/base-exui.ts
  playwright-e2e/steps/ui/exui/claimant-solicitor-steps.ts
  playwright-e2e/tests/Example.spec.ts
  playwright-e2e/tests/Login.spec.ts
  playwright-e2e/tests/spec/1v1-fast-track.spec.ts
  playwright-e2e/tests/unspec/1v1-fast-track.spec.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5381

#5306 CIV-16242 hearing document welsh AHN
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-AHN-CUI-nonprod.json
  ccd-definition/CaseField/CaseField-AHN-CUI-nonprod.json
  ccd-definition/CaseTypeTab/DocumentsHearingWelsh-AHN-CUI-nonprod.json
  ccd-definition/FixedLists/DocumentType.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5306

#5386 DTSCCI-1572 Create Tests 1v2SS Small Track Full Defence And Intent To Proceed
  playwright-e2e/actions/ui/exui/claimant-solicitor/claimant-response/claimant-response-spec-actions.ts
  playwright-e2e/tests/spec/fast-track-1v1.spec.ts
  playwright-e2e/tests/spec/small-track-1v2SS.spec.ts
  playwright-e2e/tests/unspec/fast-track-1v1.spec.ts
  playwright-e2e/tests/unspec/small-track-1v2SS.spec.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5386

#5346 CIV-16210 - HmcLipEnabled field to toggle for HMC for Lips
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-AHN-CUI-nonprod.json
  e2e/api/steps.js
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-5346

#5308 CIV-16511 Adding Send And Reply Messages To API Cse Worker tests
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecCui.js
  e2e/fixtures/events/sendAndReplyMessages.js
  e2e/tests/api_tests/caseworkerEvents/api_caseworker_test.js
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-5308

#5262 DTSCCI-1454 adding authorisarion for MMT Json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-5262

#5370 DTSCCI-1239 Allow manage documents event to be run in all case states
  ccd-definition/CaseEvent/User/UserEvents-amendBundle.json
Labels: ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, rel:civil-ccd-pr-5370

#5399 DTSCCI-1573 Create Tests 1v2DS Small Track Full Defence And Intent To Proceed
  playwright-e2e/actions/ui/exui/defendant-solicitor/defendant-response/defendant-response-actions.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/defendant-response-page-factory.ts
  playwright-e2e/steps/ui/exui/defendant-solicitor-2-spec-steps.ts
  playwright-e2e/tests/Example.spec.ts
  playwright-e2e/tests/Login.spec.ts
  playwright-e2e/tests/lr-spec/fast-track-1v1.spec.ts
  playwright-e2e/tests/lr-spec/small-track-1v1.spec.ts
  playwright-e2e/tests/lr-spec/small-track-1v2DS.spec.ts
  playwright-e2e/tests/lr-spec/small-track-1v2SS.spec.ts
  playwright-e2e/tests/lr-spec/small-track-2v1.spec.ts
  playwright-e2e/tests/unspec/small-track-1v2DS.spec.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5399

#5294 CIV-16543 QM Integration
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-QueryManagement-nonprod.json
  ccd-definition/AuthorisationCaseField/QueryManagement-nonprod.json
  ccd-definition/AuthorisationComplexType/QueryCollections-QueryManagement-nonprod.json
  ccd-definition/CaseEvent/User/QueryManagement-nonprod.json
  ccd-definition/CaseEventToFields/QueryManagement-Raise-nonprod.json
  ccd-definition/CaseEventToFields/QueryManagement-Responsd-nonprod.json
  ccd-definition/CaseField/QueryManagement-nonprod.json
  ccd-definition/CaseTypeTab/QueryManagement-nonprod.json
  ccd-definition/Categories/Categories-QueryManagement-nonprod.json
  ccd-definition/ComplexTypes/LatestQuery-nonprod.json
  charts/civil-ccd/values.enableHelm.template.yaml
  charts/civil-ccd/values.preview.template.yaml
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-5294

#5400 DTSCCI-1605 Add Environment Variable For Running Tests At Different Speeds
  Jenkinsfile_nightly
  env.d.ts
  playwright-e2e/config/config.ts
  playwright-e2e/constants/test-speeds.ts
  playwright-e2e/models/test-speeds.ts
  playwright.config.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5400

#5406 CIV-16642 - release caseworker event files
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-caseworkerEvents.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-caseworkerEvents.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-caseworkerEvents.json
  ccd-definition/AuthorisationCaseField/systemUpdate-caseworkerEvents.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-caseworkerEvents.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-caseworkerEvents.json
  ccd-definition/CaseEvent/User/UserEvents-caseworkerEvents-prod.json
  ccd-definition/CaseEvent/User/UserEvents-caseworkerEvents.json
  ccd-definition/CaseEventToComplexTypes/ObligationData-caseworkerEvents.json
  ccd-definition/CaseEventToComplexTypes/ObligationWAFlag-caseWorkerEvents.json
  ccd-definition/CaseEventToComplexTypes/SendAndReply-caseWorkerEvents.json
  ccd-definition/CaseEventToComplexTypes/WorkAllocation-caseWorkerEvents.json
  ccd-definition/CaseEventToFields/DismissCase-caseworkerEvents.json
  ccd-definition/CaseEventToFields/FlagCase-caseworkerEvents.json
  ccd-definition/CaseEventToFields/ManageStay-caseworkerEvents.json
  ccd-definition/CaseEventToFields/ObligationWAFlag-caseWorkerEvents.json
  ccd-definition/CaseEventToFields/SendAndReply-caseWorkerEvents.json
  ccd-definition/CaseEventToFields/StayCase-caseworkerEvents.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-caseworkerEvents.json
  ccd-definition/CaseField/CaseField-caseworkerEvents.json
  ccd-definition/CaseTypeTab/Messages-caseworkerEvents.json
  ccd-definition/CaseTypeTab/Notes-caseworkerEvents.json
  ccd-definition/ComplexTypes/1_MessageReply-caseworkerEvents.json
  ccd-definition/ComplexTypes/Message-caseworkerEvents.json
  ccd-definition/ComplexTypes/ObligationWAFlag-caseworkerEvents.json
  ccd-definition/ComplexTypes/SendMessageMetadata-caseworkerEvents.json
  ccd-definition/FixedLists/CaseworkerEvents/CourtStaffNextSteps-caseworkerEvents.json
  ccd-definition/FixedLists/CaseworkerEvents/ManageStayOptions-ManageStay-caseworkerEvents.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-5406

#5418 DTSCCI-1536 Playwright Investigate Alternative Ways of Approaching Assertions On Pages
  playwright-e2e/base/base-page.ts
  playwright-e2e/errors/promise-error.ts
  playwright-e2e/helpers/promise-helper.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/add-another-claimant/add-another-claimant-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/notifications/notifcations-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/references/references-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/claim-amount-details/claim-amount-details-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/claim-interest-options/claim-interest-options-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/claimant-litigation-friend/claimant-litigation-friend-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/court/court-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/legal-representation/legal-representation-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/respondent-response-type-spec/respondent-response-type-1v2-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/respondent-response-type-spec/respondent-response-type-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/response-confirm-details/response-confirm-details-1v2-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/response-confirm-details/response-confirm-details-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/response-confirm-name-address/response-confirm-name-address-1v2-fast-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/response-confirm-name-address/response-confirm-name-address-1v2-page .ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/response-confirm-name-address/response-confirm-name-address-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/respondent-response-type/respondent-response-type-1v2SS-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/respondent-response-type/respondent-response-type-2v1-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/directions-questionaire/common/language/language-page.ts
  playwright-e2e/pages/exui/exui-page/exui-page.ts
  playwright-e2e/pages/exui/fragments/particulars-of-claim/particulars-of-claim-fragment.ts
  playwright-e2e/pages/exui/fragments/party-type/party-type-company-fragment.ts
  playwright-e2e/pages/exui/fragments/party-type/party-type-content.ts
  playwright-e2e/pages/exui/fragments/party-type/party-type-individual-fragment.ts
  playwright-e2e/pages/exui/fragments/party-type/party-type-organisation-fragment.ts
  playwright-e2e/pages/exui/fragments/party-type/party-type-sole-trader-fragment.ts
  playwright-e2e/pages/exui/fragments/remote-hearing-spec/remote-hearing-spec-fragment.ts
  playwright-e2e/pages/exui/fragments/remote-hearing/remote-hearing-fragment.ts
  playwright-e2e/pages/exui/fragments/solicitor-reference/solicitor-reference-fragment.ts
  playwright-e2e/playwright-fixtures/ui/page-expect-fixtures.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5418

#5423 DTSCCI-1518 - Playwright Create Helper Method Asserting Yes or No Radio Buttons in BasePage
  playwright-e2e/base/base-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/add-another-claimant/add-another-claimant-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/add-another-defendant/add-another-defendant-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/claimant/claimant-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/claimant/claimant-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/defendant/defendant-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/defendant/defendant-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/notifications/notifcations-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/same-legal-representative/same-legal-representative-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/second-claimant/second-claimant-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/second-claimant/second-claimant-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/second-defendant/second-defendant-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/second-defendant/second-defendant-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/claim-interest/claim-interest-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/fixed-commencement-costs/fixed-commencement-costs-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/flight-delay-claim/flight-delay-claim-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/legal-representation-respondent-2/legal-representation-respondent-2-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/legal-representation-spec/legal-representation-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/claim-type/claim-type-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/claimant-litigation-friend/claimant-litigation-friend-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/legal-representation/legal-representation-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/personal-injury-type/personal-injury-type-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/second-claimant-litigation-friend/second-claimant-litigation-friend-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/second-defendant-legal-representation/second-defendant-legal-representation-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/upload-particulars-of-claim/upload-particulars-of-claim-page.ts
  playwright-e2e/pages/exui/fragments/correspondence-address/correspondence-address-fragment.ts
  playwright-e2e/pages/exui/fragments/remote-hearing/remote-hearing-content.ts
  playwright-e2e/pages/exui/fragments/remote-hearing/remote-hearing-fragment.ts
  playwright-e2e/pages/exui/fragments/service-address/service-address-fragment.ts
  playwright-e2e/requests/civil-service-requests.ts
  playwright.config.ts
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5423

#5412 CIV-16648 - added authorisation for history tab
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-caseworkerEvents.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvents-AHN-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5412

#5426 DTSCCI-1639 Add the exact option to all expect methods in BasePage
  Jenkinsfile_nightly
  env.d.ts
  playwright-e2e/actions/ui/exui/defendant-solicitor/defendant-response/defendant-response-spec-actions.ts
  playwright-e2e/base/base-exui.ts
  playwright-e2e/base/base-page.ts
  playwright-e2e/config/config.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/confirm-create-claim-spec/confirm-create-claim-spec-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/confirm-create-claim-spec/confirm-create-claim-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/eligibilty-spec/eligibility-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/notify-claim-details/confirm-notify-claim-details/confirm-notify-claim-details-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/notify-claim/access-granted-warning/access-granted-warning-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/notify-claim/confirm-notify-claim/confirm-notify-claim-cos-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/notify-claim/confirm-notify-claim/confirm-notify-claim-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/claimant-response/lr-spec/confirm-claimant-response-spec/confirm-claimant-response-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/claimant-response/unspec/respondent-response/respondent-response-2v1-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/confirm-defendant-response-spec/confirm-1v2SS-defendant-response-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/confirm-defendant-response-spec/confirm-defendant-response-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/how-to-add-timeline-manual/how-to-add-timeline-manual-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/how-to-add-timeline-upload/how-to-add-timeline-upload-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/confirm-defendant-response/confirm-1v2DS-defendant-response-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/confirm-defendant-response/confirm-defendant-response-page.ts
  playwright-e2e/pages/exui/exui-dashboard/case-details/case-details-page.ts
  playwright-e2e/pages/exui/exui-page/exui-page.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5426

#5429 DTSCCI-1631 MVP Clean Up - Refactor code for Defendant Response Actions and Steps
  Jenkinsfile_nightly
  playwright-e2e/actions/ui/exui/claimant-solicitor/claimant-response/claimant-response-spec-actions.ts
  playwright-e2e/actions/ui/exui/claimant-solicitor/create-claim/create-claim-spec-actions.ts
  playwright-e2e/actions/ui/exui/defendant-solicitor/defendant-response/defendant-response-actions.ts
  playwright-e2e/actions/ui/exui/defendant-solicitor/defendant-response/defendant-response-spec-actions.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/defendant-response-page-factory.ts
  playwright-e2e/steps/ui/exui/defendant-solicitor-1-spec-steps.ts
  playwright-e2e/steps/ui/exui/defendant-solicitor-1-steps.ts
  playwright-e2e/steps/ui/exui/defendant-solicitor-2-spec-steps.ts
  playwright-e2e/steps/ui/exui/defendant-solicitor-2-steps.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5429

#5425 DTSCCI-1629 MVP Clean Up - Refactor code for Notify Claim Actions and Steps
  playwright-e2e/actions/ui/exui/claimant-solicitor/notify-claim-actions.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/acknowledge-claim/unspec/confirm-name-and-address/confirm-name-and-address-1v2-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/acknowledge-claim/unspec/confirm-name-and-address/confirm-name-and-address-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/acknowledge-claim/unspec/response-intention/response-intention-1v2SS-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/acknowledge-claim/unspec/response-intention/response-intention-2v1-page.ts
  playwright-e2e/pages/exui/exui-dashboard/case-details/case-details-page.ts
  playwright-e2e/steps/ui/exui/claimant-solicitor-steps.ts
  playwright-e2e/tests/unspec/fast-track-1v1.spec.ts
  playwright-e2e/tests/unspec/small-track-1v1.spec.ts
  playwright-e2e/tests/unspec/small-track-1v2SS.spec.ts
  playwright-e2e/tests/unspec/small-track-2v1.spec.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5425

#5362 DTSCCI-1517 Playwright Create Step Methods For Add Defendant Litigation Friend Event
  e2e/tests/api_tests/damages/api_1v1_test.js
  playwright-e2e/actions/ui/exui/defendant-solicitor/add-defendant-litigation-friend-actions.ts
  playwright-e2e/actions/ui/exui/defendant-solicitor/defendant-response/defendant-response-spec-actions.ts
  playwright-e2e/base/base-exui.ts
  playwright-e2e/base/base-page.ts
  playwright-e2e/config/config.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/add-defendant-litigation-friend/add-defendant-litigation-friend-page-factory.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/add-defendant-litigation-friend/unspec/defendant-2-litigation-friend/defendant-2-litigation-friend-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/add-defendant-litigation-friend/unspec/defendant-2-litigation-friend/defendant-2-litigation-friend-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/add-defendant-litigation-friend/unspec/litigation-friend/litigation-friend-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/add-defendant-litigation-friend/unspec/litigation-friend/litigation-friend-page.ts
  playwright-e2e/pages/exui/exui-dashboard/case-details/case-details-page.ts
  playwright-e2e/pages/exui/exui-page/exui-page.ts
  playwright-e2e/pages/exui/fragments/litigation-friend/litigation-friend-content.ts
  playwright-e2e/pages/exui/fragments/litigation-friend/litigation-friend-fragment.ts
  playwright-e2e/steps/ui/exui/defendant-solicitor-1-steps.ts
  playwright-e2e/steps/ui/exui/defendant-solicitor-2-steps.ts
  playwright-e2e/tests/unspec/small-track-1v2DS.spec.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5362

#5444 DTSCCI-1509 Playwright Create Helper Methods Validating Tables in BasePage
  playwright-e2e/actions/ui/exui/common/exui-dashboard-actions.ts
  playwright-e2e/base/base-exui.ts
  playwright-e2e/base/base-page.ts
  playwright-e2e/config/config.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/submit-create-claim/submit-create-claim-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/claim-amount-details/claim-amount-details-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/claim-amount-details/claim-amount-details-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/interest-summary/interest-summary-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/interest-summary/interest-summary-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/claimant-response/claimant-response-page-factory.ts
  playwright-e2e/pages/exui/exui-dashboard/case-details/case-details-page.ts
  playwright-e2e/requests/civil-service-requests.ts
  playwright.config.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5444

#5439 DTSCCI-1628 MVP Clean Up - Refactor code for Claimant Response Actions and Steps
  playwright-e2e/actions/ui/exui/claimant-solicitor/claimant-response/claimant-response-actions.ts
  playwright-e2e/actions/ui/exui/claimant-solicitor/claimant-response/claimant-response-spec-actions.ts
  playwright-e2e/actions/ui/exui/claimant-solicitor/notify-claim-details-actions.ts
  playwright-e2e/actions/ui/exui/defendant-solicitor/defendant-response/defendant-response-spec-actions.ts
  playwright-e2e/base/base-page.ts
  playwright-e2e/config/config.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/add-another-claimant/add-another-claimant-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/add-another-defendant/add-another-defendant-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/claimant/claimant-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/defendant/defendant-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/notifications/notifcations-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/same-legal-representative/same-legal-representative-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/second-claimant/second-claimant-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/second-defendant/second-defendant-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/claim-interest/claim-interest-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/claim-timeline-upload/claim-timeline-upload-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/details-spec/details-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/fixed-commencement-costs/fixed-commencement-costs-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/flight-delay-claim/flight-delay-claim-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/legal-representation-respondent-2/legal-representation-respondent-2-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/legal-representation-spec/legal-representation-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/claim-type/claim-type-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/claimant-litigation-friend/claimant-litigation-friend-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/legal-representation/legal-representation-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/personal-injury-type/personal-injury-type-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/second-claimant-litigation-friend/second-claimant-litigation-friend-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/second-defendant-legal-representation/second-defendant-legal-representation-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/upload-particulars-of-claim/upload-particulars-of-claim-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/claimant-response/lr-spec/defence-response-document-spec/defence-response-document-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/claimant-response/unspec/defence-response-document/defence-response-document-1v2-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/claimant-response/unspec/defence-response-document/defence-response-document-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/how-to-add-timeline-upload/how-to-add-timeline-upload-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/upload-defendant-response/upload-defendant-response-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/directions-questionaire/unspec/draft-directions/draft-directions-page.ts
  playwright-e2e/pages/exui/exui-dashboard/case-details/case-details-page.ts
  playwright-e2e/pages/exui/exui-page/exui-content.ts
  playwright-e2e/pages/exui/exui-page/exui-page.ts
  playwright-e2e/pages/exui/fragments/certificate-of-service-notify-claim-details/certificate-of-service-notify-claim-details-fragment.ts
  playwright-e2e/pages/exui/fragments/certificate-of-service-notify-claim/certificate-of-service-notify-claim-fragment.ts
  playwright-e2e/pages/exui/fragments/correspondence-address/correspondence-address-fragment.ts
  playwright-e2e/pages/exui/fragments/litigation-friend/litigation-friend-fragment.ts
  playwright-e2e/pages/exui/fragments/remote-hearing/remote-hearing-fragment.ts
  playwright-e2e/pages/exui/fragments/service-address/service-address-fragment.ts
  playwright-e2e/pages/idam/login/login-page.ts
  playwright-e2e/steps/api/case-role-assignment-api-steps.ts
  playwright-e2e/steps/api/exui/defendant-solicitor-1-api-steps.ts
  playwright-e2e/steps/api/exui/defendant-solicitor-2-api-steps.ts
  playwright-e2e/steps/ui/exui/claimant-solicitor-spec-steps.ts
  playwright-e2e/steps/ui/exui/claimant-solicitor-steps.ts
  playwright-e2e/tests/lr-spec/fast-track-1v1.spec.ts
  playwright-e2e/tests/lr-spec/small-track-1v1.spec.ts
  playwright-e2e/tests/lr-spec/small-track-1v2DS.spec.ts
  playwright-e2e/tests/lr-spec/small-track-1v2SS.spec.ts
  playwright-e2e/tests/lr-spec/small-track-2v1.spec.ts
  playwright-e2e/tests/unspec/fast-track-1v1.spec.ts
  playwright-e2e/tests/unspec/small-track-1v1.spec.ts
  playwright-e2e/tests/unspec/small-track-1v2DS.spec.ts
  playwright-e2e/tests/unspec/small-track-1v2SS.spec.ts
  playwright-e2e/tests/unspec/small-track-2v1.spec.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5439

#5375 CIV-16600 Removed part discontinuance
  ccd-definition/CaseField/CaseField-SettleDiscontinue-nonprod.json
  ccd-definition/FixedLists/DiscontinuanceTypeList-DiscontinueClaim.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-5375

#5430 CIV-16630 Judicial permissions for queries tab
  ccd-definition/AuthorisationCaseField/QueryManagement-nonprod.json
  ccd-definition/AuthorisationComplexType/QueryCollections-QueryManagement-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5430

#5432 CIV-16638 Added new event to trigger main case from ga
  ccd-definition/AuthorisationCaseEvent/systemUpdateGAspec.json
  ccd-definition/CaseEvent/Camunda/CaseEventsGASpec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5432

#5463 DTSCCI-1721 wa system user security classification to restricted
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5463

#5462 CIV-0000 Fix CIV-16600 test failure
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/discontinueClaimSpec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5462
