Repository hmcts/civil-ccd-definition, pull requests merged in 2025-04, with the labels that each got.

#5573 DTSCCI-1738 avoid bypass ongoing process
  ccd-definition/CaseEvent/User/UserEvents-SDO.json
  e2e/tests/ui_tests/settle_discontinue/1v2DiscontinueThisClaim_test.js
Labels: ns:civil, prd:civil, Testing, pr-values:enableWA, enable_keep_helm, rel:civil-ccd-pr-5573

#5549 CIV-16927 Rename MPIF to Settle Claim
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/SettleClaimPaidInFull-SettleDiscontinue-nonprod.json
  ccd-definition/CaseField/CaseField-SettleDiscontinue-nonprod.json
  e2e/pages/caseView.page.js
  e2e/steps_file.js
  e2e/steps_file_LRspec.js
Labels: ns:civil, prd:civil, civilServicePr:6342, rel:civil-ccd-pr-5549

#5558 CIV-16938 Allow ALL_FINAL_ORDERS_ISSUED on PIF
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-caseworkerEvents.json
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/SettleClaimPaidInFull-SettleDiscontinue-nonprod.json
  e2e/api/steps_LRspecSmall.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5558, civilServicePr:6351

#5398 DTSCCI-985 - enable publish lower env
  ccd-definition/CaseEvent/User/UserEvents-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-caseworkerEvents-prod.json
  ccd-definition/CaseEvent/User/UserEvents-caseworkerEvents.json
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, rel:civil-ccd-pr-5398

#5589 DTSCCI-000 - fix master
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.aat.template.yaml
  charts/civil-ccd/values.preview.template.yaml
  charts/civil-ccd/values.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5589

#5580 CIV-16846 Caseworker event to change language preference
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-WelshEnhancements-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-WelshEnhancements-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-WelshEnhancements-nonprod.json
  ccd-definition/CaseEventToFields/ChangeLanguagePreference-nonprod.json
  ccd-definition/CaseField/CaseField-WelshEnhancements-nonprod.json
  ccd-definition/ComplexTypes/WelshEnhancements/ChangeLanguagePreference-nonprod.json
  ccd-definition/FixedLists/WelshEnhancements/ChangeLanguagePreferencePreferredLanguage-nonprod.json
  ccd-definition/FixedLists/WelshEnhancements/ChangeLanguagePreferenceUserType-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5580

#5582 DTSCCI-1929 adding rpaRobot role to civil
  bin/add-roles.sh
  bin/setup-devuser-preview-env.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI.json
  ccd-definition/AuthorisationCaseState/rpaRobot.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-unshuttered.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5582

#5595 DTSCCI-1888 Fix nightly pipeline
  Jenkinsfile_nightly
  playwright.config.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5595

#5605 DTSCCI-000 - Add retrigger event for Mediation Unsuccessful
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/CaseEvent/Camunda/RetriggerCase.json
  ccd-definition/CaseEventToFields/RetriggerSpec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5605

#5534 DTSCCI-1609 revert disabling failed tests
  bin/add-org-roles-to-users.sh
  e2e/tests/api_tests/sdo_R2/api_dispute_resolution_hearing_test.js
  e2e/tests/api_tests/sdo_R2/api_noise_induced_hearing_loss_test.js
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5534

#5584 CIV-16997 add authorisations to settle claim event
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, pr-values:elasticsearch, rel:civil-ccd-pr-5584

#5579 CIV-16845 - Update flag to detect language preference for SDO translation
  ccd-definition/CaseEventToFields/ReasonForReconsideration-SDO-R2.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-Welsh-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5579

#5622 CIV-00000 update befta-fw 9.2.3
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5622

#5616 CIV-16986 Add GA hearing order and request for info docs to Claim Doc…
  ccd-definition/CaseTypeTab/DocumentsGASpec-CUI-nonprod.json
  ccd-definition/CaseTypeTab/DocumentsGASpec-prod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5616

#5506 DTSCCI-1237 condition for Fee Payment Outcome
  ccd-definition/CaseEvent/User/UserEvents-HWF-R2-CUI.json
Labels: ns:civil, prd:civil, stale, enable_keep_helm, rel:civil-ccd-pr-5506

#5624 CIV-16847 Add event for updating language preference
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-WelshEnhancements-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-WelshEnhancements-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5624

#5639 DTSCCI-2063 disable FT temp
  e2e/tests/api_tests/damages/api_noc_unspec_test.js
  e2e/tests/api_tests/mediation/api_1v1_spec_small_mediation_documents_upload_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5639

#5629 CIV-16853 New fields for displaying citizen language preference
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-WelshEnhancements-nonprod.json
  ccd-definition/CaseField/CaseField-WelshEnhancements-nonprod.json
  ccd-definition/CaseTypeTab/ClaimDetails-WelshEnhancements-nonprod.json
  ccd-definition/ComplexTypes/WelshEnhancements/ChangeLanguagePreference-nonprod.json
  ccd-definition/FixedLists/WelshEnhancements/ChangeLanguagePreferencePreferredLanguage-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5629

#5642 CIV-16832 New collection to store SDO pre-translation
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-WelshEnhancements-nonprod.json
  ccd-definition/CaseField/CaseField-WelshEnhancements-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5642

#5620 CIV-17015 Add Defendant response heading in Claim details tab
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/CaseTypeTab/ClaimDetails-MINTI.json
  ccd-definition/CaseTypeTab/ClaimDetails.json
  ccd-definition/CaseTypeTab/ClaimDetailsLRSpec-MINTI.json
Labels: ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, rel:civil-ccd-pr-5620

#5625 CIV-15925 Reset PIN Event trigger Lip notify email
  ccd-definition/AuthorisationCaseEvent/systemUpdate-caseworkerEvents.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-caseworkerEvents.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5625
