Repository hmcts/civil-ccd-definition, pull requests merged in 2025-09, with the labels that each got.

#6002 DTSCCI-2366 revert CIV-17556 changes
  ccd-definition/AuthorisationCaseEvent/systemUpdate-JO.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEvents-JO.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-JO.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-6002

#6023 CIV-0000 - Added a field to prod file for CUI welsh release.
  ccd-definition/CaseField/CaseField-WelshEnhancements-nonprod.json
  ccd-definition/CaseField/CaseField-WelshEnhancements-prod.json
  ccd-definition/CaseField/CaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-6023

#6045 CIV-0000 Unchutter CCD def
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-6045

#6004 CIV-17654 Claimant JBA Letter
  ccd-definition/AuthorisationCaseEvent/systemUpdate-JO.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-JO.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-6004

#4878 DTSCCI-938 remove solicitor CU permissions for respondent1 flags
  ccd-definition/AuthorisationComplexType/solicitor.json
  charts/civil-ccd/values.preview.template.yaml
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecSmall.js
  e2e/fixtures/events/claimantResponseIntermediateClaimSpec.js
  e2e/fixtures/events/claimantResponseMultiClaimSpec.js
  e2e/fixtures/events/claimantResponseSpec.js
  e2e/fixtures/events/claimantResponseSpec1v2.js
  e2e/fixtures/events/claimantResponseSpec1v2Fast.js
  e2e/fixtures/events/claimantResponseSpec2v1.js
  e2e/fixtures/events/claimantResponseSpec2v1Fast.js
  e2e/fixtures/events/claimantResponseSpecCui.js
  e2e/fixtures/events/claimantResponseSpecSmall.js
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-4878
