Repository hmcts/civil-ccd-definition, pull requests merged in 2025-01, with the labels that each got.

#5104 CIV-15826 LipClaimSettle - RemoveHearing task
  ccd-definition/CaseEvent/User/UserEvents-R2-CUI.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5104

#5187 CIV-16291 Notify defendant Lip - marked as paid in full
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SettleDiscontinue-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5187

#5165 CIV-15754 LR JbA Live Feed
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
  ccd-definition/CaseField/CaseField-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5165

#5169 CIV-16292 Defendant Lip Dashboard Notification-discontinued
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SettleDiscontinue-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-settleDiscontinue-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5169

#5190 CIV-15985 request more info document not accessible to cui user
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5190

#5201 DTSCCI-1364 upgrade ccd chart
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5201

#5150 CIV-15265 Order Review Obligation Check
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-caseworkerEvents-nonprod.json
  ccd-definition/CaseField/CaseField-caseworkerEvents-nonprod.json
  ccd-definition/ComplexTypes/ObligationDataCollection.json
Labels: data-changes, ns:civil, prd:civil, stale, rel:civil-ccd-pr-5150

#5172 CIV-15614 - Obligations on notes tab
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-caseworkerEvents-nonprod.json
  ccd-definition/CaseEventToComplexTypes/ObligationData-caseworkerEvents-nonprod.json
  ccd-definition/CaseField/CaseField-caseworkerEvents-nonprod.json
  ccd-definition/CaseTypeTab/Notes.json
  ccd-definition/ComplexTypes/ObligationDataCollection.json
  ccd-definition/ComplexTypes/StoredObligationData.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-5172

#5213 DTSCCI-000 - Update dismissed deadline auths
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5213

#5215 CIV-15614 - Add flag to storedObligationData object
  ccd-definition/ComplexTypes/StoredObligationData.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-5215

#5217 CIV-15869 api tests
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/fixtures/events/judgmentOnline1v1Spec.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v1_test.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v2_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5217

#5225 DTSCCI-1366 enable ft
  e2e/tests/api_tests/sdo_R2/api_dispute_resolution_hearing_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5225

#5219 CIV-15614 - Fix that makes obligationDate searchable in storedObligationDate
  ccd-definition/ComplexTypes/StoredObligationData.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-5219

#5114 CIV-15646 add confirm order dashboard notification
  ccd-definition/AuthorisationCaseEvent/systemUpdate-caseworkerEvents-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-5114

#5203 CIV-16035 renamed to support prod and non prod
  ccd-definition/CaseTypeTab/DefaultJudgmentDetailsDJSpec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5203

#5235 DTSCCI-1439 Unable to request hearing or take case offline
  ccd-definition/AuthorisationCaseField/AuthorisationFinalOrders.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5235

#5204 CIV-15966 - Update claimant LiP 'View info about the defendant' screen with defendant LR details.
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldSpec-NOC-CUI-nonprod.json
  ccd-definition/CaseField/CaseFieldSpec-NOC-CUI-nonprod.json
  ccd-definition/ComplexTypes/RespondentSolicitorDetails-NOC-CUI-nonprod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-5204

#5228 DTSCCI-1423 Add address fragment
  playwright-e2e/pages/exui/fragments/address/address-content.ts
  playwright-e2e/pages/exui/fragments/address/address-fragment.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/notify-claim-cos-defendant-1/notify-claim-cos-defendant-1-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/notify-claim-cos-defendant-2/notify-claim-cos-defendant-2-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/notify-claim-page-factory.ts
  playwright-e2e/steps/ui/exui/solicitor-events/claimant-response/claimant-response-spec-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/claimant-response/claimant-response-steps.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5228

#5237 DTSCCI-1283 enable ft
  e2e/tests/api_tests/sdo_R2/api_noise_induced_hearing_loss_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5237

#5186 CIV-15871 Confirm order review update tasklist
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-caseworkerEvents-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5186

#5192 CIV-16299 Hide record judgement and edit judgement events
  ccd-definition/CaseEvent/User/UserEvents-JO-nonprod.json
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v1_test.js
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v2_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5192

#5182 CIV-15723 - Move trial ready closure to trial ready check
  ccd-definition/AuthorisationCaseEvent/systemupdate-CUI-CP.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-CP.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-CUI-CP.json
  ccd-definition/CaseEvent/User/UserEventsCaseProg.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5182

#5249 CIV-0000 Fix DJ Set Aside API Test
  e2e/tests/api_tests/judgmentOnline/api_judgment_online_spec_1v2_test.js
Labels: ns:civil, prd:civil

#5223 CIV-16351 Remove offline JBA field
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
  ccd-definition/CaseField/CaseField-JO-nonprod.json
Labels: ns:civil, prd:civil

#5220 CIV-16244 - Authorisation for defendant hmc
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvents-AHN-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5220

#5185 DTSCCI-1320 Add history to allure report
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5185

#5253 CIV-16443 Give defendant access to request for info doc
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-R2-CUI-nonprod.json
Labels: ns:civil, prd:civil

#5252 CIV-16376 - Special characters cannot be inputted for email addresses - contact information
  ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
Labels: data-changes, ns:civil, prd:civil

#5261 Gareth40343 patch 1
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-R2-CUI-nonprod.json
  ccd-definition/ComplexTypes/GAHearingDetailsGAspec.json
  e2e/api/steps.js
Labels: data-changes

#5256 DTSCCI-1311 Create Step Methods For Notify Claim Event
  playwright-e2e/base/base-exui-steps.ts
  playwright-e2e/base/base-page.ts
  playwright-e2e/base/base-request.ts
  playwright-e2e/pages/exui/fragments/certificate-of-service-submit/certificate-of-service-submit-fragment.ts
  playwright-e2e/pages/exui/fragments/certificate-of-service/certificate-of-service-content.ts
  playwright-e2e/pages/exui/fragments/certificate-of-service/certificate-of-service-fragment.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/notify-claim-details-cos-defendant-1/notify-claim-details-cos-defendant-1-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/notify-claim-cos-confirm/notify-claim-cos-confirm-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/unspec/further-information/further-information-content.ts
  playwright-e2e/steps/ui/exui/solicitor-events/notify-claim-details-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/notify-claim-steps.ts
Labels: ns:civil, prd:civil

#5209 CIV-15753 Judgment by Admission - modify Submission screen
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
  ccd-definition/CaseEvent/User/UserEvents-JO-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-CUI-prod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-CUI.json
  ccd-definition/CaseField/CaseField-JO-nonprod.json
Labels: ns:civil, prd:civil

#5259 CIV-16235 - UI Automation - Judge upload order
  e2e/fragments/dq/fixedRecoverableCosts.page.js
  e2e/fragments/dq/hearing.page.js
  e2e/fragments/dq/requestedCourt.page.js
  e2e/helpers/party.js
  e2e/pages/respondToDefence/uploadResponseDocument.page.js
  e2e/steps_file.js
  e2e/tests/ui_tests/minti/spec_minti_LRResponse_test.js
Labels: ns:civil, prd:civil, Testing

#5277 CIV-0000 Move olddjscreen field to base file
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-FixedCosts-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-FixedCosts.json
  ccd-definition/CaseField/CaseFieldLRspec-FixedCosts-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-FixedCosts.json
Labels: ns:civil, prd:civil

#5267 CIV-16429 - LIP_CLAIM_SETTLED WA Uplift
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil

#5281 DTSCCI-949 Reinstate civil service image to latest
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil

#5282 DTSCCI-000 Enable Spec DJ Tests in Prod
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v1_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v2_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_2v1_test.js
  e2e/tests/ui_tests/default_judgement/1v1specDJ_test.js
  e2e/tests/ui_tests/default_judgement/1v2specDJ_test.js
Labels: ns:civil, prd:civil

#5258 CIV-16434 HMC NRO fix
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-HMC-NRO-nonprod.json
  ccd-definition/CaseField/CaseField-CUI.json
  ccd-definition/CaseField/CaseField.json
  e2e/api/steps.js
Labels: data-changes, ns:civil, prd:civil

#5290 DTSCCI-000 Fix Playwright Base Page
  playwright-e2e/base/base-page.ts
  playwright-e2e/pages/exui/fragments/date/date-fragment.ts
Labels: ns:civil, prd:civil

#5271 DTSCCI-1468 - Create Page Objects For New Mediation Screens
  playwright-e2e/constants/partys.ts
  playwright-e2e/helpers/case-data-helper.ts
  playwright-e2e/models/partys.ts
  playwright-e2e/pages/exui/fragments/date/date-fragment.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/claim-timeline/claim-timeline-content.ts
  playwright-e2e/pages/exui/solicitor-events/create-claim/lr-spec/claim-timeline/claim-timeline-page.ts
  playwright-e2e/pages/exui/solicitor-events/inform-agreed-extension-date/lr-spec/extension-date-spec/extension-date-spec-content.ts
  playwright-e2e/pages/exui/solicitor-events/inform-agreed-extension-date/lr-spec/extension-date-spec/extension-date-spec-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/claimant-response/claimant-response-page-factory.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/defendant-response-page-factory.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/lr-spec/defence-route/defence-route-content.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/lr-spec/defence-route/defence-route-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/lr-spec/how-to-add-timeline-manual/how-to-add-timeline-manual-content.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/lr-spec/how-to-add-timeline-manual/how-to-add-timeline-manual-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/lr-spec/hearing-lr-spec/hearing-lr-spec-content.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/lr-spec/hearing-lr-spec/hearing-lr-spec-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/lr-spec/hearing-spec/hearing-spec-content.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/lr-spec/hearing-spec/hearing-spec-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/lr-spec/small-claim-hearing/small-claim-hearing-content.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/lr-spec/small-claim-hearing/small-claim-hearing-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/unspec/hearing/hearing-content.ts
  playwright-e2e/pages/exui/solicitor-events/response/directions-questionaire/unspec/hearing/hearing-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/mediation/mediation-availability/mediation-availability-content.ts
  playwright-e2e/pages/exui/solicitor-events/response/mediation/mediation-availability/mediation-availability-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/mediation/mediation-contact-information/mediation-contact-information-content.ts
  playwright-e2e/pages/exui/solicitor-events/response/mediation/mediation-contact-information/mediation-contact-information-page.ts
Labels: ns:civil, prd:civil

#5291 DTSCCI-1444 adding stiching to preview
  Jenkinsfile_CNP
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.preview.template.yaml
  charts/civil-ccd/values.yaml
Labels: data-changes, ns:civil, prd:civil

#5296 DTSCCI-1444 test aat fix
  charts/civil-ccd/values.aat.template.yaml
Labels: ns:civil, prd:civil

#5273 CIV-16311 HMC NRO Release
  ccd-definition/CaseEventToFields/FinalOrders-MINTI-nonprod.json
  ccd-definition/CaseEventToFields/FinalOrders-MINTI-prod.json
  ccd-definition/CaseEventToFields/ManageStay-caseworkerEvents-nonprod.json
  ccd-definition/CaseEventToFields/SettleClaimPaidInFull-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/ValidateDiscontinue-SettleDiscontinue-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-HMC-NRO-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-HMC-NRO.json
Labels: ns:civil, prd:civil

#5176 DTSCCI-1278 Create Page Objects and Content for Acknowledge Claim
  playwright-e2e/pages/exui/solicitor-events/acknowledge-claim/acknowledge-claim-page-factory.ts
  playwright-e2e/pages/exui/solicitor-events/acknowledge-claim/unspec/confirm-acknowledge-claim/confirm-acknowledge-claim-content.ts
  playwright-e2e/pages/exui/solicitor-events/acknowledge-claim/unspec/confirm-acknowledge-claim/confirm-acknowledge-claim-page.ts
  playwright-e2e/pages/exui/solicitor-events/acknowledge-claim/unspec/confirm-name-and-address/confirm-name-and-address-1v2-page.ts
  playwright-e2e/pages/exui/solicitor-events/acknowledge-claim/unspec/confirm-name-and-address/confirm-name-and-address-content.ts
  playwright-e2e/pages/exui/solicitor-events/acknowledge-claim/unspec/confirm-name-and-address/confirm-name-and-address-page.ts
  playwright-e2e/pages/exui/solicitor-events/acknowledge-claim/unspec/response-intention/response-intention-1v2SS-page.ts
  playwright-e2e/pages/exui/solicitor-events/acknowledge-claim/unspec/response-intention/response-intention-2v1-page.ts
  playwright-e2e/pages/exui/solicitor-events/acknowledge-claim/unspec/response-intention/response-intention-content.ts
  playwright-e2e/pages/exui/solicitor-events/acknowledge-claim/unspec/response-intention/response-intention-page.ts
  playwright-e2e/pages/exui/solicitor-events/acknowledge-claim/unspec/solicitor-references-acknowledge-claim/solicitor-references-acknowledge-claim-content.ts
  playwright-e2e/pages/exui/solicitor-events/acknowledge-claim/unspec/solicitor-references-acknowledge-claim/solicitor-references-acknowledge-claim-page.ts
  playwright-e2e/pages/exui/solicitor-events/acknowledge-claim/unspec/submit-acknowledge-claim/submit-acknowledge-claim-page.ts
  playwright-e2e/pages/exui/solicitor-events/inform-agreed-extension-date/lr-spec/confirm-inform-agreed-extension-date-spec/confirm-inform-agreed-extension-date-spec-page.ts
  playwright-e2e/pages/exui/solicitor-events/inform-agreed-extension-date/lr-spec/extension-date-spec/extension-date-spec-page.ts
  playwright-e2e/pages/exui/solicitor-events/inform-agreed-extension-date/unspec/extension-date/extension-date-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/defendant-response-page-factory.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/unspec/respondent-response-type/respondent-response-type-1v2SS-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/unspec/respondent-response-type/respondent-response-type-2v1-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/unspec/respondent-response-type/respondent-response-type-content.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/unspec/respondent-response-type/respondent-response-type-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/unspec/solicitor-references-defendant-response/solicitor-references-defendant-response-content.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/unspec/solicitor-references-defendant-response/solicitor-references-defendant-response-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/unspec/solicitor-references/solicitor-references-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/mediation/mediation-availability/mediation-availability-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/mediation/mediation-contact-information/mediation-contact-information-page.ts
  playwright-e2e/playwright-fixtures/ui/page-factory-fixtures.ts
  playwright-e2e/steps/ui/exui/solicitor-events/acknowledge-claim-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/defendant-response/lr-spec/mediation-availability/mediation-availability-content.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5176

#5288 DTSCCI-1313 Create Step Methods For Notify Claim Details Event
  playwright-e2e/base/base-api-steps.ts
  playwright-e2e/pages/exui/fragments/certificate-of-service-notify-claim-details-submit/certificate-of-service-notify-claim-details-submit-content.ts
  playwright-e2e/pages/exui/fragments/certificate-of-service-notify-claim-details-submit/certificate-of-service-notify-claim-details-submit-fragment.ts
  playwright-e2e/pages/exui/fragments/certificate-of-service-notify-claim-details/certificate-of-service-notify-claim-details-content.ts
  playwright-e2e/pages/exui/fragments/certificate-of-service-notify-claim-details/certificate-of-service-notify-claim-details-fragment.ts
  playwright-e2e/pages/exui/fragments/certificate-of-service-notify-claim/certificate-of-service-notify-claim-content.ts
  playwright-e2e/pages/exui/fragments/certificate-of-service-notify-claim/certificate-of-service-notify-claim-fragment.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/certificate-of-service-1-notify-claim-details/certificate-of-service-1-notify-claim-details-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/certificate-of-service-2-notify-claim-details/certificate-of-service-2-notify-claim-details-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/confirm-notify-claim-details/confirm-notify-claim-details-cos-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/notify-claim-details-page-factory.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/select-defendant-solicitor/select-defendant-solicitor-content.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/submit-notify-claim-details/submit-notify-claim-details-content.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/submit-notify-claim-details/submit-notify-claim-details-cos-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/submit-notify-claim-details/submit-notify-claim-details-lip-lr-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/submit-notify-claim-details/submit-notify-claim-details-lip-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim-details/submit-notify-claim-details/submit-notify-claim-details-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/certificate-of-service-1-notify-claim/certificate-of-service-1-notify-claim-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/certificate-of-service-2-notify-claim/certificate-of-service-2-notify-claim-page.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/notify-claim-page-factory.ts
  playwright-e2e/pages/exui/solicitor-events/notify-claim/submit-notify-claim/submit-notify-claim-cos-page.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/lr-spec/respondent-response-type-spec/respondent-response-type-spec-content.ts
  playwright-e2e/pages/exui/solicitor-events/response/defendant-response/lr-spec/upload-defendant-response-spec/upload-defendant-response-spec-content.ts
  playwright-e2e/steps/ui/exui/solicitor-events/notify-claim-details-steps.ts
  playwright-e2e/steps/ui/exui/solicitor-events/notify-claim-steps.ts
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-5288

#5231 CIV-16322 added new event to notify caseworker to take case offline
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-caseworkerEvents-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEventsGASpec.json
  ccd-definition/CaseEventToFields/TriggerAndUpdateLocation-GA-nonprod.json
  ccd-definition/CaseEventToFields/TriggerTaskReconfig-GA-nonprod.json
  ccd-definition/CaseField/CaseField-caseworkerEvents-nonprod.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-5231
