Repository hmcts/civil-ccd-definition, pull requests merged in 2025-06, with the labels that each got.

#5775 CIV-17244 Moved UI and API QM tests
  e2e/pages/queriesTab.page.js
  e2e/tests/api_tests/damages/api_1v2_same_solicitor_test.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_test.js
  e2e/tests/ui_tests/query_management/qm_Hearing_spec_LR_test.js
  e2e/tests/ui_tests/query_management/qm_followUp__spec_LR_test.js
  e2e/tests/ui_tests/query_management/qm_nonHearing_spec_LR_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5775

#5668 DTSCCI-2075 add no remission hwf event to condition
  ccd-definition/CaseEvent/User/UserEvents-HWF-R2-CUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5668

#5765 DTSCCI-2243 Remove Run All Tests When There Are No Failed Tests
  codecept.conf.js
  e2e/run-functional-tests.sh
  package.json
  playwright-e2e/steps/ui/exui/claimant-solicitor-steps.ts
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-ccd-pr-5765

#5745 CIV-16875 - Manual Hearing Notice - Delay notifications and visibility of document after translation uploaded (includes show element)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-CUI-Welsh-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-Welsh-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-CUI-Welsh-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-Hearing.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-Welsh-nonprod.json
  ccd-definition/FixedLists/WelshEnhancements/DocumentType-nonprod.json
  ccd-definition/FixedLists/WelshEnhancements/PreTranslationDocumentType-nonprod.json
  ccd-definition/FixedLists/WelshEnhancements/TranslatedDocumentType-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5745

#5774 CIV-17147 part admit
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-LRA-Bulk-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-reader-LRA-Bulk-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-LRA-Bulk-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI.json
  ccd-definition/CaseField/CaseFieldLRspec-LRA-Bulk-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5774, civilServicePr-6555

#5734 CIV-17143 - Part Admit Repayment plan info
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-LRA-Bulk-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-reader-LRA-Bulk-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-reader-LRA-Bulk-prod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-reader.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-LRA-Bulk-prod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec-LRA-Bulk-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-LRA-Bulk-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-LRA-Bulk-prod.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5734

#5789 DTSCCI-2265 update chart to use oci endpoint
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5789

#5796 DTSCCI-2074 Update state of dj event
  ccd-definition/CaseEvent/User/UserEventsDJ.json
  e2e/api/steps.js
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5796

#5799 DTSCCI-2074 revert Update state of dj event
  ccd-definition/CaseEvent/User/UserEventsDJ.json
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5799

#5623 DTSCCI-1844 Playwright Create Tests For LIP Journeys Unspec
  playwright-e2e/actions/ui/exui/claimant-solicitor/create-claim/create-claim-actions.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/defendant/defendant-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/create-claim-page-factory.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/confirm-create-claim-LIP/confirm-create-claim-LIP-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/confirm-create-claim-LIP/confirm-create-claim-LIP-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/unspec/second-defendant-legal-representation/second-defendant-legal-representation-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/notify-claim/confirm-notify-claim/confirm-notify-claim-cos-page.ts
  playwright-e2e/steps/ui/exui/claimant-solicitor-steps.ts
  playwright-e2e/tests/unspec/small-track-1v2LIPs.spec.ts
  playwright-e2e/tests/unspec/small-track-1v2LRLIP.spec.ts
  playwright-e2e/tests/unspec/small-track-1vLIP.spec.ts
Labels: ns:civil, prd:civil, stale, runFailedTestFiles, rel:civil-ccd-pr-5623

#5700 CIV-17095 move claimInterest
  ccd-definition/CaseField/CaseFieldLRspec-CUI-LRA-Bulk-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-CUI-LRA-Bulk-prod.json
  ccd-definition/CaseField/CaseFieldLRspec-CUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5700, runFailedTestFiles, civilservicePr:6512

#5800 DTSCCI-2041 fix incorrect state permission
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-CUI-CP.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-settleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, pr-values:elasticsearch, rel:civil-ccd-pr-5800

#5792 CIV-17261 Request JBA event - fixed costs at judgment
  ccd-definition/CaseEventToFields/RequestJudgementByAdmissionLRspec-CUI-LRA-Bulk-nonprod.json
  ccd-definition/CaseEventToFields/RequestJudgementByAdmissionLRspec-CUI-LRA-Bulk-prod.json
  ccd-definition/CaseEventToFields/RequestJudgementByAdmissionLRspec-CUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5792, civilServicePr:6612

#5790 CIV-17260 - claimant response hide fixedcosts
  ccd-definition/CaseEventToFields/ClaimantResponseLRSpec-LRA-Bulk-nonprod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRSpec-LRA-Bulk-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI.json
Labels: ns:civil, prd:civil, civilServicePr:6608, rel:civil-ccd-pr-5790

#5818 DTSCCI-000 Playwright Fix Tests
  playwright-e2e/actions/ui/exui/claimant-solicitor/create-claim/create-claim-spec-actions.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/create-claim-page-factory.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/confirm-create-claim-spec/confirm-create-claim-spec-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/confirm-create-claim-spec/confirm-create-claim-spec-page.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5818

#5820 DTSCCI-1870 nightlies fix
  bin/variables/load-dev-user-preview-environment-variables.sh
  e2e/api/steps.js
  e2e/config.js
  e2e/fixtures/events/defendantResponseSpec1v2Fast.js
  e2e/fixtures/events/defendantResponseSpec2v1Fast.js
  e2e/tests/api_tests/damages/api_1v2_different_solicitor_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5820

#5806 CIV-17235 move S&D to prod
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-SettleDiscontinue.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-SettleDiscontinue.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-reader-SettleDiscontinue.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-settleDiscontinue.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-shuttered.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-SettleDiscontinue.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-SettleDiscontinue.json
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue.json
  ccd-definition/CaseEventToFields/DiscontinueClaim-SettleDiscontinue.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle-SettleDiscontinue.json
  ccd-definition/CaseEventToFields/SettleClaim-SettleDiscontinue.json
  ccd-definition/CaseEventToFields/SettleClaimPaidInFull-SettleDiscontinue.json
  ccd-definition/CaseEventToFields/ValidateDiscontinue-SettleDiscontinue.json
  ccd-definition/CaseField/CaseField-SettleDiscontinue.json
  ccd-definition/CaseTypeTab/Summary-Settle-Discontinue.json
  ccd-definition/Categories/Categories-SettleDiscontinue.json
  ccd-definition/ComplexTypes/DiscontinueClaimClaimant-PermissionGranted.json
  ccd-definition/FixedLists/DocumentType-SettleDiscountinue.json
  ccd-definition/FixedLists/MarkClaimPaidConsent-SettleDiscontinue.json
  ccd-definition/FixedLists/SettleDiscontinue/ConfirmOrderGivesPermissionList.json
  ccd-definition/FixedLists/SettleDiscontinue/SettleDiscontinueYesOrNoList.json
  ccd-definition/FixedLists/SettleReason-SettleDiscontinue.json
Labels: data-changes, ns:civil, prd:civil, runFailedTestFiles, rel:civil-ccd-pr-5806

#5811 CIV-17132 added changes to defendant response for lip vs lr
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-WelshEnhancements-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-CUI.json
  ccd-definition/CaseEvent/User/UserEvents-SDO.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-Welsh-nonprod.json
  ccd-definition/CaseField/CaseField-WelshEnhancements-nonprod.json
  ccd-definition/FixedLists/WelshEnhancements/PreTranslationDocumentType-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5811

#5831 DTSCCI-2086 swtich from jitpack config
  .github/workflows/ado_artifacts_build.yml
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5831

#5832 DTSCCI-2345 - disable service bus
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-ccd-pr-5832

#5828 CIV-0000 SD api tests to nightly prod
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_discontinue_claim_test.js
  e2e/tests/api_tests/settle-discontinue/api_settle_discontinue_claim_2v1_spec_test.js
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-ccd-pr-5828

#5823 CIV-17179 Added notification on judge screen for translation
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-WelshEnhancements-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-cui-welsh-nonprod.json
  ccd-definition/CaseEventToFields/CreateSDO-SDO-prod.json
  ccd-definition/CaseEventToFields/DecisionOnReconsiderationRequest-SDO-R2-cui-welsh-nonprod.json
  ccd-definition/CaseEventToFields/DecisionOnReconsiderationRequest-SDO-R2-prod.json
  ccd-definition/CaseEventToFields/FinalOrders-MINTI-cui-welsh-nonprod.json
  ccd-definition/CaseEventToFields/FinalOrders-MINTI-prod.json
  ccd-definition/CaseEventToFields/SendAndReply-caseWorkerEvents-cui-welsh-nonprod.json
  ccd-definition/CaseEventToFields/SendAndReply-caseWorkerEvents-prod.json
  ccd-definition/CaseField/CaseField-WelshEnhancements-nonprod.json
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-ccd-pr-5823

#5830 DTSCCI-2334 Make Run Failed Tests Permanent In PR And Master
  Jenkinsfile_CNP
  e2e/run-functional-tests.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5830

#5654 DTSCCI-1655 Playwright Add Defect Categories to Allure Report
  Jenkinsfile_nightly
  playwright-categories.json
  playwright-e2e/steps/ui/exui/defendant-solicitor-1-steps.ts
  playwright-e2e/steps/ui/exui/defendant-solicitor-2-steps.ts
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-5654
