Repository hmcts/civil-ccd-definition, pull requests merged in 2025-05, with the labels that each got.

#5631 CIV-16854 - Amend existing Translation WA tasks to direct to WLU (Main Case)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-CUI-Welsh-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-Welsh-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-CUI-Welsh-nonprod.json
  ccd-definition/AuthorisationCaseType/AuthorisationCaseType-unshuttered.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-CUI-Welsh-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5631

#5651 CIV-16888 - Work allocation for english to welsh responses
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-Welsh-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5651

#5648 CIV-17073 LR Admission spelling error in claimant response screen
  ccd-definition/CaseField/CaseFieldLRspec-CUI.json
Labels: ns:civil, prd:civil, pr-values:elasticsearch, rel:civil-ccd-pr-5648

#5660 CIV-17066 - move AHN cui to prod
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvents-AHN-R2-CUI.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-AHN-CUI.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-AHN-CUI.json
  ccd-definition/CaseField/CaseField-AHN-CUI.json
  ccd-definition/CaseTypeTab/DocumentsHearingWelsh-AHN-CUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5660

#5701 CIV-17066 unshutter prod
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5701

#5685 CIV-17114 - add text to part admit payment options
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-LRA-Bulk-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-reader-LRA-Bulk-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec-LRA-Bulk-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec-LRA-Bulk-prod.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec-LRA-Bulk-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5685

#5675 CIV-16889 hide documents translation in progress
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-Welsh-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-WelshEnhancements-nonprod.json
  ccd-definition/CaseField/CaseField-WelshEnhancements-nonprod.json
  ccd-definition/CaseTypeTab/Documents-CUI-Welsh-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5675

#5680 CIV-16980 Defendant Lip statement of truth
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-reader.json
  ccd-definition/CaseField/CaseField-CUI.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-5680

#5706 DTSCCI-000 Remove Playwright Package
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5706

#5682 CIV-16861 Translation of interlocutory judgment
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-CUI-Welsh-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-WelshEnhancements-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-R2-CUI.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-Welsh-nonprod.json
  ccd-definition/CaseField/CaseField-WelshEnhancements-nonprod.json
  ccd-definition/FixedLists/WelshEnhancements/DocumentType-nonprod.json
  ccd-definition/FixedLists/WelshEnhancements/PreTranslationDocumentType-nonprod.json
  ccd-definition/FixedLists/WelshEnhancements/TranslatedDocumentType-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5682

#5686 CIV-16867 - Delay notifications and visibility of Manual Determination document (includes show element)
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-CUI-Welsh-nonprod.json
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-CUI-Welsh-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-R2-CUI.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-Welsh-nonprod.json
  ccd-definition/FixedLists/WelshEnhancements/DocumentType-nonprod.json
  ccd-definition/FixedLists/WelshEnhancements/PreTranslationDocumentType-nonprod.json
  ccd-definition/FixedLists/WelshEnhancements/TranslatedDocumentType-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5686

#5711 CIV-16858 Move fixed list item to nonprod file
  ccd-definition/CaseField/CaseField-SettleDiscontinue-nonprod.json
  ccd-definition/FixedLists/DiscontinuanceTypeList-DiscontinueClaim.json
  ccd-definition/FixedLists/WelshEnhancements/DiscontinuanceTypeList-DiscontinueClaim-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5711

#5703 DTSCCI-2164 Implement Way to Retry Failed Tests on Civil-CCD-Def Nightly Pipeline
  Jenkinsfile_nightly
  codecept.conf.js
  e2e/config.js
  e2e/plugins/failedTestFilesPlugin.js
  e2e/run-full-functional-tests.sh
  package.json
  playwright-e2e/pages/exui/claimant-defendant-solicitor/notify-claim-details/confirm-notify-claim-details/confirm-notify-claim-details-page.ts
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5703

#5679 CIV-17123 QM NBC Auths
  bin/add-org-roles-to-users.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-QueryManagement-nonprod.json
  ccd-definition/AuthorisationCaseField/QueryManagement-LIP-nonprod.json
  ccd-definition/AuthorisationCaseField/QueryManagement-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5679

#5699 CIV-0000 - Fix QM Defendant 2 collection auths
  ccd-definition/AuthorisationComplexType/QueryCollections-QueryManagement-nonprod.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5699

#5664 CIV-17075 - Full admission claim amount + interest
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-LRA-Bulk-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec-LRA-Bulk-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseLrSpec-LRA-Bulk-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-LRA-Bulk-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-LRA-Bulk-prod.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, civilServicePr:6476, rel:civil-ccd-pr-5664

#5715 DTSCCI-1959 2 Add Not Executed Test Files To Re-Run Failed Tests
  Jenkinsfile_nightly
  codecept.conf.js
  e2e/config.js
  e2e/plugins/failedAndNotExecutedTestFilesPlugin.js
  e2e/plugins/failedTestFilesPlugin.js
  e2e/run-full-functional-tests.sh
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5715

#5538 DTSCCI-1074 - Document Removal Implementation - minor modifications
  bin/add-org-roles-to-users.sh
  ccd-definition/CaseEvent/User/UserEvents-documentRemoval.json
  ccd-definition/CaseEventToComplexTypes/DocumentRemoval.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/ComplexTypes/DocumentRemoval-nonprod.json
  ccd-definition/ComplexTypes/DocumentRemoval.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
  charts/civil-ccd/values.preview.template.yaml
Labels: data-changes, ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, civilServicePr-6327, rel:civil-ccd-pr-5538

#5696 CIV-16865 Hide/unhide settlement agreement
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-CUI-Welsh-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-R2-CUI.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-Welsh-nonprod.json
  ccd-definition/FixedLists/WelshEnhancements/DocumentType-nonprod.json
  ccd-definition/FixedLists/WelshEnhancements/TranslatedDocumentType-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5696

#5496 DTSCCI-1700 migrate case location epim id
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5496

#5725 DTSCCI-000 Fix Playwright Tests And Reduce WaitForFinishedBusinessProcess Attempts
  e2e/api/testingSupport.js
  playwright-e2e/base/base-page.ts
  playwright-e2e/config/config.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/respondent-checklist/respondent-checklist-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/respondent-checklist/respondent-checklist-page.ts
  playwright-e2e/pages/exui/exui-dashboard/case-details/case-details-page.ts
  playwright-e2e/requests/civil-service-requests.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5725

#5705 CIV-17104 LR Part Admit Def Response admission amount screen
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-LRA-Bulk-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-reader-LRA-Bulk-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec-LRA-Bulk-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec-LRA-Bulk-prod.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec-LRA-Bulk-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-LRA-Bulk-prod.json
  ccd-definition/CaseField/CaseFieldLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5705

#5730 CIV-16857 Give WLU access to CASE_PROGRESSION state
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-CUI-Welsh-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5730

#5670 CIV-17079 lR FA Def Response - repayment plan options screen
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-LRA-Bulk-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-reader-LRA-Bulk-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec-LRA-Bulk-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec-LRA-Bulk-prod.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/CaseField/CaseFieldLRspec-LRA-Bulk-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5670

#5739 DTSCCI-2235 Reconfigure Run Failed And Not Executed Test Files For Civil Service
  Jenkinsfile_nightly
  codecept.conf.js
  e2e/plugins/failedAndNotExecutedTestFilesPlugin.js
  e2e/run-full-functional-tests.sh
  package.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5739

#5723 CIV-17063 - Audit History reflective of translation process - Welsh
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-WelshEnhancements-nonprod.json
  ccd-definition/CaseField/CaseField-WelshEnhancements-nonprod.json
  ccd-definition/CaseTypeTab/ClaimDetails-WelshEnhancements-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5723

#5714 CIV-17167 - Fix Query Document Message Dates
  e2e/tests/api_tests/damages/api_1v1_test.js
  e2e/tests/api_tests/damages/api_1v2_same_solicitor_test.js
  e2e/tests/api_tests/damages/api_2v1_test.js
  e2e/tests/api_tests/damages/api_noc_unspec_test.js
  e2e/tests/api_tests/hearings/api_1v2DS_unspec_fast_hearings_test.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5714

#5738 CIV-17202 Add court permission required screen for 2v1
  ccd-definition/CaseEventToFields/DiscontinueClaim-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5738

#5737 CIV-16880 Translation of court officer order
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-CUI-Welsh-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-WelshEnhancements-nonprod.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-Welsh-nonprod.json
  ccd-definition/CaseField/CaseField-WelshEnhancements-nonprod.json
  ccd-definition/FixedLists/WelshEnhancements/DocumentType-nonprod.json
  ccd-definition/FixedLists/WelshEnhancements/TranslatedDocumentType-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5737

#5762 DTSCCI-000 Fix Playwright Tests
  playwright-e2e/requests/civil-service-requests.ts
  playwright-e2e/steps/ui/exui/claimant-solicitor-steps.ts
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-ccd-pr-5762
