Repository hmcts/civil-ccd-definition, pull requests merged in 2025-07, with the labels that each got.

#5839 CIV-17323 - changed confirmation ticket cosc
  ccd-definition/ComplexTypes/JudgmentOnline/JudgmentPaidInFull-JO-nonprod.json
  ccd-definition/FixedLists/JudgmentOnline/JudgementPaidInFullConfirmation-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5839

#5857 CIV-17396 - Request judgment by admission claim interest
  ccd-definition/CaseEventToFields/RequestJudgementByAdmissionLRspec-CUI-LRA-Bulk-nonprod.json
  ccd-definition/CaseEventToFields/RequestJudgementByAdmissionLRspec-CUI-LRA-Bulk-prod.json
  ccd-definition/CaseEventToFields/RequestJudgementByAdmissionLRspec-CUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5857

#5849 CIV-17362 - Part Admit Pay Immediately Notifications
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5849

#5853 CIV-17388 Fixed costs update in judgment output
  ccd-definition/CaseEventToFields/ClaimantResponseLRSpec-LRA-Bulk-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5853

#5876 DTSCCI-2439 Update permissions to view awaiting def response state
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-LipVsLr-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec-R2-CUI.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventLRspec.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5876

#5872 DTSCCI-2419 - Fix Civil Service Nightly Failures
  e2e/api/steps.js
  e2e/api/steps_LRspec.js
  e2e/fixtures/ccd/events.js
  e2e/fixtures/ccd/expectedEvents.js
  e2e/fixtures/events/createClaim.js
  e2e/pages/caseView.page.js
  e2e/pages/hearing/cancelHearing.page.js
  e2e/pages/hearing/updateHearing.page.js
  e2e/steps_file.js
  e2e/tests/api_tests/caseworkerEvents/api_caseworker_test.js
  e2e/tests/api_tests/damages/api_1v1_test.js
  e2e/tests/api_tests/lrspec_cui/api_1v1_spec_cui_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5872

#5869 CIV-17409 Translation in progress message not shown where LR is involved
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-WelshEnhancements-nonprod.json
  ccd-definition/CaseTypeTab/ClaimDetails-WelshEnhancements-nonprod.json
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-ccd-pr-5869

#5890 DTSCCI-000 Fix Flaky Nightly Test
  e2e/tests/ui_tests/query_management/qm_nonHearing_spec_LR_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5890

#5888 CIV-17454 - fix page order
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-CUI-Welsh-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5888

#5815 DTSCCI-2074 New event to generate WA task for summary judgement directions
  ccd-definition/AuthorisationCaseEvent/systemUpdateDJ.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsDJ.json
  ccd-definition/CaseEventToFields/FeatureToggle-WAToggle.json
  ccd-definition/CaseEventToFields/WorkAllocationIntegrationFields-SDO.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5815

#5893 CIV-17360 - Extra fields as strings to display formatted decimals for them
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-LRA-Bulk-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec-LRA-Bulk-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseLrSpec-LRA-Bulk-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-LRA-Bulk-nonprod.json
  ccd-definition/ComplexTypes/RespondToClaimDefenceLRspec-LRA-Bulk-nonprod.json
Labels: data-changes, ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5893, civilServicePr:6811

#5898 CIV-17460 Part Admit pay immediately - Static text updates
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-LRA-Bulk-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-reader-LRA-Bulk-nonprod.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec-LRA-Bulk-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-CUI-LRA-Bulk-nonprod.json
  ccd-definition/CaseField/CaseFieldLRspec-LRA-Bulk-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5898

#5916 CIV-17506 LR Admission release preparations
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-FixedCosts.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-LRA-Bulk.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-reader-LRA-Bulk-prod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-reader-LRA-Bulk.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-CUI.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldLRspec-LRA-Bulk-prod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-LRA-Bulk-prod.json
  ccd-definition/CaseEventToComplexTypes/DefendantResponseLRspec-LRA-Bulk.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRSpec-LRA-Bulk-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRSpec-LRA-Bulk.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-LRA-Bulk-prod.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-LRA-Bulk.json
  ccd-definition/CaseEventToFields/ClaimantResponseLRspec-CUI-prod.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec-LRA-Bulk-prod.json
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec-LRA-Bulk.json
  ccd-definition/CaseEventToFields/DefendantResponseLRspec-LRA-Bulk-prod.json
  ccd-definition/CaseEventToFields/DefendantResponseLrSpec-LRA-Bulk.json
  ccd-definition/CaseEventToFields/RequestJudgementByAdmissionLRspec-CUI-LRA-Bulk-prod.json
  ccd-definition/CaseEventToFields/RequestJudgementByAdmissionLRspec-CUI-LRA-Bulk.json
  ccd-definition/CaseField/CaseFieldLRspec-CUI-LRA-Bulk-prod.json
  ccd-definition/CaseField/CaseFieldLRspec-CUI-LRA-Bulk.json
  ccd-definition/CaseField/CaseFieldLRspec-LRA-Bulk-prod.json
  ccd-definition/CaseField/CaseFieldLRspec-LRA-Bulk.json
  ccd-definition/ComplexTypes/RespondToClaimDefenceLRspec-LRA-Bulk.json
  ccd-definition/ComplexTypes/RespondToClaimDefenceLRspec-prod.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-5916

#5909 CIV-17437 Event for removing DJ notification
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-WelshEnhancements-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-WelshEnhancements-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5909

#5912 CIV-17438 modified show event notes for the claimant response spec
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-CUI-Welsh-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsLRspec-CUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5912

#5913 CIV-17498 No location shown
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-WelshEnhancements-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5913

#5933 DTSCCI-2515 Respondent LR should also have access to decision outcome state
  ccd-definition/AuthorisationCaseState/AuthorisationCaseState-CUI-CP.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5933
