Repository hmcts/civil-ccd-definition, pull requests merged in 2025-03, with the labels that each got.

#5436 DTSCCI-1377 Fix issue CITIZEN_CLAIM_ISSUE_PAYMENT getting invoke after claim issue
  ccd-definition/CaseEvent/User/UserEventsCUI.json
Labels: ns:civil, prd:civil, stale, pr-values:elasticsearch, enable_keep_helm, rel:civil-ccd-pr-5436

#5443 CIV-15988 full admit for lrs
  ccd-definition/CaseEventToFields/DefendantResponseAdmitPartLRspec.json
  ccd-definition/FixedLists/ShowConditionFlagSpec-nonprod.json
  ccd-definition/FixedLists/ShowConditionFlagSpec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5443

#5471 DTSCCI-1691 bump deprecated service bus chart
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5471

#5460 DTSCCI-1627 Playwright MVP Clean Up Refactor code for Create Claim Actions and Steps
  playwright-e2e/actions/ui/exui/claimant-solicitor/create-claim/create-claim-actions.ts
  playwright-e2e/actions/ui/exui/claimant-solicitor/create-claim/create-claim-spec-actions.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/acknowledge-claim/unspec/confirm-acknowledge-claim/confirm-acknowledge-claim-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/acknowledge-claim/unspec/confirm-name-and-address/confirm-name-and-address-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/acknowledge-claim/unspec/response-intention/response-intention-page.ts
  playwright-e2e/steps/ui/exui/claimant-solicitor-spec-steps.ts
  playwright-e2e/steps/ui/exui/claimant-solicitor-steps.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5460

#5449 CIV-16409 defendant lip noc and claimant intention
  ccd-definition/CaseEvent/User/UserEvents-R2-CUI.json
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-5449

#5417 CIV-16534 Respond to query LR email notification
  ccd-definition/AuthorisationCaseEvent/systemUpdate-QueryManagement-nonprod.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-QueryManagement-nonprod.json
  ccd-definition/CaseEvent/User/QueryManagement-nonprod.json
  playwright-e2e/actions/ui/exui/claimant-solicitor/create-claim/create-claim-actions.ts
  playwright-e2e/actions/ui/exui/claimant-solicitor/create-claim/create-claim-spec-actions.ts
  playwright-e2e/steps/ui/exui/claimant-solicitor-spec-steps.ts
  playwright-e2e/steps/ui/exui/claimant-solicitor-steps.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5417

#5166 DTSCCI-1186 Create Page Objects and Content for Standard Directions Order
  playwright-e2e/actions/ui/exui/judge/judge-actions-factory.ts
  playwright-e2e/actions/ui/exui/judge/standard-directions-order-actions.ts
  playwright-e2e/base/base-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/acknowledge-claim/acknowledge-claim-page-factory.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/acknowledge-claim/unspec/confirm-name-and-address/confirm-name-and-address-1v2-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/acknowledge-claim/unspec/confirm-name-and-address/confirm-name-and-address-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/add-another-claimant/add-another-claimant-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/add-another-claimant/add-another-claimant-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/create-claim-page-factory.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/claim-timeline/claim-timeline-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/defendant-response-page-factory.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/how-to-add-timeline-manual/how-to-add-timeline-manual-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/response-confirm-details/response-confirm-details-1v2-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/response-confirm-details/response-confirm-details-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/confirm-details/confirm-details-1v2-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/confirm-details/confirm-details-page.ts
  playwright-e2e/pages/exui/fragments/date/date-content.ts
  playwright-e2e/pages/exui/fragments/date/date-fragment.ts
  playwright-e2e/pages/exui/fragments/date/date-of-birth-fragment.ts
  playwright-e2e/pages/exui/fragments/party-type/party-type-individual-fragment.ts
  playwright-e2e/pages/exui/fragments/party-type/party-type-sole-trader-fragment.ts
  playwright-e2e/pages/exui/fragments/yes-or-no/yes-or-no-content.ts
  playwright-e2e/pages/exui/fragments/yes-or-no/yes-or-no-fragment.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/claims-track/claims-track-content.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/claims-track/claims-track-page.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/claims-track/claims-track-small-page.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/confirm-standard-directions-order/confirm-standard-directions-order-content.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/confirm-standard-directions-order/confirm-standard-directions-order-page.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/disposal-hearing/disposal-hearing-content.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/disposal-hearing/disposal-hearing-page.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/fast-track/fast-track-content.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/fast-track/fast-track-page.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/order-preview/order-preview-content.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/order-preview/order-preview-page.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/order-type/order-type-content.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/order-type/order-type-page.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/sdo-r2-fast-track/sdo-r2-fast-track-content.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/sdo-r2-fast-track/sdo-r2-fast-track-page.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/sdo-r2-small-claims/sdo-r2-small-claims-content.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/sdo-r2-small-claims/sdo-r2-small-claims-page.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/sdo/sdo-content.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/sdo/sdo-page.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/small-claims/small-claims-content.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/small-claims/small-claims-page.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/standard-directions-order-factory.ts
  playwright-e2e/pages/exui/judge-la/standard-directions-order/submit-standard-directions-order/submit-standard-directions-order-page.ts
Labels: ns:civil, prd:civil, stale, rel:civil-ccd-pr-5166

#5478 DTSCCI-1681 Playwright MVP PE Improve Assertions of Page Objects in Defendant Response
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/common/single-response-2v1/single-response-2v1-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/defendant-response-page-factory.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/defence-route/defence-route-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/how-to-add-timeline-upload/how-to-add-timeline-upload-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/how-to-add-timeline/how-to-add-timeline-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/mediation/mediation-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/respondent-response-type-2v1-spec/respondent-response-type-2v1-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/respondent-response-type-spec/respondent-response-type-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/response-confirm-details/response-confirm-details-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/response-confirm-name-address/response-confirm-name-address-1v2-fast-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/response-confirm-name-address/response-confirm-name-address-1v2-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/lr-spec/response-confirm-name-address/response-confirm-name-address-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/respondent-response-type/respondent-response-type-1v2SS-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/respondent-response-type/respondent-response-type-2v1-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/respondent-response-type/respondent-response-type-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/solicitor-references-defendant-response/solicitor-references-defendant-response-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/upload-defendant-response/upload-defendant-response-page.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5478

#5486 DTSCCI-0000 - respondToClaimAdmitPartLRspec CRUD Access
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-prod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5486

#5411 CIV-16544 Store query docs in CFV
  ccd-definition/CaseEvent/User/QueryManagement-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5411

#5498 DTSCCI-1699 fix assign events with wrong processing callback stage
  Jenkinsfile_CNP
  README.md
  ccd-definition/CaseEvent/Camunda/BusinessProcessEvents-R2-CUI.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEvents.json
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5498, civilServicePr:6215

#5210 DTSCCI-1074 Implementing Document Removal in Civil
  bin/add-org-roles-to-users.sh
  bin/add-roles.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-documentRemoval-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-documentRemoval-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
  ccd-definition/CaseEvent/User/UserEvents-documentRemoval.json
  ccd-definition/CaseEventToComplexTypes/DocumentRemoval.json
  ccd-definition/CaseEventToFields/DocumentRemoval.json
  ccd-definition/CaseField/CaseField.json
  ccd-definition/ComplexTypes/DocumentRemoval-nonprod.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: data-changes, ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, rel:civil-ccd-pr-5210

#5511 DTSCCI-1699 fix sup data
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-documentRemoval.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEvents.json
  ccd-definition/ComplexTypes/DocumentRemoval-nonprod.json
  ccd-definition/ComplexTypes/DocumentRemoval.json
Labels: data-changes, ns:civil, prd:civil, civilServicePr:6293, rel:civil-ccd-pr-5511

#5483 CIV-16236 - UI Automation Testing - MT/INT - Work Allocation
  e2e/api/steps_LRspec.js
  e2e/api/steps_LRspecCui.js
  e2e/config.js
  e2e/tests/api_tests/multiIntermediateTrack/api_intermediate_lrvlip_spec_test.js
  e2e/tests/api_tests/multiIntermediateTrack/api_intermediate_spec_test.js
  e2e/tests/api_tests/multiIntermediateTrack/api_multi_lrvlip_spec_test.js
  e2e/tests/api_tests/multiIntermediateTrack/api_multi_unspec_test.js
  wa/tasks/intermediateTrackOrderMadeReviewCaseTask.js
  wa/tasks/itermediateTrackDirectionsTask.js
  wa/tasks/multiTrackDirectionsTask.js
  wa/tasks/multiTrackOrderMadeReviewCaseTask.js
  wa/tasks/takeCaseOfflineTask.js
Labels: ns:civil, prd:civil, Testing, rel:civil-ccd-pr-5483

#5513 DTSCCI-1699 removing duplicate prod
  ccd-definition/CaseEvent/Camunda/BusinessProcessEvents.json
Labels: ns:civil, prd:civil, civilServicePr:6295, rel:civil-ccd-pr-5513

#5514 DTSCCI-1699 fix lip
  ccd-definition/CaseEvent/Camunda/BusinessProcessEvents-R2-CUI.json
Labels: ns:civil, prd:civil, civilServicePr:6297, rel:civil-ccd-pr-5514

#5509 CIV-16690 - add authorisations to non-divergent dj
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5509

#5504 CIV-16770 Paid in full date validation against date of the judgment
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5504

#5490 CIV-16219 settle claim - history tab
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5490

#5503 CIV-16744 ccd def for ga
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventGAspec-R2-CUI.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-GA-CUI.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-GA-CUI.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGAspec-R2-CUI.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-GA-CUI.json
  ccd-definition/CaseEventToFields/TriggerAndUpdateLocation-GA.json
  ccd-definition/CaseEventToFields/TriggerTaskReconfig-GA.json
  ccd-definition/CaseField/CaseFieldGAspec-GA-CUI.json
  ccd-definition/ComplexTypes/GeneralApplicationDetailsGAspec-GA-CUI.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec-GA-CUI.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-5503

#5440 CIV-16672 Update case states for GA
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-R2-CUI.json
  ccd-definition/CaseEvent/User/UserEventsGAspec-QueryManagement-nonprod.json
  ccd-definition/CaseEvent/User/UserEventsGAspec-QueryManagement-prod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5440

#5518 DTSCCI-1758 Create Step And Actions Methods For Default Judgment Event
  playwright-e2e/actions/ui/exui/claimant-solicitor/claimant-solcitor-actions-factory.ts
  playwright-e2e/actions/ui/exui/claimant-solicitor/default-judgment/default-judgment-actions.ts
  playwright-e2e/actions/ui/exui/claimant-solicitor/default-judgment/default-judgment-spec-actions.ts
  playwright-e2e/helpers/case-data-helper.ts
  playwright-e2e/pages/exui/caseworker/create-case-flags/create-case-flags-1/create-case-flags-1-content.ts
  playwright-e2e/pages/exui/caseworker/create-case-flags/create-case-flags-1/create-case-flags-1-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/claim-timeline-upload/claim-timeline-upload-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/lr-spec/details-spec/details-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/default-judgment-page-factory.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/claim-partial-payment/claim-partial-payment-1v2-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/claim-partial-payment/claim-partial-payment-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/confirm-default-judgment-spec/confirm-default-judgment-spec-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/confirm-default-judgment-spec/confirm-default-judgment-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/defendant-details-spec/defendant-details-spec-1v2-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/defendant-details-spec/defendant-details-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/fixed-costs-on-entry/fixed-costs-on-entry-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/fixed-costs-on-entry/fixed-costs-on-entry-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/payment-set-date/payment-set-date-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/repayment-information/repayment-information-1v2-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/repayment-information/repayment-information-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/show-certify-statement-spec-multiple-defendant/show-certify-statement-spec-multiple-defendant-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/show-certify-statement-spec/show-certify-statement-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/unspec/confirm-default-judgment/confirm-default-judgment-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/unspec/confirm-default-judgment/confirm-default-judgment-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/unspec/defendant-details/defendant-details-1v2-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/unspec/defendant-details/defendant-details-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/unspec/hearing-support-requirements-field-dj/hearing-support-requirements-field-dj-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/unspec/hearing-type/hearing-type-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/unspec/show-certify-statement/show-certify-statement-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/claimant-response/lr-spec/defence-response-document-spec/defence-response-document-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/claimant-response/unspec/defence-response-document/defence-response-document-1v2DS-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/claimant-response/unspec/defence-response-document/defence-response-document-1v2SS-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/claimant-response/unspec/defence-response-document/defence-response-document-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/defendant-response/unspec/upload-defendant-response/upload-defendant-response-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/response/directions-questionaire/unspec/draft-directions/draft-directions-page.ts
  playwright-e2e/pages/exui/exui-dashboard/case-details/case-details-content.ts
  playwright-e2e/pages/exui/exui-dashboard/case-details/case-details-page.ts
  playwright-e2e/steps/ui/exui/claimant-solicitor-spec-steps.ts
  playwright-e2e/steps/ui/exui/claimant-solicitor-steps.ts
  playwright-e2e/tests/lr-spec/small-track-1v1.spec.ts
  playwright-e2e/tests/lr-spec/small-track-1v2DS.spec.ts
  playwright-e2e/tests/unspec/small-track-1v1.spec.ts
  playwright-e2e/tests/unspec/small-track-1v2DS.spec.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5518

#5522 CIV-16771 Fix FTs
  e2e/fixtures/events/judgmentOnline1v1Spec.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5522

#5466 CIV-16636 Respond to query WA
  ccd-definition/CaseEvent/User/UserEvents-NoticeOfChange.json
  ccd-definition/CaseEventToFields/QueryManagement-Raise-nonprod.json
  ccd-definition/CaseTypeTab/QueryManagement-nonprod.json
  ccd-definition/ComplexTypes/QueryManagement-LatestQuery-nonprod.json
Labels: data-changes, ns:civil, prd:civil, stale, rel:civil-ccd-pr-5466

#5517 DTSCCI-1802 - Add all fields read access profile civil system user
  bin/add-roles.sh
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-reader.json
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles.json
  src/main/java/uk/gov/hmcts/reform/civil/HighLevelDataSetupApp.java
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5517

#5536 DTSCCI-1644 Create Step And Actions Methods For Acknowledge Claim Event
  playwright-e2e/actions/ui/exui/defendant-solicitor/acknowledge-claim-actions.ts
  playwright-e2e/base/base-exui.ts
  playwright-e2e/base/base-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/acknowledge-claim/acknowledge-claim-page-factory.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/acknowledge-claim/unspec/confirm-acknowledge-claim/confirm-acknowledge-claim-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/acknowledge-claim/unspec/confirm-name-and-address/confirm-name-and-address-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/acknowledge-claim/unspec/response-intention/response-intention-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/acknowledge-claim/unspec/solicitor-references-acknowledge-claim/solicitor-references-acknowledge-claim-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/acknowledge-claim/unspec/solicitor-references-acknowledge-claim/solicitor-references-acknowledge-claim-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/create-claim/common/case-filter/case-filter-page.ts
  playwright-e2e/pages/exui/exui-page/exui-page.ts
  playwright-e2e/pages/exui/fragments/litigation-friend/litigation-friend-fragment.ts
  playwright-e2e/steps/ui/exui/defendant-solicitor-1-steps.ts
  playwright-e2e/steps/ui/exui/defendant-solicitor-2-steps.ts
  playwright-e2e/tests/unspec/fast-track-1v1.spec.ts
  playwright-e2e/tests/unspec/small-track-1v1.spec.ts
  playwright-e2e/tests/unspec/small-track-1v2DS.spec.ts
  playwright-e2e/tests/unspec/small-track-1v2SS.spec.ts
  playwright-e2e/tests/unspec/small-track-2v1.spec.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5536

#5546 DTSCCI-1685 Playwright Improve Assertions for DJ And Inform Agreed Extension Date
  playwright-e2e/actions/ui/exui/claimant-solicitor/default-judgment/default-judgment-spec-actions.ts
  playwright-e2e/base/base-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/claim-partial-payment/claim-partial-payment-1v2-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/defendant-details-spec/defendant-details-spec-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/payment-type/payment-type-1v2-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/payment-type/payment-type-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/repayment-information/repayment-information-1v2-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/lr-spec/repayment-information/repayment-information-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/unspec/confirm-default-judgment/confirm-default-judgment-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/unspec/defendant-details/defendant-details-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/unspec/hearing-support-requirements-field-dj/hearing-support-requirements-field-dj-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/unspec/hearing-type/hearing-type-page.ts
  playwright-e2e/pages/exui/exui-dashboard/case-details/case-details-page.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5546

#5532 DTSCCI-000 Fix civil service image
  README.md
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5532

#5525 CIV-16779 CoSC page accessible when Welsh flag applied
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-COSC-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-COSC-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5525

#5521 CIV-16397 - Defendant LR event history/Prevent Defendant LR access to the claimant's claim form
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-JO-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-LipVsLr-nonprod.json
  ccd-definition/CaseEvent/Camunda/DocmosisEvents-JO-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5521

#5554 DTSCCI-1330 Create Page Objects and Content for Manage Documents
  playwright-e2e/actions/ui/exui/caseworker/caseworker-actions-factory.ts
  playwright-e2e/actions/ui/exui/caseworker/manage-documents-actions.ts
  playwright-e2e/pages/exui/caseworker/manage-documents/manage-documents-page-factory.ts
  playwright-e2e/pages/exui/caseworker/manage-documents/manage-documents-submit/manage-documents-submit-page.ts
  playwright-e2e/pages/exui/caseworker/manage-documents/manage-documents/manage-documents-content.ts
  playwright-e2e/pages/exui/caseworker/manage-documents/manage-documents/manage-documents-page.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/unspec/confirm-default-judgment/confirm-default-judgment-content.ts
  playwright-e2e/pages/exui/claimant-defendant-solicitor/default-judgment/unspec/confirm-default-judgment/confirm-default-judgment-page.ts
  playwright-e2e/pages/exui/fragments/event-summary/event-summary-content.ts
  playwright-e2e/pages/exui/fragments/event-summary/event-summary-fragment.ts
  playwright-e2e/pages/exui/judge-events/judge-events-page-factory.ts
  playwright-e2e/steps/ui/exui/caseworker-steps.ts
  playwright-e2e/tests/lr-spec/small-track-2v1.spec.ts
  playwright-e2e/tests/unspec/small-track-1v2DS.spec.ts
  playwright-e2e/tests/unspec/small-track-2v1.spec.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5554

#5560 DTSCCI-1327 Create Page Objects and Content for Case Proceeds in Caseman
  playwright-e2e/actions/ui/exui/caseworker/case-proceeds-in-caseman-actions.ts
  playwright-e2e/actions/ui/exui/caseworker/caseworker-actions-factory.ts
  playwright-e2e/pages/exui/caseworker/case-proceeds-in-caseman/case-proceeds-in-caseman-lr/case-proceeds-in-caseman-lr-content.ts
  playwright-e2e/pages/exui/caseworker/case-proceeds-in-caseman/case-proceeds-in-caseman-lr/case-proceeds-in-caseman-lr-page.ts
  playwright-e2e/pages/exui/caseworker/case-proceeds-in-caseman/case-proceeds-in-caseman-page-factory.ts
  playwright-e2e/pages/exui/caseworker/case-proceeds-in-caseman/case-proceeds-in-caseman/case-proceeds-in-caseman-content.ts
  playwright-e2e/pages/exui/caseworker/case-proceeds-in-caseman/case-proceeds-in-caseman/case-proceeds-in-caseman-page.ts
  playwright-e2e/steps/ui/exui/caseworker-steps.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5560

#5567 DTSCCI-1891 upgrade wa chart
  charts/civil-ccd/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5567

#5551 CIV-16935 event enabled for final orders issued state
  ccd-definition/CaseEvent/User/UserEvents-SettleDiscontinue-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5551

#5568 DTSCCI-1892 reduce em log
  charts/civil-ccd/Chart.yaml
  charts/civil-ccd/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5568
