Repository hmcts/civil-ccd-definition, pull requests merged in 2025-08, with the labels that each got.

#5925 CIV-17456 added wlu admin roles
  bin/add-org-roles-to-users.sh
  ccd-definition/RoleToAccessProfiles/RoleToAccessProfiles-CUI-Welsh-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5925

#5932 CIV-17524 Add new event for resetting language
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-WelshEnhancements-nonprod.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-WelshEnhancements-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5932

#5919 DTSCCI-2461 Removed caseworker-civil-solicitor from viewing payment history
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-ccd-pr-5919

#5949 DTSCCI-000 Fix Playwright Tests
  playwright-e2e/pages/exui/exui-dashboard/case-details/case-details-page.ts
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5949

#5856 DTSCCI-2103 Generate Pip Letter Event
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-CUI-Welsh-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-LipVsLr-nonprod.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-R2-CUI.json
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEventCUI.json
  ccd-definition/CaseEvent/Camunda/NotificationEventsCUI.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5856

#5929 CIV-17374 ccd defination for lip vs lr
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-LipVsLr.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-LipVsLr-after-defendant-noc.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldSpec-NOC-CUI.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-LipVsLr-nonprod.json
  ccd-definition/CaseEvent/Camunda/DashboardEvents-LipVsLr-after-defendant-noc.json
  ccd-definition/CaseField/CaseFieldSpec-NOC-CUI.json
  ccd-definition/ComplexTypes/RespondentSolicitorDetails-NOC-CUI.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-5929

#5947 CIV-17550 Added permissions for NoticeOfDiscontinue Translated Doc
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-WelshEnhancements-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5947

#5970 DTSCCI-2218 fix api test
  e2e/api/steps.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5970

#5968 DTSCCI-2528 Changing test tags
  e2e/tests/api_tests/damages/api_1v2_same_solicitor_test.js
  e2e/tests/api_tests/damages/api_2v1_test.js
  e2e/tests/api_tests/damages/api_noc_unspec_test.js
  e2e/tests/api_tests/defaultJudgments/api_dj_spec_1v2_test.js
  e2e/tests/api_tests/hearings/api_1v2DS_unspec_fast_hearings_test.js
  e2e/tests/api_tests/sdo/api_transfer_online_case_test.js
  e2e/tests/api_tests/sdo_R2/api_request_for_reconsideration_test.js
  e2e/tests/api_tests/sdo_R2/sdo_flight_delay_test.js
  e2e/tests/api_tests/settle-discontinue/api_settle_discontinue_claim_2v1_spec_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5968

#5992 CIV-0000 run function test
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5992

#5994 DTSCCI-000 adding system permission to refer to judge event
  ccd-definition/AuthorisationCaseEvent/systemUpdate.json
  ccd-definition/AuthorisationCaseField/systemUpdate.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5994

#5983 CIV-17623 - COSC Release
  bin/build-release-ccd-definition.sh
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-COSC.json
  ccd-definition/AuthorisationCaseEvent/systemUpdate-COSC.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-COSC.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-nonprod.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-system-field-reader.json
  ccd-definition/AuthorisationCaseField/AuthorisationCaseFieldGA-COSC.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGA-CUI-COSC-nonprod.json
  ccd-definition/AuthorisationCaseField/caseAccessAssignmentGAspec.json
  ccd-definition/AuthorisationCaseField/systemUpdateGA-COSC.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-nonprod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec-prod.json
  ccd-definition/AuthorisationCaseField/systemUpdateLRspec.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEvents-COSC.json
  ccd-definition/CaseEvent/Camunda/CaseEvents-COSC.json
  ccd-definition/CaseEvent/Camunda/NotificationEvents-COSC.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGA-COSC.json
  ccd-definition/CaseEventToComplexTypes/InitiateApplicationGAspec-prod.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec-nonprod.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec-prod.json
  ccd-definition/CaseEventToFields/InitiateApplicationGAspec.json
  ccd-definition/CaseField/CaseFieldGAspec-COSC.json
  ccd-definition/CaseField/CaseFieldGAspec-GA-CUI-COSC-nonprod.json
  ccd-definition/ComplexTypes/1_DebtPaymentEvidence.json
  ccd-definition/ComplexTypes/CertOfSC.json
  ccd-definition/ComplexTypes/GATypeGAspecLR.json
  ccd-definition/ComplexTypes/GeneralApplicationGAspec-COSC.json
  ccd-definition/FixedLists/CoscApplicationStatus.json
  ccd-definition/FixedLists/DebtPaymentOptions.json
  ccd-definition/FixedLists/DocumentType-CoSC.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec-prod.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspec.json
  ccd-definition/FixedLists/GeneralApplicationTypesGAspecLR.json
Labels: data-changes, ns:civil, prd:civil, rel:civil-ccd-pr-5983

#5996 CIV-0000 Unshuttering xui
  bin/build-release-ccd-definition.sh
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5996

#5963 CIV-17531 - Pause and un-pause application for translation for zero application fee scenarios
  ccd-definition/AuthorisationCaseEvent/AuthorisationCaseEvent-GaWelshEnhancements-nonprod.json
  ccd-definition/CaseEvent/Camunda/BusinessProcessEventsGAspec-GaWelshEnablement-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5963

#5999 DTSCCI-000 Fix Civil Service Nightly
  e2e/api/steps_LRspecSmall.js
  e2e/tests/api_tests/sdo_R2/api_request_for_reconsideration_test.js
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5999

#5971 CIV-17562 grant application access for wlu admin
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-GA-Welsh-nonprod.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5971

#5977 CIV-17538 request for consideration
  ccd-definition/AuthorisationCaseField/AuthorisationCaseField-CUI-CP.json
Labels: ns:civil, prd:civil, rel:civil-ccd-pr-5977
